﻿@using BusinessLogic_CS_v5.EnumsBL
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Cart.CartComponentModel

<div class="cart-component-table">
    <table>
        <tr>
            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.Cart_ItemTitle)
            <th>
            
            </th>
            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.Cart_PriceTitle)
            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.Cart_QuantityTitle)
            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.Cart_TotalTitle)
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                @Html.Action(MVCGeneral.PartialViewsCart._CartItem(item)) 
            </tr>
        }
    </table>
</div>
<div class="cart-component-lower-container clearfix">
    <div class="cart-component-lower-right">
        <div class="cart-component-lower-right-total clearfix">
            <div class="cart-component-lower-right-total-title">@Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.Cart_TotalTitle):</div>
            <div class="cart-component-lower-right-total-price">
                @BusinessLogic_CS_v5.Util.NumberUtilBL.FormatCurrencyForCurrentCulture(@Model.CartTotal)
            </div>
        </div>
        <div class="cart-component-lower-right-button">
            @Html.CsAnchor(ContentTextIdentifierEnums.GenericContentTextIdentifier.Cart_ChectoutTitle.GetContentText().Content.GetValueForCurrentLanguage(),href:"/")
        </div>
    </div>
</div>
