﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Cart.CartItemModel

<td>
    <div class="cart-component-table-img">
        <a href="@Model.GetProductImage(Model.CartItem.Product.LoadFromDatabase().MainImage)">Main Image</a>
    </div>
</td>
<td>
    <div class="cart-component-table-title">
        @Model.CartItem.Product.LoadFromDatabase().Title.GetValueForCurrentLanguage()
    </div>
    <div class="cart-component-table-description">
        @Html.Raw(@Model.CartItem.Product.LoadFromDatabase().FullDescriptionHtml.GetValueForCurrentLanguage())
    </div>
    <div class="cart-component-table-refcode">
        @Model.CartItem.Product.LoadFromDatabase().ReferenceCode;
    </div>
</td>
<td>
    <div class="cart-component-table-price">
        @BusinessLogic_CS_v5.Util.NumberUtilBL.FormatCurrencyForCurrentCulture(@Model.CartItem.Product.LoadFromDatabase().Price)
    </div>
</td>
<td>
    <div class="cart-component-table-qty">
        @Model.CartItem.Qty
    </div>
</td>
<td>
    <div class="cart-component-table-total">
        @BusinessLogic_CS_v5.Util.NumberUtilBL.FormatCurrencyForCurrentCulture(@Model.Total)
    </div>
</td>