﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.ListingItems._ListingItemsWithComponentsModel
    
<div class="@Html.RawIf(Model.Options.AdditionalCssClassName, !String.IsNullOrEmpty(Model.Options.AdditionalCssClassName)) listing-items-with-components-main-container @Html.RawIf("listing-items-with-components-no-results", Model.ItemsModel.ListingItemModels == null || !Model.ItemsModel.ListingItemModels.Any())">

    @if (!Model.Options.DoNotMakeUseOfPaging)
    {
        <div class="listing-items-with-components-bar-container listing-items-with-components-bar-top-container @Html.RawIf("listing-items-with-components-bar-top-container-with-no-dropdowns", Model.Options.DoNotShowDropdowns)">

            @if (!Model.Options.DoNotShowResultsText)
            {
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsResultsText, Model.ResultsTextModel);
            }

            @if (!Model.Options.DoNotShowDropdowns && Model.DropdownsModel != null)
            {
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsDropdowns, Model.DropdownsModel);
            }

        </div>
    }
                
    @if (Model.Header != null)
    {   
        Html.RenderPlaceholder(Model.Header);
    }

    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItems, Model.ItemsModel); }        
    
    @if (Model.Footer != null)
    {
        Html.RenderPlaceholder(Model.Footer);
    }

    @if (!Model.Options.DoNotMakeUseOfPaging)
    {
        <div class="listing-items-with-components-bar-container listing-items-with-components-bar-bottom-container @Html.RawIf("listing-items-with-components-bar-bottom-container-with-no-results-text", Model.Options.DoNotShowBottomResultsText)">

            @if (!Model.Options.DoNotShowResultsText && !Model.Options.DoNotShowBottomResultsText)
            {
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsResultsText, Model.ResultsTextModel);
            }

            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsPages, Model.PagesModel); }

        </div>
    }

</div>

@{  
    if (Model.Options.MakeTableListingHaveSortableRowsThroughJquery)
    {   
        var commonViewContextData = Model.CommonViewContextData;
            
        commonViewContextData.ScriptBlocks.ScriptBlocks["TableListingSortableRowsScriptBlock"] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>

                <script>
                              
                    //Return a helper with preserved width of cells
                    var fixHelper = function (e, ui) {
                        ui.children().each(function () {
                            $(this).width($(this).width());
                        });
                        return ui;
                    };
                        
                    $(".@Model.Options.AdditionalCssClassName tbody").sortable({
                        helper: fixHelper
                    }).disableSelection();

                </script>
            </text>
        };
    }
}