@media print
{
  .no-print
  {
    display:none;
  }

}


body
{
	background-color:#333333;
	margin:0px;
	


}
body, input, select, textarea
{
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	color:#141414;
}
textarea
{
    line-height:18px;
}
.form td
{
    padding-bottom:5px;
}
td.form-label
{
    vertical-align:top;
    padding-top:5px;
    padding-right:15px;
}
table.media-upload td.label 
{
    vertical-align:middle;

}
a
{
	color:#0066CC;
	text-decoration:underline;
}
a:hover
{
	text-decoration:none;
}
a img 
{
	border:none;
	display:inline;
}
a.link-button
{
    padding:10px;
    font-weight:bold;
    font-size:14px;
    display:block;
    width:200px;
    margin-left:30px;
    
    
    
}
p 
{
    font-size:12px;
    line-height:20px;
    text-align:justify;
    margin-bottom:15px;
}




/** Fields */

input.field,
input.field-over,
input.field-error,
input.field-error-over,
input.field-error-focus-over,
input.field-focus,
input.field-focus-over,
input.field-required,
input.field-required-focus,
input.field-required-error,
input.field-required-error-focus,
input.field-required-over,
input.field-required-focus-over,
input.field-required-error-over,
input.field-required-error-focus-over,
textarea.field,
textarea.field-over,
textarea.field-error,
textarea.field-error-over,
textarea.field-error-focus-over,
textarea.field-focus,
textarea.field-focus-over,
textarea.field-required,
textarea.field-required-focus,
textarea.field-required-error,
textarea.field-required-error-focus,
textarea.field-required-over,
textarea.field-required-focus-over,
textarea.field-required-error-over,
textarea.field-required-error-focus-over
{
	border:1px solid #999999;
	padding:5px;
}

input.field-over, input.field-required-over,
textarea.field-over, textarea.field-required-over
{
    border: 1px solid #343434;
}

input.field-focus, input.field-focus-over, input.field-required-focus, input.field-required-focus-over,
textarea.field-focus, textarea.field-focus-over, textarea.field-required-focus, textarea.field-required-focus-over
{
    border: 1px solid #0167cc;
}

input.field-error, input.field-required-error, 
textarea.field-error, textarea.field-required-error
{
    border: 1px solid #c26767;
}

input.field-error-over, input.field-required-error-over,
textarea.field-error-over, textarea.field-required-error-over
{
    border: 1px solid #990101;
}

input.field-error-focus-over, input.field-required-error-focus, input.field-required-error-focus-over,
textarea.field-error-focus-over, textarea.field-required-error-focus, textarea.field-required-error-focus-over
{
    border: 1px solid #ff0101;
}


/** TOP **/
div.top
{
	height:46px;
	background-image:url(/_common/static/images/cms/v4-1/back_top_black.jpg);
	background-repeat:repeat-x;
	color:White;
	padding-left:15px;
	padding-right:15px;
}
div.top div.title 
{
	float:left;
	margin-top:17px;
}
div.top div.title h1 
{
	font-size:10px;
	margin:0px;
	padding:0px;
}
div.top div.title h1 a
{
	color:#FFFFFF;
	text-decoration:none;
}
div.top div.title h1 a:hover,
div.top div.title span.powered a:hover
{
	text-decoration:underline;
}
div.top div.title span.powered 
{
	font-weight:normal;
	color:#999999;
}
div.top div.title span.powered a 
{
	color:#999999;
}
div.top div.buttons 
{
	float:right;
	margin-top:12px;
	color:#CCCCCC;
	cursor:default;
}
div.top a
{
	color:#CCCCCC;
}
div.top a:hover 
{
	background:none;
	color:#FFFFFF;
}
div.top td.seperator
{
	color:#999999;
	padding-left:5px;
	padding-right:5px;
}
div.bottom 
{
	text-align:center;
	color:#CCCCCC;
	padding-top:20px;
}
a.page_title
{
  font-weight:13px;
  color:#000000;
}


a.casasoft
{
	font-weight:bold;
	text-decoration:none;
	color:White;
}
a.casasoft:hover 
{
	text-decoration:underline;
}

/** END TOP */
div.seperator 
{
	height:7px;
	border-top:1px solid #141414;
	background-color:#666666;
}


table.content 
{
	
	width:100%;
}
td.side-bar-holder div.bottom-shadow 
{
}
th
{
  text-align: left;
}



div.bottom-shadow
{

	width:100%;
}

td.side-bar-holder
{
	position:relative;
	vertical-align:top;
    width: 237px;
}


/** SIDE BAR */

td.side-bar-dragger
{
	width:7px;
	border-left:1px solid #141414;
	background-color:#666666;
	cursor:pointer;
}
td.side-bar 
{
	background-color:#999999;
	width: 229px;
	overflow:hidden;
	
}
table.side-bar-holder 
{
	border-bottom:7px solid #666666;
}
td.side-bar div.date 
{
	background-image:url(/_common/static/images/cms/v4-1/back_top_blue.jpg);
	height:28px;
	background-repeat:repeat-x;
	text-align:center;
	color:White;
	font-weight:bold;
	padding-top:16px;
	border-top:1px solid #141414;
	border-bottom:1px solid #141414;
}
td.side-bar div.mainmenu,
td.side-bar div.logo 
{
	padding:10px;
}
td.side-bar div.logo
{
	border-bottom:1px solid #141414;
	text-align:center;
}
div.bottom-shadow 
{
	height:91px;
	background-repeat:repeat-x;
	background-image:url(/_common/static/images/cms/v4-1/back_bottom_shadow.jpg);
}
div.side-bar-container 
{
	position:absolute;
	width:237px;
	overflow:hidden;

}
div.goback
{
  margin-right: 10px;
}
div.updateFields
{
    margin-left:30px;
    margin-top:10px;
    text-align:center;
}


div.loading 
{
	border:10px solid White;
	background-color:#333333;
	padding:20px;
	position:absolute;
	color:White;
	line-height:15px;
}
div.loading img 
{
	margin-right:10px;
}
div.fader 
{
	background-image:url(/_common/static/images/cms/v4-1/back_fade.png);
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
div.loading .patient 
{
	color:#CCCCCC;
}

/** MAIN MENU */
table.main-menu-group
{
	
	width:100%;
	margin-bottom:10px;
}

table.main-menu-group td.sub-link 
{
	padding-left:10px;
}
table.main-menu-group td.link a,
table.main-menu-group td.sub-link a
{
	display:block;
	
	border-bottom:1px solid #999999;

	color:#333333;
	height:12px;
	padding:8px;
	padding-left:30px;
	
	background-image:url(/_common/static/images/cms/v4-1/arrow_right.gif);
	background-position:190px;
	background-repeat:no-repeat;
	
	position:relative;
	text-decoration:none;
}

table.main-menu-group td.link a 
{
	background-color:#EEEEEE;
}

table.main-menu-group td.sub-link a
{
	background-color:#DDDDDD;
	background-position:180px;
}
table.main-menu-group td.sub-link a:hover
{
	background-color:#EAEAEA;
	color:#0066CC;
}

table.main-menu-group td.link  a:hover 
{
	color:#0066CC;
	background-color:#FFFFFF;
}
table.main-menu-group td.link span,
table.main-menu-group td.sub-link span 
{
	display:block;
	position:absolute;
	background-image:url(/_common/static/images/cms/v4-1/icon_user.png);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	left:8px;
	top:6px;
}
table.main-menu-group td.link a.selected,
table.main-menu-group td.sub-link a.selected 
{
	background-color:#D2F668;
	border-bottom:4px solid #8BB50F;
	cursor:default;
	font-weight:bold;
}
table.main-menu-group td.sub-link a.selected:hover,
table.main-menu-group td.link a.selected:hover 
{
	
	color:#333333;
}

/** END MAIN MENU */

/** CONTENT */

td.content 
{
	
	border-top:1px solid #141414;
	
}

td.content h1,
div.filebrowser h1
{
	margin:0px;
	padding:0px;
	background-image:url(/_common/static/images/cms/v4-1/back_top_green.jpg);
	height:36px;
	background-repeat:repeat-x;
	border-bottom:1px solid #141414;
	font-weight:normal;
	font-size:17px;
	padding-left:10px;
	padding-top:12px;
	border-left:1px solid #141414;

}



td.content div.header1
{
     background-image:url(/_common/static/images/cms/v4-1/back_top_green.jpg);
     background-repeat:repeat-x;
}

table.form 
{
    
    margin-bottom:10px;
}
label
{
    cursor:pointer;
}
td.content h2
{
	color:#0066CC;
	margin:0px;
	padding:0px;
	padding:10px;
	background-color:#D4EDFF;
	border:1px solid #7AC9FE;
	border-bottom-width:2px;
	margin-bottom:10px;
}
td.content div.content 
{
	padding:10px;
	background-color:White;
	
	border-left:1px solid #141414;
}
td.content div.panel 
{
	background-color:#F2F2F2;
	border:1px solid #D0D0D0;
	padding:10px;
	margin-bottom:10px;
}
td.content div.panel h1 
{
	color:#30A8F7;
	background:none;
	font-size:18px;
	padding:0px;
	border-bottom:1px dotted #AAAAAA;
	height:auto;
	border-left:none;
}


/** FIELDS */
textarea.field_nofocus,
textarea.field_nofocus_over,
textarea.field_focus,
textarea.field_error,
textarea.field_error_over,
textarea.field_errorfocus,
textarea.field_disabled,

input.field_nofocus,
input.field_nofocus_over,
input.field_focus,
input.field_error,
input.field_error_over,
input.field_errorfocus,
input.field_disabled
{
	background-image:url(/_common/static/images/cms/v4-1/back_field.jpg);
	background-repeat:repeat-x;
	height:12px;
	border:1px solid #999999;
	border-bottom-width:3px;
	padding:6px;
}

td.fileupload input 
{
	height:auto;
}
td.fileupload table table td.file-details 
{
	padding-left:5px;
}
td.fileupload table table td.thumb img
{
	margin-bottom:5px;
}
td.fileupload table table td.file-details table 
{
	margin-top:5px;
}
td.fileupload td.icon 
{	
	padding-right:5px;
}
td.fileupload td.upload-button
{
	padding-left:10px;
}
textarea.field_nofocus,
textarea.field_nofocus_over,
textarea.field_focus,
textarea.field_error,
textarea.field_error_over,
textarea.field_errorfocus,
textarea.field_disabled 
{
	height:auto;
	background-position:bottom;
}

textarea.field_nofocus_over,
input.field_nofocus_over 
{
	border-color:#333333;
}
textarea.field_focus,
input.field_focus 
{
	border-color:#1097F0;
	background-color:White;
	background-image:none;
}
textarea.field_error,
input.field_error 
{
	border-color:#D90000;
}
textarea.field_error_over,
input.field_error_over 
{
	border-color:#CC0000;
}
textarea.field_errorfocus,
input.field_errorfocus 
{
	border-color:#CC0000;
	background-color:White;
	background-image:none;
}
table.form input
{
	
}
table.form select 
{
	
}
label 
{
	font-weight:bold;
}
div.panel label 
{
	display:block;
	width:100px;
}

table.form td 
{
	padding:3px;

}
table.form td td 
{
	padding:0px;
}

/* END FIELDS */

/* BUTTONS */
td.checkbox input,
td.checkbox-list input,
td.radiobutton input,
td.radiobutton-list input
{
	width:auto;
	margin-right:5px;
	vertical-align:middle;

}
td.checkbox label,
td.checkbox-list label,
td.radiobutton label,
td.radiobutton-list label
{
	font-weight:normal;
}
td.checkbox-list label 
{
	padding-right:10px;
}
/*
input.button,
table.form input.button,
table.form input.button_over,
table.form input.button-grey,
table.form input.button-grey_over
{
	width:auto;
}*/

input.button-grey,
input.button-grey_over
{
	margin-left:10px;
}
td.buttons,
p.buttons 
{
    text-align:center;
}
td.button img 
{
    cursor:pointer;
}
.form input.button, 
.form input.button-over,
.form input.button-grey,
.form input.button-grey_over
{
  /*
	background-image:url(/_common/static/images/cms/v4-1/back_button_blue_up.jpg);
	background-repeat:repeat-x;
	border:1px solid #333333;
	color:White;
	font-weight:bold;
	text-transform: uppercase;
	cursor:pointer;
	-moz-border-radius:5px;
    border-radius:5px;
	font-size:16px;
	font-family:Arial;
	margin-right:10px;  */
	padding:5px 10px;
    	font-size:12px;
        margin-right:10px;
}
.form input.button-over
{
	cursor:pointer;
}

.note
{
  border: solid 1px #8DCEFF;
  display: block;
  background-color:#E8F4FD;
  font-weight: bold;
  color:#0374BF;
  padding:5px;


}
.form input.button-grey
{
	background:#666 no-repeat 7px 8px;
	padding-left:27px;
	padding-right:10px;


}
.form input.button-grey_over
{
    background-color:#333333;
	cursor:pointer;
}
/*
input.button,
input.button_over,
input.button-grey,
input.button-grey_over
{
	height:36px;
	color:Black;
	padding-left:30px;
	padding-right:30px;
	font-size:16px;
	font-weight:bold;
	text-transform:capitalize;
}*/
input.button_over 
{
	
	cursor:pointer;
	
}

input.button-grey 
{

	
}
input.button-grey_over 
{
	cursor:pointer;
}







/* END BUTTONS */



/** LISTING */

table.listing 
{
	width:100%;
	border:1px solid #CCCCCC;

}
table.listing td,
table.listing th 
{
	padding:4px;
}
table.listing thead th td 
{
	padding:0px;
}
table.listing thead th table 
{
	float:left;
	margin-right:10px;
}
table.listing thead th a 
{
	color:White;
	font-weight:normal;
	text-decoration:none;
	padding-left:2px;
}
table.listing thead th a:hover 
{
	text-decoration:underline;
}
table.listing tfoot th 
{
	background-image:none;
	background-color:#141414;
	height:3px;
	padding:0px;
}
table.listing th 
{
	text-align:left;
	color:White;
	background-image:url(/_common/static/images/cms/v4-1/back_listing_header_darkgrey.jpg);
	background-repeat:repeat-x;
    font-weight:bold;
}
table.listing table.sort td
{
	padding:0px;
}
table.listing th td.sort-arrow 
{
	width:9px;
}
table.listing th td.sort-arrow img 
{
	margin-left:2px;
	cursor:pointer;
}
table.listing thead th 
{
	background-image:url(/_common/static/images/cms/v4-1/back_listing_header_black.jpg);
}
table.listing tr.row_0 td
{
	background-color:#EFEFEF;
}
table.listing tr.row_1 td
{
	background-color:#E2E2E2;
}
table.listing tr.row_0.over td,
table.listing tr.row_1.over td,
div.panel table.listing tr.row_0 td,
div.panel table.listing tr.row_1 td
{
	background-color:#B8D5F1;
}


div.panel table.listing tr.row_0 td
{
	background-color:#E2E2E2;
}
div.panel table.listing tr.row_1 td
{
	background-color:#DDDDDD;
}

/** BUTTONS BAR */
div.buttons-bar 
{
	background-image:url(/_common/static/images/cms/v4-1/back_buttonsbar.jpg);
	background-repeat:repeat-x;
	border:1px solid #999999;
	width:100%;
	margin-bottom:10px;
}
table.buttons-bar td table 
{
	height:36px;
	background-image:url(/_common/static/images/cms/v4-1/back_buttonsbar_button.jpg);
	background-repeat:repeat-x;
	border:1px solid #999999;
}
table.buttons-bar td table img
{
	padding-left:10px;
}
table.buttons-bar td.text a
{
	padding-right:10px;
	text-decoration:none;
	color:#333333;
}
table.buttons-bar td table a:hover
{

	color:#0066CC;
	text-decoration:underline;
}

td.icon 
{
	padding-right:7px;
}
table.listing thead th td.icon 
{
	padding-right:2px;
}
/* END BUTTONS BAR */

/* OTHER */
div.success,
div.error,
div.warning,
div.information
{
	padding:5px;
	/*padding-top:12px;      */
	border:2px solid #A8CBA8;
	background-color:#E6F4B9;
	color:#006600;
	background-image:url(/_common/static/images/cms/v4-1/icon_success_up.png);
	background-repeat:no-repeat;
	background-position:10px center;
	padding-left:45px;
	margin-top:0px;
	line-height:normal;
    margin-bottom:10px;
    font-weight:bold;
}
div.error
{
	background-color:#FFD4D4;
	border-color:#DCA8A8;
	color:#CC0000;
	background-image:url(/_common/static/images/cms/v4-1/icon_error_up.png);

}

div.information
{
	background-color:#D6EBFE;
	border-color:#A7A9DD;
	color:#214DAB;
	background-image:url(/_common/static/images/cms/v4-1/icon_info_up.png);

}
div.warning
{
	background-color:#FDEAC5;
	border-color:#E67708;
	color:#6B2E03;
	background-image:url(/_common/static/images/cms/v4-1/icon_warning.gif);
	
}

img.image 
{
	border:1px solid #AAAAAA;
	padding:1px;
	
}

table.tree 
{
    width:100%;
    border-spacing:0;
}
table.tree td.tree.buttons table.buttons
{
    margin-left:auto;
}
table.tree td.tree.buttons table.buttons td 
{
    border:none;
}
table.tree tr.tree td.details,
table.tree tr.tree td.buttons 
{
    border-bottom:1px dotted #999999;
}
table.tree tr.tree:hover td.details,
table.tree tr.tree:hover td.buttons
{
    background-color:#DDDDDD;
    border-bottom:1px solid #666666;
}


table.tbLoading
{
  width:100px;
}
table.tbLoading td
{
   padding:2px;
}


td.tdLoadingImg
{

}
img.imgLoading
{

}
       td.tdLoadingText{

       }

 table.cs-paging-bar 
 {
     width:100%;
 }

 table.listing .listing_row_button,
 .tree_button
 {
     font-size: 9px;
     display:block;
     white-space:nowrap;
 }

 
 table.dataimportform-results
 {
     
 }
 table.dataimportform-results td.heading
 {
     font-weight:bold;
     background-color:#666666;
     color:White;
 }
 table.dataimportform-results td
 {
     padding:3px;
     border:1px solid #EEEEEE;
 }
 table.dataimportform-results tr.results-line.result-ok td
 {
     background-color:#C8FDBB;
 }
table.dataimportform-results tr.results-line.result-error td
 {
     background-color:#FFA5A5;
 }
table.dataimportform-results tr.results-line.result-warning td
 {
     background-color:#FFDBA5;
 }

 .cs-cms input, select, textarea
 {
     padding:4px;
 }
 .cs-cms .fieldEditInPage
 {
     width:400px;
 }
 .cs-cms .fieldEditInSearch
 {
     width:400px;
 }
 .cs-cms .fieldEditInListing
 {
     width:100px;

 }
  .cs-cms .fieldExtraLarge
 {
     width: 600px;
 }
 .cs-cms .fieldLarger
 {
     width: 500px;
 }
 .cs-cms .fieldLarge
 {
     width: 400px;
 }
 .cs-cms .fieldNormal
 {
     width: 250px;
 }
 .cs-cms .fieldSmall
 {
     width: 200px;
 }
 .cs-cms .fieldTiny
 {
     width: 100px;
 }
 .cs-cms .listingColumn
 {
 }
 .cs-cms .listingHeader
 {
 }
 .top-button,
 .listing-button
 {
     
     background:transparent;
     border:none;    
 }
 .listing-button,
 .top-button 
 {
     background-repeat:no-repeat;
 }
 .listing-button
 {
     background-image:url(/_common/static/images/cms/v4-1/sprites.png);
     width:16px;
     height:16px;
 }
 .top-button 
 {
     width:auto;
     color:White;
     padding:5px 5px 5px 25px !important;
     border:1px solid transparent;
     padding:5px;

 }
 .top-button:hover 
 {
     border:1px solid #666666;
     background:Black no-repeat;
     cursor:pointer;
 } 
 .top .buttons .button-logout
 {
     background:url(/_common/static/images/cms/v4-1/icon_logout_up.png) no-repeat  5px 5px;
 }
 .top .buttons .button-logout:hover
 {
     background:url(/_common/static/images/cms/v4-1/icon_logout_over.png) no-repeat 5px 5px;
 }
  .top .buttons .button-user
 {
     background:url(/_common/static/images/cms/v4-1/icon_user_up.png) no-repeat  5px 5px;
 }
 .top .buttons .button-user:hover
 {
     background:url(/_common/static/images/cms/v4-1/icon_user_over.png) no-repeat 5px 5px;
 }
 
 .validation-icon-error,
 .validation-icon-success,
 .validation-icon-dim 
 {
     background:url(/_common/static/images/cms/v4-1/sprites.png) no-repeat;
     width:16px;
     height:16px;          
     margin-left:5px;
 }
 .validation-icon-error
 {
     background-position:-16px -16px;
 } 
 .validation-icon-success
 {
     background-position:-0px -16px;
 }
 .validation-icon-dim 
 {
     background-position:-32px -16px;
 }
 .tooltip-error-content
 {
     margin-left:5px;
     background:#990000;
     color:White;
     font-weight:bold;
     border:1px solid Red;
     -moz-border-radius:5px;
     border-radius:5px;
     padding:7px;
 }
 .main-menu-icon 
 {
     width:16px;
     height:16px;
     display:block;
     background-repeat:repeat;
 }

 .listing_row_button, .tree_button
 {
     background-color:#333333;
     color:White;
 }

 .listing_row_button,
 .tree_button,
 .listing-item-button-icon
 {
     padding:5px 5px 6px 5px;
      -moz-border-radius:5px;
     border-radius:5px;
     text-decoration:none;
     font-weight:bold;
     
 }
 
 .listing-item-button-icon,
 .tree_button
 {
     background-repeat:no-repeat !important;
     background-position:3px 3px !important;
     padding:3px !important;
     width:16px;
     height:16px;
     background-color:#FFFFFF !important;
     border: solid 0px !important;

 }
 .tree_button
 {

     text-indent:-9999px !important;


 }


 .listing_row_button:hover,
 .tree_button:hover,
 .listing-item-button-icon:hover
 {
     background-color:#0066CC !important;
     cursor:pointer;
 }
.cs-cms .additional-message-title
{

    font-weight:bold;
    display:block;

}
.cs-cms .additional-message-details
{

    display:block;
    padding-left: 4px;
    font-size: 10px;
    font-weight:normal;
    margin-left: 10px;
    margin-top: 5px;

}
input[type="button"].
.buttons-bar button
{

    font-weight: bold;
    margin-right:10px;
}
input[type="button"]:hover,
button:hover
{
    background-color:#DDDDDD;
}


input[type="button"],
.buttons-bar a,
.buttons-bar input,
.buttons-bar button {

    background-repeat:no-repeat;
    padding:10px 10px 10px 10px;
    background-position: 10px center;
    border:1px solid #999;
    background-color:#F2F2F2;
    text-decoration:none;
    cursor:pointer;

}
.buttons-bar a,
.buttons-bar input,
.buttons-bar button {
    padding:10px 10px 10px 30px;
    font-weight: normal;

    display:block;
}

 .general-button
 {
     width:auto;
     height:auto;
     text-indent:0px;
     color:White;
     padding:3px 3px 3px 20px !important;
     background-position:3px center !important;
     border:1px solid #666;
     background-color:#111 !important;

 }
 .general-button:hover
 {
     border:1px solid #999;
     background-color:#333 !important;;
 }

.buttons-bar a:hover,
.buttons-bar input:hover,
.buttons-bar button:hover {
    border-color:#333;
    background-color:#FFFFFF;
}

.button-search-panel-toggle,
.button-search-panel-toggle-collapse {
    color:#0066CC;
    display:block;
    text-decoration:none;
    font-weight:bold;

	padding:10px;
	background-color:#D4EDFF;
	border:1px solid #7AC9FE;

    font-size:12px;
    background-image:url(/_common/static/images/cms/v4-1/icon_search_expand.png);
    background-position:6px center;
    background-repeat:no-repeat;
    padding-left:58px !important;
}
.button-search-panel-toggle:hover {
    background-image:url(/_common/static/images/cms/v4-1/icon_search_expand_over.png);
    border-color:#0087EA;
    cursor:pointer;
}
.button-search-panel-toggle-collapse {
    background-image:url(/_common/static/images/cms/v4-1/icon_search_collapse.png) !important;
    margin-bottom:0px;
}
.button-search-panel-toggle-collapse:hover {
    background-image:url(/_common/static/images/cms/v4-1/icon_search_collapse_over.png) !important;
}


.search-form {
  background-color:#DDD;
  border:1px solid #AAA;
  padding:10px;

}
.search-form textarea {

    height:26px;
}


.search-panel-container {
  margin-bottom:10px;
}

input.listing-item-button-icon,
input.tree_button {
  width:22px;
  height:22px;
}


.listing-heading-buttons .general-button {
  width:auto;
  height:auto;
}

.listing-buttons-bottoms{
  text-align:center;
  margin-top:15px;
}

.success .success,
.error .error,
.warning .warning {
    border:none;
    background:none;
    padding:0px;
}
.success .success li,
.error .error li,
.warning .warning li {
  padding-left:0px;
}


.success .status-messages,
.error .status-messages,
.warning .status-messages {
    padding-left:0px;
    margin:0px;
    margin-top:7px;
}


.media-item-control-image img {
    max-width: 600px;
    border:1px solid #333;
    padding:1px;
}
.media-item-control-image a:hover img {
    border-color:#0066FF      ;
}

.tooltip-icon-control {
  background: Blue;
  display:block;
  width:16px;
  height:16px;
  cursor:help;
  background:url(/_common/static/images/cms/v4-1/sprites.png) no-repeat 0px -32px;
  margin-right:10px;
}
.tooltip-icon-control:hover {
  background:url(/_common/static/images/cms/v4-1/sprites.png) no-repeat -16px -32px;
}

.form-label-subtitle {
  display:block;
  font-size:9px;
  color:#AAA;
}


.tooltip-content-container {
  margin-left:10px;
  background:#DEFFFF;
  padding:10px;
  max-width:200px;
  border:1px solid #5DBEDE;
  line-height:150%;
  text-align:justify;
}


img.cms-media-item-listing
{
    max-width: 100px;
}

.cms-media-item-listing img
{
  max-width:300px;
  width:auto !important;
  height:auto !important;
}

table.dataimportform-results tr.result-success td,
table.dataimportform-results tr.result-success th
{
  background-color: #AAFCB7;
}
table.dataimportform-results tr.result-warning td,
table.dataimportform-results tr.result-warning th
{
  background-color: #FAC68A;
}
table.dataimportform-results tr.result-error td,
table.dataimportform-results tr.result-error th
{
  background-color: #FDBFBF;
}
table.dataimportform-results tr.result-information td,
table.dataimportform-results tr.result-information th
{
  background-color: #DADBFE;
}




/** REPORT STYLING */
.cs-report-logo {
  float:right;
}
.cs-report-container h1 {
  font-size:22px !important;
  font-weight:bold;
  margin-bottom:10px;
  font-family:Arial, Tahom, sans-serif !important;

}
.cs-report-container p {
  font-size:13px !important;
  text-align:justify;
  margin:0px 0px 10px 0px !important;
  padding:0px !important;
  font-family:Arial, Tahom, sans-serif !important;
}
.cs-report-generated-on {
  text-align: right;
  padding:10px 0px;
  clear:both;
}
.cs-report-generated-on-top {
    border-bottom:1px dotted #333;
    margin-bottom:10px;
}
.cs-report-generated-on-bottom {
    border-top:1px dotted #333;
    margin-top:10px;
}
.cs-report-section-title {
    font-size:16px !important;
  font-weight:bold;
  margin-bottom:10px;
  border-bottom:1px solid #333;
  font-family:Arial, Tahom, sans-serif !important;
  clear:both;
  background:White;
  padding:5px 0px;

}
.cs-report-table {
   width:100%;
}

.cs-report-section-table-container {

  border:1px solid #999;
  padding:1px;
}


.cs-report-table td {
  padding:5px;
  border-right:1px solid White;
  border-bottom:1px solid White;
  text-align:center;
}
.cs-report-table-row-odd .cs-report-table-cell-even {
  background:#EAEAEA;
}
.cs-report-table-row-even .cs-report-table-cell-even {
  background:#E1E1E1;
}
.cs-report-table-row-odd .cs-report-table-cell-odd {
  background:#E1E1E1;
}
.cs-report-table-row-even .cs-report-table-cell-odd {
  background:#D8D8D8;
}
.cs-report-table-header-cell {
  background:#333 !important;
  font-weight:bold;
  color:White;
}
.cs-report-table-right-total-cell,
.cs-report-table-bottom-total-cell {
    font-weight:bold;
}

.cs-report-table-right-total-cell {
  border-right:none;
  border-left:1px solid #333;
}
.cs-report-table-bottom-total-cell {
  border-bottom:none;
  border-top:1px solid #333;
}

.cs-report-table-row-odd .cs-report-table-right-total-cell {
    background:#D0D0D0;
}
.cs-report-table-row-even .cs-report-table-right-total-cell {
    background:#C0C0C0;
}
.cs-report-table-cell-odd.cs-report-table-bottom-total-cell {
    background:#D0D0D0;
}
.cs-report-table-cell-even.cs-report-table-bottom-total-cell {
    background:#C0C0C0;
}
.cs-report-table-total-cell {
      background:#EEE !important;
      font-weight:bold;
      text-decoration:underline;
      border-top:1px solid #333;
      border-left:1px solid #333;
      border-right:none;
      border-bottom:none;
}
table.listing tr.row_0 .checkbox-selector {
    background:#333;
}
table.listing tr.row_1 .checkbox-selector {
    background:#444;
}

/* END */
.cs-report-table-row .footer
{
  color: White;
  font-weight: bold;

}


.cs-report-table-row .footer .cs-report-table-cell-even
{
  background-color: #797979;

}



.cs-report-table-row .footer .cs-report-table-cell-odd
{
  background-color: #949494;

}
tr.footer td.cs-report-table-cell {
    background-color:#333 !important;
    font-weight:bold;
    color:White;
}
table.tree tr.not-visible *,span.deleted-faded
{
    color:#B9C5DF;
}
span.deleted-faded
{
  font-weight: bold;

}


table.listing tr.deleted *
{
  color : #999999;
}



div.listing-update
{
  width:100%;
  padding:4px;
}
div.listing-update input[type="button"]
{
  margin-left:auto;
  margin-right:auto;

}
.logbrowser table.listing tr.row_0.WARN td
{
  background-color: #FAC15E;
}
.logbrowser table.listing tr.row_1.WARN td
{
  background-color: #F8AA22;
}
.logbrowser table.listing tr.row_0.ERROR td
{
  background-color: #FB8D77;
}
.logbrowser table.listing tr.row_1.ERROR td
{
  background-color: #F96345;
}
.logbrowser table.listing tr.row_0.FATAL td
{
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.logbrowser table.listing tr.row_1.FATAL td
{
  background-color: #000000;
    color: #FFFFFF;
}
.logbrowser table.listing tr.row_0.DEBUG td
{
  background-color: #EFFDC5;
}
.logbrowser table.listing tr.row_1.DEBUG td
{
  background-color: #E7FCA6;
}
.logbrowser table.listing tr.row_0.INFO td
{
  background-color: #FFFFFF;
}
.logbrowser table.listing tr.row_1.INFO td
{
  background-color: #EEEEEE;
}
input.readonly,
textarea.readonly,
textarea[readonly],
input[readonly]
{
  background-color: #E3E3E3;
  color: #777777;
}

div.literalHtmlContainer
{
  border:solid 1px #333333;
}
.form-fields-table {
  /*width:100%;  */

}

.form-fields-table td {
  padding:5px;
  vertical-align: top;
}
.form-fields-table input,
.form-fields-table textarea,
.form-fields-table select,
.form-fields-table button {
  padding:6px 4px;
  width:98%;
  border:1px solid #AAA;
}
.form-fields-table textarea {
  height:100px;
}

.form-fields-table select[multiple] {
  width:550px;
  height:400px;
}

.form-fields-table input[type=checkbox],
.form-fields-table input[type=button],
.form-fields-table input[type=submit],
.form-fields-table button {
  width:auto;
}
.form-fields-table .form-fields-button, .form-fields-table button  {
  padding:10px;
}
.form-fields-item-label {
  width:200px;
}
html {
  background:#333;
}
.ui-datepicker-trigger {
  vertical-align:top;
}
.form-field-row-date input {
  width:100px;
}
.buttons-bar {    
}
.buttons-bar a,
.buttons-bar input,
.buttons-bar button {
  margin-right:10px;
}
.ui-tooltip-content {
  line-height:150%;
  font-size:13px;
}
*:invalid {
    background:inherit !important;
}
.form-fields-item-validation-icon {
    vertical-align:middle !important;
}
.media-item-control-delete {
  float:left;
  margin-left:10px;
  position:relative;
  margin-top:10px;
}
.media-item-control-image {
  float:left;
}
.form-fields-button-group input, .form-fields-button-group button {
  margin-right:10px;
}
.form-fields-item-subtitle {
  color:#999;
}
.form-fields-table .form-fields-item-help-message,
.form-fields-table .form-fields-item-validation-icon {
  vertical-align:middle;
}
.cs-cms .label
{
  font-weight:bold;
}
table.sales-report-footer td
{
  border-bottom: dotted 1px #CCCCCC;

  margin-left:auto;
  margin-right:auto;


  padding:4px;
  margin:4px;
}

ul.report-section-list li
{
    padding:4px;
    margin-bottom:10px;
    margin-left:10px;

}

ul.report-section-list div.report
{
  padding:5px;
  border:solid 1px #CCCCCC;
}
ul.report-section-list div.report-desc
{

  color:#999999;
}
  ul.report-section-list a.report
{

  font-weight:bold;
  padding-bottom:8px;
  display:block;


}
button {
  padding:10px;
  font-weight: bold;
}
.buttons-container {
  margin-bottom: 15px;
}
