﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@using BusinessLogic_CS_v5.Presentation.Models._Shared.Data.Stores
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage
@model BusinessLogic_CS_v5.Presentation.Models.Stores.StoresModel


<div class="site-content-inner-wrapper">
    @Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageNew(new _ContentPageModel(CommonViewContextDataOld.Instance.CurrentSection){
        BottomContent = @<text>
                             @Html.Action(MVCGeneral.PartialViewsStores._StoresContainer())
                         </text>
                                                                                       }))
</div>

@{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
}
