﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="paypalTestConfirm.aspx.cs" Inherits="PayMammoth_v2Deploy._tests.paypal.paypalTestConfirm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Confirmation Page
        
    </div>
        <asp:Button ID="btnConfirm" runat="server" Text="Confirm Payment" />
        <hr/>
        <asp:Label ID="lblStatus" runat="server" Text="Label"></asp:Label>
    </form>
</body>
</html>
