﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldChildFieldsItemModel

@{
    string id = CS.General_CS_v6.Util.JsUtil.GenerateUniqueJsElementId();
}

@Html.FormFieldBlockRow(@<text>
        <div id="@id" class="object-field-child-fields-container">
            <div class="object-field-child-fields-title-container @Html.RawIf("object-field-child-fields-title-container-contains-subcollection", Model.DoesChildPropertiesIncludeSubCollection)">
                @*if (!Model.DoesChildPropertiesIncludeSubCollection)
                    {*@
                <span class="object-field-child-fields-toggle-icon"></span>
                @*}*@
                <h3>@Model.GetLabel()</h3>
            </div>
            <div class="object-field-child-fields-content">
                @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(Model.ChildFields))
            </div>

            @if (!Model.DoesChildPropertiesIncludeSubCollection)
            {
                <script>
                    $(function () {
                        //defined in AddOrEdit.cshtml
                        initSectionToggler("@id");
                    });

                </script>
            }
            else
            {
                <script>
                    $(function () {
                        //defined in AddOrEdit.cshtml
                        window.setTimeout(function () {
                            initSectionToggler("@id");
                        }, 250);
                    });

                </script>


            }

        </div>
</text>, colSpan: CS.MvcCmsGeneral_CS_v6.Code.Constants.ObjectFieldsColSpan)