﻿@using CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.CmsForms
@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldMediaItemCollectionModel

@Html.FormFieldBlockRow(@<text>
                             @if (!Model.ItemNotYetSaved)
                             {
                                 <div class="cms-media-item-collection-container">
                                     <h3>@Model.GetLabel()</h3>
                                     @Html.Action(MVCGeneral.PartialViewsMediaItems._MediaItemsAjaxGallery(Model.GetMediaItemsAjaxGalleryModel()))
                                 </div>
                             }
                             else
                             {
                                <p class="please-save-first-message">@Model.GetLabel() - Please save item first before you can fill in this type of field.</p>
                             }
                         </text>, colSpan: CS.MvcCmsGeneral_CS_v6.Code.Constants.ObjectFieldsColSpan)  