﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldReferencedListItemModel
@using BusinessLogic_CS_v6.Presentation.Code.ContextData.Old
@{
    var id = Model.GetCoreContainerJsId();
}
@Html.FormFieldBlockRow(@<text>
        <div class="referenced-list-item-container" id="@(id)">
            <div class="object-field-child-fields-title-container">

                <span class="object-field-child-fields-toggle-icon"></span>

                <h3>@Model.GetLabel()</h3>
            </div>
            <div class="object-field-child-fields-content">
                @Html.Action(MvcCmsGeneral.PartialViewsCmsDataGrid._CmsDataGrid(Model.GetDataGridModel()))
                @if (Model.ReferencedListSpecificMetaData.CanAddItem)
                {
                    <div class="referenced-list-item-add-container">
                        <h4 class="referenced-list-item-add-title">
                            Add Item
                        </h4>
                        <table>
                            @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ReferenceLinkItemControl(Model.GetAddReferenceLinkItemModel()))
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="button referenced-list-item-add-button" type="button">
                                        <span class="button-icon"></span>
                                        <span>Add Item</span>
                                    </button>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
        <script>
            $(function () {
                //defined in AddOrEdit.cshtml
                window.setTimeout(function () {
                    initSectionToggler("@id");
                }, 250);
            });

        </script>
</text>, colSpan: CS.MvcCmsGeneral_CS_v6.Code.Constants.ObjectFieldsColSpan) 