﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldSubCollectionListItemModel
@{
    var id = Model.GetCoreContainerJsId();
}
@Html.FormFieldBlockRow(@<text>
        <div class="subcollection-list-item-container" id="@(id)">
            <div class="object-field-child-fields-title-container">

                <span class="object-field-child-fields-toggle-icon"></span>

                <h3>@Model.GetLabel()</h3>
            </div>
            <div class="object-field-child-fields-content">
                @Html.Action(MvcCmsGeneral.PartialViewsCmsDataGrid._CmsDataGrid(Model.GetDataGridModel()))
                <div class="subcollection-list-item-add-container">

                    <a href="@Model.GetAddItemUrl()" class="button" target="_blank">
                        <span class="button-icon"></span>
                        <span>Add @Model.GetLabel()</span>
                    </a>

                </div>
            </div>
        </div>
        <script>
            $(function () {
                //defined in AddOrEdit.cshtml
                window.setTimeout(function () {
                    initSectionToggler("@id");
                }, 250);
            });

        </script>
</text>, colSpan: CS.MvcCmsGeneral_CS_v6.Code.Constants.ObjectFieldsColSpan) 