﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.CmsForms._ReferenceLinkItemControlModel

@using CmsGeneral_CS_v6.EnumsCms

@if (Model.DisplayType == CmsEnums.ReferenceLinkDisplayType.LoadAllOptionsInline)
{
    @Html.FormFieldDropdownListFor(x => x.DataValue, Model.GetAvailableInlineOptions(), Model.DataValue, Model.FormFieldsParameters);
}
else
{
    string externalValueHiddenFieldName = Model.ModelName;
    string externalValueHiddenFieldId = CS.General_CS_v6.Util.JsUtil.SanitizeId(externalValueHiddenFieldName);
    string externalValueTextId = externalValueHiddenFieldId + "_text";
    @Html.FormFieldGenericControl(
    @<text>
        <div class="reference-link-search-item-container">
            <div class="reference-link-search-item-text" id="@externalValueTextId">
                @{
                    string selectedText = Model.GetSelectedValueText();
                    if (string.IsNullOrWhiteSpace(selectedText))
                    {
                        @selectedText
                    }
                    else
                    {
                        <a target="_blank" href="@Model.GetSelectedItemEditUrl()">@selectedText</a>
                    }
                }
            </div>
            <div class="reference-link-search-item-search-button-container">
                <a class="reference-link-search-item-search-button" title="@Model.ExternalSearchDialogTitle" @Html.AddAttribute(CmsGeneral_CS_v6.Constants.DataAttributes.ReferenceLinkSearchButton, externalValueHiddenFieldId) @Html.AddAttribute(CmsGeneral_CS_v6.Constants.DataAttributes.ReferenceLinkSearchTextElementSelector, "#" + externalValueTextId) href="@Model.SearchItemsUrl" target="_blank">
                    <span class='reference-link-search-item-icon'></span>
                    <span class='reference-link-search-item-button-text'>Search</span>
                </a>
            </div>
            @Html.CsHiddenFor(x => x.DataValue, commonParameters: new CsFieldExtensionsOld.InputFieldCommonParameters()
   {
       Name = externalValueHiddenFieldName,
       SetIdAsFieldName = true
   })
        </div>
    </text>, null, Model.FormFieldsParameters)
}