﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContactDetails.ascx.cs"
    Inherits="PayMammothDeploy.usercontrols.masterpage.v1.ContactDetails" %>


<%@ Register Src="~/_ComponentsGeneric/Frontend/UserControls/Contact/ContactUsDetails.ascx" TagName="ContactUsDetails" TagPrefix="PayMammoth" %>
<PayMammoth:ContactUsDetails runat="server" ID="ContactUsDetails" DoNotShowHeading="true" />
