﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ListingItems._LetterIndexComponentModel

<div class="letter-index-component-main-container">
    
    <div class="letter-index-component-content">
        
        <nav class="letter-index-component-items">
            
            <ul>
                 
                @foreach (var letterIndexComponentItem in Model.LetterIndexComponentItems)
                {
                    <li class="letter-index-component-item @Html.RawIf("letter-index-component-item-selected", String.CompareOrdinal(letterIndexComponentItem.Url, Model.CurrentSelectedLetterIndexComponentItem.Url) == 0)">
                        
                        <a href="@letterIndexComponentItem.Url">@letterIndexComponentItem.Title</a>
                    
                    </li>
                }

            </ul>

        </nav>
        
    </div>

</div>