﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ListingItems._ListingItemsWithComponentsModel
    
<div class="listing-items-with-components-main-container @Html.RawIf("listing-items-with-components-no-results", Model.ItemsModel.ListingItemModels == null || !Model.ItemsModel.ListingItemModels.Any())">
        
    @if (!Model.DoNotMakeUseOfPaging)
    {            
        <div class="listing-items-with-components-bar-container listing-items-with-components-bar-top-container @Html.RawIf("listing-items-with-components-bar-top-container-with-no-dropdowns", Model.DoNotShowDropdowns)">

            @if (!Model.DoNotShowResultsText)
            {   
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsResultsText, Model.ResultsTextModel); 
            }

            @if (!Model.DoNotShowDropdowns && Model.DropdownsModel != null)
            {      
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsDropdowns, Model.DropdownsModel); 
            }

        </div>
    }

    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItems, Model.ItemsModel); }

    @if (!Model.DoNotMakeUseOfPaging)
    {   
        <div class="listing-items-with-components-bar-container listing-items-with-components-bar-bottom-container @Html.RawIf("listing-items-with-components-bar-bottom-container-with-no-results-text", Model.DoNotShowBottomResultsText)">
                     
            @if (!Model.DoNotShowResultsText && !Model.DoNotShowBottomResultsText)
            {   
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsResultsText, Model.ResultsTextModel);
            }
                
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsPages, Model.PagesModel); }

        </div>
    }

</div>