﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ListingItems._ListingItemsPagesModel
    
@if (Model.Pages != null && Model.Pages.Count > 0)
{
    <div class="listing-items-pages-main-container">
        
        <ul>
        
            @foreach (var page in Model.Pages)
            {
                <li class="listing-items-page-arrow @page.ListItemCssClass">
                
                    <a href="@page.Url">@page.PageLabel</a>

                </li>
            }

        </ul>

    </div>
}