﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ListingItems._ListingItemsDropdownsModel

<div class="listing-items-dropdowns-main-container">

    @if (!Model.DoNotShowSortByDropdownList)
    {      
        <div class="listing-items-dropdown-sortby">
                   
            @Html.CsLabel(Model.SortByLabel)
                
            @Html.CsSelectList(Model.SortByDropdownList)

        </div>
    }

    @if (!Model.DoNotShowShowAmountDropdownList)
    {       
        <div class="listing-items-dropdown-show-amount">
            
            @Html.CsLabel(Model.ShowAmountLabel)
            
            @Html.CsSelectList(Model.ShowAmountDropdownList)

        </div>
    }
        
    <script>
        
        $(function () {

            $(".listing-items-dropdowns-main-container select").bind("change", function () {

                var select = $(this);
                var urlValue = select.val();
                window.location = urlValue;
            });
        });

    </script>

</div>