﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using BusinessLogic_CS_v6.Presentation.Code.ContextData.Old
@using CS.MvcCmsGeneral_CS_v6.App_Start
@{
    this.Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsCore;
    CommonViewContextData commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v6.Constants.ViewDataVariables.CommonViewContextData];

}
@section css {
    @RenderSection("css", required: false)
}
@section head {
    @RenderSection("head", required: false)
}
@section scripts_top {
    @RenderSection("scripts_top", required: false)
}
<div class="cms-notification-message-container clearfix">

    @Html.Action(MVCGeneral.PartialViewsNotificationMessages._NotificationMessage())

</div>
<div class="cms-core-container">
    @if (commonViewContextData.Cms.IsLoggedIn)
    {
        <div class="cms-main-menu-container">
            @Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderNavigation())
        </div>
    }
    <div class="cms-main-content-container">


        @{
            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Breadcrumbs._NavigationBreadcrumbs, commonViewContextData.Page.NavigationBreadcrumbsModel);
        }

        @RenderBody()
    </div>

    @section scripts {
        @RenderSection("scripts", required: false)

        <script>
            function updateUiSizes() {
                var jNavBreadcrumbsContainer = $(".navigation-breadcrumbs-main-container");
                var jCustomOperationsBar = $(".custom-operations-bar-container");
                var jListingUiContainer = $(".listing-ui-container");
                var jMenu = $(".cms-main-menu-container");
                var jHeader = $(".cms-header-container");
                var jWindow = $(window);
                var totalHeight = jWindow.height();

                var contentHeight = totalHeight - jHeader.height();
                jListingUiContainer.height(contentHeight - jNavBreadcrumbsContainer.outerHeight() - jCustomOperationsBar.outerHeight());
                jMenu.height(contentHeight);
            }
            updateUiSizes();
            $(function () {
                updateUiSizes();
                $(window).on("resize", function () {
                    updateUiSizes();
                });
                new CmsGeneralJS_CS_v6.UnobtrusiveController();
            });
        </script>
    }
</div>