﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="jQueryCalendar.ascx.cs" 
Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Calendar.jQueryCalendar" %>
<div class="jquery-calendar-container" runat="server" id="divJqueryCalendar"></div>
<asp:PlaceHolder ID="jsHolder" runat="server"></asp:PlaceHolder>