﻿@using BusinessLogic_CS_v6.EnumsBL
@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.FileUpload._FileUploadItemModel
@{
    var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v6.Constants.ViewDataVariables.CommonViewContextData];
}
<div class="file-upload-item-container" id="@Model.FileUploadFieldModel.Parameters.ContainerId">
    @if (Model.FileUploadFieldModel.Parameters.FileItemModel != null &&  Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb != null && !string.IsNullOrWhiteSpace(Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.Href))
    {
        <div class="file-upload-item-preview-container clearfix">
            <div class="file-upload-item-preview-image-container">

                <a href="@Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.Href" target="_blank" title="@Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.Title">
                    <img src="@Model.FileUploadFieldModel.Parameters.FileImageIconPreviewUrl" alt="@Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.Title" />
                </a>
            </div>
            <div class="file-upload-item-content-container">
                <div class="file-upload-item-content-title">
                    @Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.Title
                </div>
                <div class="file-upload-item-content-size">
                    @(Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.SizeKb)Kb
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.FileUploadFieldModel.Parameters.DeleteFileItemControllerOptions.deleteAjaxUrl))
                {
                    <div class="file-upload-item-delete-button-container">
                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Button, Model.FileUploadFieldModel.Parameters.DeleteItemButtonContentTextModel, "file-upload-item-delete-button", new InlineEditingExtensions.InlineEditingContentTextOtherParameters()
                   {
                       HtmlAttributes = new { type = "button" }
                   })
                    </div>
                }
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.FileUploadFieldModel.Parameters.DeleteFileItemControllerOptions.deleteAjaxUrl))
        {
            commonViewContextData.ScriptBlocks.ScriptBlocks["FileUploadItem_" + Model.FileUploadFieldModel.Parameters.ContainerId] = new CommonViewContextScriptBlockData()
            {
                ScriptBlockContent = @<text>
                <script>
                    $(function () {
                        new GeneralJS_CS_v6.DeleteFileItemController(@(Html.Raw(Model.FileUploadFieldModel.DeleteFileItemControllerOptionsJson)));
                    });
                </script>
                                      </text>
            };
        }

    }
    <div class="file-upload-item-upload-container">
        <input type="file" name="@Model.FileUploadFieldModel.Name" @Html.AddAttribute("required", "required", Model.FileUploadFieldModel.ParsleyFieldValidationData.Required) @Html.AddAttribute("data-parsley-value", Model.FileUploadFieldModel.Parameters.FileItemModel != null && Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb != null ? Model.FileUploadFieldModel.Parameters.FileItemModel.FileInfoFromDb.Href : null) />
    </div>
</div>
