﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ForgotPasswordPage.ascx.cs" Inherits="CS.WebComponentsGeneralV1._ComponentsGeneric.Frontend.UserControls.Member.Password.ForgotPasswordPage" %>
<%@ Register Src="~/_ComponentsGeneric/Frontend/UserControls/Member/Password/ResetPassword.ascx" TagName="ResetPassword" TagPrefix="Common" %>
<Common:ResetPassword runat="server" ID="resetPassword" />