﻿@using BusinessLogic_CS_v6.EnumsBL
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Documents._DocumentRepositoryModel

<div class="document-repository-main-container">
    
    <table>
        
        <tr>
            @Html.InlineEditingContentText(Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.DocumentRepository_DateUploadedTitle, cssClass:"document-repository-date-uploaded")
            <th class="document-repository-file" colspan="2">@Html.InlineEditingContentText(Enums.HtmlTagName.Span, ContentTextIdentifierEnums.GenericContentTextIdentifier.DocumentRepository_FileTitle)</th>
        </tr>

        @foreach (var document in Model.Documents)
        {
            <tr>
                <td class="document-repository-file-upload-date-column">
                    @document.DataObject.DateUploaded.ToString("dd/MM/yyyy HH:MM")
                </td>

                <td class="document-repository-file-type-column">
                    
                    <span class="file-type @document.DocumentFileType"></span>

                </td>

                <td class="document-repository-file-name-column">
                    
                    <a href="@document.DocumentForceDownloadActionUrl">@document.DocumentFileNameWithoutExtenstion</a>

                </td>
            </tr>
        }

    </table>

</div>