﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Members.Login._MembersLoginControlModel
                 
<div class="members-login-control-main-container">

    <div class="members-login-control-content">

        @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Div, Model.TitleContentText, cssClass: "members-login-control-title")

        <div class="members-login-control-links @Html.RawIf("members-login-control-links-when-logged-in", Model.IsLoggedIn)">
            
            <nav>
                
                <ul>
                    
                    @foreach (var link in Model.Links)
                    {   
                        <li>
                                
                            <span class="members-login-control-link-icon"></span>
                            @Html.CsAnchorForSection(link, cssClass: "members-login-control-link")
                            
                        </li>
                    }

                </ul>

            </nav>

        </div>

    </div>

</div>