﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Members.Login._MembersLoginFormModel

<div class="members-login-form-main-container">

    <div class="members-login-form-content">

        @if (!Model.DoNotShowTitle)
        {
            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.H1, Model.TitleContentText, cssClass: "members-login-form-title")
        }

        @if (!Model.DoNotShowDescription)
        {
            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Div, Model.DescriptionHtmlContentText, cssClass: "members-login-form-description")
        }

        <div class="members-login-form">

            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Forms._FormFieldModels, Model.Form); }

        </div>

        <div class="members-login-form-links">

            <ul>
                @if (Model.ForgotPasswordLink != null)
                {
                    <li>
                        @Html.CsAnchorFromModel(Model.ForgotPasswordLink)
                    </li>
                }

                @if (Model.RegisterLink != null && !Model.DoNotShowRegisterLink)
                {
                    <li>
                        @Html.CsAnchorFromModel(Model.RegisterLink)
                    </li>
                }

            </ul>

        </div>

    </div>

</div>
