﻿@using BusinessLogic_CS_v6.EnumsBL
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Members.Login._SocialNetworkingLoginIconsModel

<div class="social-network-login-icons-container">
    <div class="social-network-login-icons-text">
        @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, ContentTextIdentifierEnums.GenericContentTextIdentifier.MembersArea_MembersLoginForm_LoginSocialNetworksAlternativeDescription)
    </div> 
    <div class="social-network-login-icons">
       @if (!string.IsNullOrWhiteSpace(Model.FacebookLoginUrl))
       {
           <a href="@Model.FacebookLoginUrl" class="social-network-login-icon social-network-login-icon-facebook"></a>
       }
        @if (!string.IsNullOrWhiteSpace(Model.TwitterLoginUrl))
       {
           <a href="@Model.TwitterLoginUrl" class="social-network-login-icon social-network-login-icon-twitter"></a>
       }
        @if (!string.IsNullOrWhiteSpace(Model.GoogleLoginUrl))
       {
           <a href="@Model.GoogleLoginUrl" class="social-network-login-icon social-network-login-icon-google"></a>
       }
    </div>
</div>
