
/*
 *  CheckBox and Radio Widgets,
 *	and the CSS to embed a checkbox or radio icon inside a ToggleButton.
 *
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
 *
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/

.cs-cms .dijitToggleButton .dijitCheckBox,
.cs-cms .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/spriteCheckbox.gif');
}

.cs-cms .dijitCheckBox,
.cs-cms .dijitCheckBoxIcon {		/* inside a toggle button */
	background-image: url('../images/spriteCheckbox.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.cs-cms .dijitCheckBox,
.cs-cms .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.cs-cms .dijitCheckBoxChecked,
.cs-cms .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0px;
}

.cs-cms .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px;
}

.cs-cms .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

.cs-cms .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

.cs-cms .dijitCheckBoxCheckedHover {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}