/*
 *  CheckBox and Radio Widgets,
 *	and the CSS to embed a checkbox or radio icon inside a ToggleButton.
 *
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
 *
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/

.cs-cms .dijitToggleButton .dijitRadio,
.cs-cms .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/spriteRadio.gif');
}

.cs-cms .dijitRadio,
.cs-cms .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('../images/spriteRadio.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.cs-cms .dijitRadio,
.cs-cms .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -16px;
}

.cs-cms .dijitRadioChecked,
.cs-cms .dijitToggleButtonChecked .dijitRadioIcon {
	/* selected */
	background-position: 0px;
}

.cs-cms .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -48px;
}

.cs-cms .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -32px;
}

.cs-cms .dijitRadioHover {
	/* hovering over an unselected enabled radio button */
	background-position: -80px;
}

.cs-cms .dijitRadioCheckedHover {
	/* hovering over a selected enabled radio button */
	background-position: -64px;
}