﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.SocialNetworking.AddThis._AddThisCodeSnippetModel
<script>
    var addthis_config = {};

    @if (!string.IsNullOrWhiteSpace(Model.UiLanguage))
    {
        <text>addthis_config["ui_language"] = "@(Model.UiLanguage)";</text>
    }
    @if (Model.DataTrackAddressBar.HasValue)
    {
        <text>addthis_config["data_track_addressbar"] = @Model.DataTrackAddressBar.ToString().ToLower();</text>
    }   
</script>
@{
    //ADD THIS SCRIPT 
    string addThisUrl = "//s7.addthis.com/js/300/addthis_widget.js";
    if (!string.IsNullOrWhiteSpace(Model.PublisherId))
    {
        addThisUrl += "#pubid=" + Model.PublisherId;
    }
}
<script src="@addThisUrl"></script>
