﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.SocialNetworking.AddThis._AddThisModel
    
<div class="addthis-container">
        
    <div class="addthis_toolbox @Model.PrimaryStyle @Model.SecondaryStyle">

        @foreach (var service in Model.Services)
        {
            <a class="@service.CssClass" @service.Attributes></a>
        }

    </div>
        
    @if (Model.TrackAddressBar)
    {   
        <script>var addthis_config = { "data_track_addressbar": true };</script>
    }

</div>