﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Gallery._GalleryControlItemModel

<div class="gallery-control-item-main-container">

    <div class="gallery-control-item-content">
        
        @if (!String.IsNullOrWhiteSpace(Model.VideoUrl))
        {            
            <a href="@Model.VideoUrl" rel="prettyPhoto">
                             
                <img src="@Model.NormalImage.ImageUrl" alt="@Model.Caption" title="@Model.Caption"/>
                
            </a>      
        }
        else
        {   
            if (Model.LargeImage == null)
            {       
                <img src="@Model.NormalImage.ImageUrl" alt="@Model.Caption" title="@Model.Caption"/>
            }
            else
            {
                <a href="@Model.LargeImage.ImageUrl" rel="prettyPhoto[cp-gallery]">
                    
                    <img src="@Model.NormalImage.ImageUrl" alt="@Model.Caption" title="@Model.Caption"/>
                
                </a>
            }

        }

    </div>

</div>