﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MCustomScrollbarV2.ascx.cs"
    Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Scrollbar.MCustomScrollbar.MCustomScrollbarV2" %>
<div id="divCustomScrollbar" class="custom-scrollbar-container" runat="server">
    <asp:PlaceHolder ID="placeHolderContent" runat="server"></asp:PlaceHolder>
</div>

