﻿@using BusinessLogic_CS_v5.Presentation.Models._Shared.Data.Culture
@using BusinessLogic_CS_v5.Presentation.Services.Cultures
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Culture._CultureLanguageSelectionModel


<div class="culture-selection-container">
    <div class="current-culture-selection">
        <img src="@Model.CurrentCulture.ImageFlagUrl" alt="@Model.CurrentCulture.Culture.Title" />
        <span class="current-culture-selection-caret"></span>
    </div>
    @{
        Html.RenderAction(MVCGeneral.PartialViewsCulture._CultureSelectionAvailableLanguages());
    }
</div>

<script>


    $(function () {
        var currUrl = window.location.toString();
        //http://www.visitgozo.com/en/asdfasdf/asdfasdfasdf.gjp
        var firstSlash = currUrl.indexOf("/", currUrl.indexOf("://") + 3);
        var secondSlash = currUrl.indexOf("/", firstSlash + 1);
        var urlSuffix = currUrl;
        if (secondSlash != -1) {
            urlSuffix = currUrl.substring(secondSlash);
        }
        else {
            urlSuffix = "/";
        }
        var links = $(".available-cultures-selection-container a");
        for (var i = 0; i < links.length; i++) {
            var jLink = links.eq(i);
            var langIdentifier = jLink.attr("data-language-code");
            jLink.attr("href", "/" + langIdentifier + urlSuffix);
        }
    });
</script>