﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Culture._CultureSelectionAvailableLanguagesModel

    <div class="available-cultures-selection-container">
        <ul class="available-cultures-selection-content-container">

            @foreach (var culture in Model.AvailableCultures)
            {

                <li class="available-culture-selection-item">
                    <a data-language-code="@culture.Culture.Identifier" href="@culture.CultureUrl">
                        <span class="available-culture-selection-item-image-wrapper">
                            <img src="@culture.ImageFlagUrl" alt="@culture.Culture.Title" class="available-culture-selection-item-flag" />
                        </span>
                        <span class="available-culture-selection-item-title">@culture.Culture.Title</span>
                    </a>
                </li>
            }
        </ul>
    </div>