﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Culture._CultureSelectionAvailableLanguagesModel

    <div class="available-cultures-selection-container">
        <ul class="available-cultures-selection-content-container">

            @foreach (var culture in Model.AvailableCultures)
            {

                <li class="available-culture-selection-item">
                    <a data-language-code="@culture.CultureModel.Identifier" href="@culture.CultureUrl">
                        <span class="available-culture-selection-item-image-wrapper">
                            @Html.CsImage(culture.ImageFlagUrl, culture.CultureModel.Title, cssClass: "available-culture-selection-item-flag")
                        </span>
                        <span class="available-culture-selection-item-title">@culture.CultureModel.Title</span>
                    </a>
                </li>
            }
        </ul>
    </div>