﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Contact._ContactDetailsOutputtedAsOneLineControlModel
    
<div class="contact-details-outputted-as-one-line-control-main-container">

    <div class="contact-details-outputted-as-one-line-control-content">

        @if (Model.ContactDetails != null && Model.ContactDetails.Any())
        {      
            foreach (var contactDetail in Model.ContactDetails)
            {   
                <div class="contact-details-item">
                           
                    <div class="contact-details-item-label">
                     
                        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Span, contactDetail.TitleContentText)<span>:</span>
                
                    </div>
                
                    <div class="contact-details-item-value">
                         
                        <span>@contactDetail.Value(null)</span>
                
                    </div>

                </div>
            }
        }

    </div>

</div>