﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Contact._ContactDetailsModel

<div class="contact-details-main-container">

    @foreach (var contactDetail in Model.ContactDetails)
    {   
        if (contactDetail.Identifier == BusinessLogic_CS_v5.Constants.GeneralConstants.ContactDetailsAddressIdentifier && Model.ShowAddressOutsideTable)
        {
            <div class="contact-details-address">
            
                @contactDetail.Value(null)

            </div>    
        }
    }

    <table>

        @foreach (var contactDetail in Model.ContactDetails)
        {
            if ((contactDetail.Identifier != BusinessLogic_CS_v5.Constants.GeneralConstants.ContactDetailsAddressIdentifier) || (contactDetail.Identifier == BusinessLogic_CS_v5.Constants.GeneralConstants.ContactDetailsAddressIdentifier && !Model.ShowAddressOutsideTable))
            {   
                <tr>

                    <td class="contact-details-label-field @contactDetail.Identifier">

                        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Span, contactDetail.TitleContentText)
                        @if (!Model.DoNotShowLabelSuffix)
                        {
                            <span>:</span>
                        }

                    </td>

                    <td class="contact-details-value-field">@contactDetail.Value(null)</td>

                </tr>
            }
        }

    </table>

</div>
