﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Contact._ContactUsModel
    
<div class="contact-us-main-container">
    
    <div class="contact-us-content">
            
        @Html.Partial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage.V2._ContentPageV2, Model.ContentPage)
            
    </div>

</div>