﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Contact._ContactDetailsWithTitleModel

<div class="contact-details-with-title-main-container">
    
    <div class="contact-details-with-title-content">
        
        <div class="contact-details-title">
            
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H2, Model.ContactDetailsTitleContentText)

        </div>
        
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Contact._ContactDetails, Model.ContactDetailsModel); }

    </div>

</div>