﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Contact._ContactDetailsFromInterfaceModel

<div class="contact-details-from-interface-main-container">
    
    <div class="contact-details-from-interface-content">
            
        <div class="contact-details-from-interface-title">
            
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H2, Model.ContactDetailsTitleContentText)

        </div>
        
        

    </div>

</div>