﻿@using CS.General_CS_v6
@model PayMammoth_v6.Presentation.Models.PayPal.PaypalConfirmationModel

<div class="paypal-confirmation-container">
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.TitleContentTextModel)
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Div, Model.ConfirmTextModel)
    <div class="paypal-confirmation-button-container">
        @Html.CsAnchor(Model.ConfirmButtonTextModel, Model.ConfirmUrl)
    </div>
</div>