﻿@model PayMammoth_v2.KarlTestUI.Models.LayoutModel
<!DOCT
YPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PageTitle</title>
</head>
    <body>
        <h1>Test Payments Website</h1>
        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage)) { 
        <div class="error">
            An error has occurred: @Model.ErrorMessage
        </div>
        @}
        <div>
            @RenderBody()
        </div>
    </body>
</html>
