﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Logos._LogoModel
                    
@helper outputHeaderLogo() {
            
    <a href="@Model.LogoLinkUrl" class="header-logo" title="@Model.LogoTitle">@Model.LogoTitle</a>
}
        
<div class="header-logo-main-container">
                    
    @if (Model.ShowLogoInHeadingTag)
    {       
        <h1>@outputHeaderLogo()</h1>
    }
    else
    {
        @outputHeaderLogo()
    }

</div>