﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LiveChatLiveZilla.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.LiveChat.LiveChatLiveZilla" %>
<CSControls:MyImage runat="server" id="imgLiveChat" ImageUrl="/images/temp/livechat.png" AlternateText="Live Chat" />