﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData.Old
@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.DataGrid._CmsDataGridModel

<div class="listing-data-grid-core-container" id="@Model.ListingCoreControllerOptions.containerId">
    <div class="listing-data-grid-container">
        <div class="listing-data-grid">
        </div>
    </div>
    <div class="listing-bottom-bar-container clearfix">
        <ul>
            @if (!Model.DoNotShowDeleteButton)
            {
                <li><a href="#" class="bottom-menu-item bottom-menu-item-delete"><span class='bottom-menu-item-icon icon-delete'></span><span class='bottom-menu-item-text'>Delete Selected</span></a></li>
            }
            @if (!Model.DoNotShowReorderButton)
            {
                <li><a href="#" class="bottom-menu-item bottom-menu-item-reorder"><span class='bottom-menu-item-icon icon-reorder'></span><span class='bottom-menu-item-text'>Reorder Items</span></a></li>
            }
            @if (!Model.DoNotShowExportButton)
            {
                <li><a href="#" class="bottom-menu-item bottom-menu-item-export"><span class='bottom-menu-item-icon icon-export'></span><span class='bottom-menu-item-text'>Export Data</span></a></li>
            }
            @if (!Model.DoNotShowSearchButton)
            {
                <li><a href="#" class="bottom-menu-item bottom-menu-item-search"><span class='bottom-menu-item-icon icon-search'></span><span class='bottom-menu-item-text'>Search</span></a></li>
            }
            @if (!Model.DoNotShowSaveButton)
            {
                <li><a href="#" class="bottom-menu-item bottom-menu-item-save"><span class='bottom-menu-item-icon icon-save'></span><span class='bottom-menu-item-text'>Save Changes</span></a></li>
            }
        </ul>
    </div>
</div>


<script>

    $(function() {
        var listingOptions = @(Html.Raw(CS.General_CS_v5.Util.JsonUtil.Serialize(Model.ListingCoreControllerOptions)))
        new CmsGeneralJS_CS_v5.ListingCoreController(listingOptions);
    });
</script>

