
/**** Disabled cursor *****/
.cs-cms .dijitSliderDisabled *,
.cs-cms .dijitDisabledClickableRegion,	/* a region the user would be able to click on, but it's disabled */
.cs-cms .dijitSpinnerDisabled *,
.cs-cms .dijitButtonDisabled *,
.cs-cms .dijitDropDownButtonDisabled *,
.cs-cms .dijitComboButtonDisabled *,
.cs-cms .dijitComboBoxDisabled *
{
	cursor: not-allowed !important;
}


/* DnD avatar-specific settings */
/* For now it uses a default set of rules. Some other DnD classes can be modified as well. */
.cs-cms .dojoDndItemBefore {
	border-top: 2px solid #369;
}

.cs-cms .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}

.cs-cms .dojoDndItemOver {
	cursor:pointer;
}

.cs-cms table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.cs-cms .dojoDndAvatar td	{ border: none; }
.cs-cms .dojoDndAvatar tr	{ border: none; }
.cs-cms .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.cs-cms .dojoDndAvatarItem td { padding: 2px;}
.cs-cms.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.cs-cms.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.cs-cms.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.cs-cms.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
