.dijitIEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}

.cs-cms .dijitToolbar .dijitToolbarSeparator {
	background: url('images/editor.gif');
}

/**** ICONS *****/

.cs-cms .dijitEditorIcon {
	background-image: url('images/editor.gif'); /* editor icons sprite image */
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.cs-cms .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled.gif'); /* editor icons sprite image */
}

.cs-cms .dijitEditorIconSep { background-position: 0px; }
.cs-cms .dijitEditorIconBackColor { background-position: -18px; }
.cs-cms .dijitEditorIconBold { background-position: -36px; }
.cs-cms .dijitEditorIconCancel { background-position: -54px; }
.cs-cms .dijitEditorIconCopy { background-position: -72px; }
.cs-cms .dijitEditorIconCreateLink { background-position: -90px; }
.cs-cms .dijitEditorIconCut { background-position: -108px; }
.cs-cms .dijitEditorIconDelete { background-position: -126px; }
.cs-cms .dijitEditorIconForeColor { background-position: -144px; }
.cs-cms .dijitEditorIconHiliteColor { background-position: -162px; }
.cs-cms .dijitEditorIconIndent { background-position: -180px; }
.cs-cms .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.cs-cms .dijitEditorIconInsertImage { background-position: -216px; }
.cs-cms .dijitEditorIconInsertOrderedList { background-position: -234px; }
.cs-cms .dijitEditorIconInsertTable { background-position: -252px; }
.cs-cms .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.cs-cms .dijitEditorIconItalic { background-position: -288px; }
.cs-cms .dijitEditorIconJustifyCenter { background-position: -306px; }
.cs-cms .dijitEditorIconJustifyFull { background-position: -324px; }
.cs-cms .dijitEditorIconJustifyLeft { background-position: -342px; }
.cs-cms .dijitEditorIconJustifyRight { background-position: -360px; }
.cs-cms .dijitEditorIconLeftToRight { background-position: -378px; }
.cs-cms .dijitEditorIconListBulletIndent { background-position: -396px; }
.cs-cms .dijitEditorIconListBulletOutdent { background-position: -414px; }
.cs-cms .dijitEditorIconListNumIndent { background-position: -432px; }
.cs-cms .dijitEditorIconListNumOutdent { background-position: -450px; }
.cs-cms .dijitEditorIconOutdent { background-position: -468px; }
.cs-cms .dijitEditorIconPaste { background-position: -486px; }
.cs-cms .dijitEditorIconRedo { background-position: -504px; }
.cs-cms .dijitEditorIconRemoveFormat { background-position: -522px; }
.cs-cms .dijitEditorIconRightToLeft { background-position: -540px; }
.cs-cms .dijitEditorIconSave { background-position: -558px; }
.cs-cms .dijitEditorIconSpace { background-position: -576px; }
.cs-cms .dijitEditorIconStrikethrough { background-position: -594px; }
.cs-cms .dijitEditorIconSubscript { background-position: -612px; }
.cs-cms .dijitEditorIconSuperscript { background-position: -630px; }
.cs-cms .dijitEditorIconUnderline { background-position: -648px; }
.cs-cms .dijitEditorIconUndo { background-position: -666px; }
.cs-cms .dijitEditorIconWikiword { background-position: -684px; }
.cs-cms .dijitEditorIconToggleDir { background-position: -540px; /* padding: 0; margin: 0; color:#555555;
									font-family:verdana,arial,sans-serif; font-weight: 800; font-size: 70%; */}
.cs-cms .dijitEditorIconTabIndent { background-position: -702px; }
.cs-cms .dijitEditorIconSelectAll { background-position: -720px; }
.cs-cms .dijitEditorIconUnlink { background-position: -738px; }
