.cs-cms .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}

/* setting a min-height on ditor toolbar */
.dj_ie6 .cs-cms .dijitToolbar {
	height: 10px;
}

.cs-cms .dijitToolbar .dijitButtonNode,
.cs-cms .dijitToolbar .dijitComboButton .dijitButtonContents,
.cs-cms .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}

.cs-cms .dijitToolbar .dijitButton,
.cs-cms .dijitToolbar .dijitToggleButton,
.cs-cms .dijitToolbar .dijitDropDownButton,
.cs-cms .dijitToolbar .dijitComboButton .dijitButtonContents,
.cs-cms .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;	
	padding: 1px;	/* on hover etc., margin replaced w/border */
}

.cs-cms .dijitToolbar .dijitButtonChecked,
.cs-cms .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	padding: 0;
}

.cs-cms .dijitToolbar .dijitButtonCheckedHover,
.cs-cms .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	padding: 0;
}

.cs-cms .dijitToolbar .dijitButtonHover,
.cs-cms .dijitToolbar .dijitToggleButtonHover,
.cs-cms .dijitToolbar .dijitDropDownButtonHover,
.cs-cms .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.cs-cms .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border: 1px solid #f7c95c;
	padding: 0;
	background-color:#ffe284;
}

.cs-cms .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}

.dj_ie .cs-cms .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .cs-cms .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .cs-cms.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .cs-cms .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	/* focus border doesn't appear on <td> for FF2 or IE, so need to add it manually */
	border: 1px #555 dotted !important;
	padding: 0px;
}