

/* Tree */
.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeNode {
    background-image : url('images/treeI_rtl.gif');
    background-position : top right;
    margin-left: auto;
    margin-right: 19px;
}

.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeIsRoot {
	margin-left: auto;
    margin-right: 0;
    background-image: none;
}

.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeIsLast {
    background-image: url('images/treeI_half_rtl.gif');
}

.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeContent {
    padding-left: auto;
    padding-right: 1px;   
}

.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeExpandoOpened {
	background: url('images/spriteTree_rtl.gif') no-repeat -18px top;
}

.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url('images/spriteTree_rtl.gif');
}

.dijitRtl .cs-cms .dijitTreeContainer .dijitTreeExpandoLeaf {
	background: url('images/spriteTree_rtl.gif') no-repeat -36px top;
}