
/* Tree */

.cs-cms .dijitTreeNode {
    background : url('images/treeI.gif') no-repeat;
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;	/* MOW: what the heck is this doing in here? */
}

/* left vertical line (grid) for all nodes */
.cs-cms .dijitTreeIsLast {
    background: url('images/treeI_half.gif') no-repeat;
}

.cs-cms .dijitTreeLabel {
	font-weight: normal;
	margin-left: 3px;	
}

.cs-cms .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}

.cs-cms .dijitTreeExpando {
    width: 18px;
    height: 18px;
}

.cs-cms .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}


.cs-cms .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}

/* same style as IE selection */
.cs-cms .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.cs-cms .dijitTreeLabelFocused {
	outline: 1px invert dotted;
	background:#dde7f2;
}

.cs-cms .dijitTreeExpandoOpened {
	background: url('images/spriteTree.gif') no-repeat -18px top;
}

.cs-cms .dijitTreeExpandoClosed {
	background-image: url('images/spriteTree.gif');
}

.cs-cms .dijitTreeExpandoLeaf {
	background: url('images/spriteTree.gif') no-repeat -36px top;
}

.cs-cms .dijitTreeExpandoLoading {
	background-image: url('images/treeExpand_loading.gif');
}

.cs-cms .dijitTreeIcon {
	width: 16px;
	height: 16px;
}

.cs-cms .dijitFolderOpened {
	background: url('images/spriteDivIcons.gif') no-repeat -16px top;
}

.cs-cms .dijitFolderClosed {
	background: url('images/spriteDivIcons.gif') no-repeat top left;
}

.cs-cms .dijitLeaf {
	background: url('images/spriteDivIcons.gif') no-repeat -32px top;
}