﻿@using CmsGeneral_CS_v6.EnumsCms
@model CmsGeneral_CS_v6.Presentation.Models.Home.HomeIndexModel
<div class="cms-login-form">
    @if (!Model.IsLoggedIn)
    {
        @Html.Action(MvcCmsGeneral.PartialViewsCmsLogin._LoginControl(Model.LoginControlModel))
    }

    else
    {
        <div class="panel">
            @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.H1, CmsEnums.CmsContentText.Login_LoggedInTitle)
            @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Div, CmsEnums.CmsContentText.Login_LoggedInDescription)

        </div>
    }
</div>