
/* Menu */
.cs-cms .dijitMenu {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

.cs-cms .dijitMenuItem {
	background-color: #fff;
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.cs-cms .dijitMenuPreviousButton, .cs-cms .dijitMenuNextButton {
	font-style: italic;
}
.cs-cms .dijitMenuItem TD {
	padding:1px;
}

.cs-cms .dijitMenuItemHover {
	background-color: #ffe284; /* #95a0b0; #555555; #aaaaaa; #646464;  #60a1ea; #848484; */
	color: #243C5F;
}

.cs-cms .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
	/* padding-right: 3px; */
}

.cs-cms .dijitMenuExpand {
	/* margin-top:4px;  */
	width:15px;
	height:15px;
	background-image: url('images/spriteRoundedIconsSmall.png');
	background-repeat: no-repeat;
	background-position: -30px top;
	display:block;
}
.dj_ie6 .cs-cms .dijitMenuExpand {
	background-image:url('images/spriteRoundedIconsSmall.gif');
}

.cs-cms .dijitMenuSeparator {
	background-color: #fff;
	height: 1px;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.cs-cms .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; /*97adcb; */
}

.cs-cms .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}

/* the checked menu item */
.cs-cms .dijitCheckedMenuItemIconChar {
	display: none;
}

.cs-cms .dijitCheckedMenuItemIcon {
	background-image: url('images/spriteCheckbox.gif');
	background-position: -16px;
}

.cs-cms .dijitCheckedMenuItemIconChecked {
	background-position: 0px;
}

.cs-cms .dijitMenuItemHover .dijitCheckedMenuItemIcon {
	background-position: -80px;
}

.cs-cms .dijitMenuItemHover .dijitCheckedMenuItemIconChecked {
	background-position: -64px;
}