
/****
		dijit.ProgressBar
 ****/

.cs-cms .dijitProgressBar {
	margin:2px 0px 2px 0px;
}

.cs-cms .dijitProgressBarEmpty{
	/* outer container and background of the bar that's not finished yet*/
	background:#fff url("images/progressBarEmpty.png") repeat-x center center;
	border-color: #f8d582 #f8d582 #f8d582 #f8d582;
}

.cs-cms .dijitProgressBarTile{
	/* inner container for finished portion when in 'tile' (image) mode */
	background:#f0f0f0 url("images/progressBarFull.png") repeat-x center center;
}

.cs-cms .dijitProgressBarFull {
	border-right:1px solid #f8d582;
}

.cs-cms .dijitProgressBarLabel {
	/* Set to a color that contrasts with both the "Empty" and "Full" parts. */
	color:#293a4b;
}

.cs-cms .dijitProgressBarIndeterminate .dijitProgressBarTile {
	/* use an animated gif for the progress bar in 'indeterminate' mode */
	background:#cad2de url("images/progressBarAnim.gif") repeat-x center center;
}