/* Time Picker */
.cs-cms .dijitTimePickerTick,
.cs-cms .dijitTimePickerMarker {
	border-color: #eeeeee;
}

.cs-cms .dijitTimePickerTick {
	color:white;
}

.cs-cms .dijitTimePickerMarker {
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	color:#293a4b;
	font-weight: bold;
}

.cs-cms .dijitTimePickerItemSelected {
	color: black;
	background: #ffe284 none;
}

.cs-cms .dijitTimePickerItemHover {
	background: #d6d6dd none;
	color:black;
}

.cs-cms .dijitTimePickerItemHover,
.cs-cms .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}

.cs-cms .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}

.cs-cms .dijitTimePickerItemHover .dijitTimePickerItemInner,
.cs-cms .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}

.cs-cms .dijitTimePickerMarkerHover {
	border-top: 1px solid #eeeeee;
}

.cs-cms .dijitTimePickerTickHover,
.cs-cms .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}

.dijit_a11y .dijitTimePickerTickHover {
	background-color: #CCC !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
}

.dijit_a11y .dijitTimePickerMarkerHover {
	border-bottom-width: 2px;
}
