/** 
 * dijit.layout.TitlePane 
 *
 */ 
 
.cs-cms .dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url("images/titleBar.png") repeat-x top left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}

.cs-cms .dijitTitlePaneTitle * {
	vertical-align: middle;
}

.cs-cms .dijitTitlePane .dijitArrowNode {
	width:15px;
	height:15px;
}

.cs-cms .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	color: #243C5F;
}

.cs-cms .dijitOpen .dijitTitlePaneTextNode {
	color: #243C5F;
}

.cs-cms .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url('images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}
.dj_ie6 .cs-cms .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
.cs-cms .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.png') no-repeat -15px top;
}
.dj_ie6 .cs-cms .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.cs-cms .dijitTitlePane .dijitArrowNodeInner {
	display:none;
}

.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	display:inline !important;
	font-family:monospace;
	cursor: pointer;
	padding-bottom:.2em;
}

.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}

.cs-cms .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0px solid #3d3d3d;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
}
.cs-cms .dijitTitlePaneContentInner {
	padding:10px;
}
/* force hasLayout to ensure borders etc, show up */
.dj_ie6 .cs-cms .dijitTitlePaneContentOuter,
.dj_ie6 .cs-cms .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}

.cs-cms .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}