﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Breadcrumbs._NavigationBreadcrumpsWithGoBackLinkButtonModel

<div class="navigation-breadcrumbs-with-go-back-link-button-main-container">
    
    <div class="navigation-breadcrumbs-with-go-back-link-button-content">
           
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Breadcrumbs._NavigationBreadcrumbs, Model.NavigationBreadcrumbs); }
        
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Navigation._GoBackLinkButton, Model.GoBackLinkButton); }

    </div>

</div>