﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.GoogleMaps.InteractiveMapView._InteractiveMapViewControlModel
        
<div class="interactive-map-view-control-main-container">
    
    <div class="interactive-map-view-control-content" id="interactiveMapViewControlContent">
            
        <div class="interactive-map-view-control-google-map" id="@Model.JsParameters.UniqueJsElementId">

        </div>

    </div>

</div>
    
@{
    var commonViewContextData = (CommonViewContextData) ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];

    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.GoogleMaps] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.GoogleMaps_ScriptIncludeUrl
    };
        
    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.GoogleMapsMarkerClusterer] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.GoogleMapsMarkerClusterer_ScriptIncludeUrl
    };
          
    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.GoogleInteractiveMapView] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.GoogleInteractiveMapView_ScriptIncludeUrl
    };
       
    commonViewContextData.ScriptBlocks.ScriptBlocks["InitializeInteractiveMapView"] = new CommonViewContextScriptBlockData()
    {
        ScriptBlockContent = @<text>
                                  
                                  <script>
                                        
                                      $(function() {
                                                
                                          initializeInteractiveMapView(@Html.Raw(Model.JsParametersJson));
                                      });

                                  </script>

                              </text>
    };
}