﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage
@model BusinessLogic_CS_v5.Presentation.Models.Members.LoginModel

<div class="site-content-inner-wrapper">
    @Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageNew(new _ContentPageModel(CommonViewContextDataOld.Instance.CurrentSection){
        BottomContent = @<text>
                             @Html.Action(MVCGeneral.PartialViewsMembers._MembersLoginWithSocialNetworkLoginIcons())
                         </text>
                                                                                           }))
</div>