﻿@model BusinessLogic_CS_v5.Presentation.Models.Members.MembersLogoutModel

<div class="logout-container">

    <div class="logout-content">

        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPageModel); }

    </div>

</div>
