﻿@model BusinessLogic_CS_v5.Presentation.Models.Members.MembersRegisterModel
        
<div class="register-container">

    <div class="register-content">

        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPage); }

    </div>

</div>

