.invoice-container {
  width:600px;
  margin:20px auto;
  font-family:Tahoma,Arial, sans-serif;
  font-size:12px;
  line-height:150%;
}
.invoice-heading-left {
  float:left;
}
.invoice-heading-right {
  float:right;
  text-align:right;
}
.invoice-tel-label,
.invoice-fax-label,
.invoice-mob-label,
.invoice-email-label {
  font-weight:bold;
}
.invoice-heading-right address {
  display:inline;
}
.invoice-tel,
.invoice-mob,
.invoice-fax,
.invoice-email {
  margin-top:5px;
}
.invoice-details-container {
  clear:both;
  margin-top:10px;
}
.invoice-details-top-container,
.invoice-items-title-container {
  background:#3E59A8;
  padding:10px;
  color:White;
  font-family:Arial;
  font-size:18px;
}
.invoice-heading-title {

  float:left;
}
.invoice-heading-subtitle {
  color:White;
  font-family:Arial;
  font-size:18px;
  float:right;
}
.clear {
  clear:both;
}
.invoice-details-middle-container {
  background:#EEE;
  padding:10px;
}
.invoice-details-client-details-container {
  float:left;
  width:290px;
}
.invoice-details-invoice-details-container {
  float:right;
  width:260px;
}
.invoice-row-paid td,
.invoice-row-paid th {
  padding-top:10px;
}

.client-details-title,
.invoice-details-title {
  font-weight:bold;
  border-bottom:1px dotted #CCC;
  margin-bottom:10px;
  font-size:13px;
}

.client-details-container,
.invoice-details-table-container {
  padding-right:30px;
}

.client-details-container {
  width:300px;
}

.client-details-name {
  font-weight:bold;
}

.invoice-details-table th {
  font-weight:bold;
  padding-right:10px;
  text-align: left;
}

.invoice-items-container {
  margin-top:10px;
}

.invoice-items-table {
  width:100%;
}

.invoice-items-table th,
.invoice-items-table td {
  padding:5px;
}

.invoice-items-table th {
  background:#CCC;
  border-bottom:1px solid #AAA;
  font-weight:bold;
  white-space:nowrap;
}


.invoice-items-table tbody tr:nth-child(odd) td {
  border-bottom:1px dotted #888;
}

.invoice-items-table tbody tr:nth-child(even) td {
  border-bottom:1px dotted #888;
}

.invoice-items-terms-container {
  float:left;
}

.invoice-items-total-container {
  float:right;

}
.invoice-items-total-container td {
  text-align:right;
}

.invoice-items-total-table {
  text-align: left;
}

.invoice-items-total-table td,
.invoice-items-total-table th {
  background:#CCCCCC;
  padding:5px 10px;
}

.invoice-items-total-table th {
  font-weight:bold;
}

.invoice-items-total-row th,
.invoice-items-total-row td {
 font-weight:bold;
 background:#333;
 color:White;
 font-size:18px;
 padding:10px;
  font-family:Arial;
}

.invoice-items-unit-price-cell {
  width:70px;
}

.invoice-items-total-price-cell {
  width:70px;
}

.invoice-items-total-vat-cell {
  width:30px;
}

.invoice-items-total-value-cell {
  width:100px;
}

.invoice-items-terms-container {
  padding-top:15px;
  max-width:360px;
  text-align: justify;
}

.invoice-items-terms-title {
  font-weight:bold;
}

.html-invoice,
.html-invoice body {
  background:White !important;
}

.html-invoice h1,
.html-invoice h2 {
  margin-bottom:0px;
  color:#FFF;
  font-size:20px;
  border:none;
}

.invoice-address address, .invoice-email a {
  font-style: normal;
}
.invoice-item-unit-old-price,
.invoice-item-total-old-price {
    text-decoration: line-through;
    color:#999;
    display:block;
}
.invoice-vat-summary {
  float:left;
  margin-top:23px;

}
.invoice-vat-summary-table td,
.invoice-vat-summary-table th {
  padding:3px 10px;
}
.invoice-vat-summary-table td
 {
  border:1px solid #CCC;
}
.invoice-vat-summary-table th {
  background: #CCC;
  border:1px solid #CCC;
}
.invoice-vat-summary-totals td {
  font-weight:bold;
  background:#EEE;
}


.invoice-vat-summary h3 {
  margin-bottom:5px;
  font-family:Arial;
  padding-left:10px;
}
.invoice-online-payment-container {
  background:#CC0000;
  color:#FFF;
  padding:15px;
  font-size:18px;
  text-align:center;
  line-height:120%;
  margin-bottom:10px;
}
.invoice-online-payment-container a {
  color:#FFF;
}

.invoice-online-payment-container p {
  margin:0px;
}
@media print
{
  .invoice-online-payment-container {
    display:none !important;
  }
}

