/** 
 * dijit.layout.Accordioncontainer 
 *
 */

.cs-cms .dijitAccordionContainer {
	border-color: #ccc;	
}

/* nested classes */

.cs-cms .dijitTabContainer-dijitAccordionContainer {
    border: none;
}

.cs-cms .dijitAccordionContainer-dijitAccordionContainer {
    border: none;
    background-color: #fff;
}

.cs-cms .dijitSplitContainer-dijitAccordionContainer,
.cs-cms .dijitBorderContainer-dijitAccordionContainer {
    border: 1px #ccc solid;
    background-color: #fff;
}

/* common */

.cs-cms .dijitAccordionPane {
	background-color: #e7e7e7;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}

.cs-cms .dijitAccordionTitle {
	background:#fafafa url("../images/titleBar.png") repeat-x top left;
	border-top: 1px solid #dedede;
	padding: 5px 4px 6px 8px;
	cursor:pointer;
}

.cs-cms .dijitAccordionTitle-selected  {
	background: #f9f9f9 url("../images/accordionItemActive.png") top repeat-x;
	font-weight: bold;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: 5px 4px 5px 8px;
	cursor: default;	
	color: #243C5F;
}

.cs-cms .dijitAccordionArrow {
	background:url("../images/spriteRoundedIconsSmall.gif") no-repeat -30px top;
	width:15px;
	height:15px;
	margin-top:-1px;
}

.cs-cms .dijitAccordionTitle-selected .dijitAccordionArrow {
	background:url("../images/spriteRoundedIconsSmall.gif") no-repeat -15px top;
	margin-top:-1px;
}

.cs-cms .dijitAccordionText {
	margin-left: 4px;
	margin-right: 4px;
}

.cs-cms .dijitAccordionBody {
	background: #fff;
}