/* ContentPane */

.cs-cms .dijitContentPane {
    padding: 0px;
}

/* nested layouts */
.cs-cms .dijitTabContainerTop-dijitContentPane,
.cs-cms .dijitTabContainerLeft-dijitContentPane,
.cs-cms .dijitTabContainerRight-dijitContentPane,
.cs-cms .dijitTabContainerBottom-dijitContentPane,
.cs-cms .dijitAccordionContainer-dijitContentPane {
    border: none;
    background-color: #fff;
    padding: 5px;
}

.cs-cms .dijitSplitContainer-dijitContentPane,
.cs-cms .dijitBorderContainer-dijitContentPane {
    border: 1px #ccc solid;
    background-color: #fff;
    padding: 5px;
}