/** 
 * dijit.layout.TabContainer 
 *
 * To style TabContainer with rounded corners 
 * you can use these classes: .dijitTab (left), .dijitTabContent (center), dijitTabInnerDiv (right)
 * For tabs aligned to top you can style a stripe div right underneath the tabs using .dijitTabStripe
 */ 
 
/* Classes for all types of tabs (top/bottom/left/right) */

/* Tabs, shared classes */
.cs-cms .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}


.cs-cms .dijitTabInnerDiv {
	padding:0px 3px 0px 0px;
	margin: 0 0 0 4px;
	background: url("../images/tabContainerSprite.gif") no-repeat;
	background-position: right -400px;
}

.cs-cms .dijitTab {
	line-height:normal;
	margin:0 2px 0 0;	/* space between one tab and the next in top/bottom mode */
	padding:0px;
	background: url("../images/tabContainerSprite.gif") no-repeat 0 -300px;
	color: #6d6d6d;
	border-bottom: 1px #ccc solid;
}

.cs-cms .dijitTabInnerDiv .dijitTabContent {
	padding:5px 3px 4px 4px;
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -350px;
	position: relative;
}

.dijitTabSpacer {
	font-size: 1px;
}

/* hovered tab */
.cs-cms .dijitTabHover,
.cs-cms .dijitTabCloseButtonHover {
	color: #243C5F;
	background: url("../images/tabContainerSprite.gif") no-repeat 0px -150px;
}

.cs-cms .dijitTabHover .dijitTabInnerDiv,
.cs-cms .dijitTabCloseButtonHover .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -250px;
}

.cs-cms .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.cs-cms .dijitTabCloseButtonHover .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -200px;
}

/* checked tab*/
.cs-cms .dijitTabChecked,
.cs-cms .dijitTabCloseButtonChecked
{
	/* the selected tab (with or without hover) */
	background: url("../images/tabContainerSprite.gif") no-repeat 0px -0px;
}

.cs-cms .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -100px;
}

.cs-cms .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -50px;
	color: #243C5F !important;
}

.cs-cms .dijitTab .dijitClosable .closeNode {
	/* Inline-block */
	display:-moz-inline-box;		/* FF2 */
	display:inline-block;			/* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; /* don't use .dj_ie since that increases the priority */
	vertical-align:top;
	width: 1.25em;
	height: 1.25em;
	padding: 0;
	margin: 0;

}
.cs-cms .dijitTab .dijitClosable .closeImage {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px top;
	width: 15px;
	height: 15px;
}

.dj_ie6 .dijitTab .dijitClosable .closeImage {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px top;
}

.cs-cms .dijitTabCloseButton .dijitClosable .closeImage {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px top;
}
.dj_ie6 .cs-cms .dijitTabCloseButton .dijitClosable .closeImage {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px top;
}

.cs-cms .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px top;
}
.dj_ie6 .cs-cms .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px top;
}

.cs-cms .dijitTab .dijitTabButtonSpacer {
	height: 15px;
	width: 1px;
}

/* ================================ */
/* top tabs */
.cs-cms .dijitTabContainerTop-tabs {
	margin-bottom: -1px;
	border-color: #ccc;
	padding-left: 3px;
}

/* top container */
.cs-cms .dijitTabContainerTop-container {
	border-top: none;
}

/* checked tabs */
.cs-cms .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #f8f8f8;
}

/* strip */
.cs-cms .dijitTabContainerTopStrip {
	border: 1px solid #ccc;
	padding-top: 2px;
	padding-left: 3px;
}

.cs-cms .dijitTabContainerTopStrip {
	background: #f2f2f2;
}

/* ================================ */
/* bottom tabs */
.cs-cms .dijitTabContainerBottom-tabs {
	margin-top: -1px;
	border-color: #ccc;
	padding-left: 3px;
}

/* bottom container */
.cs-cms .dijitTabContainerBottom-container {
	border-bottom: none;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTab {
	border-bottom: none;
	border-top: 1px solid #ccc;
	background: url("../images/tabBottomEnabledSpriteLR.gif") no-repeat bottom left;
}

/* checked tabs */
.cs-cms .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color:#f8f8f8;
}


.cs-cms .dijitTabContainerBottom-tabs .dijitTabInnerDiv .dijitTabContent {
	padding-top: 4px;
	padding-bottom: 5px;
	background: url("../images/tabBottomEnabledC.gif") repeat-x bottom left;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
	background: url("../images/tabBottomEnabledSpriteLR.gif") no-repeat bottom right;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabHover,
.cs-cms .dijitTabContainerBottom-tabs .dijitTabCloseButtonHover {
	color: #243C5F;
	background: url("../images/tabBottomHoverSpriteLR.gif") no-repeat bottom left;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv,
.cs-cms .dijitTabContainerBottom-tabs .dijitTabCloseButtonHover .dijitTabInnerDiv {
	background: url("../images/tabBottomHoverSpriteLR.gif") no-repeat bottom right;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.cs-cms .dijitTabContainerBottom-tabs .dijitTabCloseButtonHover .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabBottomHoverC.gif") repeat-x bottom left;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabChecked,
.cs-cms .dijitTabContainerBottom-tabs .dijitTabCloseButtonChecked
{
	/* the selected tab (with or without hover) */
	background: url("../images/tabBottomActiveSpriteLR.gif") no-repeat bottom left;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/tabBottomActiveSpriteLR.gif") no-repeat bottom right;
}

.cs-cms .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabBottomActiveC.gif") repeat-x bottom left;
}

/* strip */
.cs-cms .dijitTabContainerBottomStrip {
	padding-bottom: 2px;
	padding-left: 3px;	
	border: 1px solid #ccc;
}

.cs-cms .dijitTabContainerBottomStrip {
	background: #f2f2f2;
}

/* top/bottom strip */
.cs-cms .dijitTabContainerBottom-spacer,
.cs-cms .dijitTabContainerTop-spacer {
	height: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}


/* ================================ */
/* right tabs */
.cs-cms .dijitTabContainerRight-tabs {
	margin-left: -1px;
	border-color: #ccc;
	padding-top: 3px;
}

/* right container */
.cs-cms .dijitTabContainerRight-container {
	border-right: none;
}

.cs-cms .dijitTabContainerRight-tabs .dijitTab {
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #dedede !important;
}


/* some odd ie bug when borders dissapear when setting a bottom margin, this sortof helps */
.dj_ie .cs-cms .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #fff 1px;
}

/* checked tabs */
.cs-cms .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color: #f8f8f8;
}

.cs-cms .dijitTabContainerRight-tabs .dijitTabChecked {
	background: url("../images/tabRightChecked.gif") no-repeat left top !important;
}

/* some odd ie bug when borders dissapear when setting a bottom margin, this sortof helps */
.dj_ie .cs-cms .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .cs-cms .dijitTabContainerRight-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}

.cs-cms .dijitTabContainerRight-tabs .dijitTab {
	background: url("../images/tabContainerSprite.gif") no-repeat left -350px;
}
.cs-cms .dijitTabContainerRight-tabs .dijitTabHover .dijitTab {
	background: url("../images/tabContainerSprite.gif") no-repeat left -200px;
}

/* strip */
.cs-cms .dijitTabContainerRightStrip {
	padding-right: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}

.cs-cms .dijitTabContainerRightStrip {
	background: #f2f2f2;
}

/* ================================ */
/* left tabs */
.cs-cms .dijitTabContainerLeft-tabs {
	margin-right: -1px;
	border-color: #ccc;
	padding-top: 3px;
}

/* left conatiner */
.cs-cms .dijitTabContainerLeft-container {
	border-left: none;
}

.cs-cms .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #dedede;
}

/* checked tabs */
.cs-cms .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right: 1px solid #f8f8f8;
}

.cs-cms .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -350px;
}
.cs-cms .dijitTabContainerLeft-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -200px;
}
.cs-cms .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.cs-cms .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	background: url("../images/tabLeftChecked.gif") no-repeat right top;
}

.dj_ie .cs-cms .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .cs-cms .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}

.dj_ie .cs-cms .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
border-bottom: solid #fff 1px;
}

/* strip */
.cs-cms .dijitTabContainerLeftStrip {
	padding-left: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}

.cs-cms .dijitTabContainerLeftStrip {
	background: #f2f2f2;
}

/* ================================ */
/* left/right tabs */
.cs-cms .dijitTabContainerLeft-tabs .dijitTab,
.cs-cms .dijitTabContainerRight-tabs .dijitTab {
	margin-right:auto;
	margin-bottom:2px;	/* space between one tab and the next in left/right mode */
}

/* left/right tabstrip */
.cs-cms .dijitTabContainerLeft-spacer,
.cs-cms .dijitTabContainerRight-spacer {
	width: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}


/* ================================ */

/* this resets the tabcontainer stripe when within a contentpane */
.cs-cms .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	padding-top: 0px;
	padding-left: 0px;	
}
