﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Masterpage._HeaderDropdownsModel
@if (!string.IsNullOrWhiteSpace(Model.UserManualLink))
{
    <a href="@Model.UserManualLink" target="_blank" class="cms-header-dropdown cms-header-user-manual">
        <span class="button-icon"></span>
        <span>CMS User Manual</span>
    </a>
}
@Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderLanguageSelection())
@if (Model.IsCmsUserLoggedIn)
{
    @Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderUserMenu())
}
