﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Masterpage._HeaderDropdownModel
<div class="cms-header-dropdown-container">
    <div class="cms-header-dropdown cms-header-dropdown-language">
        @Model.SelectedContent(null)

        <div class="cms-header-dropdown-arrow">
        </div>
    </div>
    <ul class="cms-header-dropdown-values">
        @foreach (var item in Model.ItemsContent)
        {
            <li>
                @item(null)

            </li>
        }

    </ul>
</div>
