﻿@using BusinessLogic_CS_v6.EnumsBL
@using CS.General_CS_v6
@using CmsGeneral_CS_v6.EnumsCms
@using CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Masterpage
@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Masterpage._HeaderUserMenuModel
@{

    var sectionLogout = SectionEnums.CmsSection.Cms_Home_Logout.GetSection();


    var dropdownModel = new _HeaderDropdownModel();
    dropdownModel.ItemsContent = new List<Func<dynamic, IHtmlString>>();

    dropdownModel.ItemsContent.Add(@<text>
        <a href="@sectionLogout.GetUrl()" class="cms-menu-logout">
            <span class="button-icon"></span>
            <span>Logout</span>
        </a>
    </text>);


    dropdownModel.SelectedContent = @<text>
        @Html.InlineEditingContentText(Enums.HtmlTagName.Span, CmsEnums.CmsContentText.User_Welcome, null, Model.LoggedCmsUser.DataObject)
    </text>;


}


@Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderDropdown(dropdownModel))
