﻿@using BusinessLogic_CS_v6.Presentation.Models._Shared.Data.Culture
@using CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Masterpage
@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Masterpage._HeaderLanguageSelectionModel
@helper generateFlag(CulturePresentation culture) {
        <span class="cms-header-dropdown-value-language-flag">
            <img src="@Model.GetCultureFlagPath(culture)" alt="@culture.Culture.Title">
        </span>
        <span class="cms-header-dropdown-value-language-text">@culture.Culture.Title
        </span>
}
@{
    var dropdownModel = new _HeaderDropdownModel();
    dropdownModel.ItemsContent = new List<Func<dynamic, IHtmlString>>();
    foreach (var culture in Model.AvailableCultures)
    {
        dropdownModel.ItemsContent.Add(@<text>
    <a href="@Model.GetCultureUrl(culture)">
        @generateFlag(culture)
    </a>

    </text>);
    } 
    if (Model.SelectedCulture != null)
    {
        dropdownModel.SelectedContent = @<text>
                                             @generateFlag(Model.SelectedCulture)
                                         </text>;
    }

}

<div class="header-language-selection-container">
@Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderDropdown(dropdownModel))
    </div>