﻿@model CmsGeneral_CS_v5.Presentation.Models.CmsFields.FieldsManageFieldMetaDataModel
@using BusinessLogic_CS_v5.EnumsBL
@{
    Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;

}
<div class="manage-field-meta-data-container">
    @if (Model.HasAccess)
    {
        if (!Model.CloseWindow)
        {
            <div class="manage-field-meta-data-content">
                @if (Model.EditingMultipleFields)
                {
                    <div class="manage-field-meta-data-multiple-note html-container">
                        <p>You are currently editing the following set of fields simultaneously:</p>
                        <ul>
                            @foreach (var fieldName in Model.MultipleFieldNames)
                            {
                                <li>@fieldName</li>
                            }
                        </ul>
                        <p>
                            The data shown below is of the first field (@Model.MultipleFieldNames[0]) and the
                            data within the field access list is the combination
                            of all fields together.  Deleting / Adding access will be
                            updated for all fields accordingly.
                        </p>
                    </div>
                }
                else
                {

                    <h1>@Model.SingleFieldMetaDataName</h1>
                }
            </div>


            <form method="POST">

                @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(Model.FieldMetaDataModel))

                @using (Html.BeginFormFields())
                {
                    @Html.FormFieldSubmitButton(ContentTextIdentifierEnums.GenericContentTextIdentifier.General_Submit)
                }
            </form>
        }
        else
        {
            <script>
                function closeWindowDialog() {
                    window.top.CmsGeneralJS_CS_v5.UnobtrusiveDialogController.closeCurrentOpenedDialog();
                }
                closeWindowDialog();

            </script>
        }
    }
    else
    {
        <p class="note error">You do not have access to manage such data.</p>
    }
</div>
