﻿@model  BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Cms._CmsBarModel
<div class="cms-menu-bar">
     @if (Model == null)
     {
         throw new InvalidOperationException("Model cannot be null");
     }
    @if (Model.EditInCmsUrl != null)
    {
        <a target="_blank" href="@Model.EditInCmsUrl" title="Edit In CMS">Edit In CMS</a>
    }
    @if (Model.CanInlineEdit)
    {
        @Html.RenderScriptTagIfNotAlreadyPresent(CS.General_CS_v6.Constants.FileIncludes.CkEditor_ScriptIncludeUrl, "CKEDITOR")
        @Html.RenderScriptTagIfNotAlreadyPresent("/_common_CS_v6/static/js/_scriptsharp/CmsGeneralJS_CS_v6.js", "CmsGeneralJS_CS_v6")
        <script>
            $(function () {
                new CmsGeneralJS_CS_v6.InlineEditingController(@Model.InlineEditingControllerParametersJson);
            })
        </script>
    }
</div>