﻿@model BusinessLogic_CS_v5.Presentation.Models.Sitemap.SitemapIndexModel
    
<div class="sitemap-main-container">

    <div class="sitemap-content">

        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPage); }

    </div>

</div>