﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.QuickLinks._QuickLinksControlModel
<div class="quick-links-control-container">
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H3, Model.Title)
    <nav class="quick-links-content">

        @foreach (var columnLinks in Model.LinkColumns)
        {
            <ul>
                @foreach (var link in columnLinks)
                {
                    <li>
                        @Html.CsAnchor(link.Title, link.Url)
                    </li>
                }
            </ul>

        }
    </nav>
</div>