﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.BusinessItems._BusinessListingItemModel

<div class="business-listing-item-main-container">
        
    <div class="business-listing-item-content">
              
        <div class="business-listing-item-left-content">
                  
            <div class="business-listing-item-image">
                
                <a href="@Model.BusinessItem.FullProfileLinkUrl">
                
                    <img src="@Model.BusinessItem.MainImageUrl" title="@Model.BusinessItem.Title" alt="@Model.BusinessItem.Title" />       

                </a>

            </div>
         
        </div>
        
        <div class="business-listing-item-right-content">
            
            <div class="business-listing-item-right-top-content">
                
                <div class="business-listing-item-title">

                    <h2>
                        
                        @Html.CsAnchor(Model.BusinessItem.Title, Model.BusinessItem.FullProfileLinkUrl)

                    </h2>    

                </div> 
                
                <div class="business-listing-item-category">
                     
                    @Html.CsAnchor(Model.BusinessItem.CategoryLinkTitle, Model.BusinessItem.CategoryLinkUrl)
  
                </div> 

            </div>
            
            <div class="business-listing-item-right-bottom-content">
                                
                @if (Model.ContactDetailsOutputtedAsOneLineControlModel.ContactDetails != null && Model.ContactDetailsOutputtedAsOneLineControlModel.ContactDetails.Any())
                {   
                    <div class="business-listing-item-contact-details">
                                   
                        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Contact._ContactDetailsOutputtedAsOneLineControl, Model.ContactDetailsOutputtedAsOneLineControlModel); }

                    </div>
                }
                              
                @if (!String.IsNullOrWhiteSpace(Model.BusinessItem.ProfileSummary))
                {          
                    <p class="business-listing-item-profile t8-lines">@Model.BusinessItem.ProfileSummary</p>
                }

                <div class="business-listing-item-full-profile-link">
                    
                    @Html.CsAnchor(Model.BusinessItem.FullProfileLinkTitleContentText, Model.BusinessItem.FullProfileLinkUrl)

                </div> 
                
            </div>

        </div>
        
    </div>

</div>
    
@{    
    CommonViewContextData commonViewContextData = (CommonViewContextData) ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];
    
    commonViewContextData.ScriptBlocks.ScriptBlocks["BusinessListingItemTrunk8ScriptBlock"] = new CommonViewContextScriptBlockData(){
            
        ScriptBlockContent = @<text>
                                  
                                  <script>
                                         
                                      function initTrunk8() {

                                          $('.t8-lines').trunk8({
                                              lines: 3
                                          });
                                      }

                                      $(function () {

                                          initTrunk8();
                                      });

                                      var trunk8Handler = -1;
                                      $(window).resize(function (event) {
                                          clearTimeout(trunk8Handler);
                                          trunk8Handler = setTimeout(initTrunk8, 500);
                                      });

                                  </script>

                              </text>
    };

    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.Trunk8] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.Trunk8_ScriptIncludeUrl,
        ScriptFileMinified = CS.General_CS_v5.Constants.FileIncludes.Trunk8_ScriptIncludeUrlMinified
    };
}