﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.BusinessItems._BusinessFullPageModel

<div class="business-full-page-main-container">
        
    <div class="business-full-page-content">
                
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.BusinessItems._BusinessItemProfile, Model.BusinessItemProfileModel); }
            
        @if (Model.GalleryControlModel.GalleryItems != null && Model.GalleryControlModel.GalleryItems.Any())
        {   
            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Gallery._GalleryControl, Model.GalleryControlModel);
        }
                   
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Contact._ContactGenericEnquiryForm, Model.ContactGenericEnquiryFormModel); }
        
    </div>

</div>