﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.BusinessItems._BusinessItemProfileModel

<div class="business-item-profile-main-container">

    <div class="business-item-profile-content">

        <div class="business-item-profile-title-and-category-container">

            <div class="business-item-profile-title-container">

                @Html.InlineEditingForFieldModel(CS.General_CS_v5.Enums.HtmlTagName.H1, Model.BusinessItemData.Title, Model.BusinessItemData.Title.Value, cssClass: "business-item-profile-title")

            </div>

            <div class="business-item-profile-category-container">

                @Html.CsAnchor(Model.BusinessItemData.LinkedCategoryTitle, Model.BusinessItemData.LinkedCategoryUrl, cssClass: "business-item-profile-category")

            </div>

        </div>

        <div class="business-item-profile-description-and-image-container">
                
            <img class="business-item-profile-image" src="@Model.MainImageUrl" title="@Model.BusinessItemData.Title.Value" alt="@Model.BusinessItemData.Title.Value" />

            @Html.InlineEditingForFieldModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.BusinessItemData.Profile, Model.BusinessItemData.Profile.Value, cssClass: "business-item-profile-description")

        </div>
            
        <div class="business-item-profile-add-this-container">

            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.SocialNetworking.AddThis._AddThis, Model.AddThisModel); }

        </div>

    </div>

</div>
