﻿@model BusinessLogic_CS_v5.Presentation.Models.Error.ErrorGenericModel

<div class="generic-error-main-container">
    
    <div class="generic-error-content">
            
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPageModel); }
            
    </div>

</div> 