﻿@model BusinessLogic_CS_v5.Presentation.Models.Error.ErrorPageNotFoundModel
    
<div class="page-not-found-error-main-container">
    
    <div class="page-not-found-error-content">
            
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPageModel ); }
            
    </div>

</div>