﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookLikeButtonHTML5.ascx.cs"
    Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.SocialNetworking.Facebook.FacebookLikeButtonHTML5" %>
<div id="fb-root">
</div>
<div class="fb-like" runat="server" id="divFacebookLike"></div>
