﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookActivityFeedHTML5.ascx.cs"
    Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.SocialNetworking.Facebook.FacebookActivityFeedHTML5" %>
<div class="fb-activity" id="divActivityFeed" runat="server"></div>