﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Search._SearchFieldControlModel
    
<div class="search-field-control-main-container">
    
    <div class="search-field-control-content">
        
        <div class="search-field-control-form">
                
            <form method="POST" action="@Model.FormActionUrl">

                @Html.CsTextBox(Model.KeywordsTextField)
                
                <div class="search-button-container">
                    
                    @Html.CsSubmitButton(Model.SearchFieldControlSubmitButton)
                    
                </div>

            </form>

        </div>
                        
        @if (!Model.SearchFieldControlExtraParameters.DoNotShowSearchFieldControlAdvancedSearchLinkAndDescription)
        {   
            <div class="search-field-control-bottom-end">
            
                @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.SearchFieldControlDescriptionContentText, cssClass: "search-field-control-description")
                    
                <div class="search-field-control-advanced-search-link-container">
                     
                    @Html.CsAnchorForSection(Model.AdvancedSearchSection, Model.SearchFieldControlAdvancedSearchLinkTitleContentText, cssClass: "search-field-control-advanced-search-link")

                </div>

            </div>
        }

    </div>
    
</div>