﻿
@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldItemModel

@if (Model.ShowRangeFields())
{

    var formFieldParamsFrom = Model.GetFormfieldsParametersWithRangeFrom();
    var formFieldParamsTo = Model.GetFormfieldsParametersWithRangeTo();
     

    @Html.FormFieldGenericControl(@<text>
                                       <div class="search-field-items-container clearfix">
                                           <div class="search-field-item-from">
                                               @Html.CsLabel(formFieldParamsFrom.Name, new CsLabelExtensions.LabelParameters() { CustomLabelText = "From" })
                                               @Html.CsFieldFromDataTypeFor(x => x.DataValue, Model.DataType, commonParameters: Model.GetInputFieldParameters(Html, formFieldParamsFrom, x => x.DataValue))
                                           </div>
                                       
                                           <div class="search-field-item-to">

                                               @Html.CsLabel(formFieldParamsFrom.Name, new CsLabelExtensions.LabelParameters() { CustomLabelText = "To" })

                                               @Html.CsFieldFromDataTypeFor(x => x.DataValueTo, Model.DataType, commonParameters: Model.GetInputFieldParameters(Html, formFieldParamsTo, x => x.DataValueTo))
                                           </div>
                                       </div>
                                   </text>, null, formFieldParamsFrom)
}
else if (Model.IsSearchableAndBoolean()) 
{
    @Html.FormFieldDropdownListFor(
        x => x.DataValue, Model.GetSearchableBooleanListItems(),
        parameters: Model.GetFormfieldsParameters())
}
else  
{
    @Html.FormFieldFromGenericDataTypeFor(
        x => x.DataValue,
        Model.DataType,
        label: Model.GetLabel(),
        parameters: Model.GetFormfieldsParameters())
}