﻿@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldReferencedListItemModel
@using BusinessLogic_CS_v5.Presentation.Code.ContextData.Old

@Html.FormFieldBlockRow(@<text>
<div class="referenced-list-item-container" id="@(Model.GetCoreContainerJsId())">
    <h3>@Model.GetLabel()</h3>
    @Html.Action(MvcCmsGeneral.PartialViewsCmsDataGrid._CmsDataGrid(Model.GetDataGridModel()))
    @if (Model.ReferencedListSpecificMetaData.CanAddItem)
    {
        <div class="referenced-list-item-add-container">
            <h4 class="referenced-list-item-add-title">Add Item
            </h4>
            <table>
                @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ReferenceLinkItemControl(Model.GetAddReferenceLinkItemModel()))
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="button referenced-list-item-add-button" type="button">Add Item</button></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>
</text>, colSpan: CS.MvcCmsGeneral_CS_v5.Code.Constants.ObjectFieldsColSpan) 