﻿@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldsModel

<div class="object-fields-list">
    @using (Html.BeginFormFields())
    {
        for (int i = 0; i < Model.Fields.Count; i++)
        {
            @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFieldBaseItem(Model.Fields[i]))
            @*
            
            if (!(Model.Fields[i] is CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldChildFieldsItemModel))
            {
                @Model.Fields[i].OutputCmsFormField(Html, x => x.Fields[i].DataValue)
            }
            else
            {
                //Child fields list
                var childFields = (CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldChildFieldsItemModel)Model.Fields[i];
                @Html.FormFieldBlockRow(@<text>
                                                <h3>@Model.Fields[i].Field.DataObject.FieldData.Title</h3>
                                                @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(childFields.ChildFields))
                                         </text>)
                 
            }*@
        }
      
    }
</div>
 