﻿@using CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms
@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldMediaItemCollectionModel

@Html.FormFieldBlockRow(@<text>
<div class="cms-media-item-collection-container">
    <h3>@Model.GetLabel()</h3>
    @Html.Action(MVCGeneral.PartialViewsMediaItems._MediaItemsAjaxGallery(Model.GetMediaItemsAjaxGalleryModel()))
</div>
</text>, colSpan: CS.MvcCmsGeneral_CS_v5.Code.Constants.ObjectFieldsColSpan)  