﻿@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsForms._ObjectFieldSubCollectionListItemModel

@Html.FormFieldBlockRow(@<text>
<div class="subcollection-list-item-container" id="@(Model.GetCoreContainerJsId())">
    <h3>@Model.GetLabel()</h3>
    @Html.Action(MvcCmsGeneral.PartialViewsCmsDataGrid._CmsDataGrid(Model.GetDataGridModel()))
        <div class="subcollection-list-item-add-container">
            
                        <a href="@Model.GetAddItemUrl()" class="button" target="_blank">Add @Model.GetLabel()</a>

                    
        </div>
</div>
</text>, colSpan: CS.MvcCmsGeneral_CS_v5.Code.Constants.ObjectFieldsColSpan) 