﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookActivityFeed.ascx.cs"
    Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.SocialNetworking.Facebook.FacebookActivityFeed" %>
<iframe id="iFrameLikeButton" runat="server" src="//www.facebook.com/plugins/activity.php?site&amp;width=300&amp;height=300&amp;header=true&amp;colorscheme=light&amp;linktarget=_blank&amp;border_color&amp;font&amp;recommendations=false&amp;appId=151798331580203"
    scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 300px;
    height: 300px;" allowtransparency="true"></iframe>
