﻿@using CS.General_CS_v6
@using CS.MvcGeneral_CS_v6.Code.Html
@using Recaptcha.Web.Mvc;
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Forms._FormFieldModelsModel
<div class="form-field-models-container @Model.CssClass">
            
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.P, Model.MandatoryFieldsNoteContentText, cssClass: "alert alert-info")
            
    @if (!Model.DoNotOutputFormTag)
    {
        if (!Model.DoNotValidateFormWithParsley)
        {
            @Html.CsBeginFormWithParsleyValidation(Model.Action, Model.Method, cssClass:Model.FormCssClass, parsleyExcludedFormFields:Model.ParsleyExcludedFormFields)
        }
        else
        {
            @Html.CsBeginForm(Model.Action, Model.Method, cssClass:Model.FormCssClass)
        }
    }
    
    <fieldset>
        @if (Model.FormTitle != null) 
        {
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Legend, Model.FormTitle)
        }
        @foreach (var field in Model.Fields)
        {
            @Html.CsFormFieldBaseFieldModel(field)
        }  
        
        @if (Model.SpamPrevention != null)
        {
            if (Model.SpamPrevention.UseHoneypotTechnique)
            {
                <input class="mohbija" type="text" name="@CS.General_CS_v6.Constants.GeneralConstants.FieldHoneyPotId" size="25" value="" />
            }
            else
            {
                <div class="form-field-models-captcha-container">

                    @Html.Recaptcha(theme: Model.SpamPrevention.Recaptcha.Theme)

                </div>
            }
        }
            
        <div class="form-field-models-buttons-container">
                 
            <div class="form-field-models-buttons">
                  
                @if (Model.SubmitButtonModel != null)
                {   
                    <div class="form-field-models-main-button">

                        @Html.CsFormFieldSubmitButton(Model.SubmitButtonModel)

                    </div>
                }
                
                @if (Model.OtherSubmitButtonModels != null && Model.OtherSubmitButtonModels.Count > 0)
                {
                    <div class="form-field-models-buttons-other">
                        @foreach (var btn in Model.OtherSubmitButtonModels)
                        {
                            @Html.CsFormFieldSubmitButton(btn)
                        }
                    </div>
                }

                @if (Model.OptionalAnchorModels != null && Model.OptionalAnchorModels.Any())
                {
                    <div class="form-field-models-optional-link-buttons">

                        @foreach (var optionalAnchor in Model.OptionalAnchorModels)
                        {
                            @Html.CsAnchorFromModel(optionalAnchor)
                        }

                    </div>
                }
                
            </div>

        </div>

    </fieldset>
    
    @if (!Model.DoNotOutputFormTag)
    {
        @Html.CsEndForm()
    }

</div>