﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_ComponentsGeneric/Frontend/CMS/cms.master" AutoEventWireup="true" CodeBehind="import.aspx.cs" 
Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.CMS.Products.import" %>

<%@ Register TagPrefix="CMS" TagName="DataImport" Src="/_Components/DataImport.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">




    <uc1:dataImport ID="dataImport" runat="server" />




</asp:Content>
