﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_ComponentsGeneric/CMS/Pages/cms.master" AutoEventWireup="true" CodeBehind="import.aspx.cs" 
Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.Pages.Products.import" %>
<%@ Register src="~/_ComponentsGeneric/CMS/UserControls/DataImport/dataImport.ascx" tagname="dataImport" tagprefix="uc1" %>
<%@ Register src="../../UserControls/DataImport/dataImporter.ascx" tagname="dataImporter" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">




  




    <uc2:dataImporter ID="dataImporter" runat="server" />




  




</asp:Content>
