﻿@using BusinessLogic_CS_v6.Presentation.JavaScript.jQuery.Plugins.CarouFredSel
@using BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelOldModel

@*
   Must include "/_common_CS_v6/static/js/jQuery/plugins/caroufredsel/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js"
*@

@{
    string tagName = null;
    string itemTagName = null;
    switch (Model.DisplayType)
    {
        case CarouFredSelDisplayType.UnorderedList:
            tagName = "ul";
            itemTagName = "li";
            break;
        case CarouFredSelDisplayType.OrderedList:
            tagName = "ol";
            itemTagName = "li";
            break;
        default:
            tagName = "div";
            itemTagName = "div";
            break;
    }
}
<div class="cs-caroufredsel-core-container @Model.CssClass"  id='@(Model.CarouselId)_container'>
    <@tagName class='cs-caroufredsel-container' id='@Model.CarouselId'>
    @foreach (var item in Model.Items)
    {
        @Html.Raw("<" + itemTagName + " class='cs-caroufred-sel-item " + item.CssClass + "'>")
            <text>@item.Content(null)</text>
        @Html.Raw("</" + itemTagName + ">")

    }

    </@tagName>
    @if (!Model.DoNotShowPagination)
    {
        Model.Options.pagination = Model.Options.pagination ?? new CarouFredSelV1PaginationOptions();
        Model.Options.pagination.container = !String.IsNullOrWhiteSpace(Model.Options.pagination.container) ? Model.Options.pagination.container  : "#" + Model.CarouselId + "_container .cs-caroufredsel-pagination-container";
        <div class="cs-caroufredsel-pagination-container">
            <div class="cs-caroufredsel-pages-container">
            </div>
        </div>
    }
    @if (!Model.DoNotShowPrevNextButtons)
    {
        Model.Options.prev = Model.Options.prev ?? new CarouFredSelPrevNextOptions();
        Model.Options.prev.button = "#" + Model.CarouselId + "_container .cs-caroufredsel-arrow-prev-container a";
        Model.Options.next = Model.Options.next ?? new CarouFredSelPrevNextOptions();
        Model.Options.next.button = "#" + Model.CarouselId + "_container .cs-caroufredsel-arrow-next-container a";

        <div class="cs-caroufredsel-arrows-container">
            <div class="cs-caroufredsel-arrow-container cs-caroufredsel-arrow-prev-container">
                <a href="#">&lsaquo;</a>
            </div>
            <div class="cs-caroufredsel-arrow-container cs-caroufredsel-arrow-next-container">
                <a href="#">&rsaquo;</a>
            </div>
        </div>
    }
</div>
<script>
    @if (Model.DeferExecutionToOnLoad)
    {
        <text>
    $(function () {
            </text>
    }
            $('#@Model.CarouselId').caroufredsel(@Html.Raw(CS.General_CS_v6.Util.JsonUtil.Serialize(Model.Options)));
            @if (Model.DeferExecutionToOnLoad)
    {
        <text>
        });
    </text>
    }

</script>