﻿@using BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel
@model _CarouFredSelMediaGalleryOldModel

@{
    //Convert media items to carousel items
    List<_CarouFredSelItemOldModel> carouselItems = new List<_CarouFredSelItemOldModel>();
    if (Model.MediaItems != null)
    {
        foreach (var mediaItem in Model.MediaItems)
        {
            var mediaItemCaption = Model.GetMediaItemCaption(mediaItem);
            
            carouselItems.Add(new _CarouFredSelItemOldModel()
            {
                CssClass = "cs-carousel-media-item",
                Content = @<text>
    <figure>
        @if (!String.IsNullOrWhiteSpace(mediaItem.YouTubeUrl))
        {
            <iframe allowfullscreen="" frameborder="0" src="@CS.General_CS_v6.Util.YoutubeUtil.GetYoutubeVideoUrlForEmbed(mediaItem.YouTubeUrl)" title="@mediaItemCaption"></iframe>
        }
        else
        {
            if (!String.IsNullOrWhiteSpace(mediaItem.Href) && mediaItem.HrefTarget.HasValue)
            {
            <a href="@mediaItem.Href" target="@mediaItem.HrefTarget.Value.StringValueOf()">
                <img src="@mediaItem.NormalImage" alt="@mediaItemCaption" />
            </a>
            }
            else
            {

                string largeImageHref = Model.DoNotUsePrettyPhoto ? mediaItem.Href : mediaItem.LargeItemUrl;
           
            <a href="@largeImageHref" @Html.AddAttribute("rel", "prettyPhoto[cp-gallery]", !Model.DoNotUsePrettyPhoto)>
                <img src="@mediaItem.NormalImage" alt="@mediaItemCaption" />
            </a>
            }
        }
        
        @if (!string.IsNullOrWhiteSpace(mediaItem.Caption) || !string.IsNullOrWhiteSpace(mediaItem.SubCaption))
        {
            <figcaption @Html.AddAttribute("class", "cs-carousel-media-item-caption-including-subtitle", !String.IsNullOrEmpty(mediaItem.SubCaption))>
                
                @if (!string.IsNullOrWhiteSpace(mediaItem.Caption))
                {
                    <span class="cs-carousel-media-item-caption-text">@mediaItem.Caption</span>
                }
                
                @if (!string.IsNullOrWhiteSpace(mediaItem.SubCaption))
                {
                    <span class="cs-carousel-media-item-sub-caption-text">@mediaItem.SubCaption</span>
                }

            </figcaption>
        }
    </figure>
    </text>
            });
        }
    }

}

@Html.Action(MVCGeneral.PartialViewsCarouFredSel._CarouFredSel(new _CarouFredSelOldModel()
{
    Items = carouselItems,
    CssClass = "cs-carousel-media-gallery",
    CarouselId = Model.CarouselId,
    DisplayType = Model.DisplayType,
    DoNotShowPagination = Model.DoNotShowPagination,
    DoNotShowPrevNextButtons = Model.DoNotShowPrevNextButtons,
    Options = Model.Options
}))
@if (!Model.DoNotUsePrettyPhoto)
{
    <script>

        $(function() {
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });
    </script>
}