﻿/** PAGING BAR */
table.cs-paging-bar 
{
	border:1px solid #07568A;
	width:100%;
	margin-bottom:1px;
}
table.cs-paging-bar td
{
	background-image:url(/_common/images/cms/v4-1/back_listing_header_blue.jpg);
	background-repeat:repeat-x;
	height:30px;
	
	
}
table.cs-paging-bar 
{
	color:White;
}
table.cs-paging-bar td.cs-paging-bar-showing
{
	padding-left:10px;
}
table.cs-paging-bar td.cs-paging-bar-pages 
{
	cursor:default;
	color:#78C5F9;
	text-align:right;
}
table.cs-paging-bar td.cs-paging-bar-pages a 
{
	text-decoration:none;
	color:White;
	padding:5px;
	cursor:pointer;
}
table.cs-paging-bar td.cs-paging-bar-pages a:hover
{
	background-color:#3DAAF1;
}
table.cs-paging-bar td.cs-paging-bar-pages a.cs-paging-bar-selected,
table.cs-paging-bar td.cs-paging-bar-pages a.cs-paging-bar-selected:hover
{
	color:#333333;
	font-weight:bold;
	background-color:White;
	cursor:default;
	border:1px solid #333333;
}

table.cs-paging-bar .cs-paging-bar-disabled 
{
	color:#78C5F9;
}
table.cs-paging-bar td.cs-paging-bar-combobox 
{
	width:80px;
	text-align:right;
	padding-right:10px;
}
table.cs-paging-bar td.cs-paging-bar-combobox select 
{
	width:auto;
}
/** END PAGING BAR */


/* FORM FIELDS */
td.numeric input 
{
	width:50px;
}
/* END FORM FIELDS */




/* IMAGE GALLERY */

table.cs-image-gallery 
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
table.cs-image-gallery td.thumb,
table.cs-image-gallery td.empty
{
	border:1px solid #D4D4D4;
	background-color:#E8E8E8;
	padding:10px;
}
table.cs-image-gallery td.empty 
{
	background-color:#F2F2F2;
	border:none;
}
table.cs-image-gallery td.thumb table 
{
	
	margin-left:auto;
	margin-right:auto;
}
table.cs-image-gallery td.thumb table td.image /* ACTUAL THUMBANIL TD */
{
	padding:5px;
	width:120px;
	height:80px;
}
table.cs-image-gallery td.thumb table td.image img /* ACTUAL THUMBANIL TD */
{
	max-width:120px;
	max-height:90px;
	border:1px solid #333333;
}
table.cs-image-gallery td.thumb table td.caption
{
	padding-bottom:5px;
}
table.cs-image-gallery td.thumb table td.checkbox,
table.cs-image-gallery td.thumb table td.buttons
{
	background-color:#DDDDDD;
	
}

table.cs-image-gallery td.thumb table td.buttons 
{
	padding:3px;
}
table.cs-image-gallery td.thumb table td.buttons img 
{
	cursor:pointer;
	margin-right:5px;
	margin-top:3px;
}
table.cs-image-gallery td.thumb table td.checkbox 
{
	padding:3px;
}

table.cs-image-gallery td.main-image 
{
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	padding:10px;
	
	
}
table.cs-image-gallery td.main-image img
{
	max-width:100%;
	border:1px solid #333333;	
}
table.cs-image-gallery td.main-image-caption 
{
	background-color:#D4EDFF;
	border:1px solid #7AC9FE;
	padding:5px;
}
table.cs-image-gallery td.general-buttons
{
	background-color:#EAFBB6;
	border:1px solid #C2D38C;	
}
table.cs-image-gallery td.general-buttons table 
{
	margin-left:auto;
	margin-right:auto;
}
table.cs-image-gallery td.general-buttons a
{
	color:#597504;
}

table.center 
{
	margin-left:auto;
	margin-right:auto;
}


table.media-upload 
{
	border:1px solid #CCCCCC;
	margin-left:auto;
	margin-right:auto;
}
table.media-upload td 
{
	padding:5px;
}
table.media-upload tr.row_0 td 
{
	background-color:#EAEAEA;
}
table.media-upload tr.row_1 td 
{
	background-color:#DDDDDD;
}
table.media-upload label 
{
	width:auto;
}
table.media-upload td.caption input
{
	width:200px;
}
table.media-upload td.fileupload input
{
	width:200px;
}
table.media-upload td.amount-upload
{	
	background-color:#EAFBB6;
	border-bottom:1px solid #C2D38C;
}
table.media-upload td.amount-upload table 
{
	margin-left:auto;
	margin-right:auto;
}
table.media-upload td.buttons 
{
	background-color:#AAAAAA;
	text-align:center;
}
img.imgExpand
{
    cursor:pointer;
}