﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CasaSoftFooterLink.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.MasterPage.Footer.CasaSoftFooterLink" %>
<CSControls:MyAnchor runat="server" ID="anchorCasasoftLink" />