﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FooterSitemap.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.MasterPage.Footer.FooterSitemap" %>
<%@ Register Src="~/_ComponentsGeneric/Frontend/UserControls/MasterPage/Footer/FooterItemControl.ascx" TagName="FooterItemControl" TagPrefix="Common" %>

<Common:FooterItemControl runat="server" ID="footerItemControl" />