﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.GoogleMaps.LatLongPicker._LatitudeLongitudePickerModel
           
@{
    string id = CS.General_CS_v5.Util.JsUtil.GenerateUniqueJsElementId();
    var commonViewData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];
}

<div class="google-maps-lat-long-picker-container gllpLatlonPicker" id="@id">
    <div class="google-maps-lat-long-picker-description-container">
        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H3, Model.Title, cssClass: "google-maps-lat-long-picker-title")
        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.DescriptionHtml, cssClass: "google-maps-lat-long-picker-description")

    </div>
    <div class="google-maps-lat-long-picker-search-container">
        <div class="gllpSearchField-container">
            <input class="cs-field gllpSearchField" type="text">
        </div>
                @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Button,
            Model.SearchAddressButton, "gllpSearchButton", inlineEditingContentTextOtherParameters: new InlineEditingExtensions.InlineEditingContentTextOtherParameters()
            {
                HtmlAttributes = new
                {
                    type = "button"
                }
            })
            </div>
    <div class="gllpMap">
        Google Maps
    </div>
    <div class="google-maps-lat-long-picker-fields-container">
        <div class="google-maps-lat-long-picker-fields-description-container html-container">
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H3, Model.CoordinatesTitle)
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.P, Model.CoordinatesDescriptionHtml)
        </div>

        <div class="google-maps-lat-long-picker-fields-content clearfix">

            <div class="google-maps-lat-long-picker-component google-maps-lat-long-picker-latitude">

                

                <div class="google-maps-lat-long-picker-field google-maps-lat-long-picker-latitude-field">
                    @Html.CsFormFieldTextBox(Model.LatitudeField)
                </div>

            </div>

            <div class="google-maps-lat-long-picker-component google-maps-lat-long-picker-longitude">

               

                <div class="google-maps-lat-long-picker-field google-maps-lat-long-picker-longitude-field">
                    @Html.CsFormFieldTextBox(Model.LongitudeField)
                   
                </div>

            </div>

            <div class="google-maps-lat-long-picker-component google-maps-lat-long-picker-zoom-level">

            

                <div class="google-maps-lat-long-picker-field google-maps-lat-long-picker-zoom-level-field">
                    @Html.CsFormFieldTextBox(Model.ZoomLevelField)


                </div>

            </div>

            <div class="google-maps-lat-long-picker-component google-maps-lat-long-picker-update-button">

                @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Button, 
                Model.UpdateButton, "gllpUpdateButton", inlineEditingContentTextOtherParameters: new InlineEditingExtensions.InlineEditingContentTextOtherParameters()
                    {
                        HtmlAttributes = new
                            {
                                type = "button"
                            }
                    })

            </div>

        </div>

    </div>
</div>


<script>
    $(function () {
        var jContainer = $("#@id");

        jContainer.find('.gllpSearchField').bind('keydown', function (e) {
            var isEnter = e.which == 13;
            if (isEnter) {
                jContainer.find('.gllpSearchButton').click();
                e.preventDefault();
            }
        });
    });
</script>

@{
    
    commonViewData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.GoogleMaps] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.GoogleMaps_ScriptIncludeUrl
    };
    commonViewData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.LatitudeLongitudePicker] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.LatitudeLongitudePicker_ScriptIncludeUrl
    }; 
}