﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage
@model BusinessLogic_CS_v5.Presentation.Models.Cart.CartIndexModel


@Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageNew(new _ContentPageModel(CommonViewContextDataOld.Instance.CurrentSection){
        BottomContent = @<text>
                             <div class="cart-component">
                                 @Html.Action(MVCGeneral.PartialViewsCart._CartComponent()) 
                             </div>
                         </text>
                                                                                       }))
