﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeBehind="default2.aspx.cs" Inherits="PayMammothDeploy._default2" %>



<asp:Content ID="mainContent" ContentPlaceHolderID="mainContentPlaceHolder" runat="server">
    
<h1>Pay Mammoth</h1>
<a href="/payment/testPayment.aspx">Click here to do a test payment</a>

</asp:Content>
