﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucCMSLogin.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.UserControls.ucCMSLogin" %>
<CSControlsFormFields:FormFields ID="formLogin" runat="server" />