﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucLoginPage.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.UserControls.ucLoginPage" %>
<%@ Register Src="/_ComponentsGeneric/CMS/usercontrols/ucCMSLogin.ascx" TagName="LoginForm" TagPrefix="CMS" %>
<CMS:LoginForm ID="loginForm" runat="server" />
