﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.UserControls.ucTopButtons" Codebehind="ucTopButtons.ascx.cs" %>

<div class="buttons">
    <table cellpadding="0" cellspacing="0" id="tblButtons" runat="server">
        <tr>
            <td>
            </td>
        </tr>
    </table>
</div>