﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="transactiumPayment.aspx.cs" Inherits="PayMammoth_v2Deploy._tests.transactium.transactiumPayment" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <span>Redirect Url:</span>
        <span><%=HttpUtility.HtmlEncode(RedirectURL) %></span>

        <h1>Transactium Payment</h1>
    <div>
        <script type="text/javascript">HPS_redirectUrl = '<%=RedirectURL%>';</script>

    <script type="text/javascript" src="https://psp.transactium.com/hpservices/site/js/StartHPS.js"
id="hpsscript"></script>
    </div>
    </form>
</body>
</html>
