﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewComments.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Comments.ViewComments" %>
<div class="comment-wrapper" runat="server" id="divComments"></div>