﻿@using BusinessLogic_CS_v5.EnumsBL
@using CS.General_CS_v5
@using CmsGeneral_CS_v5.EnumsCms
@using CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.Masterpage
@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.Masterpage._HeaderUserMenuModel
@{
    var dropdownModel = new _HeaderDropdownModel();
    dropdownModel.ItemsContent = new List<Func<dynamic, IHtmlString>>();
    dropdownModel.ItemsContent.Add(@<text>
                                        @Html.CsAnchorForSection(SectionEnums.CmsSection.Cms_User_EditProfile)
                                    </text>);
    dropdownModel.ItemsContent.Add(@<text>
                                        @Html.CsAnchorForSection(SectionEnums.CmsSection.Cms_Home_Logout)
                                    </text>);
    
    
    dropdownModel.SelectedContent = @<text>
                                         @Html.InlineEditingContentText(Enums.HtmlTagName.Span, CmsEnums.CmsContentText.User_Welcome,null,Model.LoggedCmsUser.DataObject)
                                     </text>; 
    

}


@Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderDropdown(dropdownModel))
 