﻿@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.Masterpage._HeaderNavigationModel
<nav class="cms-navigation-container">
    <div class="cms-main-navigation-container clearfix">
        @Html.Action(MVCGeneral.PartialViewsHierarchy._HierarchicalNavigationControl(Model.NavigationControlModel))
    </div>

    @if (Model.SelectionSectionSubSectionModel != null)
    {
        <div class="cms-navigation-sub-menu-background">
            @Html.Action(MVCGeneral.PartialViewsHierarchy._HierarchicalNavigationControl(Model.SelectionSectionSubSectionModel))
        </div>
    }

</nav>
 