﻿@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.Masterpage._HeaderDropdownModel
<div class="cms-header-dropdown-container">
    <div class="cms-header-dropdown cms-header-dropdown-language">
        @Model.SelectedContent(null)
    @*<div class="cms-header-dropdown-language-flag">
            <img src="/_common_CS_v5/cms/images/flags/United%20Kingdom.png" alt="United Kingdom" />
        </div>
        <div class="cms-header-dropdown-text cms-header-dropdown-language-text">
            English
        </div>
        *@
        <div class="cms-header-dropdown-arrow">
        </div>
    </div>
    <ul class="cms-header-dropdown-values">
        @foreach (var item in Model.ItemsContent)
        {
            <li> 
                @item(null)
              @*  <a href="#">
                    <span class="cms-header-dropdown-value-language-flag">
                        <img src="/_common_CS_v5/cms/images/flags/France.png" alt="France" />
                    </span>
                    <span class="cms-header-dropdown-value-language-text">French
                    </span>
                </a>*@
            </li>
        }
      @*
        <li><a href="#">
                <span class="cms-header-dropdown-value-language-flag">
                    <img src="/_common_CS_v5/cms/images/flags/France.png" alt="France" />
                </span>
                <span class="cms-header-dropdown-value-language-text">French anda this asdf sdf
                </span>
            </a></li>
        <li><a href="#">
                <span class="cms-header-dropdown-value-language-flag">
                    <img src="/_common_CS_v5/cms/images/flags/France.png" alt="France" />
                </span>
                <span class="cms-header-dropdown-value-language-text">French asdfasdf asdf asa sdf
                </span>
            </a></li>*@
    </ul>
</div>
