﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucLanguageSelect.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.CMS.ucLanguageSelect" %>

<CSControlsCommon:MyDropsownList ID="_cmbLanguage" runat="server"></CSControls:MyDropDownList>
<CSControlsCommon:MyButton ID="testButton" runat="server" ValidationGroup="languageSelect" style="display:none" />