﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucLoginPage.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.CMS.ucLoginPage" %>
<%@ Register Src="/_common/vs/cms/v1/usercontrols/ucCMSLogin.ascx" TagName="LoginForm" TagPrefix="CMS" %>
<CMS:LoginForm ID="loginForm" runat="server" />
