﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucWelcomePage.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.CMS.ucWelcomePage" %>
Welcome to <asp:Literal ID="litTitle" runat="server"></asp:Literal> CMS.  Please choose an entry from the menu on the left.
