﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Copyright._CopyrightAndLinksModel

<div class="copyright-and-links-main-container">
                   
    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Copyright._Copyright, Model.Copyright); }
        
    @if (Model.ShowCopyrightLinks)
    {              
        <div class="copyright-links-main-container">
                
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Hierarchy._HierarchicalNavigationControl, Model.CopyrightLinks); }

        </div>
    }
   
</div>