.dijitRtl .cs-cms .dijitAccordionArrow {
	background-position: 0px top;
}

.dijitRtl .cs-cms .dijitAccordionTitle-selected .dijitAccordionArrow {
	/* same rule as LTR mode, just listed to override previous rule in this file */
	background-position: -15px top;
}
