﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Navigation._GoBackLinkButtonModel
    
@if (!String.IsNullOrWhiteSpace(Model.GoBackLinkButtonUrl))
{   
    <div class="go-back-link-button-main-container">
        
        <div class="go-back-link-button-content">
            
            @Html.CsAnchor(Model.GoBackLinkButtonContentText, Model.GoBackLinkButtonUrl, cssClass: "go-back-link-button")

        </div>

    </div>
}