﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Navigation._MobileNavigationMenuBarModel
            
<div class="mobile-navigation-menu-main-container">
    
    <div class="mobile-navigation-menu-content">
            
        @if(Model.ShowHomeIcon)
        {
            { Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Icons._HomeIcon, Model.HomeIcon); }
        }
        <button class="mobile-navigation-menu-open" data-toggle-target=".mobile-navigation-menu-container-to-open">

            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Span, Model.MobileNavigationMenuTitleContentText, cssClass: "mobile-navigation-menu-open-text")
            <span class="mobile-navigation-menu-open-icon"></span>

        </button>

    </div>

</div>