﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Navigation._NavigationMenuModel
@if (Model.ParentSection != null || (Model.SiblingSections != null && Model.SiblingSections.Any())) {
    <div class="categories-panel">
        @if (Model.ParentSection != null)
        {
            <h2>@Html.CsAnchorForHierarchyNavigation(Model.ParentSection)</h2>
        }
        @if (Model.SiblingSections != null)
         {
            <nav class="categories-panel-navigation">
                <ul class="categories-panel-navigation-level-1">

                    @foreach (var Section in Model.SiblingSections)
                     {

                     bool isCurrentSelectedSection = (string.Compare(Section.Id, Model.SelectedSection.Id) == 0);
                     string css = "categories-panel-navigation-level-1-link";

                        <li class="categories-panel-navigation-level-1-list-item @Html.RawIf("categories-panel-navigation-level-1-list-item-selected", isCurrentSelectedSection)">
                            <span class="categories-panel-navigation-level-1-list-item-content">
                                @Html.CsAnchorForHierarchyNavigation(Section, cssClass: css)
                                @if (isCurrentSelectedSection && Model.ChildSections != null && Model.ChildSections.Any())
                             {
                                    <ul class="categories-panel-navigation-level-2">
                                        @foreach (var childSection in Model.ChildSections)
                                     {
                                            <li class="categories-panel-navigation-level-2-list-item">
                                                @Html.CsAnchorForHierarchyNavigation(childSection, cssClass: "categories-panel-navigation-level-2-link")
                                            </li>
                                     }

                                    </ul>
                             }
                            </span>

                        </li>
                     }

                </ul>
            </nav>
         }
    </div>
}
