﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Navigation._NavigationPanelModel

@if (Model != null)
{
    <div class="navigation-panel-main-container">

        <div class="navigation-panel-main-content">

            @Html.Action(MVCGeneral.PartialViewsHierarchy._HierarchicalNavigationControlWithSelection(Model.HierarchicalNavigationControlWithSelectionModel))

        </div>

    </div> 
}

@*@if (Model.ParentSection != null || (Model.SiblingSections != null && Model.SiblingSections.Any())) 
{
    <div class="navigation-panel-main-container">
        
        <div class="navigation-panel-main-content">
        
            @if (Model.ParentSection != null)
            {   
                <h2>@Html.CsAnchorForSection(Model.ParentSection, cssClass:"navigation-panel-parent-section")</h2>
            }

            @if (Model.SiblingSections != null)
            {
                <nav class="navigation-panel">
                    
                    <ul class="navigation-panel-level-1">

                        @foreach (var siblingSection in Model.SiblingSections)
                        {
                            bool isCurrentSelectedSection = (string.Compare(siblingSection.DataObject.Id, Model.SelectedSection.Id) == 0);
                            string css = "navigation-panel-level-1-link";

                            <li class="navigation-panel-level-1-list-item @Html.RawIf("navigation-panel-level-1-list-item-selected", isCurrentSelectedSection)">
                                
                                <span class="navigation-panel-level-1-list-item-content">
                                    
                                    @Html.CsAnchorForSection(siblingSection, cssClass: css)
                                    
                                    @if (isCurrentSelectedSection && Model.ChildSections != null && Model.ChildSections.Any())
                                    {
                                        <ul class="navigation-panel-level-2">
                                            
                                            @foreach (var childSection in Model.ChildSections)
                                            {
                                                <li class="navigation-panel-level-2-list-item">
                                                           
                                                    @Html.CsAnchor(childSection.Title, childSection.Href, cssClass: "navigation-panel-level-2-link")

                                                </li>
                                            }

                                        </ul>
                                    }

                                </span>

                            </li>
                        }

                    </ul>

                </nav>
            }

        </div>

    </div>
}*@