﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Navigation._ResponsiveMainMenuButtonModel

<button id="navToggle" class="navigation-menu-button">
    <ul class="burger trunk-slide">
        <li></li>
        <li></li>
        <li></li>
    </ul>

    @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Span, Model.MobileNavigationMenuTitleContentText, cssClass: "mobile-navigation-menu-open-text")
</button>