﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Adverts._AdZerkScriptInitialiserModel

@if (Model != null && Model.AdZerkAdverts != null)
{
    <script type="text/javascript"> var p = "http", d = "static";
        if (document.location.protocol == "https:") {
            p += "s";
            d = "engine";
        }
        var z = document.createElement("script");
        z.type = "text/javascript";
        z.async = true;
        z.src = p + "://" + d + ".adzerk.net/ados.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(z, s); </script>

    <script type="text/javascript">

        var ados = ados || {};
        ados.run = ados.run || [];
        ados.run.push(function () {

            @(Model.AdZerkAdverts)
            ados_load();
        });

    </script>
}