﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Common.master.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.Pages.MasterPages.Common" %>

<%@ Register Src="~/_ComponentsGeneric/CMS/UserControls/EditItem/CmsEditItemLink.ascx"
    TagName="CmsEditItemLink" TagPrefix="Common" %>
<!doctype html>
<asp:literal id='ltlHtmlIECompatibilityTags' runat='server'></asp:literal>
<!--[if gt IE 8]><!-->
<html class="no-js html-main" runat="server" id="htmlTag" lang="en" xmlns:fb="http://ogp.me/ns/fb#"
xmlns:og="http://ogp.me/ns#" xmlns:addthis="http://www.addthis.com/help/api-spec">
<!--<![endif]-->
<head id="Head1" runat="server">
    <title></title>
    <!-- Designed and developed by CasaSoft (Malta - Europe)-->
    <!-- CasaSoft website: http://www.casasoft.com.mt -->
    <!-- CasaSoft contact: info@casasoft.com.mt -->
    <meta name="author" content="CasaSoft Ltd. (Europe) - http://www.casasoft.com.mt">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/_common/static/css/initializr/3.0/style.css">
    <link rel="stylesheet" href="/_common/static/css/casasoft.css">
    <link rel="stylesheet" href="/_common/static/js/jQuery/plugins/tooltip/qtip2/2012-07-09/jquery.qtip.css">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <asp:PlaceHolder ID="placeHolderOnline" runat="server">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/flick/jquery-ui.css"
            rel="stylesheet" type="text/css" media="all" />
    </asp:PlaceHolder>
    <asp:PlaceHolder ID="placeHolderOffline" runat="server" visible="false">
        <script src="/_common/static/js/jQuery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="/_common/static/js/jQuery/ui-1.8.16/jquery-ui.min.js"></script>
        <link href="/_common/static/js/jQuery/ui-1.8.16/flick/jquery-ui.css" rel="stylesheet"
            type="text/css" media="all" />
    </asp:PlaceHolder>
    <script src="/_common/static/js/jQuery/plugins/tooltip/qtip2/2012-07-09/jquery.qtip.min.js"></script>
    <script src="/_common/static/js/encoder/encoder.js"></script>
    <script src="/_common/static/js/polyfill/jquery.placeholder.min.js"></script>
    <!-- <script src="/_common/static/js/autofillFix/autofillFix.js"></script> removed as it was destroying functionality -->
    <script src="/_common/static/js/scriptsharp/mscorlib.js"></script>
    <asp:PlaceHolder ID="placeHolderJSLocalhost" runat="server">
        <!-- Include these files only when localhost (for debugging) -->
        <script src="/_common/static/js/scriptsharp/JavascriptCom_V3.debug.js"></script>
        <script src="/_common/static/js/scriptsharp/JQueryScriptSharp_V3.debug.js"></script>
    </asp:PlaceHolder>
    <asp:PlaceHolder ID="placeHolderJSNonLocalhost" runat="server">
        <!-- Include these files only when NOT localhost (for online) -->
        <script src="/_common/static/js/scriptsharp/JavascriptCom_V3.js"></script>
        <script src="/_common/static/js/scriptsharp/JQueryScriptSharp_V3.js"></script>
    </asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script src="/_common/static/js/initializr/3.0/js/libs/modernizr-2.5.3.min.js"></script>
    <script src="/_common/static/js/initializr/3.0/js/plugins.js"></script>
    <script src="/_common/static/js/loginoverlay/loginoverlay.js"></script>
    <asp:PlaceHolder ID="placeholderGoogleAnalytics" runat="server">
        <script type="text/javascript">

            var _gaq = _gaq || [];
            <asp:Literal id="ltlGoogleAnalyticsUAID" runat="server" />
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </asp:PlaceHolder>
</head>
<body class="body-main-site" id="bodyTag" runat="server">
    <script>
        //Global error handling and logging
        window.onerror = function (msg, url, lineNumber) { return js.com.cs.v3.Common.GlobalErrors.GlobalErrorHandling.LogError(msg, url, lineNumber); };
    </script>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <form id="form1" runat="server" novalidate>
    <Common:CmsEditItemLink ID="cmsEditItem" runat="server" />
    <div class="generic-notificaton-container" id="divGenericMsgContainer" runat="server"
        visible="false">
        <div class="generic-notificaton-text-container">
            <div class="generic-notificaton-text" id="divGenericMsgContainerText" runat="server">
            </div>
        </div>
    </div>
    <div class="lightbox-background-mask" id="lightboxMask">
    </div>
    <div class="generic-overlay-lightbox-container-wrapper" id="divGenericLightboxOverlay">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix lightbox-overlay-title-container"
            id="divGenericLightboxTitleContainer" style="display: none;">
            <span class="ui-dialog-title" id="spanGenericLightboxTitle"></span><a class="ui-dialog-titlebar-close ui-corner-all"
                id="aGenericLightboxOverlayCloseButton"><span class="ui-icon ui-icon-closethick">
                </span></a>
        </div>
        <div id="divGenericLightboxOverlayContent">
        </div>
    </div>    
    <asp:ContentPlaceHolder ID="mainPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    </form>
    <script>
        jQuery(function () {
            try {
                jQuery('input, textarea').placeholder();
            }
            catch (e) { }
        });
    </script>
</body>
</html>
