﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WelcomeMessage.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.MasterPage.WelcomeMessage" %>
<div class="main-user-authentication-messge" runat="server" id="divUserMessage"></div>
