﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Breadcrumbs._NavigationBreadcrumbsModel
        
@if (Model != null && Model.NavigationBreadcrumbsItems != null && Model.NavigationBreadcrumbsItems.Any())
{       
    <div class="navigation-breadcrumbs-main-container">
    
        <div class="navigation-breadcrumbs-content">
        
            <nav>

                <ul>
                    
                    @foreach (var navigationBreadcrumbsItem in Model.NavigationBreadcrumbsItems)
                    {       
                        <li class="navigation-breadcrumbs-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                
                            <a href="@navigationBreadcrumbsItem.Href" itemprop="url"><span itemprop="title">@navigationBreadcrumbsItem.Title</span></a>
                        
                        </li>
                    }

                </ul>
            
            </nav>

        </div>

    </div>
}