﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.ListingItems.Generic._GenericListingItemsHeaderModel
    
@Html.Raw(String.Format("<{0}>", Model.MainContainerTagName))

    @Html.Raw(String.Format("<{0} class='{1}'>", Model.ContentContainerTagName, "generic-listing-items-header-container"))

        @if (Model.MasterCheckbox != null)
        {
            @Html.Raw(String.Format("<{0} class='{1}'>", Model.ContentTagName, "generic-listing-items-header-master-checkbox-container"))

                @Html.CsFormFieldCheckbox(Model.MasterCheckbox)
            
            @Html.Raw(String.Format("</{0}>", Model.ContentTagName))

            var commonViewContextData = Model.CommonViewContextData;

            commonViewContextData.ScriptBlocks.ScriptBlocks["GenericListingMasterCheckboxScriptBlock"] = new CommonViewContextScriptBlockData()
            {
                ScriptBlockContent = @<text>

                    <script>

                        $('.@(BusinessLogic_CS_v6.Constants.GeneralConstants.GenericListingComponentMasterCheckboxCssClassName)').click(function () {

                            var masterCheckboxChecked = this.checked;

                            $('.@(BusinessLogic_CS_v6.Constants.GeneralConstants.GenericListingComponentItemCheckboxCssClassName)').prop('checked', masterCheckboxChecked);
                        });

                    </script>
                </text>
            };
        }
        
        @if (Model.OtherOptionalCustomContent != null)
        {
            Html.RenderPlaceholder(Model.OtherOptionalCustomContent);
        }

    @Html.Raw(String.Format("</{0}>", Model.ContentContainerTagName))