﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.ListingItems.Generic._GenericListingItemsFooterModel
    
@Html.Raw(String.Format("</{0}>", Model.MainContainerTagName))
       
@{  
    var genericListingItemsFooterCheckboxesButtonsId = "genericListingItemsFooterCheckboxesButtons";
}
    
<div class="generic-listing-items-footer-container">

    <div class="generic-listing-items-footer-checkboxes-buttons" id="@genericListingItemsFooterCheckboxesButtonsId">
            
        @foreach (var checkboxesButton in Model.CheckboxesButtons)
        {   
            @Html.CsAnchorFromModel(checkboxesButton)
        }

    </div>

</div>
   
@{      
    var commonViewContextData = Model.CommonViewContextData;
        
    commonViewContextData.ScriptBlocks.ScriptBlocks["GenericListingCheckboxesButtonsScriptBlock"] = new CommonViewContextScriptBlockData()
    {   
        ScriptBlockContent = @<text>

            <script>
                    
                $('#@genericListingItemsFooterCheckboxesButtonsId a').click(function (e) {

                    var clickedCheckboxesButton = $(this);
                    var clickedCheckboxesButtonHref = clickedCheckboxesButton.attr("href");

                    var idsOrCollectionIndexes = "";

                    var selectedItemsCheckboxes = $("input[type='checkbox'].@(BusinessLogic_CS_v6.Constants.GeneralConstants.GenericListingComponentItemCheckboxCssClassName):checked");

                    if (selectedItemsCheckboxes.length === 0) {

                        e.preventDefault();
                        e.stopImmediatePropagation();
                        alert("@(Model.NoItemsSelectedErrorMessage)");
                    }
                    else
                    {   
                        selectedItemsCheckboxes.each(function (index, selectedItemCheckbox) {
                                
                            var selectedItemContainer = $(selectedItemCheckbox).closest("@Model.ContentContainerTagName");
                            selectedItemContainer.addClass('selected-item');
                                
                            var selectedItemCheckboxValue = $(selectedItemCheckbox).val();
                            idsOrCollectionIndexes = idsOrCollectionIndexes + selectedItemCheckboxValue;
                                
                            if (index != (selectedItemsCheckboxes.length - 1)) {

                                idsOrCollectionIndexes = idsOrCollectionIndexes + ",";
                            }
                        });

                        clickedCheckboxesButton.attr("href", clickedCheckboxesButtonHref + "&@(CS.General_CS_v6.Constants.Variables.IdsOrCollectionIndexes)=" + idsOrCollectionIndexes);
                    }
                });

            </script>
        </text>
    };
}