﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TestimonialsItems.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Testimonials.TestimonialsItems" %>
<div class="testimonials-wrapper" runat="server" id="divTestimonialsWrapper">

</div>