﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="status.aspx.cs" Inherits="PayMammoth_v6Deploy._tests.transactium.status" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>

    <form id="form1" runat="server">
            <h1>Transactium Status</h1>
        <span>Status:</span>
        <span id="spanStatus" runat="server"></span>
    <div>
    
    </div>
    </form>
</body>
</html>
