﻿@model BusinessLogic_CS_v5.Presentation.Models.GoogleMaps.GoogleMap.LargeGoogleMapModel

@{
    Layout = MVCGeneral._General.Views._Shared.Layouts._LayoutCommon;
}

<div class="large-google-map-main-container">

    <div class="large-google-map-main-content">
        
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.GoogleMaps.GoogleMap._GoogleMapControl, Model.GoogleMapControlModel); }
        
    </div>

</div>