﻿@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Forms._FormGeneralModelOld
@{ 
    
    string desc = Model.FormSchemaData.DescriptionHtml.GetValueForCurrentLanguage();
}
<div class="form-general-container">
    <form method="POST" @Html.AddAttribute("action", Model.FormAction)>
        @if (!string.IsNullOrWhiteSpace(desc))
        {
            @Html.InlineEditingFor(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.FormSchemaData, x => x.DescriptionHtml, "form-general-description", null, Enums.ContentTextType.Html)
        }

        <div class="form-general-groups-container">
        @{
            var fieldGroups = Model.FormSchemaData.FieldGroups.GetItemsInSubCollection();
        }
            @for (int i = 0; i < fieldGroups.Count; i++)
            {
                var fieldGroup = fieldGroups[i];
                <div class="form-general-group-container">
                    @using (Html.BeginFormFields())
                    {
                        var fieldGroupFields = fieldGroup.Fields.GetItemsInSubCollection();
                        for (int j = 0; j < fieldGroupFields.Count; j++)
                        {
                            var field = fieldGroupFields[j];
                            var listItems = BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Forms._FormGeneralModelOld.GetFieldListItemValues(Model.FormSchemaData, field);
                            @Html.FormFieldFromGenericDataTypeFor(x => x.FormGeneralModelOldValues.FieldGroupValues[i].FieldValues[j].Value, field.DataType, label:field.Title.GetValueForCurrentLanguage(), customDataType:field.FieldType, rowCssClass:field.CssClass, initialValue:field.InitialValue, DoNotOutputLabel:field.DoNotOutputLabel, listItems:listItems)
                        }
                        if (i == fieldGroups.Count - 1)
                        {
                            @Html.FormFieldSubmitButton(Model.SubmitContentTextIdentifier)
                        }

                    }
                </div>
            }
        </div>
    </form>


</div>
