﻿@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Forms._FormGeneralModel
@{ 
    
    
}
<div class="form-general-container">
    <form method="POST" @Html.AddAttribute("action", Model.FormAction)>
        @if (!string.IsNullOrWhiteSpace(Model.DescriptionHtml))
        {
            <div class="form-general-container-description html-container">
                @Html.Raw(Model.DescriptionHtml)
            </div>
        }

        <div class="form-general-groups-container">
            @Html.FormFieldsBegin()

            @foreach (var fieldGroup in Model.FieldGroups)
            {
                <div class="form-general-group-container">
                    @foreach (var field in fieldGroup.Fields)
                    {
                        if (field != null && field.FieldRowModel != null && field.FieldRowModel.FieldModel != null)
                        {
                            @Html.FormFieldRowFromModel(field.FieldRowModel)
                        }
                        else if (field != null && field.DataType.HasValue && field.DataType.Value == Enums.DataType.Hidden)
                        {
                            <input type="hidden" name="@field.Identifier" value="@field.Value"/>
                        }
                    }
                </div>
            }

            @Html.FormFieldSubmitButtonFromModel(Model.SubmitButtonModel)
            @Html.FormFieldsEnd()
        </div>
    </form>


</div>
