﻿@using BusinessLogic_CS_v5.Presentation.Data.Fields
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Forms
@using CS.General_CS_v5
@using Recaptcha.Web.Mvc;
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Forms._FormFieldModelsModel
<div class="form-field-models-container @Model.CssClass">
    @Html.BeginFormWithParsleyValidation(Model.Action, Model.Method, cssClass: Model.FormCssClass)
    <fieldset>
        @if (Model.FormTitle != null)
        {
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Legend, Model.FormTitle)
        }
        @foreach (var field in Model.Fields)
        {

            @Html.CsFormFieldBaseFieldModel(field)

        }

        @if (Model.Recaptcha != null)
        {
            <div class="form-field-models-captcha-container">

                @Html.Recaptcha(theme: Model.Recaptcha.Theme)

            </div>
        }

        <div class="form-field-models-buttons-container">

            <div class="form-field-models-buttons">

                <div class="form-field-models-main-button">
                    @if (Model.SubmitButtonModel != null)
                    {
                        @Html.CsFormFieldSubmitButton(Model.SubmitButtonModel)
                    }
                </div>
                @if (Model.OtherSubmitButtonModels != null && Model.OtherSubmitButtonModels.Count > 0)
                {
                    <div class="form-field-models-buttons-other">
                        @foreach (var btn in Model.OtherSubmitButtonModels)
                        {
                            @Html.CsFormFieldSubmitButton(btn)
                        }
                    </div>
                }

                @if (Model.OptionalAnchorModels != null && Model.OptionalAnchorModels.Any())
                {
                    <div class="form-field-models-optional-link-buttons">

                        @foreach (var optionalAnchor in Model.OptionalAnchorModels)
                        {
                            @Html.CsAnchorFromModel(optionalAnchor)
                        }

                    </div>
                }

            </div>

        </div>

    </fieldset>
    @Html.EndFormWithParsleyValidation()
</div>