﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Hierarchy._HierarchicalNavigationControlWithSelectionModel

@{
    string id = CS.General_CS_v5.Util.JsUtil.GenerateUniqueJsElementId();
}

<nav class="cs-hierarchical-control" id="@id">
    
    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Hierarchy._HierarchicalNavigationControl, Model.HierarchicalNavigationControlModel); }

</nav>

<script>

    $(function () {

        $("#" + "@(id)" + " li[data-item-id=" + "'@(Model.SelectedItemId)'" + "]").addClass("cs-hierarchical-control-list-item-selected");
    });

</script>