﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="azureStatusPage.aspx.cs" Inherits="PayMammoth_v2Deploy._tests.azureStatusPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <h1>Azure Status Page (Test)</h1>
    <div id="divText" runat="server">
    

    </div>
    </form>
</body>
</html>
