﻿@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage.V2._ContentPageV2Model
<article class="content-page-container">
    <div class="content-page-main-content-and-bottom-container">

        <div class="content-page-main-content-container">

            <div class="content-page-title-wrapper clearfix">
                @Html.Placeholder(Model.PreHeadingContentPlaceholder)

                @if (!Model.ContentPageData.DoNotShowTitle)
                {
                    <div class="content-page-title-content">
                        @Html.InlineEditingForFieldModel(Enums.HtmlTagName.H1, Model.ContentPageData.TitleFieldModel, Model.ContentPageData.Title)
                    </div>
                }
            </div>
            <div class="content-page-content-container">
                @Html.Placeholder(Model.PostHeadingContentPlaceholder)

                @if (Model.MediaGalleryModel != null && Model.MediaGalleryModel.MediaGalleryModel.MediaItems != null && Model.MediaGalleryModel.MediaGalleryModel.MediaItems.Any())
                {
                    <div class="content-page-media-items-gallery-container">
                        @Html.Action(MVCGeneral.PartialViewsSections._SectionMediaGallery(Model.MediaGalleryModel))
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ContentPageData.HtmlContent) || Model.ContentPageData.HtmlContentFieldModel != null)
                {


                    <div class="content-page-full-description clearfix">
                        @Html.InlineEditingForFieldModel(Enums.HtmlTagName.Div, Model.ContentPageData.HtmlContentFieldModel, Model.ContentPageData.HtmlContent )

                    </div>
                }
                @if (Model.SubSectionsHierarchyModel != null)
                {
                    <div class="content-page-sub-sections-container">
                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.SubSectionsTitleContentTextModel)
                        @Html.Action(MVCGeneral.PartialViewsHierarchy._HierarchicalNavigationControl(Model.SubSectionsHierarchyModel))

                    </div>
                }

                    
                @if (Model.PreFooterContentPlaceholder != null)
                {   
                    <div class="content-page-bottom-content-container">
                        @Html.Placeholder(Model.PreFooterContentPlaceholder)
                    </div>
                }
            </div>
        </div>
    </div>
    @if (!Model.ContentPageData.DoNotShowFooter)
    {   
        <div class="content-page-footer @Html.RawIf("content-page-footer-without-last-updated", Model.ContentPageData.DoNotShowLastUpdated)">
            @if (!Model.ContentPageData.DoNotShowSharingTool && Model.AddThisModel != null)
            {
                <div class="content-page-sharing-tools-container">
                    @Html.Action(MVCGeneral.PartialViewsSocialNetworkingAddThis._AddThis(Model.AddThisModel))
                </div>
            }
            @if (!Model.ContentPageData.DoNotShowLastUpdated)
            {   
                <div class="content-page-last-updated-container">
                    @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Span, Model.LastUpdatedDateContentTextModel, "content-page-last-updated")
                </div>
            }
        </div>
    }

</article>
