﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProfileFields.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Members.Profile.ProfileFields" %>
<div class="profile-fields-container">
<CSControlsFormFields:FormFields ID="formProfile" runat="server"></CSControlsFormFields:FormFields>
</div>