﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models.Orders.OrdersViewPageModel
       
@{
    const string printInvoiceButtonid = "printInvoiceButton";
}

<div class="orders-view-container">
    
    <div class="orders-view-top-container">

        @Html.InlineEditingContentTextModel(
            Enums.HtmlTagName.Button, 
            Model.PrintInvoiceButtonTitleContentText, 
            "print-invoice-button",
            new InlineEditingExtensions.InlineEditingContentTextOtherParameters()
            {
                HtmlAttributesDictionary = new Dictionary<string, object>() 
                {   
                    {
                        "type", "button"   
                    },   
                    {   
                        "id", printInvoiceButtonid   
                    }    
                }
            })
        
        <h1>@Model.OrderTitle</h1>

    </div>
        
    <div class="orders-view-details-container">
            
        <div class="order-details-container">
            
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.OrderDetailsSubTitleContentText)
            
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Orders._OrderDetails, Model.OrderDetails); }

        </div>
            
        <div class="personal-details-container">

            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.PersonalDetailsSubTitleContentText)

            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Contact._ContactDetailsControl, Model.PersonalDetails); }

        </div>

    </div>

    @if (!String.IsNullOrWhiteSpace(Model.OrderSummary.Value))
    {
        @Html.InlineEditingForFieldModel(Enums.HtmlTagName.P, Model.OrderSummary, Model.OrderSummary.Value, "order-summary")
    }
        
    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Orders._OrderItems, Model.OrderItems); }

    <div class="orders-view-bottom-container">

        <div class="order-total-container">
            
            @Html.InlineEditingContentTextModel(
                Enums.HtmlTagName.Span,
                Model.TotalLabelContentText,
                "order-total-label")
            
            <span class="order-total-value">@Model.OrderTotal</span>

        </div>
        
        @if (Model.Buttons != null && Model.Buttons.Any())
        {
            <div class="orders-view-buttons-container">

                @foreach (var button in Model.Buttons)
                {
                    @Html.CsAnchorFromModel(button)
                }

            </div>
        }

    </div>

</div>

@{
    var commonViewContextData = Model.CommonViewContextData;
        
    commonViewContextData.ScriptBlocks.ScriptBlocks["PrintInvoiceButtonScriptBlock"] = new CommonViewContextScriptBlockData()
    {   
        ScriptBlockContent = @<text>

            <script>
                    
                $("#@printInvoiceButtonid").click(function () {

                    window.print();
                });

            </script>

        </text>
    };
}