﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookLikeButton.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.SocialNetworking.AddThis.Buttons.FacebookLikeButton" %>
<a class="addthis_button_facebook_like" id="aButton" runat="server"></a>
