﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EventEnquiry.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Events.EventEnquiry" %>

<%@ Register TagPrefix="CommonControls" TagName="ContactUsForm" Src="~/_ComponentsGeneric/Frontend/UserControls/Contact/ContactUsForm.ascx" %>

<CommonControls:ContactUsForm runat="server" ID="eventEnquiry" />