﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LogoutButton.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Members.Login.LogoutButton" %>
<div class="logged-in-log-out">
        <CSControls:MyButton CssClass="button-normallink" ID="aLogOut" runat="server">
        </CSControls:MyButton>
    </div>

   