﻿@model BusinessLogic_CS_v5.Presentation.Models.Products.SearchModel

<div class="site-content-inner-wrapper">
    <div class="cateogry-listing-title">
        <h1>@Model.SearchTitle</h1>
    </div>
    @Html.Action(MVCGeneral.PartialViewsListingItems._ListingItemsWithComponents(Model.ListingItemsWithComponentsModel))
    @Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageFooter(Model.ContentFooterModel))
</div>
