﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_ComponentsGeneric/CMS/Pages/cms.master" AutoEventWireup="true" CodeBehind="import2.aspx.cs" 
Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.Pages.Products.import2" %>
<%@ Register src="~/_ComponentsGeneric/CMS/UserControls/DataImport/dataImport.ascx" tagname="dataImport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMain" runat="server">




    <uc1:dataImport ID="dataImport" runat="server" />




</asp:Content>
