﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.DateTime._DateAndTimeModel

<div class="date-and-time-main-container">

    <div class="date-and-time-content">
        
        <div class="date-and-time" id="date-time">
        </div>
        
        <div class="date-and-time-icon">
        </div>

    </div>

</div>

<script>

    function displayDateTime(id) {
        date = new Date;
        year = date.getFullYear();
        month = date.getMonth();
        months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
        d = date.getDate();
        day = date.getDay();
        days = new Array('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat');
        h = date.getHours();
        if (h < 10) {
            h = "0" + h;
        }
        m = date.getMinutes();
        if (m < 10) {
            m = "0" + m;
        }
        s = date.getSeconds();
        if (s < 10) {
            s = "0" + s;
        }
        result = days[day] + ' ' + d + ' ' + months[month] + ' ' + year + ' ' + h + ':' + m;
        document.getElementById(id).innerHTML = result;
        setTimeout('displayDateTime("' + id + '");', '1000');
        return true;
    }

    $(displayDateTime('date-time'));

</script>
