﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.MailingList._MailingListSubscriptionModel

<div class="mailing-list-subscription-main-container">
    
    <div class="mailing-list-subscription-content">
    
        @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.H3, Model.MailingListSubscriptionTitleContentText, cssClass:"mailing-list-subscription-title")

        @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.P, Model.MailingListSubscriptionDescriptionContentText, cssClass:"mailing-list-subscription-description")
            
        <div class="mailing-list-subscription-form">
            @*
               <form action="@Model.FormActionUrl" method="POST">

                   @Html.FormFieldsBegin()

    @Html.FormFieldRowFromModel(Model.MailingListSubscriptionFormModel.UserFullNameTextFieldRow)
                   @Html.FormFieldRowFromModel(Model.MailingListSubscriptionFormModel.UserEmailAddressTextFieldRow)

    

                
            @Html.FormFieldsEnd()
                
                @Html.FormFieldSubmitButtonFromModel(Model.SubmitButton)

        </form>
            *@
            @{
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Forms._FormFieldModels, Model.MailingListFormModel);
            }
        </div>
            
        @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Div, Model.MailingListSubscriptionDisclaimerContentText, cssClass:"mailing-list-subscription-disclaimer")

    </div>
    
</div>