﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Categories._CategoryMenuModel

<h3>@Model.Title.GetContentTextContent()</h3>

<ul>
    @foreach (var category in Model.Categories)
    {
        //if (string.Compare(category.Id, Model.SelectedCategory.Id) == 0)
        //{
        // <li class="category-menu-list-item-selected"><a href="@category.Href">@category.Title</a></li>
        //}
        <li class="category-menu-list-item"><a href="@category.Href">@category.Title</a></li>
    }
</ul>

