﻿@using BusinessLogic_CS_v6.EnumsBL
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Categories._FeaturedCategoriesModel
    
<div class="featured-categories-main-container">
    
    <div class="featured-categories-content">
        
        <div class="featured-categories-title">
        
            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.H2, Model.FeaturedCategoriesTitleContentText)

        </div>
            
        <nav class="featured-categories">
                    
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Hierarchy._HierarchicalNavigationControl, Model.FeaturedCategories); }

        </nav>
         
        <div class="view-all-categories-link-container">
            
            @Html.CsAnchorForSection(Model.CategoryListingSection, Model.ViewAllCategoriesLinkTitleContentText, cssClass:"view-all-categories-link")
        
        </div>

    </div>

</div>