﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.DateAndTime._LocalDateAndTimeModel

<div class="local-date-and-time-main-container">

    <div class="local-date-and-time-content">

        <div class="local-date-and-time-icon">
        </div>

        <div class="local-date-and-time" id="local-date-time">
        </div>

    </div>

</div>
<script>

    function _LocalDateAndTime_setTime(currTime) {
        var newTime = _LocalDateAndTime_padTimeValue(currTime.getHours()) + ":" + _LocalDateAndTime_padTimeValue(currTime.getMinutes());
        $("#local-date-time").html(newTime);
    }
    function _LocalDateAndTime_updateClock() {
        window._LocalDateAndTime_Time = new Date(window._LocalDateAndTime_Time.getTime() + (1 * 1000)); // add second
        _LocalDateAndTime_setTime(window._LocalDateAndTime_Time);
    }

    function _LocalDateAndTime_padTimeValue(value) {
        return (value < 10 ? '0' : '') + value;
    }
    function _LocalDateAndTime_initClock() {
        var localTimeOffset = @(Model.LocalTimeZoneOffset);
        var currTime = new Date();
        var currTimeOffset = currTime.getTimezoneOffset();
        var timeOffsetDiff = currTimeOffset - localTimeOffset;
        currTime = new Date(currTime.getTime() + (timeOffsetDiff * 60000));
        window._LocalDateAndTime_Time = currTime;
        _LocalDateAndTime_setTime(currTime);
    }
    $(function() {
        setInterval(function () {
            _LocalDateAndTime_updateClock();
        }, 1000);
    });
    _LocalDateAndTime_initClock();
</script>