﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testOk.aspx.cs" Inherits="PayMammoth_v6Deploy.testOk" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    If you this page, it should be OK.
    </div>
    </form>
</body>
</html>
