﻿@using BusinessLogic_CS_v5.Constants
@using BusinessLogic_CS_v5.Presentation.Code.ContextData.Old
@using CmsGeneral_CS_v5.EnumsCms
@model CmsGeneral_CS_v5.Presentation.Models.CmsSection.CmsSectionAddOrEditModel




@helper createButton(CmsEnums.AddOrEditButtonType buttonType, string extraCssClass = null, bool submitButton = false)
{ 

    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes["value"] = buttonType;
    htmlAttributes["name"] = CmsConstants.ButtonType;
    htmlAttributes["type"] = submitButton ? "submit" : "button";
    @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Button, buttonType, "button " + extraCssClass, null,
                                   new InlineEditingExtensions.InlineEditingContentTextOtherParameters() { HtmlAttributesDictionary = htmlAttributes })

}
<div class="add-or-edit-container">
    <div class="add-or-edit-title-container">
        
        <h1>@Model.Title @if (!string.IsNullOrWhiteSpace(Model.EditItemTitle))
                         {
                             <span class="edit-item-title-separator">//</span>
                             <span class="edit-item-title">@Model.EditItemTitle</span>
                         }
        </h1>
        <div class="go-back-container">
            @Html.Action(MVCGeneral.PartialViewsNavigation._GoBackLinkButton(Model.GoBackLinkButtonModel))
             
        </div>
    </div>
    @Html.Action(MvcCmsGeneral.PartialViewsCmsButtons._CustomOperationsBar(Model.CustomOperationsBarModel))
    <form method="POST" enctype="multipart/form-data" novalidate>
        @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(Model.ObjectFieldsModel))

        <div class="buttons-container add-or-edit-buttons">
            @createButton(CmsEnums.AddOrEditButtonType.Save, submitButton: true)
            @createButton(CmsEnums.AddOrEditButtonType.SaveAndCreateNew, submitButton: true)
            @createButton(CmsEnums.AddOrEditButtonType.SaveAndGoBack, submitButton: true)
            @createButton(CmsEnums.AddOrEditButtonType.Delete, "delete-button button-red", submitButton: true)
            @Html.CsAnchor(CmsEnums.AddOrEditButtonType.GoBack, Model.GoBackLinkButtonModel.GoBackLinkButtonUrl, cssClass: "button button-grey")
        </div>

    </form>
</div> 
@section css {
    <link rel="stylesheet" href="/_common_CS_v5/static/js/jQuery/plugins/fineuploader/3.2/fineuploader-3.2.css"/>   
    <link rel="stylesheet" href="/_common_CS_v5/static/js/jQuery/plugins/prettyPhoto/css/prettyPhoto.css"/>   

}
@section scripts {
   <script src="/_common_CS_v5/static/js/jQuery/plugins/fineuploader/3.2/jquery.fineuploader-3.2.js"></script>
   <script src="/_common_CS_v5/static/js/jQuery/plugins/prettyPhoto/js/jquery.prettyPhoto.js"></script>
}