﻿@model CmsGeneral_CS_v5.Presentation.Models.CmsSection.CmsSectionListingModel
@{
    if (Model.IsSearchingForReferenceLinkExternalData)
    {
        this.Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;
    }
    BusinessLogic_CS_v5.Presentation.Code.ContextData.Old.CommonViewContextDataOld.Instance.Styles.BodyTagCssClass = "cms-section-listing";
}

@if (Model.IsIndexStale)
{
    <div class="index-stale-container">
        Stale Index - Data being shown is not reflecting correct data in database. Please try again later.  If this message persists, please contact CasaSoft.
    </div>
}

@if (!Model.IsSearchingForReferenceLinkExternalData)
{
    Model.CustomOperationsBarModel.ContentBefore = @<text>
        <a class="item-button listing-ui-button" href="@Model.ButtonAddItemUrl">
            @Model.ButtonAddItemText
        </a>

    </text>;

    @Html.Action(MvcCmsGeneral.PartialViewsCmsButtons._CustomOperationsBar(Model.CustomOperationsBarModel))
}
<div class="listing-ui-container">

    @Html.Action(MvcCmsGeneral.PartialViewsCmsDataGrid._CmsDataGrid(Model.DataGridModel))

</div>



<script>
    function updateDataGridHeight() {

        var isForSearch = @(Model.IsSearchingForReferenceLinkExternalData.ToString().ToLower());
        var bottomHeight = $(".listing-bottom-bar-container").height();
        var barsHeight = 0;
        $(".cs-navigation-breadcrumbs, .custom-operations-bar-container, .index-stale-container, .cms-notification-message-container").each(function() {
            barsHeight += $(this).outerHeight(true);
        });
        var buttonsHeight = $(".custom-operations-bar-container").outerHeight();
        var jContainer = $(".listing-ui-container");
        var height = isForSearch ? $(window).height() : jContainer.parent().height();
        var gridHeight = height - bottomHeight - buttonsHeight - barsHeight;
        $("#@(Model.DataGridModel.ListingCoreControllerOptions.containerId) .listing-data-grid").height(gridHeight);
        $(".listing-bottom-bar-container").show();
    }

    $(function () {
        updateDataGridHeight();
    });
    $(".listing-bottom-bar-container").hide();
</script>
