﻿@using BusinessLogic_CS_v5.Constants
@using CS.General_CS_v5

@using CmsGeneral_CS_v5.EnumsCms
@model CmsGeneral_CS_v5.Presentation.Models.CmsSection.CmsSectionSearchModel
@{
    Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;
}

@helper createButton(CmsEnums.AddOrEditButtonType buttonType, string extraCssClass = null)
{
    @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Button, buttonType, "button " + extraCssClass, null,
                                   new InlineEditingExtensions.InlineEditingContentTextOtherParameters() { HtmlAttributes = new { value = buttonType, name = CmsConstants.ButtonType } })
}
<div class="search-container">
    <form method="GET" target="_parent" action="@Model.ListingUrl">
        <input type="hidden" name="@CmsConstants.ListingSearchingForReferenceLinkExternalData" value="@CS.General_CS_v5.Util.ConversionUtil.ConvertBasicDataTypeToString(Model.IsSearchingForReferenceLinkExternalData)"/>
        <input type="hidden" name="@CmsConstants.Search" value="@CS.General_CS_v5.Util.ConversionUtil.ConvertBasicDataTypeToString(true)"/>
        @Html.Action(MvcCmsGeneral.PartialViewsCmsSearch._SearchForm(Model.SearchFormModel))
        
        <div class="buttons-container search-buttons">
            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Button, CmsEnums.CmsContentText.Search, "button", null)
            @Html.CsAnchor(CmsEnums.CmsContentText.Clear, Model.ListingUrl, cssClass: "button button-grey", hrefTarget: Enums.HrefTarget.Parent)
        </div> 
         

    </form> 
</div>