@import (reference) "main.less";


@cms-menu-bar-height:                   50px;
@text-area-min-height:                  200px;
@form-field-validation-icon-width:      24px;
@input-height-base:                     30px;
@culture-flag-width:                    30px;

@notification-message-error-color:      #CC0000;
@notification-message-success-color:    #00CC00;
@notification-message-info-color:       #3482C5;
@notification-message-text-darken:      20%;
@notification-message-back-lighten:     50%;
@notification-message-border-lighten:   40%;


//CLASSES

/* General */
html {
}
body {
  .font-size-rem(@font-size-base);
  color:;
}

td,
th {
  padding:0px;
}


h1,h2,h3,h4,h5,h6 {
  margin-top:0px;
}

.chromeframe {


}
a {
  color:@color-link;
  text-decoration:underline;
}
a:hover {
  color:@color-link-hover;
  text-decoration:none;
}

/* CMS Frontend */
.cms-menu-bar {
  background:#EEE;
  padding:@padding-large;
  text-align:center;
  position:fixed;
  bottom:0px;
  width:100%;
  border-top:1px solid #DDD;
  margin-top:@padding-large;
  z-index:1000;
}
.cms-menu-bar button {

}
.cms-menu-bar-present body {
  padding-bottom:@cms-menu-bar-height + @padding-large;
}

/* Add This Smart Layers introduce padding at bottom */

.addthis-smartlayers-mobile {
  height:25px;
}

/*Padding for add this share when showing in small screens */
.cms-menu-bar-present .addthis-smartlayers-mobile .at4m-dock,
.cms-menu-bar-present .addthis-smartlayers-mobile .at4m-dock-toggle,
.cms-menu-bar-present .addthis-smartlayers-mobile .at4m-menu {
  margin-bottom:@cms-menu-bar-height;
}

/* Forms */

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
input[type=date],
textarea,
select {
 // .form-control();
  &.parsley-error {
  //  .form-control-has-error();
  }
  &.parsley-success {
   // .form-control-has-success();
  }

}
textarea {
  resize: vertical;
  min-height:@text-area-min-height;
}

/*
Removed from general as this was conflicting with several others
*/
.form-fields-table button,
.form-fields-table input[type=button],
.form-fields-table input[type=submit] {
 // .btn();
}

.form-fields-table button[type=submit],
.form-fields-table input[type=submit] {
  //.btn-primary();
}

.form-fields-table td,
.form-fields-table th {
  vertical-align:top;
  padding-right:@padding-small;
  padding-bottom:@padding-base;
  //min-height:@input-height-base + @padding-small;
}

.form-fields-table .form-field-label-cell {
  padding-right:@padding-large;
 // width:@form-field-label-cell-width;
}
input[type="radio"], input[type="checkbox"] {
  margin:0px;
  vertical-align:middle;
}


.form-fields-table .form-field-content-cell {
  vertical-align:middle;
}
.form-fields-container {
  padding:0px @padding-large;
}

.form-fields-table {
  width:100%;
}

.form-field-label-cell label {
  display:block;
  padding-top:@padding-base + 1;
}

.parsley-errors-list {
  padding:0px;
  padding-top:@padding-small;
  color:@color-error;
  margin:0px;
}
.parsley-errors-list li {
  list-style:none;
}

.form-field-validation-icon {
  width:@form-field-validation-icon-width;
  height:24px;
  .sprite(0,0,@sprite-image-common);
}
.form-field-validation-icon-cell {
  width:@form-field-validation-icon-width;
}

.form-field-validation-icon-cell .validation-icon-error {
  .sprite(48,0,@sprite-image-common);
}
.form-field-validation-icon-cell .validation-icon-success {
  .sprite(24,0,@sprite-image-common);
}
.form-field-validation-icon {
  margin-top: round((@input-height-base - 24) / 2);
}
nav ul {
  .list-no-style();
}

// Notification Messages



.notification-message-container
{
  .property-size-rem(padding, @spacing-large);
  border-bottom: @border-size-small solid @color-text-light;
  display: table;
  width: 100%;
  font-weight: bold;
  .font-size-rem(@font-size-large);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  .box-sizing(border-box);
}

.notification-message-error
{
  background-color: @color-error-background;
  color: @color-error-text;
}
.notification-message-error .notification-message-icon
{
  .glyphicon-remove-sign();
}

.notification-message-success
{
  background-color: @color-success-background;
  color: @color-success-text;
}
.notification-message-success .notification-message-icon
{
  .glyphicon-ok-sign();
}

.notification-message-info
{
  //.alert-info();
  background-color: @color-info-background;
  color: @color-info-text;
}
.notification-message-info .notification-message-icon
{
  .glyphicon-info-sign();
}
.notification-message-container {
  border-radius:@border-radius-base;
}

.notification-message-icon-container,
.notication-message-text-list-container,
.notification-message-hide-button-container
{
  display: table-cell;
  vertical-align: middle;
}

.notification-message-icon-container,
.notification-message-icon,
.notification-message-hide-button-container,
.notification-message-hide-button
{
  .property-size-rem(width, @font-size-large);
}

.notification-message-icon,
.notification-message-hide-button
{
  .glyphicon();
  display: block;
}

.notification-message-hide-button
{
  .glyphicon-remove();
  text-decoration: none;
  color: @color-text;
}
.layout-main-notification-message-container .notification-message-hide-button  {
  color: @color-text-light;
  &:hover {
    color:darken(@color-text-light,10%);
  }

}

.notification-message-hide-button:hover
{
  color: lighten(@color-text, 15%);
}

.notication-message-text-list-container
{
  .property-size-rem(padding-left, @spacing-large);
  .property-size-rem(padding-right, @spacing-large);
}

.notication-message-text-list-container ul
{
  margin: 0px;
  padding: 0px;
}

.notication-message-text-list-container li
{
  list-style: none;
}

// End Notification Messages

.navigation-breadcrumbs-content ul {
  .clearfix();
  height:@font-size-small * @line-height-base;
}

.navigation-breadcrumbs-content ul li {
  float:left;
}
.navigation-breadcrumbs-content li:before {
  content:'\203A';
  padding:0 @padding-base;
  float:left;
}
.navigation-breadcrumbs-content li:first-child:before {
  content:none;
}
.ui-datepicker-trigger {
  float:left;
  background:none;
  padding:0px;
  border:none;
}
.cs-form-field-group-date input {
  float:left;
  margin-right: @padding-base;
}
.form-horizontal .checkbox-or-radio-container .control-label {
  width:auto;
  font-weight:normal;
}
.cs-checkbox-list-container {
  .clearfix();
  margin:0px;
  padding:0px;
}
.checkbox-or-radio-container {
  .clearfix();

  .label-text {
    padding-right: @padding-base;
    padding-left: @padding-small;
  }

}

.cs-checkbox-list-item {
  float:left;
  list-style:none;
}
.checkbox-or-radio-container input {
  @checkbox-height:13px;
  float:left;
  //margin-top:round(@padding-base + 1 + ((@line-height-computed - @checkbox-height)/2));// Default padding plus a border  ;
}

.form-horizontal {
  .cs-form-field-group {
    //.make-row();
  }

  .cs-form-field-group label {
    //.make-sm-column(@form-label-cols);
  }
  .cs-form-field-content {
    //.make-sm-column(@form-field-cols);
  }
  .cs-form-field-group-submit-button .cs-form-field-content,
  .cs-form-field-group-checkbox .cs-form-field-content,
  .cs-form-field-group-radio-button .cs-form-field-content {
    //.make-sm-column-offset(@form-label-cols);
    //.make-sm-column(@form-field-cols);
  }


}
.cs-form-with-parsley {
  input[type=submit],
  input[type=button],
  button:not([class=ui-datepicker-trigger]) {
    //.btn();
  }
  input[type=button],
  button:not([class=ui-datepicker-trigger]) {
    //.btn-default();
  }

  input[type=submit],
  button[type=submit] {
   // .btn-primary();
  }
  //padding:0 @grid-gutter-width/2;
}

[data-inline-editing-id] {
  .transitions();
}
.inline-editing-on {
  background:#0000FF;
  color:#FFF;
}
.caret-reverse {
  border-top: 0;
  //border-bottom: @caret-width-base solid;
  content: "";
}

/* Currency & Culture selection*/


.currency-dropdown-selection-caret,
.current-culture-selection-caret {
  //.caret();
}
.currency-dropdown-available-currencies-container,
.available-cultures-selection-content-container {
  .list-no-style();
}
.currency-dropdown-available-currencies-container,
.available-cultures-selection-container {
  display:none;
  position:absolute;
  right:0px;
  top:100%;
}
.header-currency-container,
.culture-selection-container {
  position:relative;
}

.header-currency-container:hover {
  .currency-dropdown-selection-caret {
   // .caret-reverse();
  }

   .currency-dropdown-available-currencies-container {
     display:block;
   }

}
.header-culture-container:hover {
  .current-culture-selection-caret {
   // .caret-reverse();
  }
  .available-cultures-selection-container {
     display:block;
   }
}
.available-culture-selection-item,
.available-currency-item {
  white-space:nowrap;
}
.currency-dropdown-selection-symbol:before,
.available-currency-item-symbol:before {
  content:"(";
}
.currency-dropdown-selection-symbol:after,
.available-currency-item-symbol:after {
  content:")";
}


.currency-dropdown-available-currencies-container,
.available-cultures-selection-content-container {

  text-align:right;
}
.currency-dropdown-available-currencies-container a,
.available-cultures-selection-content-container a {
  color:@color-text-light;
  text-decoration:none;
  display:block;
  .transitions();
  .clearfix();
}
.currency-dropdown-available-currencies-container a:hover,
.available-cultures-selection-content-container a:hover {

}
.currency-dropdown-selection,
.culture-selection-container {
  cursor:default;
}
.available-culture-selection-item-image-wrapper {
  float:right;
}
.available-culture-selection-item-title {
  display:block;

  padding-right:@culture-flag-width;

}
.caroufredsel-items-container {
  margin:0px;
  padding:0px;
}

.caroufredsel-item {
  list-style:none;
  float:left;
}


