@import (reference) "variables.less";
@import (reference) "../../_common_CS_v6/static/css/casasoft/v6a/casasoft.common.less";



//CSS CODE

//Forms default widths - This has to be here as else due to bootstrap-cs.less
//not being imported by reference (due to bug), this is outputted with every piece of code
//


.payment-selection-container {
  @payment-icon-height:     70px;
  @payment-icon-width:      110px;
  .list-no-style();
  a {
    display:table;
    position:relative;
    min-height:@payment-icon-height;
    width:100%;
    background:#EEE;
    padding:@padding-base;
    margin-bottom:@spacing-base;
    .box-sizing(border-box);
    text-decoration:none;
    &:hover {
      background:lighten(#EEE,2%);
    }

  }
  .payment-selection-method-icon-container {
    display:table-cell;
    width:@payment-icon-width;
    height:@payment-icon-height;
  }
  .payment-selection-method-description-container {
    display:table-cell;
    min-height:@payment-icon-height;
    padding-left:@padding-base;
    vertical-align:middle;

    span {
      display:block;
    }

  }
  .payment-selection-method-description {

  }
  .payment-selection-method-title {
    font-weight:bold;
    .font-size-rem(@font-size-h3);
    margin-bottom:@padding-small;
  }
  .payment-selection-method-description {
    color:@color-text;
  }

}
.core-container {
  padding:@spacing-base;

}



h2 {
  background:@color-h2-back;
  color:@color-h2-text;
  padding:@padding-base;
  .font-size-rem(@font-size-h2);
  border-radius:@border-radius-base;
  margin-bottom:@spacing-base;
}
h3 {
 background:@color-h3-back;
  color:@color-h3-text;
  padding:@padding-base;
  .font-size-rem(@font-size-h3);
  border-radius:@border-radius-base;
  margin-bottom:@spacing-base;
}
.order-description-text p {
  margin-bottom:@spacing-base;
}

.order-core-container {
  .clearfix();
}
.order-item-details {
  .list-no-style();
}
.order-item {
  background: @color-order-item-back;
  padding:@padding-base;
  margin-bottom:@spacing-small;
  border-radius:@border-radius-base;
}
.view-full-order-details-container {
  text-align:center;
  padding-top:@padding-small;
}
.order-summary-details-wrapper {
  margin:@padding-base 0;
  padding-top:@padding-base;
  border-top:@border-style;
  .clearfix();
}

.order-summary-details-wrapper table {
  float:right;
  th,td {
    padding:@padding-small;
    text-align:right;
  }

}
.order-summary-details-wrapper .order-details-total-row {


    td,th {
      color: @color-text-light;
    background:@color-total-background;
      font-weight:bold;
      padding-top:@padding-base;
      padding-bottom:@padding-base;
    }
    th {
      border-top-left-radius: @border-radius-base;
        border-bottom-left-radius: @border-radius-base;
    }
    td {
      border-top-right-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
    }
}
.payment-details-your-details-name {
  font-weight:bold;
}
.payment-details-your-details-address {
  padding-top:@padding-base;
}
.payment-details-your-details-wrapper {

  padding:@spacing-base @padding-base;
  padding-top:0px;
}
.cancel-button-container {
  text-align:center;
  .font-size-rem(@font-size-small);
  padding-top:@padding-base;
}


.paypal-confirmation-button-container a {
  .btn();
}
.transactium-payment-iframe-container iframe {
  width:100%;
}

.payment-request-expired {
  padding:@padding-base;
}

.expiration-message-container {
  .notification-message-container {
    position:static;
    margin-bottom:@spacing-base;
  }

}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  .order-summary-container {
    width:@order-summary-width;
    float:left;
    padding-right:@spacing-base;
    .box-sizing(border-box);
    border-right:@border-style;
  }
  .payment-details-container {
    width:@payment-details-width;
    float:left;
    padding-left:@spacing-base;
    .box-sizing(border-box);
  }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {




}



