@import (reference) "../../_common_CS_v6/static/css/casasoft/v6a/casasoft.common.less";


/* Main container specific */

//VARIABLES
//---------

@order-summary-width:           40%;
@payment-details-width:         60%;


//== Sprites
@sprite-image-common:   url('/_common_CS_v5/static/images/cs-common-sprites.png?v=4');


//== Colors

@color-primary:                 #DD0000;
@color-error:                   #CC0000;


@color-text:                    #333;
@color-text-light:              #FFFFFF;
@color-link:                    #0085B2;
@color-link-hover:              lighten(@color-link, 15%);

@color-h2-back:                 #333;
@color-h2-text:                 #FFF;
@color-h3-back:                 #EEE;
@color-h3-text:                 @color-text;
@color-sub-heading-back:        #EEE;
@color-order-item-back:         #EEE;
@color-total-background:        @color-h2-back;
@color-border:                  #999;
@border-style:                  1px dotted #999;
@color-error-background:        #CC0000;
@color-error-text:              @color-text-light;
@color-success-background:      #00CC00;
@color-success-text:            @color-text-light;
@color-info-background:         #D7EBFF;
@color-info-text:               #000066;

@color-button-back:             #1973BA;
@color-button-back-hover:       lighten(@color-button-back,10%);
@color-button-text:             @color-text-light;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
// Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         18px; // ~18px
@font-size-small:         12px; // ~12px

@font-size-h1:            22px; // ~36px
@font-size-h2:            20px; // ~30px
@font-size-h3:            16px; // ~24px
@font-size-h4:            15px; // ~18px
@font-size-h5:            14px;
@font-size-h6:            13px; // ~12px

//-- Iconography
//


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).


@spacing-small:             5px;
@spacing-base:              15px;
@spacing-large:             20px;
@spacing-xl:                40px;

@padding-xs:                2px;
@padding-small:             5px;
@padding-base:              10px;
@padding-large:             20px;
@padding-xl:                25px;

@line-height-base:          1.33;
@line-height-large:         1.6;
@line-height-small:         1;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;
@border-size-small:         1px;

@screen-sm-min:             768px;
@screen-md-min:             992px;
@screen-lg-min:             1200px;


// MIXINS

.btn {
  background:@color-button-back;
  color:@color-button-text;
  padding:@padding-base;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  display:block;
  text-decoration:none;
  &:hover {
    background:@color-button-back-hover;
  }


}
