/** 
 * dijit.layout.SplitContainer 
 *
 */ 

.cs-cms .dijitSplitContainerSizerH {
	background:url("../images/splitContainerSizerV.png") repeat-y #fff;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	width:5px;
}

.cs-cms .dijitSplitContainerSizerH .thumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat;
	left:1px;
	width:2px;
	height:19px;
}

.cs-cms .dijitSplitContainerSizerV {
	background:url("../images/splitContainerSizerH.png") repeat-x #fff;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	height:2px;
}

.cs-cms .dijitSplitContainerSizerV .thumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat;
	top:1px;
	width:19px;
	height:5px;
}