.dijitRtl .cs-cms .dijitTab {
	margin-right:0;
	margin-left:2px;		/* space between one tab and the next in top/bottom mode */
}

/* tab strips */
.dijitRtl .cs-cms .dijitTabContainerTopStrip,
.dijitRtl .cs-cms .dijitTabContainerBottomStrip {
	padding-right: 3px;
	padding-left: 0px;
}

.dijitRtl .cs-cms .dijitTabContainerTop-tabs {
	padding-left: auto;
	padding-right: 3px;
}

.dijitRtl .cs-cms .dijitTabContainerBottom-tabs {
	padding-left: auto;
	padding-right: 3px;
}

.dijitRtl .cs-cms .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}

.dijitRtl .cs-cms .dijitTabPaneWrapper {
	#zoom: 1;
}

.dj_ie-rtl .cs-cms .dijitTabContainerLeft-tabs {
	margin-left: 0px !important;
}

.dj_ie-rtl .cs-cms .dijitTabContainerRight-tabs {
	margin-right: 0px !important;
}

.dijitRtl .cs-cms .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .cs-cms .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}

.dj_ie .cs-cms .dijitTab .dijitTabInnerDiv{
	width : 1%;
}