﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.MetaTags._MetaTagsModelTagItem
<@{<text>meta</text>}@if (!string.IsNullOrWhiteSpace(Model.Name)) {<text> name="@Model.Name"</text>}@if (!string.IsNullOrWhiteSpace(Model.HttpEquiv)) {<text> http-equiv="@Model.HttpEquiv"</text>}@if (!string.IsNullOrWhiteSpace(Model.Property)) {<text> property="@Model.Property"</text>}@if (!string.IsNullOrWhiteSpace(Model.Content)) {<text> content="@Model.Content"</text>} />