﻿@using CmsGeneral_CS_v5.EnumsCms
@model CmsGeneral_CS_v5.Presentation.Models._Shared.PartialViews.CmsLogin._LoginControlModel
<div class="panel">
    @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.H1, CmsEnums.CmsContentText.Login_Title)
    @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Div, CmsEnums.CmsContentText.Login_Description)
    <form method="POST">
        @using (Html.BeginFormFields())
        {
            @Html.FormFieldTextBoxFor(x=>x.Username)
            @Html.FormFieldPasswordFor(x=>x.Password)
            @Html.FormFieldSubmitButton(CmsEnums.CmsContentText.Login_ButtonText)
        }

    </form> 
    @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Div, CmsEnums.CmsContentText.Login_SecurityMessage)

</div> 