﻿<%@ Page Title="CKEditor - Custom Browser - Upload" Language="C#" MasterPageFile="~/_ComponentsGeneric/Frontend/Pages/MasterPages/Common.Master" AutoEventWireup="true"
    CodeBehind="upload.aspx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.Pages.CKEditor.v1.uploadAspx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<script type="text/javascript">
    var uploadedFile = '';
    var funcNum = 0;
    function updateCKEditor() {
        window.parent.CKEDITOR.tools.callFunction(funcNum, uploadedFile);
    }
    jQuery(updateCKEditor);
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainPlaceHolder" runat="server">
  <div>
    
    </div>
    
</asp:Content>
