﻿body, html
{
    margin: 0px;
    padding: 0px;
}

a
{
    text-decoration: underline;
    color: #5276BA !important;
}

a:hover
{
    text-decoration: none;
}

body
{
    font-family: Arial, Tahoma, Verdana, Sans-Serif;
    font-size: 13px;
}

html
{
   background: #FFFFFF;
}

strong
{
    font-weight: bold;
}
a.view-order-details
{
    display: block;
}
.button
{
    /** RESET **/
    border: none;
    text-decoration: none;
    width: auto !important;
    height: auto !important;
    /** END OF RESET **/

    border: 2px solid #4461AD;
    background: url('/images/sprites-repeat-x.png') repeat-x -0px -0px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    padding: 9px 15px 9px 15px !important;
    cursor: pointer;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}


.button:hover
{
    background: url('/images/sprites-repeat-x.png') repeat-x -0px -46px;
}

.button-wrapper
{
    margin: 10px 0px;
    text-align: center;
}

.button-wrapper p
{
    text-align: center;
}

.button-wrapper a
{
    display: block;
    font-size: 11px;
    margin: 10px 0px;
}

/** MAIN WEBSITE CONTENT **/
.main-heading-wrapper
{
    margin: 10px 0px 15px 0px;
}

.main-logo-wrapper
{
    float: left;
}

.main-contact-details
{
    float:right;
}
.contact-details-wrapper {
  text-align:right;
}

.main-contact-details .contact-details-wrapper p
{
    text-align: right;
}

.main-contact-details .contact-details-wrapper table
{
    float: right;
    line-height: 180%;
}

.main-contact-details .contact-details-wrapper table td.label
{
    font-weight: bold;
    padding-right: 5px;
}

.website-content-wrapper
{
    width: 1000px;
    margin: 0 auto;
}

.main-content-left-sidebar, .main-content
{
    float: left;
}

.main-content-left-sidebar
{
    width: 365px;
    padding-right: 10px;
}

.main-content
{
    padding-left: 10px;
    width: 614px;
    border-left: 1px dotted #000;
}

.main-content-wrapper
{
    padding-bottom: 20px;
}

.main-footer-wrapper span, .main-footer-wrapper span a
{
    color: #999;
}

.main-footer-wrapper span
{
    margin-top: 5px;
    display: block;
    text-align: right;
    font-size: 11px;
    cursor: default;
}

.main-footer-wrapper span a
{
    font-weight: bold;
    text-decoration: underline;
}

.main-footer-wrapper span a:hover
{
    text-decoration: none;
}

/** END OF MAIN WEBSITE CONTENT **/


/** GENERAL CSS **/
 h2, h3
{
   font-weight: bold;
   padding: 10px;
   color: #FFF;
   margin-bottom: 10px;
   cursor: default;
}

h2
{
    background: #425DA8;
    font-size: 16px;
    font-weight: bold;
}

h3
{
    background: #489345;
}

.clear
{
    clear: both;
}

p
{
    text-align: justify;
    line-height: 160%;
    margin-bottom: 10px;
}

/** END OF GENERAL CSS **/

/** ROUNDED BORDER CSS **/

.rounded-border
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/** END OF ROUNDED BORDER CSS **/

/** GENERAL MESSAGES **/

 .error-notification, .success-notification, .warning-notification, .info-notification,
 .warning-message
 {
     margin-bottom: 10px;
     text-align: left;
     padding: 5px;
 }

 .error-notification, .warning-message
 {
    background:#D50000;
 }

/** END OF GENERAL MESSAGES **/

/** ORDER SUMMARY **/

.order-description-content, .main-content-wrapper
{
    border-bottom: 1px dotted #000;
    padding-bottom:10px;
}

.order-description-text
{
   margin-bottom: 10px;
}
.view-full-order-details-container {
  padding-top:10px;
  text-align:center;
  border-top:1px dotted #DDD;
  margin-top:15px;
  clear:both;
  text-transform:lowercase;
}

.order-main-content {

}

.order-summary-details-wrapper
{
    margin-top: 15px;
}

.order-summary-details-wrapper table
{
    float: right;
    text-align: right;
}

.order-summary-details-wrapper table  td.field
{
    text-align: left;
    padding-right: 10px;
}

.order-summary-details-wrapper table td
{
    font-weight: bold;
    padding: 3px 0px 3px 0px;
}

.order-summary-details-wrapper table td label
{
    cursor: default;
    padding-right: 15px;
}

.order-detail-total-row
{
    background: #333333;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

.order-summary-details-wrapper table .order-details-total
{
    padding:10px 0px 10px 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.order-details-total-field
{
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.order-summary-details-wrapper table .order-details-handling,
.order-summary-details-wrapper table .order-details-handling-field
{
    padding-bottom: 15px;
}

/** END OF ORDER SUMMARY **/

/** SECURITY INFORMATION **/
.pay-by-credit-card
{
    text-align: center;
    background:#FFF;
}

.security-information-wrapper ul
{
    font-size: 11px;
    margin-left: 25px;
    clear:both;
    padding-top:15px;
}

.security-information-wrapper ul li
{
    list-style: disc;
}

/** END OF SECURITY INFORMATION **/

/** CHEQUE **/

.cheque-pay-to-address
{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

/** END OF CHEQUE **/

/** PAYMENT SELECTION **/
.radio-button-list
{
    width: 100%;
}

.payment-method-details
{
    margin-left: 20px;
}

.payment-method-details-title
{
    font-weight: bold;
    color: #395299;
    display: block;
    padding-bottom: 5px;
}

.payment-method-details-description
{
    color: #000;
}

.payment-method-wrapper
{
    background: #E8E8E8;
    margin-bottom: 10px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
}

.payment-method-wrapper:hover
{
    background: #425DA8;
}

.payment-method-wrapper:hover, .payment-method-wrapper:hover .payment-method-details-title,
.payment-method-wrapper:hover .payment-method-details-description
{
    color: #FFFFFF !important;
}

.payment-method-paypal,
.payment-method-paypal_expresscheckout,
.payment-method-cheque,
.payment-method-paymentgateway_transactium,
.payment-method-paymentgateway_realex,
.payment-method-paymentgateway_apco

{
    display: block;
    width: 110px;
    height: 33px;
    margin-top:4px;
}

.payment-method-paypal, .payment-method-paypal_expresscheckout
{
    background: url('/images/sprites.png') no-repeat -110px -0px;
}

.payment-method-cheque
{
    background: url('/images/sprites.png') no-repeat -0px -33px;
}

.payment-method-paymentgateway_transactium,
.payment-method-paymentgateway_apco,
.payment-method-paymentgateway_realex
{
    background: url('/images/sprites.png') no-repeat -0px -0px;
}

.radio-button-container
{
    margin-top: 10px;
    margin-right: 10px;
}

.payment-method-selection-content, .payment-method-details,
.payment-method-selection-content span
{
    float: left;
}
.payment-method-selection-content input {
  float:left;
  margin-top:13px;
  margin-right:10px;
}

/** END OF PAYMENT SELECTION **/

/** STAGING ERROR **/

.staging-error-wrapper, .error-message, .information-message,
.warning-message
{
    background: #D50000 url('/images/staging-error-icon.png') no-repeat 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 20px;
    padding-left: 65px;
    margin-bottom: 10px;
}


/** END OF STAGING ERROR **/

/** YOUR DETAILS **/

.your-details-wrapper .details-client-name
{
    font-weight: bold;
}

.your-details-wrapper .details-client-email,
.your-details-wrapper .details-client-name
{
    display: block;
}

.your-details-wrapper p
{
    margin-left: 15px;
}

.your-details-wrapper .details-client-address
{
    margin-top: 5px;
    display: block;
}



/** END OF YOUR DETAILS **/

.payment-method-details p {margin-bottom:0px ;}

.item-detail-title
{
  font-weight: bold;
}
.item-detail-description {
  margin-top:0px;
  margin-bottom:0px;
}

div.item-detail
{

border: solid 1px #CCC;
background-color: #F3F3F3;
padding: 10px;
margin-bottom: 5px;


}

/*FAKE Payment */
.fake-payment-choice-container .checkbox-with-label-right {

  background:#CC0000;
  padding:10px;
  display:block;
  margin-bottom:10px;
  height:13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.checkbox-with-label-right label {
  padding-left:10px;
  float:left;
}
.checkbox-with-label-right .checkbox-with-label-form-item {
  float:left;
  margin-top:1px;

}
.contact-details-address {
  display:block;
  text-align:right;
  margin-bottom:10px;
}
.contact-details-content table {
  margin-left:auto;
  height:90px;
}

.contact-details-content .label {
  font-weight:bold;
  padding-right:10px;
}


.payment iframe {
  border:none !important;
}
.payment-apco iframe {
  width:100%;
  background:white;
  height:310px;
}
.payment-method-choice-text {
  margin-bottom:10px;
}
