﻿@using BusinessLogic_CS_v5.EnumsBL
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Members.Login._MembersLoginFormModel
<div class="login-page-content-login-form">

    @if (!Model.DoNotShowDescription)
    {
        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.DescriptionHtml)
    }

    @using (Html.BeginFormWithParsleyValidationRenderer(Model.FormAction))
    {
        if (!string.IsNullOrWhiteSpace(Model.LastNoAccessUrl))
        {
            <input type="hidden" name="@Model.LastNoAccessFieldName" value="@Model.LastNoAccessUrl" />
        }
        using (Html.BeginFormFields())
        {
            @Html.FormFieldRowFromModel(Model.EmailOrUsernameFieldModel)
            @Html.FormFieldRowFromModel(Model.PasswordFieldModel)
            if (Model.RememberMeFieldModel != null)
            {
                @Html.FormFieldRowFromModel(Model.RememberMeFieldModel)
            }
            @Html.FormFieldSubmitButtonFromModel(Model.SubmitButtonModel)
            @Html.FormFieldRowGenericContent(null, @<text>
            <div class="login-other-links">
                <ul>
                    <li>@Html.CsAnchor(Model.ForgotPasswordContentText, Model.ForgotPasswordUrl)</li>
                    @if (!Model.DoNotShowRegister)
                    {
                        <li>@Html.CsAnchor(Model.RegisterContentText, Model.RegisterUrl)</li>
                    }
                </ul>
            </div>
            </text>)

        }
    }
</div>
