﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Members.Groups._MemberGroupsListingModel
            
<div class="member-groups-listing-main-container">
        
    <div class="add-member-group-button-container">
            
        @Html.CsAnchorFromModel(Model.AddMemberGroupButton)

    </div>
        
    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsWithComponents, Model.MemberGroupsListing); }

</div>