﻿@{
    Layout = MVCPayMammoth_v2._Shared.Views.Layouts._LayoutMain;
}
@*
@Html.Action(MVCGeneral.PartialViewsNotificationMessages._NotificationMessage(),excludeFromParentCache:true)
@Html.Action(MVCGeneral.PartialViewsNotificationMessages._MaintenanceMessage(),excludeFromParentCache:true)
*@
<div class="core-site-container">
    <header class="header-container">
        <div class="logo-container">
            Logo here
        </div>
        <div class="main-menu-core-container">
            @Html.Action(MVCGeneral.PartialViewsNavigation._MainMenu(),excludeFromParentCache:true)
            @Html.Action(MVCGeneral.PartialViewsCulture._CultureLanguageSelection())
        </div>
    </header>


    @RenderBody()

    <footer class="footer-container">
        <div class="footer-content-container">
            @Html.Action(MVCGeneral.PartialViewsGeneralFooter._FooterMenu(),excludeFromParentCache:false)
            
        </div>
        <div class="copyright-container">
            <div class="copyright-text-content">
                &copy;2013 PayMammoth_v2.com.  All Rights Reserved. 
            </div>
            @Html.Action(MVCGeneral.PartialViewsCasaSoftLink._CasaSoftLink())
        </div>
    </footer>
</div>

@section scripts {
    @RenderSection("scripts", required: false)
}