﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models.Search.SearchListingModel
<div class="search-message-container">
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H1, Model.SearchResultsTitle)
</div>
@if (Model.ResultsListing != null)
{
    


        
            <div class="search-results-container">
                @{Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsWithComponents, Model.ResultsListing); }
            </div>
}
else
{
    if (Model.NoResultsMessage != null)
    {
        <div class="no-results-message-container">
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.P, Model.NoResultsMessage)
        </div>
    }
}