﻿@model PayMammoth_v2.Presentation.Models.Home.HomeIndexModel


@{
    Layout = MVCPayMammoth_v2._Shared.Views.Layouts._LayoutCore;
}

<div class="html-container">
    <h1>Pay Mammoth V2</h1>
    <p>Welcome to the Pay Mammoth payment handling website.</p>
</div>
@section scripts {

    
}