﻿@model PayMammoth_v2.Presentation.Models.Home.HomePaymentSelectionHandlerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirecting...</title>
    <script>
       
        window.top.location.href = "@Model.RedirectUrl";
    </script>
</head>
<body>
    <p>Redirecting...</p>
</body>
</html>
