
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 *****/

.cs-cms .dijitButtonNode {
	/* enabled state - inner */
	/* border:1px outset #a0a0a0; */
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #fff url("../images/buttonEnabled.png") repeat-x top left;
}

.cs-cms .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.cs-cms .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}

.cs-cms .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}

.cs-cms .dijitArrowButton {
	color: #111;
}

.cs-cms .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}

.dj_ff2 .cs-cms .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .cs-cms .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}

.cs-cms .dijitButtonDisabled .dijitButtonNode,
.cs-cms .dijitToggleButtonDisabled .dijitButtonNode,
.cs-cms .dijitDropDownButtonDisabled .dijitButtonNode,
.cs-cms .dijitComboButtonDisabled .dijitButtonNode,
.cs-cms .dijitComboBoxDisabled,
.cs-cms .dijitSpinnerDisabled,
.cs-cms .dijitSpinnerDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #dedede;
	background:#fafafa url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60; /* Safari, Opera and Mozilla */
}

.cs-cms .dijitButtonHover .dijitButtonNode,
.cs-cms .dijitButtonNodeHover,
.cs-cms .dijitToggleButtonHover .dijitButtonNode,
.cs-cms .dijitDropDownButtonHover .dijitButtonNode,
.cs-cms .dijitComboButtonHover .dijitButtonContents,
.cs-cms .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.cs-cms .dijitComboBoxHover .dijitDownArrowButton,
.cs-cms .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.cs-cms .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	color:#243C5F;
	background:#fcfcfc url("../images/buttonHover.png") repeat-x top left;
}

.cs-cms .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.cs-cms .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.cs-cms .dijitButtonActive .dijitButtonNode,
.cs-cms .dijitToggleButtonActive .dijitButtonNode,
.cs-cms .dijitDropDownButtonActive .dijitButtonNode,
.cs-cms .dijitComboButtonActive .dijitButtonContents,
.cs-cms .dijitDownArrowActive .dijitDownArrowButton,
.cs-cms .dijitComboBoxActive .dijitDownArrowButton {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a toggle button is in a depressed state
	 */
	border-color:#dedede;
	background: #f5f5f5 url("../images/buttonActive.png") top left repeat-x;
}


.cs-cms .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat left top;
	width: 11px;
}
.cs-cms .dijitUpArrowButton .dijitArrowButtonInner { 
	background:url("../images/spriteArrows.png") no-repeat -22px top; 
	width: 11px;
}
.dj_ie6 .cs-cms .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat left top;
	width: 11px;
}
.dj_ie6 .cs-cms .dijitUpArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat -22px top;
	width: 11px;
}
