
/****
		dijit.form.TextBox
		dijit.form.ValidationTextBox
		dijit.form.SerializableTextBox
		dijit.form.RangeBoundTextBox
		dijit.form.NumberTextBox
		dijit.form.CurrencyTextBox
		dijit.form.NumberSpinner
		dijit.form.ComboBox (partial)
 ****/

.cs-cms .dijitInputField INPUT,
.cs-cms .dijitTextBox,
.cs-cms .dijitComboBox,
.cs-cms .dijitSpinner {
	margin: 0em 0.1em;
}

.cs-cms .dijitTextBox,
.cs-cms .dijitComboBox,
.cs-cms .dijitSpinner,
.cs-cms .dijitInlineEditor input,
.cs-cms .dijitTextArea {
	/* 	For all except dijit.form.NumberSpinner:  the actual input element.
		For TextBox, ComboBox, Spinner: the table that contains the input.
		Otherwise the actual input element.
	*/
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	border:1px solid #d3d3d3;
	line-height: normal;
}

.dj_ie6 .cs-cms .dijitTextBox,
.dj_ie6 .cs-cms .dijitComboBox,
.dj_ie6 .cs-cms .dijitSpinner,
.dj_ie6 .cs-cms .dijitInlineEditor input,
.dj_ie6 .cs-cms .dijitTextArea {
	background:#fff url('../images/validationInputBg.gif') repeat-x top left;
}

.cs-cms .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.cs-cms .dijitComboBox .dijitButtonNode,
.cs-cms .dijitSpinner .dijitButtonNode {
	/* line between the input area and the drop down button */
	border-color: #d3d3d3;
	border-left: 1px solid #d3d3d3;
}

.cs-cms .dijitTextBoxDisabled,
.cs-cms .dijitComboBoxDisabled,
.cs-cms .dijitSpinnerDisabled,
.cs-cms .dijitTextAreaDisabled {
	color: gray;
}
.dj_safari .cs-cms .dijitTextBoxDisabled,
.dj_safari .cs-cms .dijitComboBoxDisabled,
.dj_safari .cs-cms .dijitSpinnerDisabled,
.dj_safari .cs-cms .dijitTextareaDisabled {
	color: #eee;
}

.cs-cms .dijitTextBoxFocused,
.cs-cms .dijitComboBoxFocused,
.cs-cms .dijitSpinnerFocused,
.cs-cms .dijitTextAreaFocused {
	/* input field when focused (ie: typing affects it) */
	border-color:#b3b3b3;
}
.cs-cms .dijitComboBoxFocused .dijitButtonNode, .cs-cms .dijitSpinnerFocused .dijitButtonNode {
	border-left-color:#d3d3d3;
}
.cs-cms .dijitSpinnerFocused .dijitDownArrowButton {
	border-top-color:#d3d3d3;
}

.cs-cms .dijitError {
	border-color:#b3b3b3;
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .cs-cms .dijitError INPUT {
	/* background-color: transparent on an <input> doesn't work on IE6 */
	background-color:#f9f7ba !important;
}

.cs-cms .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.dj_ie6 .cs-cms .dijitErrorFocused INPUT {
	/* background-color: transparent on an <input> doesn't work on IE6 */
	background-color:#ff6 !important;
}

/* Validation errors  */
.cs-cms .dijitValidationIcon {
	/* prevent height change when widget goes from valid to invalid state */
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}

/* The highlight is shown in the ComboBox menu. */
.cs-cms .dijitComboBoxHighlightMatch {
	background-color:#d3d3d3;
}