
/* Slider */

.dijitRtl .cs-cms .dijitSliderProgressBarH,
.dijitRtl .cs-cms .dijitSliderRemainingBarH,
.dijitRtl .cs-cms .dijitSliderLeftBumper,
.dijitRtl .cs-cms .dijitSliderRightBumper,
.dijitRtl .cs-cms .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .cs-cms .dijitSliderProgressBarV,
.dijitRtl .cs-cms .dijitSliderRemainingBarV,
.dijitRtl .cs-cms .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .cs-cms .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .cs-cms .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .cs-cms .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat left top;
}

.dijitRtl .cs-cms .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
