﻿@using CS.General_CS_v5
@model PayMammoth_v2.Presentation.Models._Shared.PartialViews.Payments._PaymentDetailsModel
<div class="payment-details-wrapper">
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.TitleContentText, cssClass: "payment-details-title")
    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H3, Model.YourDetailsContentTextModel, cssClass: "payment-details-your-details-title")
    <div class="payment-details-your-details-wrapper">
        <div class="payment-details-your-details-name">
            @Model.FullName
        </div>
        @if (Model.UserDetails.ContactDetailsModel.EmailAddress != null)
        {
            <div class="payment-details-your-details-email">
                @Model.UserDetails.ContactDetailsModel.EmailAddress.Value
            </div>
        }
        <div class="payment-details-your-details-address">
            @Html.Raw(Model.AddressAsOneLineHtml)
        </div>
    </div>
</div>