﻿@using BusinessLogic_CS_v5.Presentation.Models._Shared.Data.ContentTexts
@using CS.General_CS_v5
@model PayMammoth_v2.Presentation.Models._Shared.PartialViews.Payments._PaymentOrderSummaryModel

@helper outputTotalLineRow(string value, ContentTextModel label, string cssClass)
{
    if (!string.IsNullOrWhiteSpace(value))
    {
        <tr class="@(cssClass)-row">
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Th, label, cssClass: cssClass)
            <td class="order-details-total-field @(cssClass)-value">
                @value
            </td>
        </tr>
    }
}
<div class="order-summary-wrapper">
    <div class="order-summary-title-container">
        @if (Model.TitleContentText != null)
        {
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H2, Model.TitleContentText, cssClass: "order-summary-title")
        }
        else
        {
            <h2 class="order-summary-title">@Model.OrderSummaryDataModel.Title</h2>
        }

    </div>
    <div class="order-description-content">

        <div class="order-main-content">
            @if (!string.IsNullOrWhiteSpace(Model.OrderSummaryDataModel.DescriptionHtml))
            {
                <div class="order-description-text">
                    @Html.Raw(Model.OrderSummaryDataModel.DescriptionHtml)
                </div>
            }
            <ul class="order-item-details">
                @foreach (var item in Model.OrderSummaryDataModel.Items)
                {
                    <li class="order-item">
                        <div class="order-item-title">@item.Title</div>
                        <div class="order-item-description">@Html.Raw(item.DescriptionHtml)</div>
                    </li>
                }
            </ul>
            <div class="view-full-order-details-container">
                @Html.CsAnchor(Model.ViewFullOrderDetailsContentText, Model.OrderSummaryDataModel.FullDetailsUrl, Enums.HrefTarget.Blank, cssClass: "view-order-details")
            </div>
        </div>
    </div>
    <div class="order-summary-details-wrapper">

        <table>
            @outputTotalLineRow(Model.TotalNet, Model.TotalNetContentText, "order-details-net-total")
            @outputTotalLineRow(Model.TotalTax, Model.TotalTaxContentText, "order-details-tax-total")
            @outputTotalLineRow(Model.TotalShipping, Model.TotalShippingContentText, "order-details-shipping-total")
            @outputTotalLineRow(Model.TotalHandling, Model.TotalHandlingContentText, "order-details-handling-total")
            @outputTotalLineRow(Model.Total, Model.TotalContentText, "order-details-total")

        </table>

    </div>
</div>