﻿@model CmsGeneral_CS_v6.Presentation.Models._Shared.PartialViews.Buttons._CustomOperationsBarModel
@if (Model != null && (Model.CmsOperations != null && Model.CmsOperations.Any() || Model.ContentBefore != null || Model.ContentAfter != null))
{
    <div class="custom-operations-bar-container clearfix">
        @if (Model.ContentBefore != null)
        {
            @Model.ContentBefore(null);
        }
        @if (Model.CmsOperations != null)
        {
            foreach (var button in Model.CmsOperations)
            {
                <a @Html.AddAttribute("id", button.ButtonId) class="custom-operations-button" href="@button.GetUrl()" @Html.Raw(button.GetAnchorAttributesHtml()) @Html.AddAttribute(BusinessLogic_CS_v6.Constants.DataTokens.ClickConfirmationMessage, button.ConfirmationMessage, !string.IsNullOrWhiteSpace(button.ConfirmationMessage))>
                    @if (button.HasIcon())
                    {
                        <span class="custom-operations-button-icon">
                            <img alt="@button.Title" src="@button.GetIconImageFilePath()" class="custom-operations-button-icon-image" />
                        </span>
                    }
                    @{
                string iconCssClass = button.GetIconCssClassName();
                    }
                    @if (!string.IsNullOrWhiteSpace(iconCssClass))
                    {
                        <span class="cms-operation-button-icon @iconCssClass"></span>
                    }
                    <span class="custom-operations-button-text">
                        @button.Title

                    </span>

                </a>
                if (!string.IsNullOrWhiteSpace(button.JavascriptCode))
                {
                    <script>
                        @Html.Raw(button.JavascriptCode)
                    </script>
                }
            }
        }
        @if (Model.ContentAfter != null)
        {
            @Model.ContentAfter(null);
        }
    </div>
}