﻿
html.html-main, body.body-main-site {
    background:url(/images/background.gif);
}

body {
  font-family:Tahoma, Arial, sans-serif;
  font-size:13px;
}
.clear
{
    clear: both;
}

.bold
{
    font-weight: bold;
}

p {

  line-height:130%;
}
a {
  color:#2172B2;
}
a:hover {
  text-decoration:none;
}

.core-back-container {
  background:url(/images/top-background.png) repeat-x top;
  min-height:500px;
}
.core-content-container {
  width:980px;
  margin:0px auto;
}
.core-top-left-container {
  float:left;
}
.core-top-right-container {
  float:right;
}
.logo-content-container {
  width:132px;
  height:93px;
  overflow:hidden;
}
.logo-container {
  float:left;
  margin-right:24px;
  padding-top:6px;
}

.logo-content-container img {
  margin-left:-80px;
  margin-top:0px;
}
.my-account-container {
  float:left;
}


.my-account-logged-out-container,
.top-navigation-container a,
h1,
h2,
.myriad,
.form-fields-button, .button,
.tabbed-menu-container li
{
  font-family:Arial;
  /*font-family:Myriad Pro, sans-serif;   */
}

.my-account-logged-in-container {
  width:300px;
}

.my-account-logged-out-container,
.my-account-logged-in-welcome{


  padding-top:49px;
  color:White;
  font-weight:bold;
  font-size:18px;
  text-shadow: 0px 0px 8px #000;
}
.my-account-logged-in-welcome {
   padding-top:37px;
}

.my-account-logged-in-sections {
  color:White;
  margin-top:5px;
  cursor:default;
}
.my-account-logged-in-sections a {
  font-weight:bold;
}
.my-account-logged-in-sections .hovered a,
.my-account-logged-in-sections a:hover {
  background:#99CC00;
  text-decoration:none;

}

.my-account-logged-in-sections li {

    display:block;
    padding-left:6px;
    padding-right:6px;
    font-size:11px;

}
.my-account-logged-in-sections .nav-level-0-item {
  float:left;
  border-right:1px solid #8EBFE8;
}


.my-account-logged-in-sections .nav-level-1-item a {
  background:#227EC5;
  font-weight:normal;
  text-align:center;
  border:1px solid #B7D5EC;
  text-decoration:none;
  margin-top:-1px;
  padding:2px 10px 3px 10px;
}
.my-account-logged-in-sections .nav-level-1-item a:hover {
    background:  #F2CB1D;
    color:#000;

}
.my-account-logged-in-sections .nav-level-1 {
  margin-top:5px;
  border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:0px 0px 16px #000;
}
.field-item-readonly {
     border-color:#DADADA;
     color:#A1A1A1;

}

.my-account-logged-in-sections .nav-level-1 li {
  padding:0px;
}

.my-account-logged-in-sections .nav-level-1-item-first a {
  margin-top:0px;
}

.my-account-logged-in-sections a {
  white-space:nowrap;
}

.nav-level-0-item-content,
.my-account-logged-in-sections li a{
  display:block;
  padding:2px 4px;
  border-radius:4px;
  -moz-border-radius:4px;
}
.my-account-logged-in-sections .nav-level-0-item-first
{
   padding-left:0px !important;
}
.my-account-logged-in-sections .nav-level-0-item-last
{
    border-right:none !important;
}
.my-account-logged-in-sections.nav-level-0-item-first .nav-level-0-item-content {
  padding-left:0px;
}

.core-top-container a {
    color:White;
}
.social-networks-container {
  float:left;
  padding-top:30px;
}

.social-networks-facebook,
.social-networks-twitter {
    width:40px;
    height:40px;
    background:url(/images/sprites.png) no-repeat 0px 0px;
    display:block;
    float:left;
    margin-left:8px;
}
.social-networks-twitter {
    background:url(/images/sprites.png) no-repeat -40px 0px;
}
.social-networks-facebook:hover {
    background:url(/images/sprites.png) no-repeat 0px -40px;
}
.social-networks-twitter:hover {
    background:url(/images/sprites.png) no-repeat -40px -40px;
}
.facebook-like-container {
  float:left;
  height:66px;
  background:url(/images/white-transparent.png);
  padding:10px;
  margin-top:13px;
  box-shadow:0px 0px 8px #000;
  margin-left:15px;
}
.core-middle-container {
  background:#99CC00;
  box-shadow:0px 0px 10px #000;
  -moz-box-shadow:0px 0px 10px #000;
  -webkit-box-shadow:0px 0px 10px #000;
  padding:10px;
  margin-top:15px;
}
.core-middle-content-container {
  background:#FFF;
  box-shadow:0px 0px 8px #666;
  -moz-box-shadow:0px 0px 8px #666;
  -webkit-box-shadow:0px 0px 8px #666;
  min-height:10px;  /* Hack for IE 7 to work */
}
.rounded,
.paging-pages-list a,
.paging-bar-container {
  border-radius: 5px;
  -moz-border-radius:5px;
}
.top-navigation-container {
  background:url(/images/sprites-repeat-x.png) repeat-x;
  height: 44px;
  overflow:hidden;
  border-radius: 5px 5px 0px 0px;
}
.top-navigation-container li {
  float:left;
}
.top-navigation-container a {
  display:block;
  color:White;
  text-shadow: 0px 0px 4px #666;
  text-transform: uppercase;
  font-size:18px;
  padding:12px 20px 8px 20px;
  text-decoration:none;
  border-right:1px solid #FFE682;
  font-weight:bold;
  border-bottom:2px solid #CCA60E;
}

.top-navigation-container a:hover {

  text-shadow: 0px 0px 4px #000;
  background:#FFDF5C;
}
.top-navigation-container a.selected {

  border-bottom:2px solid #1b7dcc;
  background: #5aa4e0; /* Old browsers */
  background: -moz-linear-gradient(top,  #5aa4e0 0%, #1b7dcc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aa4e0), color-stop(100%,#1b7dcc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5aa4e0 0%,#1b7dcc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5aa4e0 0%,#1b7dcc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5aa4e0 0%,#1b7dcc 100%); /* IE10+ */
  background: linear-gradient(top,  #5aa4e0 0%,#1b7dcc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa4e0', endColorstr='#1b7dcc',GradientType=0 ); /* IE6-9 */

}

.core-footer-casasoft-container {
  text-align:right;
  padding-top:10px;
}

.core-footer-casasoft-container a {
  color:#8BB5D7;
  font-size:11px;
  text-decoration:none;
  text-align:right;
}
.core-footer-casasoft-container a:hover {
  color:#FFF;
}
.core-footer-content-container {
  background:url(/images/white-transparent.png);
  margin-top:15px;
  box-shadow:0px 0px 10px #074F72;
  -moz-box-shadow:0px 0px 10px #074F72;
  -webkit-box-shadow:0px 0px 10px #074F72;
  padding:10px;
  color:White;
  font-size:11px;
}
.core-footer-container {
  margin-bottom:15px;
}
.core-footer-content-container a {
  color:white;
}
.footer-payment-methods {
  background:url(/images/sprites.png) no-repeat -212px 0px;
  width:447px;
  height:51px;
}
.core-footer-column {
  float:left;
  padding:0px 15px;
}
.core-footer-sitemap-container,
.core-footer-licenses-container {
   border-right:1px dotted #C7DBEC;
}
.core-footer-sitemap-container {
  text-decoration:none;
}
.core-footer-sitemap-container ul {
  margin-left:12px;

}
.core-footer-sitemap-container a {
  text-decoration:none;
  padding: 0px;
}
.core-footer-sitemap-container a:hover {
  text-decoration:underline;
}

.core-footer-sitemap-container li {
  list-style-image: url(/images/footer-bullet-icon.png);
  list-style-position: outside;
  line-height:110%;
  margin-bottom:5px;
}

.core-footer-sitemap-container {
  padding-left:0px;
}

.core-footer-sitemap-container {
  width:150px;
}
.core-footer-licenses-container
{
  width:300px;
  cursor: default;
}
.core-footer-paymentmethods-container {
  width:400px;
}
.main-content-container {
  padding:15px;
}
.core-footer-title {
  font-weight:bold;
  display:block;
  margin-bottom:10px;
}

h1 {
  color:#176AAE;
  font-size: 30px;
  font-weight:bold;
  letter-spacing:-1px;
  border-bottom:2px solid #CCC;
  margin-bottom:15px;
}
h2 {
  color:#8BB40D;
  font-size: 24px;
  font-weight:bold;
  letter-spacing:-1px;
  border-bottom:2px solid #EEE;
  margin-bottom:15px;
}
p {
  margin-bottom:15px;
}
.winner-item-container {
  float:left;
  background:#E2E2E2;
  padding:10px;
  width:158px;
  margin-right:10px;
}
.winner-item-container:nth-child(5n), .winner-item-container-last {
  margin-right:0px;
}
.winner-item-container:hover
{
  background:#2372B2;
  color:White;
  cursor:pointer;
}
.winner-item-container:hover a {
  color:White;
}

.winner-item-title-container {
  margin-bottom:5px;
}
.winner-item-image-container {
  border:1px solid White;
  margin-bottom:5px;

}
.winner-item-image-container img {

  border-radius:6px;
}

.winner-item-title-container a {
  color:#176AAD;
  font-size:18px;
  text-decoration:none;
  font-weight:bold;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  display:block;

}
.winner-item-fullname-container {
  font-weight:bold;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.winner-item-country-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

input:invalid, textarea:invalid {
  background: White;
}
.form-fields-core-container td {
    padding-bottom:5px;
}
.form-fields-table {
  margin-left:30px;
}

.form-field-row-text input,
.form-field-row-date input,
.form-field-row-number input,
.form-field-row-email input,
.form-field-row-password input,
.form-field-row-dropdownlist select {
  padding: 10px;
  border:1px solid #9A9A9A;
  border-radius:6px;
  -moz-border-radius:6px;
  width:300px;
}
.form-field-row-date input {
  width:150px;
}

.form-field-row-dropdownlist select {
  width:322px;
}

.form-fields-item-label {
  padding-right:15px;
  width:150px;
}
.form-fields-button, .button {
  color:White;
  font-size:16px;
  font-weight:bold;
  letter-spacing:-1px;
  text-transform: uppercase;
  padding:10px 20px;
  border:none;
  background:url(/images/sprites-repeat-x.png) repeat-x 0px -44px;
  border-radius:6px;
  -moz-border-radius:6px;
  text-shadow: 0px 0px 8px #000;
}
.buttons-container {
  text-align:center;
}

.button {
  height:40px;
}

.form-fields-item-subtitle {
  display:block;
  color:#777;
  font-size:11px;
}
.form-fields-group-container {
  margin-bottom:15px;
}

.form-fields-button:hover, .button:hover {
  background:url(/images/sprites-repeat-x.png) repeat-x 0px -84px;
}
.checkbox-with-label-container {
  display:block;
  padding:8px 0px 12px 0px;
}
.profile-fields-container .checkbox-with-label-container {
  width:300px;
}

.checkbox-with-label-container label {
  font-weight:normal;
  display:block;
  float:left;
}
.profile-fields-container .checkbox-with-label-container label {
  width:280px;
}

.checkbox-with-label-right input {
  display:block;
  float:left;
  margin:2px 5px 2px 0px;
}
.login-fields-container .form-field-row-text input,
.login-fields-container .form-field-row-password input {
  width:150px;

}
.buy-credits-credit-cost td,
.buy-credits-total-cost td {
  padding:10px 0px;
}
.buy-credits-total-cost td {
  font-size:18px;
}
.form-buy-credits .form-field-row-number input {
  width:50px;
}
.games-container {
  height:449px;
  background:url(/images/temp/home-games.jpg);
  margin-bottom:15px;
}
.tabbed-menu-container {
  border-bottom:3px solid #CCC;
  margin-bottom:10px;
}

.tabbed-menu-container li {
  float:left;
}
.tabbed-menu-container li a {
  font-size:18px;
  font-weight:bold;
  display: block;
  text-decoration:none;
  color:White;
  background:url(/images/sprites-repeat-x.png) repeat-x 0px -124px;
  padding:9px 10px;
  margin-right:1px;
  border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
}
.tabbed-menu-container li a:hover {
  background:url(/images/sprites-repeat-x.png) repeat-x 0px -164px;
}
.tabbed-menu-container li a.selected,
.tabbed-menu-container li a.selected:hover {
   background:url(/images/sprites-repeat-x.png) repeat-x 0px -44px;
   cursor:default;
}
.paging-pages-list {
  float:right;
}

.paging-pages-list li {
  float:left;
}
.paging-pages-list a {
    display:block;
    padding:5px 8px;
    border:1px solid #99CC02;

    text-decoration:none;
    margin-left:1px;
    color:#000;
}
.paging-pages-list a:hover {
    background:#E7FF9B;
    border:1px solid #7AA302;
}
.paging-pages-list a.selected,
.paging-pages-list a.selected:hover {
    background:#176AAE;
    border:1px solid #176AAE;
    cursor:default;
    color:White;
}
.paging-bar-container{
    background:#F2FFCA;
    border:1px solid #99CC00;
    padding:5px;
}
.paging-bar-combos-container {
  float:right;
}

.listing-results-texts-container {
  float:left;
padding:6px;

}
.paging-bar-combos-container {
  padding-top:4px;
}
.paging-bar-combos-container  td {
  padding-left:10px;
}
.listing-table {
  width:100%;
  margin:10px 0px;
}

.listing-table th,
.listing-table td {
  padding:5px;
  border-bottom:2px solid White;
}
.listing-table tr:nth-child(odd) td {
  background:#E6E6E6;
}
.listing-table tr:nth-child(even) td {
  background:#DDDDDD;
}
.listing-table th {
  background:#D2E7F7;
  font-weight:bold;
}

/** MAIN SLIDER **/

.anythingSlider ul li
{
   width: 930px;
   height: 300px;
}

.anythingSlider .anythingWindow
{
    height: 300px !important;
}

div.anythingSlider
{
    padding: 0px !important;
    height: auto !important;
}

div.anythingSlider.activeSlider .anythingWindow
{
    border: none !important;
}

.anythingControls
{
    color: #000;
}

div.anythingSlider .start-stop, .anythingControls .thumbNav a
{
    background: #CCC !important;
}

div.anythingSlider .start-stop:hover, .anythingControls .thumbNav a:hover
{
    background: #DDD !important;
}

.anythingControls .thumbNav a.cur
{
    background: #83A223 !important;
    color: #FFF !important;
}

.anythingControls .thumbNav a
{
    border-right: 1px solid #FFF;
}

.anythingControls .thumbNav a, .anythingControls span
{
    font-family: Arial !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 5px !important;
}

.anythingControls .start-stop
{
    width: auto !important;
    padding: 5px !important;
}

.anythingControls .start-stop span
{
    color: #000 !important;
}

.anythingControls
{
     height: 28px;
     width: 900px;
     margin: 0 auto;
}

/** END OF MAIN SLIDER **/

.latest-winners-wrapper, .simple-concept-wrapper
{
    margin-top: 20px;
}

/** GENERAL MESSAGE **/
.general-message{
    background: #E2E2E2;
    padding: 10px;
    text-align:center;
}

.form-field-row-date input {
  vertical-align: top;
}

.ui-datepicker-trigger {
  margin:6px 0px 0px 5px;
  cursor:pointer;
}
/** END OF GENERAL MESSAGE **/

/** SIMPLE CONCEPT CSS **/

.simple-concept-wrapper .number
{
    color: #1E91CB;
    font-size: 29px;
    font-weight: bold;
    margin-right: 10px;
}

.simple-concept-wrapper .text
{
    width: 152px;
    margin-right: 10px;
}

.simple-concept-wrapper .text p
{
    font-size: 18px;
}

.simple-concept-wrapper .icon
{
    width: 115px;
    height: 78px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: absolute;
}

.simple-concept-step1, .simple-concept-step2, .simple-concept-step3
{
    position: relative;
    width: 303px;
    margin-right: 10px;
    margin-top: 5px;
}

.simple-concept-step3
{
    margin-right: 0px;
    width: 294px;
}

.simple-concept-step1
{
    margin-right: 20px;
}

.simple-concept-step1 .icon
{
    background: url('/images/sprites.png') -0px -93px;
    top: -30px;
}

.simple-concept-step2 .icon
{
    background: url('/images/sprites.png') -115px -93px;
    top: -25px;
    left: 180px;
}

.simple-concept-step3 .icon
{
    background: url('/images/sprites.png') -230px -93px;
    top: -30px;
    left: 220px;
}

.simple-concept-step3 .text
{
    width: 187px;
}

.simple-concept-step1, .simple-concept-step2, .simple-concept-step3
{
    float: left;
}

.simple-concept-wrapper .text, .simple-concept-wrapper .number, .simple-concept-wrapper .icon
{
    float: left;
}

/** END OF SIMPLE CONCEPT CSS **/

/** VALIDATION MESSAGES **/

 .validation-icon-success, .validation-icon-dim, .validation-icon-error, .field-help-icon
 {
    display: block;
     width: 27px;
     height: 23px;
 }

 .validation-icon-dim
 {
     background: url("/images/sprites.png") -212px -51px;
 }

.validation-icon-success
{
     background: url("/images/sprites.png") -239px -51px;
}

.validation-icon-error
{
     background: url("/images/sprites.png") -266px -51px;
}

.validation-icon-error:hover
{
     background: url("/images/sprites.png") -293px -51px;
}

.ui-tooltip-red .ui-tooltip-tip, .ui-tooltip-red .ui-tooltip-content
{
    background: #FFD2D2 !important;
    border: 1px solid #FF9B9B;
}

.ui-tooltip-content
{
    font-weight: bold;
}

.ui-tooltip-red .ui-tooltip-content
{
    color: #A41111;
}

}

/** END OF VALIDATION MESSAGES **/