﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ItemDetails.ascx.cs"
    Inherits="PayMammothDeploy.usercontrols.masterpage.v1.ItemDetails" %>
<!--MasterPage/v1/ItemDetails-->
 <div id="divItemDetails" runat="server" class="item-details">
        </div>