﻿@model BusinessLogic_CS_v5.Presentation.Models.Guides.StylesModel
<div class="html-container">
    <h1>H1 - Style guide</h1>
    
    @{ Html.RenderAction(MVCGeneral.PartialViewsNotificationMessages._NotificationMessage()); }

    <p>Lorem ipsum dolor <a href="#">sample link</a>, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <h2>This is a sub-heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <p>Aliquam dignissim ac elit rutrum molestie. Nunc nec molestie dui. Integer suscipit dolor turpis. Vivamus justo justo, commodo in facilisis in, eleifend ac elit. Donec blandit sapien tellus, at cursus sapien fringilla vitae. Vivamus mi massa, rutrum id urna sit amet, mattis gravida ipsum. In in sem sit amet tellus pellentesque pulvinar. Pellentesque dictum eget dolor adipiscing dapibus. Maecenas nulla nisi, consectetur vitae diam ut, faucibus venenatis sem. Ut dignissim augue dolor, eget porta nibh mollis eget. Maecenas eleifend nibh lectus, quis dapibus ligula feugiat vitae. Sed at nisi quis urna dignissim bibendum. Suspendisse vitae est ac arcu dictum tincidunt eget eget massa.</p>
    <h3>This is an H3 sub-sub heading</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <ul>
        <li>List item 1</li>
        <li>Long list item - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</li>
        <li>List item 2</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <ol>
        <li>Numbered list item 1</li>
        <li>Long list item - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</li>
        <li>Numbered list item 2</li>
        <li>Numbered list item 3</li>
    </ol>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <dl>
        <dt>Coffe</dt>
        <dd>Black hot drink</dd>
        <dt>Milk</dt>
        <dd>White cold drink</dd>
        <dt>Long Definition Item</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</dd>
        <dt>Sugar</dt>
        <dd>Tastes sweet</dd>
    </dl>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <blockquote>
        Mauris id quam tortor. Nam egestas adipiscing odio et tincidunt. Nulla facilisi. Nulla aliquam felis sed posuere vehicula. Curabitur pharetra egestas mauris in ornare. Vivamus ac nibh leo. Maecenas auctor nunc id felis malesuada pulvinar.
    </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lacus dictum dolor bibendum porttitor. Quisque nec augue quam. Maecenas et diam at nibh faucibus bibendum eu sed tortor. In iaculis orci ipsum, at pharetra felis bibendum sed. Nam molestie dui volutpat, rhoncus odio sit amet, aliquam metus. Suspendisse molestie est vitae mi mollis mollis. Phasellus ornare neque sit amet dolor congue, ac elementum mauris feugiat. Sed ultrices felis augue, eget vestibulum nibh commodo ac. Ut eleifend viverra odio vitae congue.</p>
    <table>
        <tr>
            <th>Table Head 1</th>
            <th>Table Head 2</th>
            <th>Table Head 3</th>
            <th>Table Head 4</th>
        </tr>
        <tr>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
        </tr>
        <tr>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
        </tr>
        <tr>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
        </tr>
        <tr>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
            <td>Data Cell</td>
        </tr>
    </table>
    

</div>
