﻿@using BusinessLogic_CS_v6.Constants
@using BusinessLogic_CS_v6.Presentation.Code.ContextData.Old
@using CmsGeneral_CS_v6.EnumsCms
@model CmsGeneral_CS_v6.Presentation.Models.CmsSection.CmsSectionAddOrEditModel




@helper createButton(CmsEnums.AddOrEditButtonType buttonType, string extraCssClass = null, bool submitButton = false)
{


    <button class="button @extraCssClass" value="@buttonType" name="@CmsConstants.ButtonType" type="@(submitButton ? "submit" : "button")">
        <span class="button-icon"></span>
        @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, buttonType)

    </button>

}
<div class="add-or-edit-header">
    <div class="add-or-edit-title-container">

        <h1>
            @Model.Title @if (!string.IsNullOrWhiteSpace(Model.EditItemTitle))
            {
                <span class="edit-item-title-separator">//</span>
                <span class="edit-item-title">@Model.EditItemTitle</span>
            }
        </h1>
        <div class="go-back-container">
            @Html.Action(MVCGeneral.PartialViewsNavigation._GoBackLinkButton(Model.GoBackLinkButtonModel))

        </div>
    </div>
    @if (Model.CustomOperationsBarModel != null)
    {
        Html.RenderPartial(MvcCmsGeneral._CmsGeneral.Views._Shared.PartialViews.Buttons._CustomOperationsBar, Model.CustomOperationsBarModel);
    }
</div>

<div class="add-or-edit-container">


    @if (Model.ItemPublishedStateNotificationMessage != null)
    {
        <div class="add-or-edit-notification">
            @{
        Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.NotificationMessages._NotificationMessage, Model.ItemPublishedStateNotificationMessage);
            }
        </div>

    }
    <form method="POST" enctype="multipart/form-data" novalidate>
        @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(Model.ObjectFieldsModel))

        <div class="buttons-container add-or-edit-buttons">
            @createButton(CmsEnums.AddOrEditButtonType.Save, submitButton: true, extraCssClass: "add-or-edit-save")
            @createButton(CmsEnums.AddOrEditButtonType.SaveAndCreateNew, submitButton: true, extraCssClass: "add-or-edit-save-and-create-new")
            @createButton(CmsEnums.AddOrEditButtonType.SaveAndGoBack, submitButton: true, extraCssClass: "add-or-edit-save-and-go-back")
            @createButton(CmsEnums.AddOrEditButtonType.Delete, "delete-button button-red", submitButton: true)
            <a href="@Model.GoBackLinkButtonModel.GoBackLinkButtonUrl" class="button button-grey button-go-back">
                <span class="button-icon"></span>
                @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, CmsEnums.AddOrEditButtonType.GoBack)
            </a>
        </div>

    </form>
</div>
@section css {
    <link rel="stylesheet" href="/_common_CS_v6/static/js/jQuery/plugins/fineuploader/3.2/fineuploader-3.2.css" />
    <link rel="stylesheet" href="/_common_CS_v6/static/js/jQuery/plugins/prettyPhoto/css/prettyPhoto.css" />

}
@section scripts {
    <script src="/_common_CS_v6/static/js/jQuery/plugins/fineuploader/3.2/jquery.fineuploader-3.2.js"></script>
    <script src="/_common_CS_v6/static/js/jQuery/plugins/prettyPhoto/js/jquery.prettyPhoto.js"></script>
}