﻿@model CmsGeneral_CS_v6.Presentation.Models.CmsSection.CmsSectionListingModel
@{
    if (Model.IsSearchingForReferenceLinkExternalData)
    {
        this.Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;
    }
    BusinessLogic_CS_v6.Presentation.Code.ContextData.Old.CommonViewContextDataOld.Instance.Styles.BodyTagCssClass = "cms-section-listing";
}
<div class="cms-listing-page">

    @if (Model.IsIndexStale)
    {
        <div class="index-stale-container">
            Stale Index - Data being shown is not reflecting correct data in database. Please try again later.  If this message persists, please contact CasaSoft.
        </div>
    }

    @if (!Model.IsSearchingForReferenceLinkExternalData)
    {
        Model.CustomOperationsBarModel.ContentBefore = @<text>
            <a class="item-button listing-ui-button listing-ui-add-item-button" href="@Model.ButtonAddItemUrl">
                <span class="button-icon"></span>
                <span>
                    @Model.ButtonAddItemText
                </span>
            </a>

        </text>;

        <div class="cms-listing-page-operations-bar-container">
            @Html.Action(MvcCmsGeneral.PartialViewsCmsButtons._CustomOperationsBar(Model.CustomOperationsBarModel))
        </div>
    }
    <div class="listing-ui-container">

        @Html.Action(MvcCmsGeneral.PartialViewsCmsDataGrid._CmsDataGrid(Model.DataGridModel))

    </div>



    <script>
        function updateDataGridHeight() {
            var isForSearch = @(Model.IsSearchingForReferenceLinkExternalData.ToString().ToLower());
            var bottomHeight = $(".listing-bottom-bar-container").height();
            var barsHeight = 0;
            $(".navigation-breadcrumbs-main-container, .note, .custom-operations-bar-container, .index-stale-container, .cms-notification-message-container, .cms-header-strip-top").each(function() {
                barsHeight += $(this).outerHeight(true);
            });
            var jContainer = $(".listing-ui-container");
            height = $(window).height();
            var gridHeight = height - bottomHeight - barsHeight;



            console.log("Height: " + height);
            console.log("bottomHeight: " + bottomHeight);
            console.log("barsHeight: " + barsHeight);
            console.log("gridHeight: " + gridHeight);

            $("#@(Model.DataGridModel.ListingCoreControllerOptions.containerId) .listing-data-grid").height(gridHeight);
            $(".listing-bottom-bar-container").show();
        }

        $(function () {
            updateDataGridHeight();
        });
        $(".listing-bottom-bar-container").hide();
    </script>

</div>