﻿@using BusinessLogic_CS_v6.Constants
@using CS.General_CS_v6

@using CmsGeneral_CS_v6.EnumsCms
@model CmsGeneral_CS_v6.Presentation.Models.CmsSection.CmsSectionSearchModel
@{
    Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;
}

@helper createButton(CmsEnums.AddOrEditButtonType buttonType, string extraCssClass = null)
{
    @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Button, buttonType, "button " + extraCssClass, null,
                                   new InlineEditingExtensions.InlineEditingContentTextOtherParameters() { HtmlAttributes = new { value = buttonType, name = CmsConstants.ButtonType } })
}
<div class="search-container">
    <form method="GET" target="_parent" action="@Model.ListingUrl">
        <input type="hidden" name="@CmsConstants.ListingSearchingForReferenceLinkExternalData" value="@CS.General_CS_v6.Util.ConversionUtil.ConvertBasicDataTypeToString(Model.IsSearchingForReferenceLinkExternalData)" />
        <input type="hidden" name="@CmsConstants.Search" value="@CS.General_CS_v6.Util.ConversionUtil.ConvertBasicDataTypeToString(true)" />
        @Html.Action(MvcCmsGeneral.PartialViewsCmsSearch._SearchForm(Model.SearchFormModel))

        <div class="buttons-container search-buttons">
            <button class="button search-button">
                <span class="button-icon"></span>
                @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, CmsEnums.CmsContentText.Search)
            </button>
            <a href="@Model.ListingUrl" class="button button-grey button-clear-search" target="_parent">
                <span class="button-icon"></span>
                @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, CmsEnums.CmsContentText.Clear)
            </a>
        </div>


    </form>
</div>

@section scripts {

    <script>

            $(function () {

                new CmsGeneralJS_CS_v6.UnobtrusiveController();

            });
    </script>
}
