@import (reference) "main.less";

/* Html Container Specific */

//CSS CODE

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



.html-container {

    padding-bottom: @spacing-large;

    h1, h2, h3, h4
    {
      font-weight: bold;
      line-height: @line-height-base;
      text-align: left;
      word-wrap: break-word;
    }
    h1
    {
      .font-size-rem(@font-size-h1);
    }
    h2
    {
      .font-size-rem(@font-size-h2);
    }
    h3
    {
      .font-size-rem(@font-size-h3);
    }
    h4
    {
      .font-size-rem(@font-size-h4);
    }
    h5
    {
      .font-size-rem(@font-size-h5);
    }
    h6
    {
      .font-size-rem(@font-size-h6);
    }
    a
    {
      color: @color-link;
    }

    a:hover
    {
      color: @color-link-hover;
      text-decoration: none;
    }

    p,
    li,
    dt,
    dd,
    td,
    th,
    blockquote
    {
      line-height: @line-height-base;
      .font-size-rem(@font-size-base);
      text-align: justify;
    }

    blockquote
    {
        margin:0px;
        margin-left:@spacing-xl;
        border-left:5px solid #CCC;
        padding:@padding-large;
        font-style:italic;
    }
    ul,ol {
        margin-left:@spacing-large;

    }

    p,
    ul,
    ol,
    dl,
    blockquote,
    table {
      margin-bottom:@spacing-large;
    }

    *:last-child
    {
      margin-bottom: 0px;
    }

    img
    {
      max-width: 100%;
      height: auto !important;
      margin-bottom: @spacing-large;
      display: block;
    }

    table
    {
      width: 100%;
      table-layout: fixed;
      word-wrap: break-word;
    }

    tr
    {

    }

    th
    {
      background-color: #333;
      color: #FFF;
    }

    td
    {
      background-color: #EEE;
    }

    th, td
    {
      padding: @padding-large;
      border: 1px solid #FFF;
    }

    table tbody tr:nth-child(odd) td
    {
      background-color: #EEE;
    }

    ul, ol
    {
      margin-left:@spacing-large;
    }

    ul li
    {
      list-style-type: none;
      background:url(/Content/images/bullet-html-container.png) no-repeat left center;
      padding-left:(@padding-large);

    }

    ul li:last-child,
    ol li:last-child
    {
      margin-bottom:0px;
    }

    li
    {
      list-style-position: inside;
      line-height:@line-height-base;
    }

    li,
    dt,
    dd {
      margin-bottom:@spacing-small;
    }

    dl
    {
     width:100%;
     overflow:hidden;
    }

    dt
    {
     float:left;
     width:25%;
     font-weight:bold;
    }

    dd
    {
     float:left;
     width:75%;
     margin-left:0px;
    }

    hr
    {
      border:none;
      border-top:1px solid #CCC;
      margin:@spacing-large 0px;
    }
}
