@import (reference) "../../_common_CS_v5/static/css/casasoft/v3/casasoft.common.less";
@import (reference) "common.less";
@import (reference) "html-container.less";


/* Main container specific */

//VARIABLES
//---------

@order-summary-width:           40%;
@payment-details-width:         60%;


//== Sprites
@sprite-image-common:   url('/_common_CS_v5/static/images/cs-common-sprites.png?v=4');


//== Colors

@color-primary:                 #DD0000;
@color-error:                   #CC0000;


@color-text:                    #333;
@color-text-light:              #FFFFFF;
@color-link:                    #0085B2;
@color-link-hover:              lighten(@color-link, 15%);

@color-h2-back:                 #333;
@color-h2-text:                 #FFF;
@color-h3-back:                 #EEE;
@color-h3-text:                 @color-text;
@color-sub-heading-back:        #EEE;
@color-order-item-back:         #EEE;
@color-total-background:        @color-h2-back;
@color-border:                  #999;
@border-style:                  1px dotted #999;

@color-button-back:             #1973BA;
@color-button-back-hover:       lighten(@color-button-back,10%);
@color-button-text:             @color-text-light;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
// Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         18px; // ~18px
@font-size-small:         12px; // ~12px

@font-size-h1:            22px; // ~36px
@font-size-h2:            20px; // ~30px
@font-size-h3:            16px; // ~24px
@font-size-h4:            15px; // ~18px
@font-size-h5:            14px;
@font-size-h6:            13px; // ~12px

//-- Iconography
//


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).


@spacing-small:             5px;
@spacing-base:              15px;
@spacing-large:             20px;
@spacing-xl:                40px;

@padding-xs:                2px;
@padding-small:             5px;
@padding-base:              10px;
@padding-large:             20px;
@padding-xl:                25px;

@line-height-base:          1.33;
@line-height-large:         1.6;
@line-height-small:         1;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

@screen-sm-min:             768px;
@screen-md-min:             992px;
@screen-lg-min:             1200px;


// MIXINS

.btn {
  background:@color-button-back;
  color:@color-button-text;
  padding:@padding-base;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  display:block;
  text-decoration:none;
  &:hover {
    background:@color-button-back-hover;
  }


}


//CSS CODE

//Forms default widths - This has to be here as else due to bootstrap-cs.less
//not being imported by reference (due to bug), this is outputted with every piece of code
//


.payment-selection-container {
  @payment-icon-height:     70px;
  @payment-icon-width:      110px;
  .list-no-style();
  a {
    display:table;
    position:relative;
    min-height:@payment-icon-height;
    width:100%;
    background:#EEE;
    padding:@padding-base;
    margin-bottom:@spacing-base;
    .box-sizing(border-box);
    text-decoration:none;
    &:hover {
      background:lighten(#EEE,2%);
    }

  }
  .payment-selection-method-icon-container {
    display:table-cell;
    position:absolute;
    left:0px;
    top:0px;
    width:@payment-icon-width;
    height:@payment-icon-height;
  }
  .payment-selection-method-description-container {
    display:table-cell;
    min-height:@payment-icon-height;
    padding-left:@payment-icon-width + @padding-base;
    vertical-align:middle;

    span {
      display:block;
    }

  }
  .payment-selection-method-description {

  }
  .payment-selection-method-title {
    font-weight:bold;
    .font-size-rem(@font-size-h3);
    margin-bottom:@padding-small;
  }
  .payment-selection-method-description {
    color:@color-text;
  }

}
.core-container {
  padding:@spacing-base;

}



h2 {
  background:@color-h2-back;
  color:@color-h2-text;
  padding:@padding-base;
  .font-size-rem(@font-size-h2);
  border-radius:@border-radius-base;
  margin-bottom:@spacing-base;
}
h3 {
 background:@color-h3-back;
  color:@color-h3-text;
  padding:@padding-base;
  .font-size-rem(@font-size-h3);
  border-radius:@border-radius-base;
  margin-bottom:@spacing-base;
}
.order-description-text p {
  margin-bottom:@spacing-base;
}

.order-core-container {
  .clearfix();
}
.order-item-details {
  .list-no-style();
}
.order-item {
  background: @color-order-item-back;
  padding:@padding-base;
  margin-bottom:@spacing-small;
  border-radius:@border-radius-base;
}
.view-full-order-details-container {
  text-align:center;
  padding-top:@padding-small;
}
.order-summary-details-wrapper {
  margin:@padding-base 0;
  padding-top:@padding-base;
  border-top:@border-style;
  .clearfix();
}

.order-summary-details-wrapper table {
  float:right;
  th,td {
    padding:@padding-small;
    text-align:right;
  }

}
.order-summary-details-wrapper .order-details-total-row {


    td,th {
      color: @color-text-light;
    background:@color-total-background;
      font-weight:bold;
      padding-top:@padding-base;
      padding-bottom:@padding-base;
    }
    th {
      border-top-left-radius: @border-radius-base;
        border-bottom-left-radius: @border-radius-base;
    }
    td {
      border-top-right-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
    }
}
.payment-details-your-details-name {
  font-weight:bold;
}
.payment-details-your-details-address {
  padding-top:@padding-base;
}
.payment-details-your-details-wrapper {

  padding:@spacing-base @padding-base;
  padding-top:0px;
}
.cancel-button-container {
  text-align:center;
  .font-size-rem(@font-size-small);
  padding-top:@padding-base;
}


.paypal-confirmation-button-container a {
  .btn();
}
.transactium-payment-iframe-container iframe {
  width:100%;
}

.payment-request-expired {
  padding:@padding-base;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  .order-summary-container {
    width:@order-summary-width;
    float:left;
    padding-right:@spacing-base;
    .box-sizing(border-box);
    border-right:@border-style;
  }
  .payment-details-container {
    width:@payment-details-width;
    float:left;
    padding-left:@spacing-base;
    .box-sizing(border-box);
  }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {




}



