﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Logos._LogoModel

@helper OutputLogo() {

    if (Model.ShowLogoAsImageUrl == null)
    {
        <a href="@Model.LogoLinkUrl" class="logo" title="@Model.LogoTitle">@Model.LogoTitle</a>
    }
    else
    {
        <a href="@Model.LogoLinkUrl" class="logo" title="@Model.LogoTitle">
            <img src=@Model.ShowLogoAsImageUrl alt=@Model.LogoTitle class="logo-image" />
        </a>
    }
}
            
<div class="logo-main-container">
                    
    @if (Model.ShowLogoInHeadingTag)
    {       
        <h1>@OutputLogo()</h1>
    }
    else
    {
        @OutputLogo()
    }

</div>