﻿@model BusinessLogic_CS_v6.Presentation.Models.Members.MembersResetPasswordModel
           
<div class="reset-password-container">

    <div class="reset-password-content">

        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPage); }

    </div>

</div>
