﻿@model BusinessLogic_CS_v6.Presentation.Models.Members.MembersUpdateProfileModel
    
<div class="profile-main-container">
        
    <div class="profile-content">
            
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPage); }

    </div>

</div>