﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DeliveryDetailsFields.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.ShoppingCart.DeliveryDetailsFields" %>
<div class="form-fields-container">
    <CSControlsFormFields:FormFields ID="formFields" runat="server">
    </CSControlsFormFields:FormFields>
</div>