﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeBehind="testpayment-success.aspx.cs" Inherits="PayMammothDeploy.testing.testpayment_success" %>
<asp:Content ID="Content1" ContentPlaceHolderID="mainHeadPlaceholder" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContentPlaceHolder" runat="server">
<h1>Test Payment - Success</h1>
This shows that the payment was successful!
</asp:Content>