﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Categories._CategoryMenuLinksModel

<div class="category-menu-links-main-container">
    
    <div class="category-menu-links-content">
            
        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.CategoryMenuLinksTitleContentText, cssClass:"category-menu-links-title")
    
        <nav class="category-menu-links">
                   
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Hierarchy._HierarchicalNavigationControl, Model.CategoryMenuLinks); }

        </nav> 

    </div>

</div>