﻿@using CS.General_CS_v6.Extensions
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Hierarchy._HierarchicalControlModel


@helper GenerateItem(BusinessLogic_CS_v6.Modules.Data.Hierarchy.IHierarchyData item, int index, int total, int levelIndex, bool even)
{
    TagBuilder li = new TagBuilder("li");
    li.AddCssClass("cs-hierarchical-control-list-item");
    li.AddCssClass("cs-hierarchical-control-list-item-level-" + levelIndex);
    li.Attributes.Add("data-item-id", item.Id);

    bool selected = Model.SelectedItems != null && Model.SelectedItems.Contains(item);
    if (selected)
    {
        li.AddCssClass("cs-hierarchical-control-list-item-selected");
    }

    if (index == 0)
    {
        li.AddCssClass("cs-hierarchical-control-list-item-first");
    }

    if (levelIndex == 1)
    {
        if (even)
        {
            li.AddCssClass("cs-hierarchical-control-list-item-even");
        }
        else
        {
            li.AddCssClass("cs-hierarchical-control-list-item-odd");
        }
    }

    if (index == total - 1)
    {
        li.AddCssClass("cs-hierarchical-control-list-item-last");
    }
    li.InnerHtml += "<span class='cs-hierarchical-control-list-item-text'>" + item.Title + "</span>";

    if (item.Subtitle.IsNotNullOrWhitespace())
    {
        li.InnerHtml += "<span class='cs-hierarchical-control-list-item-subtitle'>" + item.Subtitle + "</span>";
    }

     
    if (!string.IsNullOrWhiteSpace(item.Identifier))
    {
        li.InnerHtml += string.Format("<span class='hierarcy-icon icon-{0}'></span>", item.Identifier.ToLower().Replace("_", "-"));

    }
    //if (Model.ItemTagBuilderCallback != null)
    //{
    //Model.ItemTagBuilderCallback(Model, li, item, selected);
    Model.TriggerItemTagBuilderCallback(li, item, selected, levelIndex, Html);
    //}
    var children = item.Children;
    if (children != null && children.Any())
    {
        HelperResult ul = GenerateGroupLevel(children, ++levelIndex);
        li.InnerHtml += ul.ToHtmlString();
    }

    @Html.Raw(li.ToString(TagRenderMode.Normal));

}


@helper GenerateLevel(IEnumerable<BusinessLogic_CS_v6.Modules.Data.Hierarchy.IHierarchyData> items, int levelIndex)
{
    bool even = false;
    int count = 0;
    if (items != null)
    {
        int total = Model.Items.Count();
        <ul class="cs-hierarchical-control-level cs-hierarchical-control-level-@(levelIndex)">
            @foreach (var item in items)
            {
                even = count % 2 == 0 ? true : false;
                @GenerateItem(item, count, total, levelIndex, even)
                count++;

            }
        </ul>
    }

}

@helper GenerateGroupLevel(IEnumerable<BusinessLogic_CS_v6.Modules.Data.Hierarchy.IHierarchyData> items, int levelIndex)
{
    var uniqueGroups = Model.GetUniqueGroups(items);

    if (uniqueGroups.Count > 1)
    {
        <div class="cs-hierarchical-control-groups clearfix">

            @foreach (var uniqueGroup in uniqueGroups)
            {
                <div class="cs-hierarchical-control-group cs-hierarchical-control-group-@(uniqueGroup.GroupNumber)">

                    @GenerateLevel(uniqueGroup.Items, levelIndex)

                </div>
            }

        </div>
    }
    else
    {
        @GenerateLevel(items, levelIndex)
    }
}

@GenerateGroupLevel(Model.Items, 1)