﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.SocialNetworking.AddThis._AddThisSnippetModelOld
<script>
            var addthis_config = {
                ui_language: "@CS.General_CS_v5.Enums.ConvertLanguageIsoCodeToTwoLetterStringCode(BusinessLogic_CS_v5.Framework.Culture.CultureManager.Instance.GetCurrentCultureLanguage())"
            }
        </script>
        @{
            //ADD THIS SCRIPT 
            string addThisUrl = "//s7.addthis.com/js/300/addthis_widget.js";
            if (!string.IsNullOrWhiteSpace(Model.AddThisPublisherId))
            {
                addThisUrl += "#pubid=" + Model.AddThisPublisherId;
            }
        }
        <script src="@addThisUrl"></script>