﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Gallery._GalleryControlModel

<div class="gallery-control-main-container">

    <div class="gallery-control-content">

        <div class="gallery-control-title">

            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H2, Model.GalleryTitleContentText)

        </div>
                
        @if (Model.GalleryItems != null && Model.GalleryItems.Any())
        {       
            <div class="gallery">
               
                @foreach (var galleryItem in Model.GalleryItems)
                {
                    Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Gallery._GalleryControlItem, galleryItem);
                }

            </div>
        }

    </div>

</div>
    
@{
    if (!Model.DoNotUsePrettyPhoto)
    {
        var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];
        
        commonViewContextData.ScriptBlocks.ScriptBlocks["PrettyPhotoScriptBlock"] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>

                <script>

                    $(function () {

                        $("a[rel^='prettyPhoto']").prettyPhoto();
                    });

                </script>

            </text>
        };

        commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.PrettyPhoto] = new CommonViewContextScriptIncludeData()
        {
            ScriptFile = CS.General_CS_v5.Constants.FileIncludes.PrettyPhoto_ScriptIncludeUrl,
            ScriptFileMinified = CS.General_CS_v5.Constants.FileIncludes.PrettyPhoto_ScriptIncludeUrl_Minified
        };

        commonViewContextData.StylesheetIncludes.StylehseetIncludes[CS.General_CS_v5.Constants.FileIncludes.PrettyPhoto] = new CommonViewContextStylesheetIncludeData()
        {
            StylesheetFile = CS.General_CS_v5.Constants.FileIncludes.PrettyPhoto_StyleSheetIncludeUrl
        };
    }
}