﻿@model BusinessLogic_CS_v5.Presentation.Models.Contact.ContactGeneralIndexModel
<div class="contact-index-container">
    <aside class="contact-details-container">
        @{
            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Contact._ContactDetailsControlWithTitle, Model.ContactDetailsControlWithTitleModel);
        }
    </aside>
    <div class="contact-index-form-container">
        @{
            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Contact._ContactUsPage, Model.ContactUsPageModel);
        }
    </div>
</div>
           