﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models.ResetPassword.ResetPasswordIndexModel

@Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageNew(new BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageModel(CommonViewContextDataOld.Instance.CurrentSection)
    {
        BottomContent = @<text>
                             
                            <div class="reset-password-main-container clearfix">
                             
                                @Html.Action(MVCGeneral.PartialViewsPasswords._ResetPasswordForm(Model.ResetPasswordFormModel))

                            </div>

                         </text>
    }))
