﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.NotificationMessages._NotificationMessageModel

@if (Model != null && (!String.IsNullOrWhiteSpace(Model.Message) || Model.MessageContentTextModel != null || (Model.OtherMessages != null && Model.OtherMessages.Any())))
{
    var id = CS.General_CS_v6.Util.JsUtil.GenerateUniqueJsElementId();


    <div id="@id" class="notification-message-container notification-message-@Model.MessageType.ToString().ToLower()">
        <div class="notification-message-icon-container">
            <span class="notification-message-icon"></span>
        </div>
        <div class="notication-message-text-list-container">
            <ul class="notification-message-list">
                @if (!String.IsNullOrWhiteSpace(Model.Message))
                {
                    <li class="notification-message-text">@Html.Raw(Model.Message)</li>
                }
                else if (Model.MessageContentTextModel != null)
                {
                    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Li, Model.MessageContentTextModel, "notification-message-text")
                }
                @if (Model.OtherMessages != null)
                {
                    foreach (var otherMessage in Model.OtherMessages)
                    {
                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Li, otherMessage, "notification-message-text")
                    }
                }
            </ul>
        </div>
        <div class="notification-message-hide-button-container">
            <a class="notification-message-hide-button" href="javascript:"></a>
        </div>
    </div>
    <script>
        $(function () {
            var jNotification = $("#@(id)");
            jNotification.find('.notification-message-hide-button').on('click', function (e) {
                jNotification.slideUp();
                $(this).off('click');
                e.preventDefault();
            });
        });
    </script>
}
