﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StagingNote.ascx.cs"
    Inherits="PayMammothDeploy.usercontrols.payment.StagingNote" %>
<div id="divStagingNote" runat="server" visible="false" class="staging-error-wrapper rounded-border">
</div>
