﻿@model PayMammoth_v6.Presentation.Models.Home.HomeIndexModel


@{
    Layout = MVCPayMammoth_v6._Shared.Views.Layouts._LayoutCore;
}

<div class="html-container">
    <h1>Pay Mammoth V2.05</h1>
    <p>Welcome to the Pay Mammoth payment handling website.</p>
<p>Last Build Date: @CS.General_CS_v6.Util.ApplicationUtil.GetLastApplicationBuildDateFromAssembly().ToString("dd/MM/yyyy HH:mm:ss")
        
 </p>
</div>
@section scripts {

    
}