﻿@model PayMammoth_v6.Presentation.Models.Home.HomePaymentSelectionHandlerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirecting...</title>
    <script>
        var redirectLocation = "@Html.Raw(Model.RedirectUrl)";
        window.top.location.href = redirectLocation;
    </script>
</head>
<body>
    <p>Redirecting...</p>
</body>
</html>
