﻿@using CS.General_CS_v6
@using PayMammoth_v6.Modules.Data.Payments
@model PayMammoth_v6.Presentation.Models.Home.HomePaymentSelectionModel
@{
    //this.Layout = MVCPayMammoth_v6._Shared.Views.Layouts._LayoutCore;

}
@{
    //Html.RenderAction(MVCGeneral.PartialViewsNotificationMessages._NotificationMessage(), excludeFromParentCache: true);
}

@Html.InlineEditingContentTextModel(Enums.HtmlTagName.H3, Model.TitleContentTextModel, cssClass: "payment-details-choose-payment-method")


<ul class="payment-selection-container">

    @foreach (var paymentMethod in Model.PaymentMethods)
    {
        <li class="payment-selection-method">
            <a href="@paymentMethod.Href">
                <span class="payment-selection-method-icon-container">
                    @Html.CsImageFromVersion(paymentMethod.PaymentMethodDataModel.Icon, PaymentMethodData.PaymentMethodDataIconImageSize.Normal, paymentMethod.PaymentMethodDataModel.Title.Value)
                </span>
                <span class="payment-selection-method-description-container">
                    @Html.InlineEditingForFieldModel(Enums.HtmlTagName.Span, paymentMethod.PaymentMethodDataModel.Title, cssClass: "payment-selection-method-title")
                    @Html.InlineEditingForFieldModel(Enums.HtmlTagName.Span, paymentMethod.PaymentMethodDataModel.Description, cssClass: "payment-selection-method-description")
                </span>
            </a>
        </li>
    }
</ul>