﻿@using BusinessLogic_CS_v6.EnumsBL
@using BusinessLogic_CS_v6.Modules.Data.Sections.SectionDataSubClasses
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.ListingItems.BasicListingItem._BasicListingItemModel

<div class="section-listing-container">

    <div class="section-listing-title-container">
        @Html.CsAnchor(Model.Title, Model.SectionUrl)
    </div>

    <div class="section-listing-image-desc-container">
        <div class="section-listing-image-container">
            <a class="section-listing-image" href="@Model.SectionUrl">
                @Html.CsImageFromVersion(Model.Image, SectionDataMainDetails.SectionDataMainImageImageSize.Normal, Model.Title.Value, noImageUrl: "/Content/images/section-listing-no-image.png")
            </a>
        </div>

        @{
            bool hasSummary = Model.SummaryFieldModel != null || !string.IsNullOrWhiteSpace(Model.Summary);
        }
        @if (hasSummary)
        {
            <div class="section-listing-summary-container">
                @if (Model.SummaryFieldModel != null)
                {
                    @Html.InlineEditingForFieldModel(Enums.HtmlTagName.P, Model.SummaryFieldModel)
                }
                else
                {
                    <p>@Model.Summary</p>
                }

            </div>
        }
    </div>

    <div class="section-listing-button-container">
        <a class="section-listing-button" href="@Model.SectionUrl">
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Span, Model.ButtonContentText, cssClass: "section-listing-button-text")
        </a>
    </div>

</div>