﻿@model PayMammoth_v2.Presentation.Models.Transactium.TransactiumStatusHandlerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirecting...</title>
    <script>
       
        window.parent.location.href = "@Model.RedirectUrl";
    </script>
</head>
<body>
    <p>Redirecting...</p>
</body>
</html>
