﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.GoogleMaps.GoogleMap._GoogleMapControlModel
        
<div class="google-map-control-main-container" id="@Model.UniqueJsElementId">

    <div class="google-map-control-content" id="@Model.UniqueJsElementId">
    </div>

</div>

@{  
    var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];

    commonViewContextData.ScriptBlocks.ScriptBlocks["GoogleMap" + Model.UniqueJsElementId + "ScriptBlock"] = new CommonViewContextScriptBlockData()
    {   
        ScriptBlockContent = @<text>

            <script>
                     
                $(function() {
                    initializeMap@(Model.UniqueJsElementId)();
                });
                    
                function initializeMap@(Model.UniqueJsElementId)() {
                    var mapOptions = @Html.Raw(Model.SerializedMapOptions);
                    var map = new google.maps.Map($("#@Model.UniqueJsElementId").get(0), mapOptions);
                    var markersOptionsList = @Html.Raw(Model.SerializedMapMarkers);

                    for (var i = 0;i<markersOptionsList.length;i++) {
                        var markerOptions = markersOptionsList[i];
                        markerOptions.map = map;
                        new google.maps.Marker(markerOptions);
                    }
                        
                    google.maps.event.addDomListener(window, "resize", function() {
                        var center = map.getCenter();
                        google.maps.event.trigger(map, "resize");
                        map.setCenter(center); 
                    });
                };
   
            </script>
    
        </text>
    };

    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.GoogleMaps] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.GoogleMaps_ScriptIncludeUrl
    };
}