﻿@using BusinessLogic_CS_v5.EnumsBL
@using BusinessLogic_CS_v5.Framework.MediaItems
@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.MediaItems.Manage
@using CS.General_CS_v5.Constants
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.MediaItems.Manage._AjaxMediaGalleryModel
@{
    var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];
}
<div class="media-items-ajax-gallery-container" id="@Model.Parameters.ContainerId">

    @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H3, Model.Parameters.Heading)
    <div class="media-items-ajax-gallery-content">
        <div class="media-items-ajax-gallery-items-container">
            @if (Model.MediaGalleryItems != null)
            {
                foreach (var mediaItem in Model.MediaGalleryItems)
                {
                    Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.MediaItems.Manage._AjaxMediaGalleryItem, mediaItem);
                }
            }
        </div>
        @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.Parameters.NoPhotosUploaded, cssClass: "media-items-ajax-gallery-no-items")
        <div class="media-items-ajax-gallery-drag-and-drop-note-container">
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.P, Model.Parameters.DragAndDropNote, cssClass: "media-items-ajax-gallery-drag-and-drop-note")
        </div>
        <div class="media-items-upload-container">
        </div>
        <div class="media-items-ajax-gallery-items-buttons-container">
            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Div, Model.Parameters.UploadPhotos, cssClass: "media-items-ajax-gallery-items-upload-button")
        </div>
    </div>

</div>


@{
    //The below is registered only once
    commonViewContextData.ScriptIncludes.ScriptIncludes[FileIncludes.PrettyPhoto] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = FileIncludes.PrettyPhoto_ScriptIncludeUrl,
        ScriptFileMinified = FileIncludes.PrettyPhoto_ScriptIncludeUrl_Minified
    };
    commonViewContextData.ScriptIncludes.ScriptIncludes[FileIncludes.FineUploader] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = FileIncludes.FineUploader_ScriptIncludeUrl,
        ScriptFileMinified = FileIncludes.FineUploader_ScriptIncludeUrl_Minified
    };
    commonViewContextData.StylesheetIncludes.StylehseetIncludes[FileIncludes.PrettyPhoto] = new CommonViewContextStylesheetIncludeData()
    {
        StylesheetFile = FileIncludes.PrettyPhoto_StyleSheetIncludeUrl,
        StylesheetFileMinified = FileIncludes.PrettyPhoto_StyleSheetIncludeUrl
    };
    commonViewContextData.StylesheetIncludes.StylehseetIncludes[FileIncludes.FineUploader] = new CommonViewContextStylesheetIncludeData()
    {
        StylesheetFile = FileIncludes.FineUploader_StyleSheetIncludeUrl,
        StylesheetFileMinified = FileIncludes.FineUploader_StyleSheetIncludeUrl
    };
    const string scriptKey = "_AjaxMediaGallery";
    if (!commonViewContextData.ScriptBlocks.ScriptBlocks.ContainsKey(scriptKey))
    {
        commonViewContextData.ScriptBlocks.ScriptBlocks[scriptKey] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>
                <script>

                    function showNoItems(container) {
                        var jItems = container.find(".media-items-ajax-gallery-item");
                        var jNoItemsText = container.find(".media-items-ajax-gallery-no-items");
                        var show = jItems.length == 0;
                        jNoItemsText.css("display", show ? "" : "none");
                    }

                    function mediaItemsAjaxGalleryInitCaptionTextbox(container, jImageContainer, itemId, propertyName, fileName, updateCaptionUrl) {
                        var jTxt = jImageContainer.find(".media-items-ajax-gallery-item-caption-field");
                        jTxt.on("change", function (e) {
                            var newCaption = jTxt.val();
                            var data = {};
                            data["@CS.General_CS_v5.Constants.Variables.Id"] = itemId;
                            data["@CS.General_CS_v5.Constants.Variables.PropertyName"] = propertyName;
                            data["@CS.General_CS_v5.Constants.Variables.FileName"] = fileName;
                            data["@CS.General_CS_v5.Constants.Variables.Caption"] = newCaption;

                            $.post(updateCaptionUrl, data, function (response, textStatus, jqXHR) {
                                var success = response && response.success;
                                if (!success) {
                                    alert('@Model.Parameters.ErrorEncountered.ReplacedValue');
                                }
                            }, "json");
                        });
                    }

                    function mediaItemsAjaxGalleryInitImage(container, propertyName, deleteUrl, jImageContainer, itemId, updateCaptionUrl) {
                        var jDelete = jImageContainer.find(".media-items-ajax-gallery-item-delete-button");
                        var fileName = jImageContainer.attr("data-filename");
                        mediaItemsAjaxGalleryInitCaptionTextbox(container, jImageContainer, itemId, propertyName, fileName, updateCaptionUrl);
                        jDelete.on("click", function (e) {
                            //submit ajax to delete
                            jImageContainer.addClass('confirm-message-item');
                            if (confirm("@Model.Parameters.ConfirmDelete.ReplacedValue")) {
                                var data = {};
                                data["@CS.General_CS_v5.Constants.Variables.Id"] = itemId;
                                data["@CS.General_CS_v5.Constants.Variables.PropertyName"] = propertyName;
                                data["@CS.General_CS_v5.Constants.Variables.FileName"] = fileName;


                                $.post(deleteUrl, data, function (response, textStatus, jqXHR) {
                                    var success = response && response.success;
                                    if (!success) {
                                        alert('@Model.Parameters.ErrorEncountered.ReplacedValue');
                                    }
                                }, "json");

                                jImageContainer.hide("slide", { direction: "left", distance: 0 }, 400, function () {
                                    jImageContainer.remove();
                                    showNoItems(container);
                                });
                            } else {
                                jImageContainer.removeClass('confirm-message-item');
                            }
                        });

                    }

                    function initThumbs(container, propertyName, deleteUrl, itemId, updateCaptionUrl) {
                        var jInitialThumbs = container.find('.media-items-ajax-gallery-item');
                        for (var i = 0; i < jInitialThumbs.length; i++) {
                            mediaItemsAjaxGalleryInitImage(container, propertyName, deleteUrl, jInitialThumbs.eq(i), itemId, updateCaptionUrl);
                        }
                    }

                    function initAjaxMediaGallery(containerId, itemId, uploadUrl, propertyPath, deleteUrl, updateCaptionUrl) {
                        var container = $("#" + containerId);
                        $(function () {
                            var data = {};
                            data["@CS.General_CS_v5.Constants.Variables.Id"] = itemId;
                            data["@CS.General_CS_v5.Constants.Variables.PropertyName"] = propertyPath;

                            container.find(".media-items-upload-container").fineUploader({
                                button: container.find('.media-items-ajax-gallery-items-upload-button'),
                                request: {
                                    endpoint: uploadUrl,
                                    params: data
                                },
                                validation: {
                                    allowedExtensions: ["jpg", "png", "jpeg"]
                                }
                            }).on('complete', function (event, id, filename, response) {
                                //Upload complete
                                var success = response.success;
                                if (success) {
                                    var html = response.html;
                                    var jMediaItemContainer = $(html);
                                    var jMediaItem = jMediaItemContainer.find(".media-items-ajax-gallery-item");
                                    container.find(".media-items-ajax-gallery-items-container").append(jMediaItemContainer);
                                    showNoItems(container);
                                    mediaItemsAjaxGalleryInitImage(container, propertyPath, deleteUrl, jMediaItem, itemId, updateCaptionUrl);
                                    jMediaItemContainer.slideUp(0);
                                    jMediaItemContainer.slideDown(500);

                                    $("a[rel^='prettyPhoto']").prettyPhoto();
                                }

                            });


                            initThumbs(container, propertyPath, deleteUrl, itemId, updateCaptionUrl); // delay it to first attach conf messages

                        });
                        showNoItems(container);
                        container.find("a[rel^='prettyPhoto']").prettyPhoto();
                    }

                </script>
            </text>
        };
    }
    //The below is registered for each one of them with a unique Id
    commonViewContextData.ScriptBlocks.ScriptBlocks["_AjaxMediaGallery_Init_" + Model.Parameters.ContainerId] = new CommonViewContextScriptBlockData()
    {
        ScriptBlockContent = @<text>
            <script>
                $(function () {
                    initAjaxMediaGallery("@Model.Parameters.ContainerId", "@Model.DbFieldModel.DataItemId", "@Model.Parameters.UploadAjaxHandlerUrl", "@Model.DbFieldModel.PropertyPath", "@Model.Parameters.DeleteItemAjaxHandlerUrl", "@Model.Parameters.UpdateCaptionAjaxHandlerUrl");
                });
            </script>
        </text>,
        SortPriority = 1000
    };
}