﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Adverts._AdZerkAdvertModel
                
<div class="advert-main-container">
            
    <div class="advert-content" id="@Model.PlacementName">
        
    </div>

</div>