﻿              
<script type='text/javascript'>
          
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
            '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
    })();
</script>

<script type='text/javascript'>
    googletag.cmd.push(function () {

        for (var i = 0; i < window.googleDfpAdverts.length; i++) {

            var googleDfpAdvert = window.googleDfpAdverts[i];

            googletag.defineSlot(googleDfpAdvert.UnitName, [googleDfpAdvert.Width, googleDfpAdvert.Height], googleDfpAdvert.Id).addService(googletag.pubads());
        }

        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });

</script>