﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Adverts._GoogleDfpAdvertControlModel
        
<div class="advert-main-container">
        
    <div class="advert-content" @Html.AddAttribute("id", Model.Advert.Id)>

        <script type='text/javascript'>

            window.googleDfpAdverts = window.googleDfpAdverts || [];
            window.googleDfpAdverts.push(@Html.Raw(Model.AdvertJson));

            googletag.cmd.push(function () { googletag.display('@Model.Advert.Id'); });

        </script>

    </div>

</div>