﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Widgets._MaltaTimeAndWeatherWidgetModel
        
<div class="malta-widget-main-container">

    <div class="malta-widget-content">

        @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Div, Model.MaltaWidgetTitleContentText, cssClass: "malta-widget-title")

        <div class="malta-widget-time-and-weather">
            
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.DateAndTime._LocalDateAndTime, Model.LocalDateAndTime); }

            @{
                Html.RenderAction(MVCGeneral.PartialViewsWeather._WeatherWidget());
            }

        </div>

    </div>

</div>