
/****
 	SLIDER
****/

.cs-cms .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.cs-cms .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.cs-cms .dijitSliderFocused .dijitSliderProgressBarH,
.cs-cms .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}

.cs-cms .dijitSliderFocused .dijitSliderProgressBarV,
.cs-cms .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}

.cs-cms .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

.cs-cms .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

.cs-cms .dijitSliderBar {
	border-style: solid;
	outline:1px;
	/* border-color: #b4b4b4; */
}
.cs-cms .dijitSliderFocused .dijitSliderBar {
	border-color:#727272;	
}

.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}

.cs-cms .dijitSliderImageHandleH {
	border:0px;
	width:15px;
	height:18px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
	#background:url("../images/preciseSliderThumb.gif") no-repeat center top;
	cursor:pointer;
}
.cs-cms .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}

.cs-cms .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.cs-cms .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

.cs-cms .dijitSliderImageHandleV {
	border:0px;
	width:20px;
	height:15px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	#background:url("../images/sliderThumb.gif") no-repeat center center;
	cursor:pointer;
}

.cs-cms .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
	#background-image:url("../images/sliderThumbFocus.gif");
}

.cs-cms .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.cs-cms .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

.cs-cms .dijitSliderIncrementIconH,
.cs-cms .dijitSliderIncrementIconV {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -45px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -45px top;
	width:15px; height:15px;
	cursor:pointer;
}
.cs-cms .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}

.cs-cms .dijitSliderDecrementIconH,
.cs-cms .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	cursor:pointer;
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -15px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.cs-cms .dijitSliderDecrementIconH { 
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat 0px top; 
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat 0px top; 
}

.cs-cms .dijitSliderButtonInner {
	visibility:hidden;
}

.cs-cms .dijitSliderDisabled {
	opacity:0.6 !important;
}

.dj_ie6 .cs-cms .dijitSliderDisabled,
.dj_ie6 .cs-cms .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .cs-cms .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .cs-cms .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}