﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.OpeningHours._OpeningHoursDetailsModel

<div class="opening-hours-details-main-container">

    <div class="opening-hours-details-content">

        <div class="opening-hours-details-title">

            @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.H2, Model.OpeningHoursDetailsTitleContentText)

        </div>
            
        @if (Model.OpeningHours != null && Model.OpeningHours.OpeningHoursItems != null && Model.OpeningHours.OpeningHoursItems.Any())
        {   
            <div class="opening-hours-details">

                <table>

                    @foreach (var openingHoursItem in Model.OpeningHours.OpeningHoursItems)
                    {
                        <tr>

                            <td class="opening-hours-item-label" >
                                
                                <span>@openingHoursItem.Label</span><span>:</span>
                           
                            </td>

                            <td class="opening-hours-item-value">
                                      
                                @openingHoursItem.Value

                            </td>

                        </tr>
                    }

                </table>

            </div>
        }

    </div>

</div>