﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Banners._HomepageBannerModel

<div class="homepage-banner-main-container">

    <div class="homepage-banner-content">
        
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelMediaGallery, Model.CarouFredSelMediaGalleryModel); }

    </div>

</div>