﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SetupAuthorization.aspx.cs" Inherits="CS.MvcGeneral_CS_v6.Views.AWeber.Authorization.SetupAuthorization" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
