﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SuccesfullyAuthorized.aspx.cs" Inherits="CS.MvcGeneral_CS_v6.Views.AWeber.Authorization.SuccesfullyAuthorized" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <h1>
    AWeber Authorised successfully
    </h1>
    </form>
</body>
</html>
