﻿@using BusinessLogic_CS_v5.Presentation.JavaScript.GoogleMap
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.GoogleMaps.MarkerMap._MarkerMapModel

<div id="map">
</div>

<script>
    jQuery(function() {
        initializeMap();
    });

    function initializeMap() {
        var mapOptions = @Html.Raw(CS.General_CS_v5.Util.JsonUtil.Serialize<GoogleMapOptions>(Model.MapOptions));
        var map = new google.maps.Map(document.getElementById("map"),mapOptions);
        var markerOptions = @Html.Raw(CS.General_CS_v5.Util.JsonUtil.Serialize<GoogleMapMarkerOptions>(Model.MarkerOptions));
        var marker = new google.maps.Marker(markerOptions);
    };
</script>
