/** CASASOFT V1 - GENERAL CSS **/





::-moz-selection { background: #3399FF; color: #fff; text-shadow: none; }
::selection { background: #3399FF; color: #fff; text-shadow: none; }
p,h1,h2,h3,h4,h5,h6 {
  margin-top:0px;
}
address {
  font-style:normal;
}

ul, ol                           {
  margin:0px;
  padding:0px;
}
th {
  text-align:left;
}

td {
  vertical-align: middle;
}


li {
	list-style: none;
}
label {
  font-weight:bold;
}

/** HTML CONTAINER CSS **/

.html-container table
{
    width: 100%;
}

.html-container h1,
.html-container h2,
.html-container p
{
    margin-bottom: 10px;
}


.html-container p,
.html-container li
{
    line-height: 170%;
    text-align: justify;
}
.html-container ul,
.html-container ol
{
    margin-left:40px;
    margin-bottom:10px;
}
.html-container ul li
{
    list-style:disc;
}
.html-container ol li
{
    list-style:decimal;

}

/** IMAGE CSS **/

.html-container img.image-left
{
    margin: 10px 10px 10px 0px;
    float: left;
}

.html-container img.image-right
{
    margin: 10px 0px 10px 10px;
    float: right;
}

.clear2 {
  clear:both;
}


/** END OF IMAGE CSS **/

/** END OF HTML CONTAINER CSS **/
/** ERROR MESSAGES CSS **/

.error-notification,
.success-notification,
.warning-notification,
.info-notification
{
    display:block;
    width: 100%;
    font-size:22px;
    margin-bottom:10px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 25px 0px;
    z-index:1000;
}
.generic-notificaton-text-container {
  padding:0px 20px;
}

.error-notification
{
   background:#CC0000;
   color:#FFF;
}

.success-notification
{
   background:#009900;
   color:#FFF;
}


.error-notification  .generic-notificaton-text
{
   background:url(/_common/static/images/top-notification-bar-error.png) no-repeat 10px center;
   color:#FFF;
}
.success-notification  .generic-notificaton-text
{
    background:#009900 url(/_common/static/images/top-notification-bar-success.png) no-repeat 10px center;
    color:#FFF;
}
.warning-notification
{
   background:#FECC80;
   color:#6090BB;
}

.warning-notification   .generic-notificaton-text
{
    background-color:#FECC80;
    color:#6090BB;
}
.info-notification
{
   background:#80C8FE;
   color:#000033;
}
.info-notification .generic-notificaton-text
{
    background-color:#80C8FE;
    color:#000033;
}

/** END OF ERROR MESSAGES CSS **/

/** FORM FIELD ICONS CSS **/

.validation-icon-error, .tooltip-icon-control, .validation-icon-success,
.validation-icon-dim, .field-help-icon,.validation-icon-ajax-loader
{
    display: block;
    height: 17px;
    width: 17px;
}

.form-row .main-button-wrapper
{
    margin-top: 5px;
}


.field-help-icon {

    background: url("/_common/static/images/sprites/sprites.png") -0px -0px;
    cursor:help;
}

.validation-icon-ajax-loader
{
    background: url('/images/ajax-loader.gif') no-repeat;
}

.validation-icon-error
{
    background: url("/_common/static/images/sprites/sprites.png") -68px -0px;
    cursor: help;
}

.validation-icon-error:hover
{
    background: url("/_common/static/images/sprites/sprites.png") -85px -0px;
}

.tooltip-icon-control
{
    background: url("/_common/static/images/sprites/sprites.png") -0px -0px;
}

.tooltip-icon-control:hover
{
    background: url("/_common/static/images/sprites/sprites.png") -17px -0px;
}

.validation-icon-dim
{
    background: url("/_common/static/images/sprites/sprites.png") -34px -0px;
}

.validation-icon-success
{
    background: url("/_common/static/images/sprites/sprites.png") -51px -0px;
}

.tooltip-error-content
{
    padding: 5px;
    font-weight: bold;
}

.tooltip-content-container
{
    border: 1px solid #0E659C;
    background: #9CD4F7;
    max-width: 250px;
    line-height: 150%;
}

.tooltip-error-content
{
    border: 1px solid #FF0000;
    background: #FF7E7E;
    margin-left: 10px;
    color: #330000;
}

/** END OF FORM FIELD ICONS CSS **/
.nivoSlider {
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivo-controlNav
{
   position:absolute;
   left:0px;
   top:0px;
   z-index:9999;
   text-align: center;
}
strong, .strong {
  font-weight:bold;
}

/** NIVO SLIDER CSS **/

/** END OF NIVO SLIDE CSS **/
/** END OF CASASOFT V1 - GENERAL CSS **/
.generic-notificaton-container {
    opacity:0.95;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 8px 8px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 8px 8px rgba(0, 0, 0, 0.75);
}

.generic-notificaton-text {
   padding:8px 0px 8px 70px;
}
.generic-notification-container-hide-button {

  /*right:40px;
  top:50%;
  margin-top:-21px;
  position:absolute;   */
  float:right;
  font-size:18px;
  color:#FFF;
  display: block;
  padding:10px;
  padding-left:40px;
  border-radius:5px;
  background:#333 url(/_common/Static/Images/sprites/sprites.png) no-repeat 0px -17px;
  font-weight:normal;

  cursor:pointer;
}
.generic-notification-container-hide-button:hover {
  background:#444 url(/_common/Static/Images/sprites/sprites.png) no-repeat 0px -59px;

}
/*
.cms-content-texts-frontend-edit-button-container {
    border-top:1px dotted #333;
  margin-top:15px;
  padding:15px;
  clear:both;
}

.cms-content-texts-frontend-edit-button-container,
.cms-content-texts-frontend-edit-button-container a {

  font-size:18px;
  text-align: center;

  background:White;
  color:#000;
}
.cms-content-texts-frontend-edit-button-container a,
.cms-content-texts-frontend-edit-button-container a:hover {
  font-weight:bold;
  color:#0000FF !important;
}
.cms-content-texts-frontend-edit-button-container a:hover {
  text-decoration:none;
}
 */
.cms-inline-editable-item[contenteditable=true] {
  background:#0000FF !important;
  color:#FFF !important;
  min-height:50px;
}
.cms-inline-editable-item-error {
  background:#CC0000 !important;
  color:#FFF !important;
}

span.content-text-item[contenteditable=true] {
  display:block;
}
.form-fields-item-label,
.form-fields-item-validation-icon {
  vertical-align: top;
}
body {
  position:relative;
  line-height:normal;
}

.cms-edit-item-container,
.cms-content-texts-frontend-edit-button-container {
  position:fixed;
  right:15px;
  top:150px;
  z-index:500;
  width:100px;
  text-align:center;
  text-transform:lowercase;
}
.cms-edit-item-container {
  top:195px;
}

.cms-edit-item-link,
.cms-content-texts-frontend-edit-button-container a {
  font-size:14px;
  text-decoration:none;
  font-weight:bold;
  background:#222;
  border:1px solid #FFF;
  padding:10px;
  color:White !important;
  display:block;
}


.cms-edit-item-link:hover,
.cms-content-texts-frontend-edit-button-container a:hover {
  background:#FFF;
  color:#000 !important;
}
.cms-content-texts-frontend-edit-button-container .cms-content-texts-frontend-edit-button-container-editing {
  background:#00CC00 !important;
}
.cms-content-texts-frontend-edit-button-container .cms-content-texts-frontend-edit-button-container-editing:hover {

  border:1px solid #FFF !important;
  color:#FFF !important;
  background:#00DD00 !important;
}
.password-strength-meter {
 /* border:1px solid #313131;    */
  position:relative;
  margin-top:1px;        
  height:5px;
}
.password-strength-meter-text {
  padding:5px 0px;
  text-align:center;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  font-weight:bold;
  display:none;
}
.password-strength-meter-bar {
  border-radius:5px;
}

.password-strength-meter-bar {
  position:absolute;
  left:0px;
  top:0px;
  height:100%;
}

.password-bar-strength-0 .password-strength-meter-bar {
    background:#333333;
    width:0%;
}
.password-bar-strength-1 .password-strength-meter-bar {
    background:#990000;
    width:25%;
}
.password-bar-strength-2 .password-strength-meter-bar {
    background:#D65C00;
    width:50%;
}
.password-bar-strength-3 .password-strength-meter-bar {
    background:#FFCC00;
    width:75%;
}
.password-bar-strength-3 .password-strength-meter-text {
    color:#000;
}
.password-bar-strength-4 .password-strength-meter-text {
    color:#000;
}
.password-bar-strength-4 .password-strength-meter-bar {
    background:#07CB00;
    width:100%;
}
.button-disabled {
  opacity:0.5;
  cursor:default !important;
}
body.html-container {
  padding:10px;
}

.ui-dialog .dialog-iframe-container {
  padding:0px !important;
  overflow:hidden !important;
}
.html-dialog-page body {
  padding:15px;
}
.ui-multiselect ul.selected li {
  white-space:nowrap;
}
.ui-tooltip-content img {
  display:block;
}

input[readonly] {
  background: #F4ECEB !important;
}

@media print {

.invoice-details-top-container h1, .invoice-items-title-container h2 {
    padding: 0px;
}

.invoice-items-table {
  width: 580px !important;
  margin-left: 10px;
}

.invoice-heading-left {
  margin-left: 10px;
}

.invoice-heading-right {
  width: 280px;
}

.invoice-items-total-table tr {
  text-align: left;
}

.invoice-items-total-table {
  width: 80%;
  float: right;
  margin-right: 17px;
}

.invoice-email a {
  font-weight: normal;
}

}
.chromeframe {
  background:#CC0000;
  padding:10px;
  color:#FFF;
  text-align:center;
  font-size:18px;
  margin:0px;
  margin-bottom:10px;
}
.chromeframe a {
  color:#FFFF00 !important;
  font-weight:bold;
}

.chromeframe em {
  font-style:normal;
}