html, body 
{
    font-family:Tahoma;
    font-size:12px;
    background:White;
}
table.filebrowser
{
  width:100%;
}
ul.filebrowser-tree
{
  padding: 0px;

  margin: 0px;
}
ul.filebrowser-tree ul
{

  padding-left:25px;

}

.filebrowser-contentPanelItem div.contentItem-image
{
  height:32px;
  padding:4px;
  text-align: center;
}
.filebrowser-contentPanelItem div.contentItem-text
{
  text-align: center;
  font-size:10px;
  padding:2px;
}
table td 
{
    vertical-align:top;
}

table.filebrowser ul,table.filebrowser li
{
  list-style: none;
}


div.filebrowser-tree,
div.filebrowser-contentPanel
{


}
div.filebrowser-nav_breadcrumb
{
  background-color: #333333;
  color:#FFFFFF;
  font-weight:bold;
}
div.filebrowser-contentPanelItem,
div.filebrowser-contentPanelItem:hover
{
  margin:0px 5px 5px 0px;
  float:left;
    width:100px;
    height:130px;
  font-size:11px;
  overflow:hidden;
  border:solid 1px #999999;
  background-color:#F6F6F6;
}


div.filebrowser-contentFile:hover
{
  border:solid 1px #333333;
  background-color:#EEEEEE;

}
div.filebrowser-contentFile-buttons
{
  text-align:center;

}
div.filebrowser-upload
{
  clear:both;
}
td.filebrowser-tree
{
  width: 250px;
  vertical-align:top;
}
div.filebrowser-treenode
{
  background-image: url('/_common/static/images/components/v1/filebrowser/icon_folder_small.gif');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding:3px;
  padding-left:18px;

}

div.filebrowser-buttonsBar 
{
    clear:both;
    text-align:center;
    margin-bottom:10px;
}

div.filebrowser-tree
{




}
div.filebrowser-contentPanelItem
{



}

body
{
    margin:0px;
}
a img 
{
    border:none; 
}
table.tree 
{
    
    
}
h1.uploadPanel-heading 
{
    clear:both;
}
div.nav-breadcrumbs 
{
    padding:3px;
    padding-bottom:5px;
}
div.filebrowser h1
{
    border:1px solid Black;
    margin-bottom:10px;
}
div.file-browser-scroll-div 
{
    height:640px;
    overflow:auto;
}
div.filebrowserUI td#_folderPanel
{
    padding-right:10px;
    border-right: 1px solid #333333;
    background-color: #DDDDDD;
}
div.filebrowserUI td.divContent
{
    padding-left:10px;
}
div.filebrowserUI td.divContent div#_uploadPanel,
div.filebrowserUI td.divContent div#_newFolderPanel
{
    border: 1px solid #CCCCCC;
    background-color:#F3F3F3;
    margin-bottom:10px;
}
div.filebrowserUI td.divContent .nav-breadcrumbs
{
    border-bottom: 1px solid Black;
    margin-bottom: 10px;
}
div.filebrowserUI td.divContent .filebrowser-contentPanel
{
    margin-bottom:15px;
    border-bottom: 2px solid Black;
}
