﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelMediaGalleryWithThumbnailsModel
@{    
    Model.SetHandlers(); //important before creating carousel to update reference event handlers
    
    CommonViewContextDataOld.Instance.RegisterJavascriptFile("/_common_CS_v5/static/js/jQuery/plugins/prettyphoto/js/jquery.prettyPhoto.js");
    CommonViewContextDataOld.Instance.RegisterCssFile("/_common_CS_v5/static/js/jquery/plugins/prettyphoto/css/prettyPhoto.css");
    CommonViewContextDataOld.Instance.RegisterJavascriptFile("/_common_CS_v5/static/js/jQuery/plugins/caroufredsel/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js");
}
<div class="cs-carousel-media-gallery-with-thumbs clearfix">
    <div class="cs-carousel-media-gallery-with-thumbs-images">
        @{
            //Convert media items to carousel items
            List<BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelItemOldModel> carouselItems = new List<BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelItemOldModel>();
            if (Model.MediaItems != null)
            {
                foreach (var mediaItem in Model.MediaItems)
                {
                    var mediaItemCaption = Model.GetMediaItemCaption(mediaItem);
                    
                    carouselItems.Add(new BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelItemOldModel()
                                          {
                                              CssClass = "cs-carousel-media-item",
                                              Content = @<text>
            <figure>
                @if (!String.IsNullOrWhiteSpace(mediaItem.YoutubeUrl))
                {
                    <iframe allowfullscreen="" frameborder="0" src="@CS.General_CS_v5.Util.YoutubeUtil.GetYoutubeVideoUrlForEmbed(mediaItem.YoutubeUrl)" title="@mediaItemCaption"></iframe>
                }
                else
                {   
                    <a href="@mediaItem.LargeItemUrl" rel="prettyPhoto[cp-gallery]" itemprop='photo' itemscope itemtype="http://schema.org/ImageObject">
                        <img src="@mediaItem.NormalImage" alt="@mediaItemCaption" itemprop="contentUrl"/>
                    </a>
                }
                @if (!string.IsNullOrWhiteSpace(mediaItem.Caption))
                {
                    <figcaption>
                        <span class="cs-carousel-media-item-caption-text">@mediaItem.Caption</span>
                    </figcaption>
                }
            </figure>
            </text>
                                          });
                }
                Model.MediaItemsCarouselOldModel.Items = carouselItems;
            }

        }

        @Html.Action(MVCGeneral.PartialViewsCarouFredSel._CarouFredSel(Model.MediaItemsCarouselOldModel))
    </div>

    <div class="cs-carousel-media-gallery-with-thumbs-thumbs">
        @{
            //Convert media items to carousel items
            List<BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelItemOldModel> carouselThumbItems = new List<BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelItemOldModel>();
            if (Model.MediaItems != null)
            {
                foreach (var mediaItem in Model.MediaItems)
                {
                    var mediaItemCaption = Model.GetMediaItemCaption(mediaItem);

                    carouselThumbItems.Add(new BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelItemOldModel()
                        {
                            CssClass = "cs-carousel-media-item-thumb",
                            Content = @<text>
            <a title="@mediaItemCaption">
                @if (!String.IsNullOrWhiteSpace(mediaItem.YoutubeUrl))
                {
                    <img src="/Content/images/thumbnail-media-gallery-video-item.jpg" alt="@mediaItemCaption" />
                }
                else
                {
                    <img src="@mediaItem.ThumbnailImage" alt="@mediaItemCaption" />
                }
            </a>
            </text>
                        });
                }
                Model.ThumbnailsCarouselOldModel.Items = carouselThumbItems;
            }
        }
        @Html.Action(MVCGeneral.PartialViewsCarouFredSel._CarouFredSel(Model.ThumbnailsCarouselOldModel))
    </div>

</div>

<script>
    function initThumbs(jCarouselThumbs, jCarouselImages) {
        jCarouselThumbs.find(".cs-caroufred-sel-item a").each(function (i) {
            $(this).addClass('itm' + i);
            if (i == 0) {
                $(this).addClass('selected'); //start with first one

            }
            /* add onclick event to thumbnail to make the main 
            carousel scroll to the right slide*/
            $(this).click(function () {
                jCarouselImages.trigger('slideTo', [i, 0, true]);
                jCarouselImages.trigger('pause');
                return false;
            });
        });

    }

    $(function () {
        jCarouselThumbs = $('#@Model.ThumbnailsCarouselOldModel.CarouselId');
        jCarouselItems = $('#@Model.MediaItemsCarouselOldModel.CarouselId');
        initThumbs(jCarouselThumbs, jCarouselItems);
    });

    $(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>
