﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelMediaGalleryItemModel
           
<figure>
        
    @if (!String.IsNullOrWhiteSpace(Model.VideoUrl))
{
    <div class="carousel-media-item-video-container">

        <iframe allowfullscreen frameborder="0" src="@Model.VideoUrl" alt="@Model.Caption" title="@Model.Caption"></iframe>

    </div>
}
else
{
    if (!String.IsNullOrWhiteSpace(Model.ImageLinkHref))
    {
            <a href="@Model.ImageLinkHref" @Html.AddAttribute("target", Model.ImageLinkHref, !String.IsNullOrWhiteSpace(Model.ImageLinkHref))>
                    
                <img src="@Model.NormalImage.ImageUrl" alt="@Model.Caption" title="@Model.Caption" />
            
            </a>
        }
        else if (Model.LargeImage != null)
        {   
            <a href="@Model.LargeImage.ImageUrl" rel="prettyPhoto[cp-gallery]">
                    
                <img src="@Model.NormalImage.ImageUrl" alt="@Model.Caption" title="@Model.Caption" />

            </a>
        }
        else
        {   
            <img src="@Model.NormalImage.ImageUrl" alt="@Model.Caption" title="@Model.Caption" />
        }
    }
          
    @if (Model.ShowCaptions)
    {          
        <figcaption @Html.AddAttribute("class", "carousel-media-item-caption-including-subtitle", !String.IsNullOrWhiteSpace(Model.SubCaption))>
                
            <span class="carousel-media-item-caption">@Model.Caption</span>
                
            @if (!String.IsNullOrWhiteSpace(Model.SubCaption))
            {   
                <span class="carousel-media-item-sub-caption">@Model.SubCaption</span>
            }

        </figcaption>
    }
    
</figure>

@{   
    if (String.IsNullOrWhiteSpace(Model.VideoUrl) && String.IsNullOrWhiteSpace(Model.ImageLinkHref) && Model.LargeImage != null)
    {
        var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];

        commonViewContextData.ScriptBlocks.ScriptBlocks["PrettyPhotoScriptBlock"] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>

                <script>

                    $(function () {

                        $("a[rel^='prettyPhoto']").prettyPhoto();
                    });

                </script>

            </text>
        };

        commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.PrettyPhoto] = new CommonViewContextScriptIncludeData()
        {
            ScriptFile = "/_common_CS_v5/static/js/jQuery/plugins/prettyphoto/js/jquery.prettyPhoto.min.js"
        };

        commonViewContextData.StylesheetIncludes.StylehseetIncludes["PrettyPhotoStylehseetInclude"] = new CommonViewContextStylesheetIncludeData()
        {
            StylesheetFile = "/_common_CS_v5/static/js/jquery/plugins/prettyphoto/css/prettyPhoto.css"
        };
    }
}