﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel._CarouFredSelModel
@{
    var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];


    string carouselId = Model.CarouselParameters.CarouselId ?? JsUtil.GenerateUniqueJsElementId();

}
<div class="caroufredsel-main-container @Model.CarouselParameters.CssClass" id='@(carouselId)_container'>

    <ul class='caroufredsel-items-container' id='@carouselId'>

        @foreach (var carouselItem in Model.CarouselParameters.CarouselItems)
        {
            <li class="caroufredsel-item @carouselItem.CssClass">

                @{
            Html.RenderPlaceholder(carouselItem.CarouselItemContent);
                }

            </li>
        }

    </ul>

    @if (!Model.CarouselParameters.DoNotShowCarouselPagination)
    {
        <div class="caroufredsel-pagination-container">

            <div class="caroufredsel-pages-container">
            </div>

        </div>
    }

    @if (!Model.CarouselParameters.DoNotShowCarouselPrevNextButtons)
    {
        <div class="caroufredsel-arrows-container">

            <div class="caroufredsel-arrow-container caroufredsel-arrow-prev-container">
                <button>&lsaquo;</button>
            </div>

            <div class="caroufredsel-arrow-container caroufredsel-arrow-next-container">
                <button>&rsaquo;</button>
            </div>

        </div>
    }

</div>

@{

    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.CarouFredSel] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.CarouFredSel_ScriptIncludeUrl,
        ScriptFileMinified = CS.General_CS_v5.Constants.FileIncludes.CarouFredSel_ScriptIncludeUrl_Minified
    };
    commonViewContextData.ScriptIncludes.ScriptIncludes[CS.General_CS_v5.Constants.FileIncludes.ImagesLoaded] = new CommonViewContextScriptIncludeData()
    {
        ScriptFile = CS.General_CS_v5.Constants.FileIncludes.ImagesLoaded_ScriptIncludeUrl,
        ScriptFileMinified = CS.General_CS_v5.Constants.FileIncludes.ImagesLoaded_ScriptIncludeUrl_Minified
    };


    commonViewContextData.ScriptBlocks.ScriptBlocks["Caroufredsel" + Model.CarouselParameters.CarouselId + "ScriptBlock"] = new CommonViewContextScriptBlockData()
    {
        ScriptBlockContent = @<text>

            <script>

                                        @if (Model.CarouselParameters.DeferExecutionToOnLoad)
                                        {
                                            <text>

                $(function () {

                    </text>
                                        }


                    $('#@carouselId').imagesLoaded(function () {
                        // images have loaded
                        $('#@carouselId').caroufredsel(@Html.Raw(Model.SerializedCarouselOptions));
                    });


                    @if (Model.CarouselParameters.DeferExecutionToOnLoad)
                                        {
                                            <text>

                });

                </text>
                                        }

            </script>

        </text>
    };
}