﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.SocialNetworking.Facebook._FacebookLikeButtonModel

<div id="facebookLikeButtonMainContainer" class="facebook-like-button-main-container">

    <div id="facebookLikeButton" class="fb-like" @Html.AddAttributes(Model.FacebookLikeButtonAttributes)></div>

</div>
    
@helper OutputFacebookLikePluginScript()
{   
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "@Html.Raw(Model.JsSrc)";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
}

@helper OutputFacebookLikeButtonWidthScript()
{
    <script>

        function setFacebookLikeButtonWidth() {

            var container_width = $('#facebookLikeButtonMainContainer').width();
            $('#facebookLikeButton').attr('data-width', container_width);
            if (window["FB"]) {
                FB.XFBML.parse(document.getElementById('facebookLikeButtonMainContainer'));
            }
        }

        $(function () {

            setFacebookLikeButtonWidth();
        });

        var facebookLikeButtonHandler = -1;
        $(window).resize(function (event) {
            clearTimeout(facebookLikeButtonHandler);
            facebookLikeButtonHandler = setTimeout(setFacebookLikeButtonWidth, 500);
        });

    </script>
}

@{  
    if (Model.OutputNecessaryScriptsWithinPartialViewRatherThroughCommonViewContextData)
    {
        @OutputFacebookLikePluginScript()
    
        @OutputFacebookLikeButtonWidthScript()
    }
    else
    {
        var commonViewContextData = Model.CommonViewContextData;
        
        commonViewContextData.ScriptBlocks.ScriptBlocks[CS.General_CS_v5.Constants.FileIncludes.FacebookLikePlugin] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>

                                    @OutputFacebookLikePluginScript()
                
                                  </text>
        };

        commonViewContextData.ScriptBlocks.ScriptBlocks["FacebookLikeButtonWidthScriptBlock"] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>

                                    @OutputFacebookLikeButtonWidthScript()
            
                                  </text>
        };
    }
}