﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.SocialNetworking.Facebook._FacebookLikeBoxModel
    
<div id="facebookLikeBoxMainContainer" class="facebook-like-box-main-container">
        
    <div id="facebookLikeBox" class="fb-like-box" @Html.AddAttributes(Model.FacebookLikeBoxAttributes)></div>

</div>

@{
    var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];

    commonViewContextData.ScriptBlocks.ScriptBlocks[CS.General_CS_v5.Constants.FileIncludes.FacebookLikePlugin] = new CommonViewContextScriptBlockData()
    {
        ScriptBlockContent = @<text>

            <div id="fb-root"></div>
            <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "@Html.Raw(Model.JsSrc)";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
        </text>
    };
        
    commonViewContextData.ScriptBlocks.ScriptBlocks["FacebookLikeBoxWidthScriptBlock"] = new CommonViewContextScriptBlockData()
    {   
        ScriptBlockContent = @<text>

            <script>

                function setFacebookLikeBoxWidth() {
                    
                    var container_width = $('#facebookLikeBoxMainContainer').width();
                    $('#facebookLikeBox').attr('data-width', container_width);
                    if (window["FB"]) {
                        FB.XFBML.parse(document.getElementById('facebookLikeBoxMainContainer'));
                    }
                }

                $(function () {

                    setFacebookLikeBoxWidth();
                });

                var facebookLikeBoxHandler = -1;
                $(window).resize(function (event) {
                    clearTimeout(facebookLikeBoxHandler);
                    facebookLikeBoxHandler = setTimeout(setFacebookLikeBoxWidth, 500);
                });

            </script>
        </text>
    };
}