﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Currency._CurrencyDropdownModel



<div class="currency-dropdown-container">
    <div class="currency-dropdown-selection">
        <span class="currency-dropdown-selection-code">@Model.CurrentCurrency.Currency3LetterCode</span>
        <span class="currency-dropdown-selection-symbol">@Model.CurrentCurrency.CurrencySymbol</span>
        <span class="currency-dropdown-selection-caret"></span>
    </div>

        @{
            Html.RenderAction(MVCGeneral.PartialViewsCurrency._CurrencyDropdownAvailableCurrencies());
        }
</div>


<script>
    $(function () {
        var pageUrl = window.location.toString();
        var currParamName = "@Model.CurrencyParameterName";
        var currParamIndex = pageUrl.indexOf(currParamName + "=");
        if (currParamIndex != -1) {
            //Remove it
            var currParamEnd = pageUrl.indexOf("&", currParamIndex);
            if (currParamEnd == -1) currParamEnd = pageUrl.length;
            var pageUrlFirstPart = pageUrl.substring(0, currParamIndex);
            var pageUrlLastPart = pageUrl.substring(currParamEnd, pageUrl.length);
            pageUrl = pageUrlFirstPart + pageUrlLastPart;
        }
        pageUrl = pageUrl.replace("?&", "?");
        if (pageUrl.lastIndexOf("&") == pageUrl.length - 1) {
            //Ends with it
            pageUrl = pageUrl.substring(0, pageUrl.length - 1);
        }
        var qsIndex = pageUrl.indexOf("?");
        if (qsIndex == -1) {
            pageUrl += "?";
        }
        else if (qsIndex != pageUrl.length - 1) {
            //Not at end
            pageUrl += "&";
        }
        $(".available-currency-item a").each(function (index) {
            var aItem = $(this);
            var newUrl = pageUrl + currParamName + "=" + aItem.attr("data-currency-code");
            aItem.attr("href", newUrl);
        });

    });
</script>