﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Currency._CurrencyDropdownAvailableCurrenciesModel



    <ul class="currency-dropdown-available-currencies-container">

        @foreach (var currency in Model.AvailableCurrencies)
        {

            <li class="available-currency-item">
                <a data-currency-code="@currency.Currency3LetterCode">
                    <span class="available-currency-item-code">@currency.Currency3LetterCode</span>
                    <span class="available-currency-item-symbol">@currency.CurrencySymbol</span>
                </a>
            </li>
        }
    </ul>
