﻿@using BusinessLogic_CS_v5.EnumsBL
@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Stores._StoreDetailsModel

<div class="store-details-container clearfix">
    <div class="store-details-container-top clearfix">
        <div class="store-details-container-address">
            <div class="store-details-container-address-location">
                @Model.Store.DataObject.ContactDetails.AddressDetails.Locality
            </div>
            <div class="store-details-container-address-address1">
                @Model.Store.DataObject.ContactDetails.AddressDetails.Address1
            </div>
            <div class="store-details-container-address-title">
                @Model.Store.DataObject.Title.GetValueForCurrentLanguage()
            </div>
        </div>
        <div class="store-details-container-right">
            <div class="store-details-container-gps-coordinates">
                @Html.InlineEditingContentText(Enums.HtmlTagName.Div, ContentTextIdentifierEnums.GenericContentTextIdentifier.Store_GpsCoordinatesTitle, cssClass: "store-details-container-gps-coordinates-title")
                <div class="store-details-container-coordinates clearfix">
                    <div class="store-details-container-latitude">
                        @Model.Store.DataObject.Location.Latitude,
                    </div>
                    <div class="store-details-container-longitude">
                        @Model.Store.DataObject.Location.Longitude
                    </div>
                </div>
            </div>
            <div class="store-details-container-opening">
                @Html.InlineEditingContentText(Enums.HtmlTagName.Div, ContentTextIdentifierEnums.GenericContentTextIdentifier.Store_OpeningHoursTitle, cssClass: "store-details-container-opening-title")
                <div class="store-details-container-opening-days-hours clearfix">
                    @*@foreach (var openingHours in Model.Store.DataObject.OpeningHours.OpeningHoursBasicItemData)
                    {
                        <div class="clearfix">
                            <div class="store-details-container-opening-days">
                                @openingHours.Days
                            </div>
                            <div class="store-details-container-opening-hours">
                                @openingHours.Time
                            </div>
                        </div>
                    
                    }*@
                </div>
            </div>
        </div>
    </div>
    <div class="store-details-container-map">
        <div class="store-details-image-container">
            <img src="@Model.StoreImageUrl" alt="@Model.Store.DataObject.Title.GetValueForCurrentLanguage()"/>
        </div>
        <div class="google-map-control-core-container">
            @Html.Action(MVCGeneral.PartialViewsGoogleMaps._GoogleMapControl(Model.GoogleMap))
            <div class="view-large-map-container">
                <a target="_blank" href="@Model.Store.DataObject.MapLargeUrl">View Larger Map</a>
            </div>
        </div>
    </div>
</div>

