﻿@using CS.General_CS_v6
@model PayMammoth_v6.Presentation.Models._Shared.PartialViews.Payments._PaymentDetailsModel
@{
    bool showDetails = !string.IsNullOrWhiteSpace(Model.FullName) ||
        (Model.UserDetails.ContactDetailsModel.EmailAddress != null && !string.IsNullOrWhiteSpace(Model.UserDetails.ContactDetailsModel.EmailAddress.Value)) ||
        !string.IsNullOrWhiteSpace(Model.AddressAsOneLineHtml);
}
@if (showDetails) { 
    <div class="payment-details-wrapper">
        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.TitleContentText, cssClass: "payment-details-title")
        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H3, Model.YourDetailsContentTextModel, cssClass: "payment-details-your-details-title")
        <div class="payment-details-your-details-wrapper">
            <div class="payment-details-your-details-name">
                @Model.FullName
            </div>
            @if (Model.UserDetails.ContactDetailsModel.EmailAddress != null)
            {
                <div class="payment-details-your-details-email">
                    @Model.UserDetails.ContactDetailsModel.EmailAddress.Value
                </div>
            }
            <div class="payment-details-your-details-address">
                @Html.Raw(Model.AddressAsOneLineHtml)
            </div>
        </div>
    </div>
}