﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GooglePlusButton.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.SocialNetworking.AddThis.Buttons.GooglePlusButton" %>
<a class="addthis_button_facebook_like" id="aButton" runat="server"></a>
