<%@ Page Language="C#" MasterPageFile="~/_ComponentsGeneric/CMS/Pages/cms.master" AutoEventWireup="true" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.Pages.login" Codebehind="login.aspx.cs" %>
<%@ Register Src="/_ComponentsGeneric/CMS/usercontrols/ucLoginPage.ascx" TagName="LoginPage" TagPrefix="CMS" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" Runat="Server">

<CMS:LoginPage ID="loginPage" runat="server" />

</asp:Content>

