﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="paymentCtrl.ascx.cs" Inherits="PayMammothDeploy.usercontrols.transactium.v1.paymentCtrl" %>



<script type="text/javascript">    HPS_redirectUrl = '<%=ResponseUrl %>';</script>
<script type="text/javascript" src="<%=JavascriptSrc %>" id="hpsscript"></script>
