﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteCopyrightText.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.MasterPage.Footer.SiteCopyrightText" %>
        <span runat="server" id="spanSiteCopyright" class="main-footer-content-text-copyright">
        </span>