﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BrandsLogosScrollerItem.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Products.BrandsLogosScrollerItem" %>
<li>
    <CSControls:MyImage runat="server" ID="imgBrandLogo"></CSControls:MyImage>
</li>