﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Locations._LocationMapControlModel

<div class="location-control-main-container">
    
    <div class="location-control-content">
        
        <div class="location-control-title">
            
            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.H2, Model.LocationTitleContentText)

        </div>
        
        <div class="location-control-map">
        
            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.GoogleMaps.GoogleMap._GoogleMapControl, Model.GoogleMapControlModel); }

        </div>
               
        @if (!Model.DoNotShowLargerMap)
        {        
            <div class="location-control-view-larger-map-link">
        
                @Html.CsAnchor(Model.ViewLargeMapLinkTitleContentText, Model.ViewLargeMapLinkUrl, Enums.HrefTarget.Blank)

            </div>
        }

    </div>

</div>