.invoice-container {
  width:600px;
  margin:20px auto;
  font-family:Tahoma,Arial, sans-serif;
  font-size:12px;
  line-height:150%;
}
.invoice-heading-left {
  float:left;
}
.invoice-heading-right {
  float:right;
  text-align:right;
}
.invoice-tel-label,
.invoice-fax-label,
.invoice-mob-label,
.invoice-email-label {
  font-weight:bold;
}
.invoice-heading-right address {
  display:inline;
}
.invoice-tel,
.invoice-mob,
.invoice-fax,
.invoice-email {
  margin-top:5px;
}
.invoice-details-container {
  clear:both;
  margin-top:10px;
}
.invoice-details-top-container,
.invoice-items-title-container {
  background:#3E59A8;
  padding:10px;
  color:White;
  font-family:Arial;
  font-size:18px;
}
.invoice-heading-title {

  float:left;
}
.invoice-heading-subtitle {
  color:White;
  font-family:Arial;
  font-size:18px;
  float:right;
}
.clear {
  clear:both;
}
.invoice-details-middle-container {
  background:#EEE;
  padding:10px;
}
.invoice-details-client-details-container {
  float:left;
}
.invoice-details-invoice-details-container {
  float:right;
}
.client-details-title,
.invoice-details-title {
  font-weight:bold;
  border-bottom:1px dotted #CCC;
  margin-bottom:10px;
  font-size:13px;
}
.client-details-container,
.invoice-details-table-container {
  padding-right:30px;
}
.client-details-name {
  font-weight:bold;
}
.invoice-details-table th {
  font-weight:bold;
  padding-right:10px;
}
.invoice-items-container {
  margin-top:10px;
}
.invoice-items-table {
  width:100%;
}
.invoice-items-table th,
.invoice-items-table td {
  padding:5px;
}

.invoice-items-table th {
  background:#CCC;
  font-weight:bold;
}
.invoice-items-table tbody tr:nth-child(odd) td {
  border-bottom:1px dotted #888;
}
.invoice-items-table tbody tr:nth-child(even) td {
  border-bottom:1px dotted #888;
}
.invoice-items-terms-container {
  float:left;
}
.invoice-items-total-container {
  float:right;

}
.invoice-items-total-table {
}
.invoice-items-total-table td,
.invoice-items-total-table th {

  background:#CCCCCC;
  padding:5px 10px;
}
.invoice-items-total-table th {
  font-weight:bold;
}

.invoice-items-total-row th,
.invoice-items-total-row td {
 font-weight:bold;
 background:#333;
 color:White;
 font-size:18px;
 padding:10px;
  font-family:Arial;

}
.invoice-items-unit-price-cell {
  width:70px;
}
.invoice-items-total-price-cell {
  width:70px;
}
.invoice-items-total-vat-cell {
  width:30px;
}
.invoice-items-total-value-cell {
  width:122px;
}
.invoice-items-terms-container {
  padding-top:15px;
  max-width:360px;
  text-align: justify;
}
.invoice-items-terms-title {
  font-weight:bold;
}
.invoice-heading-left {
  padding-top:33px;
}
