﻿@using BusinessLogic_CS_v5.EnumsBL
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage
@model BusinessLogic_CS_v5.Presentation.Models.Contact.ContactIndexModel


@Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageNew(new _ContentPageModel(){
   BottomContent = @<text>
                        <div class="Contact-us-main-wrapper clearfix">
                            <div class="contact-us-form">
                                @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.P, ContentTextIdentifierEnums.GenericContentTextIdentifier.Contact_GenericContactEnquiryForm_DescriptionHtml)
                                @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.H2, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_EnquiryForm_Title)
                                @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Div, ContentTextIdentifierEnums.GenericContentTextIdentifier.General_FieldsRequired_Description, cssClass:"contact-us-required-statment")

                                @Html.Action(MVCGeneral.PartialViewsForms._FormGeneral(Model.ContactFormModelOld))
                            </div>
                        
                            <div class="contact-us-information">
                                @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.H2, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_Title)
                                
                                <address class="contact-us-details-address">
                                    @Html.Raw(@Model.Address)
                                </address>
                                <div class="contact-us-details-section">
                                    <table>
                                        <tr>
                                            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.P, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_Tel)
                                            <td><address>@Model.ContactTel</address></td>
                                        </tr>
                                        <tr>
                                            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_Fax)
                                            <td><address>@Model.ContactFax</address></td>
                                        </tr>
                                        <tr>
                                            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_Email)
                                            <td><a href="@Model.ContactEmail"><address>@Model.ContactEmail</address></a></td>
                                        </tr>
                                        <tr>
                                            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Th, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_Web)
                                            <td><a href="@Model.ContactWeb"><address>@Model.ContactWeb</address></a></td>
                                        </tr>
                                    </table>
                                </div>
                                @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.H2, ContentTextIdentifierEnums.GenericContentTextIdentifier.ContactDetails_LocationMap_Title)
                                <div class="contact-us-map-container">
                                    @Html.Action(MVCGeneral.PartialViewsGoogleMaps._GoogleMapControl(Model.GoogleMapModel))
                                    <a href="http://google.com">view larger map</a>
                                </div>
                                
                            </div> 
                        </div>                                                                           
    </text>
             

                                                                                       })) 


@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
}