﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@using BusinessLogic_CS_v5.Presentation.Code.ContextData.Old
@using CS.MvcGeneral_CS_v5.App_Start
@model object
@{
    CommonViewContextData commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v5.Constants.ViewDataVariables.CommonViewContextData];

    commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName =
        commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName ?? BusinessLogic_CS_v5.Constants.Bundles.JS_LAYOUT_BODY_BOTTOM_COMMON_BASE;
    commonViewContextData.ScriptIncludes.LayoutHeadBundleName =
        commonViewContextData.ScriptIncludes.LayoutHeadBundleName ?? BusinessLogic_CS_v5.Constants.Bundles.JS_LAYOUT_HEAD_COMMON_BASE;
    commonViewContextData.ScriptIncludes.LayoutBodyTopBundleName =
        commonViewContextData.ScriptIncludes.LayoutBodyTopBundleName ?? BusinessLogic_CS_v5.Constants.Bundles.JS_LAYOUT_BODY_TOP_COMMON_BASE;
    commonViewContextData.StylesheetIncludes.LayoutBundleName =
            commonViewContextData.StylesheetIncludes.LayoutBundleName ?? BusinessLogic_CS_v5.Constants.Bundles.CSS_LAYOUT_COMMON_BASE;

    string rtlCssClass = null;
    string dir = null;
    if (commonViewContextData.Page.RightToLeft)
    {
        rtlCssClass = "rtl-page";
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }

}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js @commonViewContextData.Page.HtmlCssClass @rtlCssClass" @Html.AddAttribute("lang", commonViewContextData.Page.PageLanguageCultureName) dir="@dir">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{
        //Initializing
        CommonViewContextDataOld.Instance.TriggerPreRenderFromView(this);
    }

    <title>@commonViewContextData.OpenGraph.OpenGraphData.Title</title>

    @if (!string.IsNullOrWhiteSpace(commonViewContextData.OpenGraph.OpenGraphData.Description))
    {
        <meta name="description" content="@commonViewContextData.OpenGraph.OpenGraphData.Description">

    }
    @if (!string.IsNullOrWhiteSpace(commonViewContextData.Bing.BingSiteAuthMetaTagName) && !string.IsNullOrWhiteSpace(commonViewContextData.Bing.BingSiteAuthMetaTagContent))
    {
        <meta name="@commonViewContextData.Bing.BingSiteAuthMetaTagName" content="@commonViewContextData.Bing.BingSiteAuthMetaTagContent">
    }
    @commonViewContextData.OpenGraph.OpenGraphGeneratedHtml

    <!--
            Web Development &amp; Design by
            CasaSoft (Malta) - Advanced Web Applications, Design &amp; Development
            http://www.casasoft.com.mt
            -->
    @if (commonViewContextData.Page.IsPageResponsive.GetValueOrDefault())
    {
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    }

    <!-- CSS Start -->
    @* Registered Stylesheet Includes *@



    @if (commonViewContextData.StylesheetIncludes != null)
    {

        foreach (var stylesheetInclude in commonViewContextData.StylesheetIncludes.StylehseetIncludes)
        {
            string stylesheetFile = commonViewContextData.Page.IsLocalhost && !string.IsNullOrWhiteSpace(stylesheetInclude.Value.StylesheetFileMinified) ? stylesheetInclude.Value.StylesheetFileMinified : stylesheetInclude.Value.StylesheetFile;
            <link href="@stylesheetFile" rel="stylesheet" />

        }
    }

    @* End Registered Stylesheet Includes *@@commonViewContextData.Bundles.RenderedStyleTopBundles

    @Html.RenderStyleBundle(commonViewContextData.StylesheetIncludes.LayoutBundleName)

    @RenderSection("css", required: false)

    @commonViewContextData.Bundles.RenderedStyleBundles


    <!-- CSS End -->
    <!-- JS Head Start -->
    @Html.RenderScriptBundle(commonViewContextData.ScriptIncludes.LayoutHeadBundleName)
    
    @if (commonViewContextData.Page.CurrentSection != null)
    {
         if (commonViewContextData.Page.CurrentSection.HeadHtmlContent != null)
         {
             Html.Raw(commonViewContextData.Page.CurrentSection.HeadHtmlContent);
         }
    }

    <!-- JS Head End -->
    @RenderSection("head", required: false)




    @if (commonViewContextData.Page.CurrentSection != null)
    {
        <!--
                    CURRENT SECTION DETAILS
                    xxxxxxxxxxxxxxxxxxxxxxx

                    Section Id:         @commonViewContextData.Page.CurrentSection.Id
                    Section Identifier: @commonViewContextData.Page.CurrentSection.Identifier

                    !-->
    }
    @commonViewContextData.RoutingInfo.RouteDataComments


    @if (!string.IsNullOrEmpty(commonViewContextData.CanonicalUrl.CanonicalUrlPrevPage))
    {
        <link rel="prev" href="@commonViewContextData.CanonicalUrl.CanonicalUrlPrevPage" />
    }
    @if (!string.IsNullOrEmpty(commonViewContextData.CanonicalUrl.CanonicalUrl))
    {
        <link rel="canonical" href="@commonViewContextData.CanonicalUrl.CanonicalUrl" />
    }
    @if (!string.IsNullOrEmpty(commonViewContextData.CanonicalUrl.CanonicalUrlNextPage))
    {
        <link rel="next" href="@commonViewContextData.CanonicalUrl.CanonicalUrlNextPage" />
    }

    @commonViewContextData.AlternateLinks.LanguageAlternateLinksHtml


    <link rel="shortcut icon" href="@commonViewContextData.Page.FavIconPath" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">


</head>
<body @Html.AddAttribute("class", commonViewContextData.Page.BodyCssClass)>
    <script>
        @*
            This is required for CK Editor to load the config / lang files from the correct location
        *@
        window.CKEDITOR_BASEPATH = "@CS.General_CS_v5.Constants.FileIncludes.CkEditor_ScriptIncludeFolderUrl";
    </script>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    @Html.RenderScriptBundle(commonViewContextData.ScriptIncludes.LayoutBodyTopBundleName)

    @commonViewContextData.Bundles.RenderedScriptTopBundles

    @if (commonViewContextData.Page.OfflineMode)
    {
        @*If offline mode only, cause if not offline mode, it will be included in the script top bundle *@
        <script src="/_common_CS_v5/static/js/jQueryUI/jquery-ui-1.10.3.min.js"></script>
    }


    @if (!commonViewContextData.Page.LoadExternalResourcesFromLocal.GetValueOrDefault() && !string.IsNullOrWhiteSpace(commonViewContextData.Plugins.JQueryJsLocalPath))
    {
        <script>window.jQuery || document.write('<script src="@commonViewContextData.Plugins.JQueryJsLocalPath"><\/script>')</script>
    }
    @if (!commonViewContextData.Page.LoadExternalResourcesFromLocal.GetValueOrDefault() && !string.IsNullOrWhiteSpace(commonViewContextData.Plugins.JQueryUiJsLocalPath))
    {
        <script>window.jQuery.ui || document.write('<script src="@commonViewContextData.Plugins.JQueryUiJsLocalPath"><\/script>')</script>
    }

    @RenderSection("scripts_top", required: false)


    @{
        Html.RenderAction(MVCGeneral.PartialViewsNotificationMessages._MaintenanceMessage(), excludeFromParentCache: true);
    }


    <!-- Site Content Start -->
    @RenderBody()
    <!-- Site Content End -->
    <!-- Scripts Start -->
    @Html.RenderScriptBundle(commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName)

    <!-- Parsley Error Messages in language -->
    @if (commonViewContextData.ParsleyErrorMessagesData.ParsleyErrorMessagesHtmlString != null)
    {
        @commonViewContextData.ParsleyErrorMessagesData.ParsleyErrorMessagesHtmlString
    }
    <!-- Parsley Error Messages in language end -->
    @* Registered Script Includes *@

    @if (commonViewContextData.ScriptIncludes.ScriptIncludes != null)
    {

        foreach (var scriptInclude in commonViewContextData.ScriptIncludes.ScriptIncludes)
        {
            string scriptMinified = scriptInclude.Value.ScriptFileMinified ?? scriptInclude.Value.ScriptFile;
            string scriptUnMinified = scriptInclude.Value.ScriptFile ?? scriptInclude.Value.ScriptFileMinified;

            string scriptFile = commonViewContextData.Page.IsLocalhost ? scriptUnMinified : scriptMinified;
            <script src="@scriptFile"></script>
        }
    }

    @* End Registered Script Includes *@<!-- Scripts -->
    @RenderSection("scripts", required: false)

    @if (commonViewContextData.ScriptBlocks.ScriptBlocks != null && commonViewContextData.ScriptBlocks.ScriptBlocks.Any())
    {
        //Sort script blocks by priority
        List<CommonViewContextScriptBlockData> scriptBlocks = commonViewContextData.ScriptBlocks.ScriptBlocks.Values.ToList();
        scriptBlocks.Sort((a, b) => a.SortPriority.CompareTo(b.SortPriority));
        foreach (var scriptBlock in scriptBlocks)
        {
            @scriptBlock.ScriptBlockContent(null);
        }
    }

    <!-- Third Party JS Includes -->
    @if (!commonViewContextData.Page.OfflineMode && commonViewContextData.AddThis.AddThisCodeSnippetModel != null)
    {
        Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.SocialNetworking.AddThis._AddThisCodeSnippet, commonViewContextData.AddThis.AddThisCodeSnippetModel);

    }


    <!-- /Third Party JS Includes -->

    <!-- Scripts End -->
    @if (!commonViewContextData.Page.OfflineMode && commonViewContextData.GoogleAnalytics.GoogleAnalyticsSnippetModel != null)
    {
        Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.GoogleAnalytics._GoogleAnalyticsSnippet, commonViewContextData.GoogleAnalytics.GoogleAnalyticsSnippetModel);
    }

</body>
</html>
