﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Redirect.master.cs" Inherits="Dovetail.Realex.Samples.Redirect.Redirect1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Realex Redirect example</title>
    <style type="text/css">
        #DevelopersNote
        {
            margin-top: 10px;
            border-color: #FF9900;
            border-style: solid;
            width: 550px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>
            Realex Redirect sample</h1>
        <p>
            <a href="../Default.aspx">Home Page</a>
        </p>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <div id="DevelopersNote">
        <h2>
            Notes for Developers</h2>
        <ul>
            <li>Be sure to update the web.config file with your Merchant ID, Shared Secret and Account
                Name.</li>
            <li>Give Realex the Referral URL that will be sending customers to Realex.  This is the URL of the page from which your customers will be redirected to the Realex server.  You may have more than one of these.</li>
            <li>Also give Realex the URL to your response page.  In this example it is <b>Response.aspx</b>.  Realex will send the transaction result to this page, so check that their servers can access it over the internet.  You may need to configure your firewall if you have one.</li>
            <li>Any queries regarding this sample application should be directed to <a href="http://www.realex.ie">
                Realex Payments</a>.</li>
        </ul>
    </div>
    </form>
</body>
</html>
