﻿@model CmsGeneral_CS_v6.Presentation.Models.CmsFields.FieldsManageFieldMetaDataModel
@using BusinessLogic_CS_v6.EnumsBL
@{
    Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;

}
@{
    Html.RenderAction(MVCGeneral.PartialViewsNotificationMessages._NotificationMessage(), excludeFromParentCache: true);
}
<div class="manage-field-meta-data-container">
    @if (Model.HasAccess)
    {
        if (!Model.CloseWindow)
        {
            <div class="manage-field-meta-data-content">
                @if (Model.EditingMultipleFields)
                {
                    <div class="manage-field-meta-data-multiple-note html-container">
                        <p>You are currently editing the following set of fields simultaneously:</p>
                        <ul>
                            @foreach (var fieldName in Model.MultipleFieldNames)
                            {
                                <li>@fieldName</li>
                            }
                        </ul>
                        <p>
                            The data shown below is of the first field (@Model.MultipleFieldNames[0]) and the
                            data within the field access list is the combination
                            of all fields together.  Deleting / Adding access will be
                            updated for all fields accordingly.
                        </p>
                        <p>
                            P.S.: In order to be able to update checkboxes, make sure you tick the checkbox on the right hand
                            side to enable the checkbox.  Else it will be disabled.
                        </p>
                    </div>
                }
                else
                {

                    <h1>@Model.SingleFieldMetaDataName</h1>
                }
            </div>


            <form method="POST">

                @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(Model.FieldMetaDataModel))
                <div class="bulk-edit-meta-data-buttons">
                    @using (Html.BeginFormFields())
                    {
                        @Html.FormFieldSubmitButton(ContentTextIdentifierEnums.GenericContentTextIdentifier.General_Submit)
                    }
                </div>
            </form>
        }
        else
        {
            <script>
                function closeWindowDialog() {
                    window.top.CmsGeneralJS_CS_v6.UnobtrusiveDialogController.closeCurrentOpenedDialog();
                }
                closeWindowDialog();

            </script>
        }
    }
    else
    {
        <p class="note error">You do not have access to manage such data.</p>
    }
</div>


<script>

    function updateRowEnabledState(jCheckboxEnableToggle, row) {
        var isChecked = jCheckboxEnableToggle.is(":checked");
        row.find(".cs-checkbox-and-label-checkbox input").attr("disabled", isChecked ? false : true);
    }

    function addEnableCheckboxesIfEditingMultipleFields() {
        var jCheckboxesRows = $(".cs-checkbox-and-label");
        jCheckboxesRows.each(function (index) {
            var jCheckboxRow = $(this);

            var jCheckboxEnableToggle = $("<input type='checkbox' class='field-meta-enable-checkbox' />");
            jCheckboxRow.append(jCheckboxEnableToggle);

            jCheckboxEnableToggle.on("change", function (e) {
                updateRowEnabledState(jCheckboxEnableToggle, jCheckboxRow);
            });



            updateRowEnabledState(jCheckboxEnableToggle, jCheckboxRow);



        });


    }
    @if (Model.EditingMultipleFields)
    {
        <text>
    addEnableCheckboxesIfEditingMultipleFields();</text>
    }
</script>