﻿@using BusinessLogic_CS_v5.EnumsBL
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Navigation._MobileNavigationMenuModel

<nav class="header-mobile-main-menu-navigation">

    @Html.FormFieldDropdownListFor(x => x.SelectedSection, Model.NavigationSections, parameters: new FormFieldsExtensionsOld.FormFieldsParametersBaseOld() { DoNotOutputLabel = true, DoNotOutputValidationIcon = true }, selectedValue: "", selectFieldCommonParameters: new CsFieldExtensionsOld.SelectFieldCommonParameters() { OptionPlaceholderContentTextIdentifier = ContentTextIdentifierEnums.GenericContentTextIdentifier.MobileWebsite_Navigation_Name })

</nav>

<script>

    $(function () {
        $(".header-mobile-main-menu-navigation select").bind("change", function () {
            var select = $(this);
            var urlValue = select.val();
            window.location = urlValue;
        });
    });

</script>