﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Navigation._SubNavigationLinksModel

@helper outputSeparator() {

     <li class="sub-navigation-link-seperator">@Model.SubNavigationLinkSeperator</li>
 }

<nav class="sub-navigation-links-main-container clearfix">
    
    <ul class="clearfix">

        @foreach (var subNavigationLink in Model.SubNavigationLinks)
        {
            if (!Model.DoNotShowSubNavigationLinkSeperator && !Model.AddSeperatorAfterSubNavigationLinkRatherThanBefore)
            {
                @outputSeparator()
            }
        
            <li>@Html.CsAnchorForSection(subNavigationLink)</li>
        
            if (!Model.DoNotShowSubNavigationLinkSeperator && Model.AddSeperatorAfterSubNavigationLinkRatherThanBefore)
            {
                @outputSeparator()
            }
        }

    </ul>

</nav>
