﻿@using BusinessLogic_CS_v5.Presentation.Models._Shared.Data.HomepageBanners
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Carousels.CarouFredSel
@*@using StackExchange.Profiling*@
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.HomePageBanner._HomePageBannerModel

<div class="site-content-banner">
    @{
        _CarouFredSelModel carouselModel = new _CarouFredSelModel()
            {
                DoNotShowPrevNextButtons = true, 
                DeferExecutionToOnLoad = true,
            };
        if (Model.Banners != null)
        {
            foreach (HomepageBannerPresentation banner in Model.Banners)
            {
                carouselModel.Items.Add(new _CarouFredSelItemModel()
                    {
                        Content = @<text>
                                       <a href="@banner.DataObject.Link.GetValueForCurrentLanguage()">
                                           <img src="@Model.GetBannerImage(banner)" alt="@banner.DataObject.Title.GetValueForCurrentLanguage()"/>
                                       </a>
                                   </text>
                    });
            }
        }
    }
    
    <div class="site-content-banner-large">

            @Html.Action(MVCGeneral.PartialViewsCarouFredSel._CarouFredSel(carouselModel))
    </div>
</div>
