﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Orders._OrderItemsModel
           
<div class="order-items-container">
    
    <table>
        
        <tr>
            
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Th, Model.ItemTitleLabelContentText)
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Th, Model.ItemPriceLabelContentText)

        </tr>
        
        @foreach (var item in Model.Items)
        {
            <tr>
                
                <td>@item.Title</td>
                <td>@item.Price</td>

            </tr>
        }

    </table>

</div>      