﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Orders._OrderListingItemModel

<div class="order-listing-item-main-container">

    <div class="order-listing-item-content">

        <div class="order-listing-item-top-content">

            @Html.CsAnchor(Model.OrderViewPageLinkTitle, Model.OrderViewPageLinkUrl, cssClass: "order-listing-item-view-link")
            
            @Html.CsAnchor(Model.OrderTitle, Model.OrderViewPageLinkUrl, cssClass: "order-listing-item-title")

        </div>
                
        <div class="order-listing-item-bottom-content">

            <div class="order-listing-item-details-and-summary-container">

                @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Orders._OrderDetails, Model.OrderDetails); }

                @if (!String.IsNullOrWhiteSpace(Model.OrderSummary.Value))
                {
                    @Html.InlineEditingForFieldModel(Enums.HtmlTagName.Div, Model.OrderSummary, Model.OrderSummary.Value, "order-listing-item-summary")
                }

            </div>

            @if (Model.OrderButtons != null && Model.OrderButtons.Any())
            {
                <div class="order-listing-item-buttons-container">
                        
                    @foreach (var orderButton in Model.OrderButtons)
                    {   
                        @Html.CsAnchorFromModel(orderButton)
                    }

                </div>
            }

        </div>

    </div>

</div>          