﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Orders._OrderDetailsModel
    
<div class="order-details-container">

    <table>
        
        @foreach (var orderDetail in Model.OrderDetailsItems)
        {
            if (!String.IsNullOrEmpty(orderDetail.Value))
            {
                <tr>

                    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Td, orderDetail.Label)
                    <td>@orderDetail.Value</td>

                </tr>
            }
        }

    </table>

</div>      