﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_ComponentsGeneric/Frontend/Pages/MasterPages/Common.Master" AutoEventWireup="true" CodeBehind="advertRedirect.aspx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.Pages.Common.Advert.advertRedirect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainPlaceHolder" runat="server">
</asp:Content>