﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageTestModel


<h1>@Model.Title</h1>
<div class="html-container">
    @if (Model.TopContentActionResult != null)
    {
        <div class="top-content-container">
            @Html.Action(Model.TopContentActionResult, excludeFromParentCache: true)
        </div>
    }
    <div class="main-content-container">

        @Html.Raw(Model.HtmlContent)
    </div>

    <div class="bottom-content-container">
    </div>

</div>
