﻿@using CS.General_CS_v5
@model   BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageMainContentModel

@{
    Model.DoNotShowTitle = Model.DoNotShowTitle || Model.IsDialogPage;
}

<div class="content-page-main-content-container">

    <div class="content-page-title-wrapper clearfix">
        @if (@Model.HeaderContent != null)
        {
            @Model.HeaderContent(null)
        }
        @if (!Model.DoNotShowTitle)
        {
            <div class="content-page-title-content">
                @if (Model.Title != null)
                {
                    <h1>@Model.Title</h1>
                }
                else
                {
                    @Html.InlineEditingFromParameters(Enums.HtmlTagName.H1, Model.InlineEditingTitleParameters)
                }
            </div>
        }
    </div>
    <div class="content-page-content-container">
        @if (@Model.TopContent != null)
        {
            @Model.TopContent(null)
        }
        @if (Model.MediaGalleryModel != null && Model.MediaGalleryModel.MediaGalleryModel.MediaItems != null && Model.MediaGalleryModel.MediaGalleryModel.MediaItems.Any())
        {
            <div class="content-page-media-items-gallery-container">
                @Html.Action(MVCGeneral.PartialViewsSections._SectionMediaGallery(Model.MediaGalleryModel))
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.HtmlContent))
        {


            <div class="content-page-full-description clearfix">
                @if (Model.InlineEditingTitleParameters != null)
                {
                    @Html.InlineEditingFromParameters(Enums.HtmlTagName.Div, Model.InlineEditingContentParameters, cssClass:"html-container")
                }
                else
                {
                    @Html.Raw(Model.GetParsedHtmlContent())
                }
            </div>
        }
        @if (!Model.DoNotShowSubSectionLinks)
        {
            @Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageSubSectionsLoadFromCurrentSectionAndCache())
        }
    </div>
</div>



<script>

    var jHiddenItems = $("<div class='html-content-hidden'/>");
    var aViewMoreText = '@BusinessLogic_CS_v5.Enums.ContentTextIdentifierEnums.GenericContentTextIdentifier.General_HtmlContentViewMore.GetContentTextContent()';
    var jAnchorReadMore = $("<a href='javascript:' class='html-content-view-more'>" + aViewMoreText + "</a>");

    function createReadMoreButton() {
        var jHtml = $(".content-page-full-description");
        var jChildren = jHtml.children(".html-container");
        if (jChildren.length == 1) {
            //Due to inline editing
            jChildren = jChildren.children();
        }
        else {
            jChildren = jHtml.children();

        }

        if (jChildren.length > 1) {
            var foundParagraph = false;
            var jInitialItems = $("<div class='html-content-preview'/>");

            for (var i = 0; i < jChildren.length; i++) {
                var jChild = jChildren.eq(i);

                if (foundParagraph) {

                    jHiddenItems.append(jChild);

                }

                if (!foundParagraph) {


                    jInitialItems.append(jChild);


                    if (jChild.get(0).nodeName.toLowerCase() == "p") {
                        foundParagraph = true;
                        jChild.append(jAnchorReadMore);
                    }
                }
            }
            var hiddenItemsText = jHiddenItems.text();
            if (foundParagraph && hiddenItemsText) {

                jAnchorReadMore.on("click", function (e) {
                    showFullText();
                });

                jHtml.empty();
                jHtml.append(jInitialItems);
                jHtml.append(jHiddenItems);
                jHiddenItems.slideUp(0);
            } else {
                jAnchorReadMore.remove();
            }
        }
    }

    function showFullText() {
        jHiddenItems.slideDown(250);
        jAnchorReadMore.slideUp(250);

    }

    if ($(".listing-items-core-container").length > 0) {
        createReadMoreButton();
    }

</script>

