﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageFooterModel
@using BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.SocialNetworking.AddThis

@if (!Model.DoNotShowFooter)
{
    <div class="clearfix content-page-footer">
        @if (!Model.DoNotShowSharingTool && Model.AddThisModel != null)
        {
            <div class="content-page-sharing-tools-container">
                @Html.Action(MVCGeneral.PartialViewsSocialNetworkingAddThis._AddThis(Model.AddThisModel))
            </div>
        }
        @if (!Model.DoNotShowLastUpdated)
        {
            @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Span, BusinessLogic_CS_v5.Enums.ContentTextIdentifierEnums.GenericContentTextIdentifier.ContentPage_LastUpdated, "content-page-last-updated", Model)
        }
    </div>
}