@using BusinessLogic_CS_v5.Modules.Data.Sections
@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageModel

@helper outputAddThisComponent()
{
    if (!Model.ContentPageData.DoNotShowSharingTool && Model.AddThisModel != null)
    {
        <div class="content-page-sharing-tools-container">

            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.SocialNetworking.AddThis._AddThis, Model.AddThisModel); }

        </div>
    }
}
    
<section class="content-page-container">
        
    <div class="content-page-main-content-and-bottom-container">

        <div class="content-page-main-content-container">

            <div class="content-page-title-wrapper">
                @{ Html.RenderPlaceholder(Model.PreHeadingContentPlaceholder); }

                @if (!Model.ContentPageData.DoNotShowTitle)
                {
                    <div class="content-page-title-content">
                        @Html.InlineEditingForFieldModel(Enums.HtmlTagName.H1, Model.ContentPageData.TitleFieldModel)
                    </div>
                }
                
                @{ Html.RenderPlaceholder(Model.PostHeadingContentPlaceholder); }
            </div>
            <div class="content-page-content-container">
                
                @if (!Model.ContentPageData.DoNotShowMainImage)
                 {
                     if (!Model.ContentPageData.MainImage.IsEmpty())
                      {
                          <div class="content-page-cover-photo">

                              @Html.CsImageFromMediaItemDataModel(Model.ContentPageData.MainImage.MediaItems[SectionData.SectionDataMainImageImageSize.Normal], Model.ContentPageData.Title)

                          </div>

                          <div class="content-page-cover-photo-share-tools">
                              @outputAddThisComponent()
                          </div>
                      }

                    if (Model.MediaGallery.GalleryItems != null && Model.MediaGallery.GalleryItems.Any())
                    {
                        Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Gallery._GalleryControl, Model.MediaGallery);
                    }
                 }
                
                @if (!string.IsNullOrEmpty(Model.ContentPageData.HtmlContent) || Model.ContentPageData.HtmlContentFieldModel != null)
                {

                    <div class="content-page-full-description">
                        @Html.InlineEditingForFieldModel(Enums.HtmlTagName.Div, Model.ContentPageData.HtmlContentFieldModel)

                    </div>
                }
                
                @{ Html.RenderPlaceholder(Model.PostContentPlaceholder); }

                @if (Model.SubSectionsHierarchyModel != null && Model.SubSectionsHierarchyModel.HierarchicalControlModel != null && Model.SubSectionsHierarchyModel.HierarchicalControlModel.Items != null && Model.SubSectionsHierarchyModel.HierarchicalControlModel.Items.Any())
                {
                    <div class="content-page-sub-sections-container">

                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.SubSectionsTitleContentTextModel)

                        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Hierarchy._HierarchicalNavigationControl, Model.SubSectionsHierarchyModel); }

                    </div>
                }
                
                 @if (Model.ContentPageData.DoNotShowMainImage)
                 {
                     if (Model.MediaGallery.GalleryItems != null && Model.MediaGallery.GalleryItems.Any())
                     {
                         Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Gallery._GalleryControl, Model.MediaGallery);
                     }
                 }

                @if (Model.PreFooterContentPlaceholder != null)
                {
                    <div class="content-page-bottom-content-container">
                        @{ Html.RenderPlaceholder(Model.PreFooterContentPlaceholder); }
                    </div>
                }
            </div>
        </div>
    </div>
    @if (!Model.ContentPageData.DoNotShowFooter)
    {
        <div class="content-page-footer @Html.RawIf("content-page-footer-without-last-updated", Model.ContentPageData.DoNotShowLastUpdated)">

            @outputAddThisComponent()

            @if (!Model.ContentPageData.DoNotShowLastUpdated)
            {
                <div class="content-page-last-updated-container">
                    @Html.InlineEditingContentTextModel(CS.General_CS_v5.Enums.HtmlTagName.Span, Model.LastUpdatedDateContentTextModel, "content-page-last-updated")
                </div>
            }
        </div>
    }

</section>