﻿@model   BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageSubSectionModel
@if(Model.SubSections.Any())
{
    <div class="content-page-sub-sections-container">
        @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.H2, BusinessLogic_CS_v5.Enums.ContentTextIdentifierEnums.GenericContentTextIdentifier.ContentPage_SubSectionHeadingTitle, null, Model)
        <ul class="content-page-sub-sections-content">
            @foreach (var subsection in Model.SubSections)
            {
                <li class="content-page-sub-section-item"><a href="@subsection.Url" target="@subsection.HrefTarget">@subsection.Title</a></li>
            }
        </ul>
    </div>
}