/* Html Container Specific */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.html-container {
  padding-bottom: 20px;
}
.html-container h1,
.html-container h2,
.html-container h3,
.html-container h4 {
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  word-wrap: break-word;
}
.html-container h1 {
  font-size: 22px;
  font-size: 1.375rem;
}
.html-container h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
.html-container h3 {
  font-size: 16px;
  font-size: 1rem;
}
.html-container h4 {
  font-size: 15px;
  font-size: 0.9375rem;
}
.html-container h5 {
  font-size: 14px;
  font-size: 0.875rem;
}
.html-container h6 {
  font-size: 13px;
  font-size: 0.8125rem;
}
.html-container a {
  color: #0085b2;
}
.html-container a:hover {
  color: #00beff;
  text-decoration: none;
}
.html-container p,
.html-container li,
.html-container dt,
.html-container dd,
.html-container td,
.html-container th,
.html-container blockquote {
  line-height: 1.33;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: justify;
}
.html-container blockquote {
  margin: 0px;
  margin-left: 40px;
  border-left: 5px solid #CCC;
  padding: 20px;
  font-style: italic;
}
.html-container ul,
.html-container ol {
  margin-left: 20px;
}
.html-container p,
.html-container ul,
.html-container ol,
.html-container dl,
.html-container blockquote,
.html-container table {
  margin-bottom: 20px;
}
.html-container *:last-child {
  margin-bottom: 0px;
}
.html-container img {
  max-width: 100%;
  height: auto !important;
  margin-bottom: 20px;
  display: block;
}
.html-container table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
.html-container th {
  background-color: #333;
  color: #FFF;
}
.html-container td {
  background-color: #EEE;
}
.html-container th,
.html-container td {
  padding: 20px;
  border: 1px solid #FFF;
}
.html-container table tbody tr:nth-child(odd) td {
  background-color: #EEE;
}
.html-container ul,
.html-container ol {
  margin-left: 20px;
}
.html-container ul li {
  list-style-type: none;
  background: url(/Content/images/bullet-html-container.png) no-repeat left center;
  padding-left: 20px;
}
.html-container ul li:last-child,
.html-container ol li:last-child {
  margin-bottom: 0px;
}
.html-container li {
  list-style-position: inside;
  line-height: 1.33;
}
.html-container li,
.html-container dt,
.html-container dd {
  margin-bottom: 5px;
}
.html-container dl {
  width: 100%;
  overflow: hidden;
}
.html-container dt {
  float: left;
  width: 25%;
  font-weight: bold;
}
.html-container dd {
  float: left;
  width: 75%;
  margin-left: 0px;
}
.html-container hr {
  border: none;
  border-top: 1px solid #CCC;
  margin: 20px 0px;
}
/*# sourceMappingURL=html-container.css.map */