﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.SocialNetworking.Icons._SocialNetworkingIconsModel

<div class="social-networking-icons-main-conatiner">
    <ul>
        @foreach (var socialNetwork in Model.SocialNetworks)
        {
            <li><a class="social-networking-icon social-networking-icon-@socialNetwork.SocialNetworkIdentifier" href="@socialNetwork.SocialNetworkUrl" target="_blank"></a></li>
        }
    </ul>
</div>
