﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.MvcGeneral_CS_v6.App_Start
@using PayMammoth_v6.Modules.Data.WebsiteAccounts
@using PayMammoth_v6.Presentation.Code.ViewData
@{
    this.Layout = MVCPayMammoth_v6._Shared.Views.Layouts._LayoutCore;
    var layoutData = (LayoutViewData)ViewData[PayMammoth_v6.Constants.PayMammoth_v6Constants.PayMammoth_v6LayoutViewDataKey];
    CommonViewContextData commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v6.Constants.ViewDataVariables.CommonViewContextData];
    commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName =
        commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName ?? BusinessLogic_CS_v6.Constants.Bundles.JS_LAYOUT_BODY_BOTTOM_MAIN;
    commonViewContextData.StylesheetIncludes.LayoutBundleName =
        commonViewContextData.StylesheetIncludes.LayoutBundleName ?? BusinessLogic_CS_v6.Constants.Bundles.CSS_LAYOUT_MAIN;

}
@section css {
    @RenderSection("css", required: false)
}
@section head {
    @if (!string.IsNullOrWhiteSpace(layoutData.PaymentRequestDataModel.WebsiteAccount.CssFile))
    {
        <link href="@layoutData.PaymentRequestDataModel.WebsiteAccount.CssFile" rel="stylesheet" />
    }
    @RenderSection("head", required: false)
}
<div class="core-container">
    <header class="header-container">
        <div class="logo-container">
            @Html.CsImageFromVersion(layoutData.PaymentRequestDataModel.WebsiteAccount.Logo, WebsiteAccountData.WebsiteAccountDataLogoImageSize.Normal, layoutData.PaymentRequestDataModel.WebsiteAccount.WebsiteName)
        </div>

    </header>

    @if (layoutData.FakePaymentsEnabledMessage != null)
    {
        <div class="fake-payments-enabled-message-container">
            @{
        Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.NotificationMessages._NotificationMessage, layoutData.FakePaymentsEnabledMessage);
            }
        </div>
    }
    @if (layoutData.ExpirationMessage != null)
    {
        <div class="expiration-message-container">
            @{
        Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.NotificationMessages._NotificationMessage, layoutData.ExpirationMessage);
            }
        </div>
    }
    <div class="order-core-container">
        <div class="order-summary-container">
            @{
                Html.RenderPartial(MVCPayMammoth_v6._Shared.Views.PartialViews.Payments._PaymentOrderSummary, layoutData.OrderSummaryModel);
            }
        </div>
        <div class="payment-details-container">
            @{
                Html.RenderPartial(MVCPayMammoth_v6._Shared.Views.PartialViews.Payments._PaymentDetails, layoutData.PaymentDetailsModel);
            }
            <div class="layout-main-notification-message-container">
                @{
                    Html.RenderAction(MVCGeneral.PartialViewsNotificationMessages._NotificationMessage(), excludeFromParentCache: true);
                }
            </div>
            <div class="payment-details-content-container">
                @RenderBody()
            </div>
            <div class="cancel-button-container">
                @Html.CsAnchorFromModel(layoutData.CancelAndReturnBackLink)
            </div>
        </div>

    </div>
</div>



@section scripts {
    @RenderSection("scripts", required: false)
}