﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Members.Profile._MembersProfilesListingModel
            
<div class="members-profiles-listing-main-container">
        
    <div class="add-member-button-container">
            
        @Html.CsAnchorFromModel(Model.AddMemberButton)

    </div>
        
    @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems._ListingItemsWithComponents, Model.MembersProfilesListing); }

</div>