﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GenericListingItems.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Listing.GenericListingItems" %>
<div class="generic-items-listing-container clearfix" runat="server" id="divItemsListing"></div>