﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucCMSLogin.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.CMS.ucCMSLogin" %>
<CSControlsFormFieldsNew:FormFields ID="formLogin" runat="server" />