/* Calendar*/
	
.cs-cms .dijitCalendarIncrementControl {
	/* next/prev month buttons */
	width:15px;
	height:15px;
	background-image: url("images/spriteRoundedIconsSmall.png");
	background-repeat: no-repeat
}
.dj_ie6 .cs-cms .dijitCalendarIncrementControl {
	font-size:.1em;
	background-image: url("images/spriteRoundedIconsSmall.gif");
}

.cs-cms .dijitCalendarIncreaseInner,
.cs-cms .dijitCalendarDecreaseInner {
	visibility:hidden;
}

.cs-cms .dijitCalendarDecrease {
	background-position: top left;
}
.cs-cms .dijitCalendarIncrease {
	background-position: -30px top;
}

.cs-cms table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}

.cs-cms .dijitCalendarMonthContainer th {
	/* month header cell */
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .cs-cms .dijitCalendarMonthContainer th {
	padding-top:.2em;
	padding-bottom:.1em;
	
}

.cs-cms .dijitCalendarDayLabelTemplate {
	/* day of week labels */
	background:#fefefe;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:.2em;
	border-bottom: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}

.cs-cms .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}

.cs-cms .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}

.cs-cms .dijitCalendarDateTemplate {
	/* style for each day cell */
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
	background-color: #fdfdfd;
	border:#fdfdfd solid 1px !important;
}

.dj_ie .cs-cms .dijitCalendarDateTemplate {
	padding: 0.1em .33em 0.02em .33em;
}

.cs-cms .dijitCalendarPreviousMonth,
.cs-cms .dijitCalendarNextMonth 		{
	/* days that are part of the previous or next month */
	color:#999999;
	background-color:#f5f5f5 !important;
	border:#f5f5f5 solid 1px !important;
}

.cs-cms .dijitCalendarPreviousMonthDisabled,
.cs-cms .dijitCalendarNextMonthDisabled	{
	/* days that are part of the previous or next month - disabled*/
	background-color:#a4a5a6 !important;
}

.cs-cms .dijitCalendarCurrentMonth {
	/* days that are part of this month */
}

.cs-cms .dijitCalendarCurrentMonthDisabled {
	/* days that are part of this month - disabled */	
	background-color:#bbbbbc !important;
}

.cs-cms .dijitCalendarDisabledDate {
	/* one or the other? */
	/* background: url(images/noX.gif) no-repeat center center !important; */
	text-decoration:line-through !important;
	cursor:default !important;
}

.cs-cms .dijitCalendarCurrentDate {
	/* cell for today's date */
	text-decoration:underline;
	font-weight:bold;
}

.cs-cms .dijitCalendarSelectedDate {
	/* cell for the selected date */
	background-color:#ffe284 !important;
	color:black !important;
	border:#f7c95c solid 1px !important;
}


.cs-cms .dijitCalendarYearContainer {
	/* footer of the table that contains the year display/selector */
	background:white url("images/titleBar.png") repeat-x top;
}

.cs-cms .dijitCalendarYearLabel {
	/* container for all of 3 year labels */
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}

.cs-cms .dijitCalendarSelectedYear {
	/* label for selected year */
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#ffe284 !important;
	border:#f7c95c solid 1px !important;
}

.cs-cms .dijitCalendarNextYear,
.cs-cms .dijitCalendarPreviousYear {
	/* label for next/prev years */
	color:black !important;
	font-weight:normal;
}