/* Dialog */

.cs-cms .dijitDialog {
	background: #eee;
	border: 1px solid #d3d3d3;
	-webkit-box-shadow: 0px 5px 10px #adadad;
	padding: 0px;
}

.cs-cms .dijitDialog .dijitDialogTitle {
	border-top: none;
	border-left: none;
	border-right: none;
	color: #3243C5F;
}

.cs-cms .dijitDialog .dijitDialogPaneContent {
	background: #ffffff;
	border:none;
	border-top: 1px solid #d3d3d3; /* w/out this, an <h1> on the top line causes a gap between the .content and .label */
	padding:10px;

}

.cs-cms .dijitDialogTitleBar {
	/* outer container for the titlebar of the dialog */
	background: #fafafa url("images/titleBar.png") repeat-x top left;
	padding: 5px 6px 3px 6px;
	cursor: move;
	outline:0; /* remove this line if keyboard focus on dialog startup is an issue. tab still takes you to first focusable element */
}

.cs-cms .dijitDialogTitle {
	/* typography and styling of the dialog title */
	font-weight: bold;
	padding: 4px;
	outline:0;
}

.cs-cms .dijitDialogCloseIcon {
	/* the default close icon for the dialog */
	background : url("images/spriteRoundedIconsSmall.png") no-repeat right top;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie .cs-cms .dijitDialogCloseIcon {
	background : url("images/spriteRoundedIconsSmall.gif") no-repeat right top;
}

.cs-cms .dijitDialogContent {
	/* the body of the dialog */
	padding: 8px;
}


/* Tooltip and TooltipDialog */

.cs-cms .dijitTooltip,
.cs-cms .dijitTooltipDialog {
	/* the outermost dom node, holding the connector and container */
	background: transparent;	/* make the area on the sides of the arrow transparent */
}

.dijitTooltipBelow {
	/* leave room for arrow above content */
	padding-top: 10px;
}

.dijitTooltipAbove {
	/* leave room for arrow below content */
	padding-bottom: 10px;
}

.cs-cms .dijitTooltipContainer {
	/*
		The part with the text.

		NOTE:
			FF doesn't clip images used as CSS bgs if you specify a border
			radius. If you use a solid color, it does. Webkit gets it right.
			Sigh.
		background: #ffffff url("images/popupMenuBg.gif") repeat-x bottom left;
	*/
	background-color: #8BB50F;
	border:none;
	color:White;
	padding:0.95em;
}

.cs-cms .dijitTooltipConnector {
	/* the arrow piece */
	border:0px;
	z-index: 2;
}

.cs-cms .dijitTooltipABRight .dijitTooltipConnector {
	/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left */
	left: auto !important;
	right: 6px;
}

.cs-cms .dijitTooltipBelow .dijitTooltipConnector {
	/* the arrow piece for tooltips below an element */
	top: 0px;
	left: 6px;
	background:url("images/tooltipConnectorUp.png") no-repeat top left;
	width:17px;
	height:11px;
}

.dj_ie .cs-cms .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorUp.gif");
}

.cs-cms .dijitTooltipAbove .dijitTooltipConnector {
	/* the arrow piece for tooltips above an element */
	bottom: 0px;
	left: 6px;
	background:url("images/tooltipConnectorDown.png") no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .cs-cms .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie6 .cs-cms .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -5px;
}

.cs-cms .dijitTooltipLeft {
	padding-right: 10px;
}
.dj_ie6 .cs-cms .dijitTooltipLeft {
	padding-left: 11px;
}
.cs-cms .dijitTooltipLeft .dijitTooltipConnector {
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: 0px;
	bottom: 3px;
	background:url("images/tooltipConnectorRight.png") no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .cs-cms .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorRight.gif");
}

.cs-cms .dijitTooltipRight {
	padding-left: 10px;
}
.cs-cms .dijitTooltipRight .dijitTooltipConnector {
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: 0px;
	bottom: 3px;
	background:url("images/tooltipConnectorLeft.png") no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .cs-cms .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorLeft.gif");
}

