/* Editor */
.dijitRtl .cs-cms .dijitEditorIcon {
	background-image: url('images/editor_rtl.gif'); /* editor icons sprite image */
}
.dijitRtl .cs-cms .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled_rtl.gif'); /* editor icons sprite image */
}

/* Toolbar */

.dijitRtl .cs-cms .dijitToolbar .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}
