@using BusinessLogic_CS_v6.Modules.Data.Sections.SectionDataSubClasses
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageModel

@helper outputAddThisComponent()
{
    if (!Model.ContentPageData.DoNotShowSharingTool && Model.AddThisModel != null)
    {
        <div class="content-page-sharing-tools-container">

            @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.SocialNetworking.AddThis._AddThis, Model.AddThisModel); }

        </div>
    }
}

<section class="content-page-container @Html.RawIf("dialog-page", Model.ContentPageData.IsDialogPage) @Model.ContentPageData.LayoutStyleClassName">

    <div class="content-page-main-content-and-bottom-container">

        <div class="content-page-main-content-container">

            <div class="content-page-title-wrapper">
                @{ Html.RenderPlaceholder(Model.PreHeadingContentPlaceholder); }

                @if (!Model.ContentPageData.DoNotShowTitle)
                {
                    <div class="content-page-title-content">

                        @if (Model.ContentPageData.TitleFieldModel != null && !String.IsNullOrEmpty(Model.ContentPageData.TitleFieldModel.Value))
                        {
                            @Html.InlineEditingForFieldModel(Enums.HtmlTagName.H1, Model.ContentPageData.TitleFieldModel)
                        }
                        else
                        {
                            <h1>@Model.ContentPageData.Title</h1>
                        }

                    </div>
                }

                @{ Html.RenderPlaceholder(Model.PostHeadingContentPlaceholder); }
            </div>
            <div class="content-page-content-container">

                @if (!Model.ContentPageData.DoNotShowMainImage)
                {
                    if (!Model.ContentPageData.MainImage.IsEmpty())
                    {
                        <div class="content-page-cover-photo">

                            @Html.CsImageFromMediaItemDataModel(Model.ContentPageData.MainImage.MediaItems[SectionDataMainDetails.SectionDataMainImageImageSize.Normal], Model.ContentPageData.Title)

                        </div>

                        <div class="content-page-cover-photo-share-tools">
                            @outputAddThisComponent()
                        </div>
                    }
                }

                @if (!string.IsNullOrEmpty(Model.ContentPageData.HtmlContent) || (Model.ContentPageData.HtmlContentFieldModel != null && !String.IsNullOrEmpty(Model.ContentPageData.HtmlContentFieldModel.Value)))
                {


                    <div class="content-page-full-description">
                        @Html.InlineEditingForFieldModel(Enums.HtmlTagName.Div, Model.ContentPageData.HtmlContentFieldModel)

                    </div>
                }
                @{ Html.RenderPlaceholder(Model.PostContentPlaceholder); }

                @if (Model.SubSectionsHierarchyModel != null && Model.SubSectionsHierarchyModel.HierarchicalControlModel != null && Model.SubSectionsHierarchyModel.HierarchicalControlModel.Items != null && Model.SubSectionsHierarchyModel.HierarchicalControlModel.Items.Any())
                {
                    <div class="content-page-sub-sections-container">
                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.SubSectionsTitleContentTextModel)
                        @{
                    Html.RenderPartial(
                        MVCGeneral._General.Views._Shared.PartialViews.Hierarchy._HierarchicalNavigationControl,
                        Model.SubSectionsHierarchyModel);
                        }
                    </div>

                }
                @if (Model.SubSectionsListingItemModels != null && Model.SubSectionsListingItemModels != null)
                {
                    <div class="content-page-sub-sections-listing-container">


                        @foreach (var subSection in Model.SubSectionsListingItemModels)
                        {
                            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ListingItems.BasicListingItem._BasicListingItem, subSection);
                        }
                    </div>
                }

                @if (Model.MediaGallery.GalleryItems != null && Model.MediaGallery.GalleryItems.Any())
                {
                    Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Gallery._GalleryControl, Model.MediaGallery);
                }

                @if (Model.PreFooterContentPlaceholder != null)
                {
                    <div class="content-page-bottom-content-container">
                        @{ Html.RenderPlaceholder(Model.PreFooterContentPlaceholder); }
                    </div>
                }
            </div>
        </div>
    </div>
    @if (!Model.ContentPageData.DoNotShowFooter)
    {
        <div class="content-page-footer @Html.RawIf("content-page-footer-without-last-updated", Model.ContentPageData.DoNotShowLastUpdated)">

            @outputAddThisComponent()

            @if (!Model.ContentPageData.DoNotShowLastUpdated)
            {
                <div class="content-page-last-updated-container">
                    @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Span, Model.LastUpdatedDateContentTextModel, "content-page-last-updated")
                </div>
            }
        </div>
    }

</section>