@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Weather._WeatherWidgetModel
                
<div class="weather-widget-main-container">
            
    <div class="weather-widget-content">

        @if (!Model.Error)
        {
            <div class="weather-widget-icon-container">

                <img src="@Model.IconUrl" alt="@Model.WeatherCondition" />

            </div>

            <div class="weather-widget-temperatures-container">

                <span class="weather-widget-temperature weather-widget-temperature-in-degrees-celsius">@Model.TemperatureDegreesCelsius°C</span>
                <span class="weather-widget-temperature weather-widget-temperature-in-fahrenheit">@Model.TemperatureFahrenheit°F</span>

            </div>
        }
        else
        {
            <span class="weather-widget-error">Error!</span>
        }

    </div>

</div>