﻿@using BusinessLogic_CS_v5.EnumsBL
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Header._WebsiteHeaderSearchModel

<div class="header-search-main-container">
    
    <div class="header-search-main-content">
    
        <form method="GET" action="@Model.ActionUrl">
        
            @Html.CsTextBoxFor(x => x.Keywords, CS.General_CS_v5.Enums.FieldType.Search, new CsFieldExtensions.InputFieldCommonParameters() { CssClass = "header-search-field",  PlaceholderContentText = Model.PlaceholderTextContentText}) 
            <input class="header-search-button" type="submit" value="">

        </form>

    </div>
    
</div>