﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Header._WebsiteHeaderLogoModel
      
@helper outputHeaderLogo() {
    
    <a href="@Model.LogoLinkUrl" class="header-logo">@Model.LogoTitle</a>
}

<div class="header-logo-main-container">
            
    @if (Model.ShowLogoInHeadingTag)
    {   
        <h1>@outputHeaderLogo()</h1>
    }
    else
    {
        @outputHeaderLogo()
    }

</div>