﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CarouFredSelBannerSlider.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Carousel.CarouFredSel.CarouFredSelBannerSlider" %>
<%@ Register TagPrefix="CommonControls" TagName="CarouFredSelControl" Src="~/_ComponentsGeneric/Frontend/UserControls/Carousel/CarouFredSel/CarouFredSelControl.ascx" %>
<CommonControls:CarouFredSelControl runat="server" ID="bannerSlider" />