﻿@using CS.General_CS_v6
@model PayMammoth_v6.Presentation.Models.Transactium.TransactiumPaymentModel

<div class="transactium-payment-container">
    @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.H2, Model.TitleContentTextModel)
    <div class="transactium-payment-iframe-container">
        <script type="text/javascript">HPS_redirectUrl = '@Model.RedirectUrl';</script>

        <script type="text/javascript" src="https://psp.transactium.com/hpservices/site/js/StartHPS.js"
                id="hpsscript"></script>
    </div>
</div>