﻿@model  BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Cms._CmsBarModel
            
@if (Model != null)
{   
    <div class="cms-menu-bar">
        @if (Model.EditInCmsUrl != null)
        {
            <a target="_blank" href="@Model.EditInCmsUrl" title="Edit In CMS">Edit In CMS</a>
        }
        @if (Model.CanInlineEdit)
        {
            @Html.RenderScriptTagIfNotAlreadyPresent(CS.General_CS_v5.Constants.FileIncludes.CkEditor_ScriptIncludeUrl, "CKEDITOR")
            @Html.RenderScriptTagIfNotAlreadyPresent("/_common_CS_v5/static/js/_scriptsharp/CmsGeneralJS_CS_v5.js", "CmsGeneralJS_CS_v5")
            <script>
                $(function () {
                    new CmsGeneralJS_CS_v5.InlineEditingController(@Model.InlineEditingControllerParametersJson);
                })
            </script>
        }
    </div>
}