﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookLoginButton.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Members.Login.SocialButtons.FacebookLoginButton" %>
<CSControls:MyButton ID="btnFacebookLogin" runat="server"></CSControls:MyButton>