﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GoogleLoginButton.ascx.cs"
    Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Members.Login.SocialButtons.GoogleLoginButton" %>
<CSControls:MyButton ID="btnGoogleLogin" runat="server">
</CSControls:MyButton>
