﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TwitterLoginButton.ascx.cs"
    Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Members.Login.SocialButtons.TwitterLoginButton" %>
<CSControls:MyButton ID="btnTwitterLogin" runat="server">
</CSControls:MyButton>
