<%@ Page Language="C#" AutoEventWireup="true" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.Pages.Common.Other.renewSession" Codebehind="renewSession.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" id="htmlTag" runat="server" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body id="bodyTag" runat="server">
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
