﻿@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Tabs._TabControlWithJsToggleModel
           
<div class="tab-control-with-js-toggle-main-container">
        
    <div class="tab-control-with-js-toggle-content" @Html.AddAttributes(new Dictionary<string, object>()
                               {    
                                   { "data-toggle-target","." + Model.TargetContainerCssClassName},
                                   { "data-toggle-open-only",Model.OpenOnly}
                               })>

        @if (Model.Tabs != null && Model.Tabs.Any())
        {
            <ul>

                @foreach (var tab in Model.Tabs)
                {
                    <li>

                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Button, tab.TitleContentText, inlineEditingContentTextOtherParameters: new InlineEditingExtensions.InlineEditingContentTextOtherParameters()
                           {
                               HtmlAttributesDictionary = new Dictionary<string, object>()
                               {
                                   { "data-cs-tab-group",tab.GroupIdentifier},
                                   { "data-cs-tab-content","." + tab.ContentContainerCssClassName},
                                   { "type","button" }
                               }
                           })

                    </li>
                }

            </ul>
        }

    </div>

</div>