﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.General_CS_v6
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Tabs._TabControlWithJqueryUiModel
         
@helper OutputTabsScriptBlock()
{   
    <script>

        var tabs = $("#@Model.MainContainerId").tabs();

        $(window).on('hashchange', function () {

            var tabIndex = $("#@Model.MainContainerId a[href='" + window.location.hash + "']").parent().index();
            tabs.tabs("option", "active", tabIndex);
        });

    </script>
}
     
<div class="tab-control-with-jquery-ui-main-container">

    <div class="tab-control-with-jquery-ui-content">
            
        @if (Model.Tabs != null && Model.Tabs.Any())
        {
            <ul>

                @foreach (var tab in Model.Tabs)
                {
                    <li>

                        @Html.CsAnchorFromModel(tab)

                    </li>
                }

            </ul>
        }

    </div>

</div>

@{
    if (!Model.DoNotOutputScriptsInCommonViewContextData)
    {   
        var commonViewContextData = Model.CommonViewContextData;

        commonViewContextData.ScriptBlocks.ScriptBlocks["InitializeTabsScriptBlock"] = new CommonViewContextScriptBlockData()
        {
            ScriptBlockContent = @<text>

                @OutputTabsScriptBlock()
            </text>
        };
    }
    else
    {
        @OutputTabsScriptBlock()
    }
}