﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Tabs._TabControlModel
            
<div class="tab-control-main-container">

    <div class="tab-control-content">

        @if (Model.Tabs != null && Model.Tabs.Any())
        {   
            <ul>
                               
                @foreach (var tab in Model.Tabs)
                {   
                    <li @Html.AddAttribute("class", "selected-tab", tab.IsSelected)>
                        
                        @Html.CsAnchorFromModel(tab.Tab)
                    
                    </li>
                }

            </ul>
        }

    </div>

</div>