﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Copyright._CopyrightLinksAndCasaSoftModel
<div class="copyright-links-and-casasoft-container">
    <div class="copyright-links-container">
        @{
            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Copyright._CopyrightAndLinks, Model.CopyrightAndLinksModel);
        }
    </div>
    <div class="copyright-links-casasoft-container">
        @{
            Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.CasaSoft._CasaSoftLink, Model.CasaSoftLinkModel);
        }
    </div>

</div>