﻿
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.NotificationMessages._MaintenanceMessageModel
@if(Model != null && Model.MessageContentTextIdentifier != null) 
{
   
    <div class="maintenance-message-container">
        <span class="maintenance-message-icon"></span>
        @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Span, Model.MessageContentTextIdentifier, "maintenance-message-text")
       @* <a class="maintenance-message-hide-button" href="javascript:"></a> *@
    </div>
    <script>
       /* $(function () {
            $('.maintenance-message-hide-button').bind('click', function (e) {
                $('.maintenance-message-container').slideUp();
                $(this).unbind('click');
                e.preventDefault();
            });
        });*/ 
    </script>
}