﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.NotificationMessages._MobileViewMessageModel

@if (Model != null)
{
    <div class="mobile-view-message-container mobile-view-message-@Model.MobileViewMessageType.ToString().ToLower() clearfix">

        <div class="mobile-view-message-content clearfix">
            
            @if (Model.MobileViewMessageContentTextIdentifier != null)
            {
                <div class="mobile-view-message-left-content clearfix">

                    <span class="mobile-view-message-icon"></span>
                    @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Span, Model.MobileViewMessageContentTextIdentifier, "mobile-view-message-text")

                </div>
            }

            @if (!String.IsNullOrEmpty(Model.MessageActionLinkUrl))
            {
                <div class="mobile-view-message-right-content clearfix">
                    
                    @Html.CsAnchor(Model.MobileViewMessageActionLinkContentTextIdentifier, Model.MessageActionLinkUrl, cssClass:"mobile-view-message-action-link")

                </div>
            }

        </div>

    </div>
}