﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.NotificationMessages._NotificationMessageModel

@if (Model != null && (!String.IsNullOrWhiteSpace(Model.Message) || Model.MessageContentTextModel != null || Model.MultipleMessages != null && Model.MultipleMessages.Any() || (Model.OtherMessages != null && Model.OtherMessages.Any())))
{
    <div class="notification-message-wrapper notification-message-wrapper-@(Model.MessageType.ToString().ToLower())">
        <div class="notification-message-container notification-message-@Model.MessageType.ToString().ToLower()">
            <div class="notification-message-icon-container">
                <span class="notification-message-icon"></span>
            </div>
            <div class="notication-message-text-list-container">
                <ul class="notification-message-list">
                    @if (!String.IsNullOrWhiteSpace(Model.Message))
                    {
                        <li class="notification-message-text">@Html.Raw(Model.Message)</li>
                    }
                    else if(Model.MessageContentTextModel != null)
                    {
                        @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Li, Model.MessageContentTextModel, "notification-message-text")
                    }
                    @if (Model.OtherMessages != null)
                    {
                        foreach (var otherMessage in Model.OtherMessages)
                        {
                            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.Li, otherMessage, "notification-message-text")
                        }
                    }
                    @if (Model.MultipleMessages != null)
                    {
                        foreach (var message in Model.MultipleMessages)
                        {
                            <li class="notification-message-text">@message</li>
                        }
                    }
                </ul>
            </div>
            <div class="notification-message-hide-button-container">
                <a class="notification-message-hide-button" href="javascript:"></a>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.notification-message-hide-button').bind('click', function (e) {
                $('.notification-message-wrapper').slideUp();
                $(this).unbind('click');
                e.preventDefault();
            });
        });
    </script>
}
