﻿@using BusinessLogic_CS_v5.Presentation.Code.ContextData
@model BusinessLogic_CS_v5.Presentation.Models.ForgotPassword.ForgotPasswordIndexModel

@Html.Action(MVCGeneral.PartialViewsContentPage._ContentPageNew(new BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.ContentPage._ContentPageModel(CommonViewContextDataOld.Instance.CurrentSection)
    {
        BottomContent = @<text>
                             
                            <div class="forgot-password-main-container clearfix">
                             
                                @Html.Action(MVCGeneral.PartialViewsPasswords._ForgotPasswordForm(Model.ForgotPasswordFormModel))

                            </div>

                         </text>
    }))