/* General */
body {
  font-size: 14px;
  font-size: 0.875rem;
  color: ;
}
td,
th {
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}
a {
  color: #0085b2;
  text-decoration: underline;
}
a:hover {
  color: #00beff;
  text-decoration: none;
}
/* CMS Frontend */
.cms-menu-bar {
  background: #EEE;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #DDD;
  margin-top: 20px;
  z-index: 1000;
}
.cms-menu-bar-present body {
  padding-bottom: 70px;
}
/* Add This Smart Layers introduce padding at bottom */
.addthis-smartlayers-mobile {
  height: 25px;
}
/*Padding for add this share when showing in small screens */
.cms-menu-bar-present .addthis-smartlayers-mobile .at4m-dock,
.cms-menu-bar-present .addthis-smartlayers-mobile .at4m-dock-toggle,
.cms-menu-bar-present .addthis-smartlayers-mobile .at4m-menu {
  margin-bottom: 50px;
}
/* Forms */
textarea {
  resize: vertical;
  min-height: 200px;
}
/*
Removed from general as this was conflicting with several others
*/
.form-fields-table td,
.form-fields-table th {
  vertical-align: top;
  padding-right: 5px;
  padding-bottom: 10px;
}
.form-fields-table .form-field-label-cell {
  padding-right: 20px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0px;
  vertical-align: middle;
}
.form-fields-table .form-field-content-cell {
  vertical-align: middle;
}
.form-fields-container {
  padding: 0px 20px;
}
.form-fields-table {
  width: 100%;
}
.form-field-label-cell label {
  display: block;
  padding-top: 11px;
}
.parsley-errors-list {
  padding: 0px;
  padding-top: 5px;
  color: #cc0000;
  margin: 0px;
}
.parsley-errors-list li {
  list-style: none;
}
.form-field-validation-icon {
  width: 24px;
  height: 24px;
  background-image: url('/_common_CS_v5/static/images/cs-common-sprites.png?v=4');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: block;
}
.form-field-validation-icon-cell {
  width: 24px;
}
.form-field-validation-icon-cell .validation-icon-error {
  background-image: url('/_common_CS_v5/static/images/cs-common-sprites.png?v=4');
  background-position: -48px 0px;
  background-repeat: no-repeat;
  display: block;
}
.form-field-validation-icon-cell .validation-icon-success {
  background-image: url('/_common_CS_v5/static/images/cs-common-sprites.png?v=4');
  background-position: -24px 0px;
  background-repeat: no-repeat;
  display: block;
}
.form-field-validation-icon {
  margin-top: 3px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notification-message-container {
  padding: 20px;
  /* Temporary
  @{property}: ~`unitToRem("@{size}")`;   */
  border-bottom: 1px solid #ffffff;
  display: table;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.notification-message-error {
  background-color: #cc0000;
  color: #ffffff;
}
.notification-message-error .notification-message-icon:before {
  content: "\e083";
}
.notification-message-success {
  background-color: #00cc00;
  color: #ffffff;
}
.notification-message-success .notification-message-icon:before {
  content: "\e084";
}
.notification-message-info {
  background-color: #d7ebff;
  color: #000066;
}
.notification-message-info .notification-message-icon:before {
  content: "\e086";
}
.notification-message-container {
  border-radius: 4px;
}
.notification-message-icon-container,
.notication-message-text-list-container,
.notification-message-hide-button-container {
  display: table-cell;
  vertical-align: middle;
}
.notification-message-icon-container,
.notification-message-icon,
.notification-message-hide-button-container,
.notification-message-hide-button {
  width: 18px;
  /* Temporary
  @{property}: ~`unitToRem("@{size}")`;   */
}
.notification-message-icon,
.notification-message-hide-button {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}
.notification-message-hide-button {
  text-decoration: none;
  color: #333333;
}
.notification-message-hide-button:before {
  content: "\e014";
}
.layout-main-notification-message-container .notification-message-hide-button {
  color: #ffffff;
}
.layout-main-notification-message-container .notification-message-hide-button:hover {
  color: #e6e6e6;
}
.notification-message-hide-button:hover {
  color: #595959;
}
.notication-message-text-list-container {
  padding-left: 20px;
  /* Temporary
  @{property}: ~`unitToRem("@{size}")`;   */
  padding-right: 20px;
  /* Temporary
  @{property}: ~`unitToRem("@{size}")`;   */
}
.notication-message-text-list-container ul {
  margin: 0px;
  padding: 0px;
}
.notication-message-text-list-container li {
  list-style: none;
}
.navigation-breadcrumbs-content ul {
  height: 15.96px;
}
.navigation-breadcrumbs-content ul:before,
.navigation-breadcrumbs-content ul:after {
  content: " ";
  display: table;
}
.navigation-breadcrumbs-content ul:after {
  clear: both;
}
.navigation-breadcrumbs-content ul li {
  float: left;
}
.navigation-breadcrumbs-content li:before {
  content: '\203A';
  padding: 0 10px;
  float: left;
}
.navigation-breadcrumbs-content li:first-child:before {
  content: none;
}
.ui-datepicker-trigger {
  float: left;
  background: none;
  padding: 0px;
  border: none;
}
.cs-form-field-group-date input {
  float: left;
  margin-right: 10px;
}
.form-horizontal .checkbox-or-radio-container .control-label {
  width: auto;
  font-weight: normal;
}
.cs-checkbox-list-container {
  margin: 0px;
  padding: 0px;
}
.cs-checkbox-list-container:before,
.cs-checkbox-list-container:after {
  content: " ";
  display: table;
}
.cs-checkbox-list-container:after {
  clear: both;
}
.checkbox-or-radio-container:before,
.checkbox-or-radio-container:after {
  content: " ";
  display: table;
}
.checkbox-or-radio-container:after {
  clear: both;
}
.checkbox-or-radio-container .label-text {
  padding-right: 10px;
  padding-left: 5px;
}
.cs-checkbox-list-item {
  float: left;
  list-style: none;
}
.checkbox-or-radio-container input {
  float: left;
}
[data-inline-editing-id] {
  -webkit-transition: all All 0.2s;
  -moz-transition: all All 0.2s;
  -o-transition: all All 0.2s;
  transition: all All 0.2s;
  transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
}
.inline-editing-on {
  background: #0000FF;
  color: #FFF;
}
.caret-reverse {
  border-top: 0;
  content: "";
}
/* Currency & Culture selection*/
.currency-dropdown-available-currencies-container,
.available-cultures-selection-content-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.currency-dropdown-available-currencies-container,
.available-cultures-selection-container {
  display: none;
  position: absolute;
  right: 0px;
  top: 100%;
}
.header-currency-container,
.culture-selection-container {
  position: relative;
}
.header-currency-container:hover .currency-dropdown-available-currencies-container {
  display: block;
}
.header-culture-container:hover .available-cultures-selection-container {
  display: block;
}
.available-culture-selection-item,
.available-currency-item {
  white-space: nowrap;
}
.currency-dropdown-selection-symbol:before,
.available-currency-item-symbol:before {
  content: "(";
}
.currency-dropdown-selection-symbol:after,
.available-currency-item-symbol:after {
  content: ")";
}
.currency-dropdown-available-currencies-container,
.available-cultures-selection-content-container {
  text-align: right;
}
.currency-dropdown-available-currencies-container a,
.available-cultures-selection-content-container a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  -webkit-transition: all All 0.2s;
  -moz-transition: all All 0.2s;
  -o-transition: all All 0.2s;
  transition: all All 0.2s;
  transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
}
.currency-dropdown-available-currencies-container a:before,
.available-cultures-selection-content-container a:before,
.currency-dropdown-available-currencies-container a:after,
.available-cultures-selection-content-container a:after {
  content: " ";
  display: table;
}
.currency-dropdown-available-currencies-container a:after,
.available-cultures-selection-content-container a:after {
  clear: both;
}
.currency-dropdown-selection,
.culture-selection-container {
  cursor: default;
}
.available-culture-selection-item-image-wrapper {
  float: right;
}
.available-culture-selection-item-title {
  display: block;
  padding-right: 30px;
}
.caroufredsel-items-container {
  margin: 0px;
  padding: 0px;
}
.caroufredsel-item {
  list-style: none;
  float: left;
}
/*# sourceMappingURL=common.css.map */