.payment-selection-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.payment-selection-container a {
  display: table;
  position: relative;
  min-height: 70px;
  width: 100%;
  background: #EEE;
  padding: 10px;
  margin-bottom: 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.payment-selection-container a:hover {
  background: #f3f3f3;
}
.payment-selection-container .payment-selection-method-icon-container {
  display: table-cell;
  width: 110px;
  height: 70px;
}
.payment-selection-container .payment-selection-method-description-container {
  display: table-cell;
  min-height: 70px;
  padding-left: 10px;
  vertical-align: middle;
}
.payment-selection-container .payment-selection-method-description-container span {
  display: block;
}
.payment-selection-container .payment-selection-method-title {
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 5px;
}
.payment-selection-container .payment-selection-method-description {
  color: #333333;
}
.core-container {
  padding: 15px;
}
h2 {
  background: #333333;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  border-radius: 4px;
  margin-bottom: 15px;
}
h3 {
  background: #eeeeee;
  color: #333333;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 4px;
  margin-bottom: 15px;
}
.order-description-text p {
  margin-bottom: 15px;
}
.order-core-container:before,
.order-core-container:after {
  content: " ";
  display: table;
}
.order-core-container:after {
  clear: both;
}
.order-item-details {
  list-style: none;
  margin: 0;
  padding: 0;
}
.order-item {
  background: #eeeeee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
.view-full-order-details-container {
  text-align: center;
  padding-top: 5px;
}
.order-summary-details-wrapper {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px dotted #999999;
}
.order-summary-details-wrapper:before,
.order-summary-details-wrapper:after {
  content: " ";
  display: table;
}
.order-summary-details-wrapper:after {
  clear: both;
}
.order-summary-details-wrapper table {
  float: right;
}
.order-summary-details-wrapper table th,
.order-summary-details-wrapper table td {
  padding: 5px;
  text-align: right;
}
.order-summary-details-wrapper .order-details-total-row td,
.order-summary-details-wrapper .order-details-total-row th {
  color: #ffffff;
  background: #333333;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order-summary-details-wrapper .order-details-total-row th {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.order-summary-details-wrapper .order-details-total-row td {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.payment-details-your-details-name {
  font-weight: bold;
}
.payment-details-your-details-address {
  padding-top: 10px;
}
.payment-details-your-details-wrapper {
  padding: 15px 10px;
  padding-top: 0px;
}
.cancel-button-container {
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  padding-top: 10px;
}
.paypal-confirmation-button-container a {
  background: #1973ba;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none;
}
.paypal-confirmation-button-container a:hover {
  background: #248ee2;
}
.transactium-payment-iframe-container iframe {
  width: 100%;
}
.payment-request-expired {
  padding: 10px;
}
.expiration-message-container .notification-message-container {
  position: static;
  margin-bottom: 15px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .order-summary-container {
    width: 40%;
    float: left;
    padding-right: 15px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px dotted #999999;
  }
  .payment-details-container {
    width: 60%;
    float: left;
    padding-left: 15px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */