/* Main container specific */
.btn {
  background: #1973ba;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none;
}
.btn:hover {
  background: #248ee2;
}
/*# sourceMappingURL=variables.css.map */