﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_ComponentsGeneric/Frontend/CMS/cms.master" AutoEventWireup="true"
 CodeBehind="viewLogItem.aspx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.CMS.LogFiles.viewLogItem" %>
<%@ Register Namespace="CS.General_v3.Controls.WebControls.Specialized.TreeStructureClasses.TreeStructure"  TagPrefix="CSTreeStructure" Assembly="General_v3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
<h2>Search</h2>
<CSControlsFormFields:FormFields ID="formLog" runat="server" />

</asp:Content>
