﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Contact._ContactDetailsControlModel

<div class="contact-details-main-container">
        
    @if (Model.ContactDetails != null && Model.ContactDetails.Any())
    {   
        foreach (var contactDetail in Model.ContactDetails)
        {
            if (contactDetail.Identifier == BusinessLogic_CS_v6.Constants.GeneralConstants.ContactDetailsAddressIdentifier && Model.ShowAddressOutsideTable)
            {
                <div class="contact-details-address">
            
                    @contactDetail.Value(null)

                </div>
            }
        }
    }
        
    @if (Model.ContactDetails != null && Model.ContactDetails.Any())
    {   
        <table> 

            @foreach (var contactDetail in Model.ContactDetails)
            {
                if ((contactDetail.Identifier != BusinessLogic_CS_v6.Constants.GeneralConstants.ContactDetailsAddressIdentifier) 
                    || (contactDetail.Identifier == BusinessLogic_CS_v6.Constants.GeneralConstants.ContactDetailsAddressIdentifier && !Model.ShowAddressOutsideTable))
                {
                    <tr class="contact-detail-@contactDetail.Identifier">

                        <td class="contact-details-label-field">
                        
                            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.Span, contactDetail.TitleContentText)

                        </td>

                        <td class="contact-details-value-field">@contactDetail.Value(null)</td>

                    </tr>
                }
            }

        </table>
    }
</div>

@if (Model.LocationMapControlModel != null)
{
    <div class="contact-details-map-container">
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Locations._LocationMapControl, Model.LocationMapControlModel);}
    </div>
}