﻿@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Contact._ContactUsPageModel
    
<div class="contact-us-main-container">
    
    <div class="contact-us-content">
            
        @{ Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.ContentPage._ContentPage, Model.ContentPage); }
            
    </div>

</div>