@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Contact._ContactGenericEnquiryFormModel

<div class="contact-generic-enquiry-form-main-container">

    <div class="contact-generic-enquiry-form-content">
        
        <div class="contact-generic-enquiry-form-title">
            
            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.H2, Model.EnquiryFormTitleContentText)

        </div>
        
        <div class="contact-generic-enquiry-form-description">
            
            @Html.InlineEditingContentTextModel(CS.General_CS_v6.Enums.HtmlTagName.P, Model.EnquiryFormDescriptionContentText)

        </div>
        
        <div class="contact-generic-enquiry-form">
            
            @{
                Html.RenderPartial(MVCGeneral._General.Views._Shared.PartialViews.Forms._FormFieldModels, Model.FormSchemaModel.FormSchemaValuesWithFormFieldModel.Form);
            }

        </div>

    </div>

</div>