﻿@model  BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.MediaItems.Manage._AjaxMediaGalleryItemModel

<div class="media-items-ajax-gallery-item-container">
    <div class="media-items-ajax-gallery-item @Html.Raw(Model.CssClass)" data-filename="@Model.FileName">
        <div class="media-items-ajax-gallery-item-thumb-container">
            <a href="@Model.LargeItemUrl" rel="prettyPhoto[mediaItemsAjaxGallery]" @Html.AddAttribute("title", Model.Caption)>
                <img src="@Model.ThumbnailImageUrl" @Html.AddAttribute("alt", Model.Caption) />
            </a>
        </div>
        <div class="media-items-ajax-gallery-item-caption-container">
            <input type="text" placeholder="@Model.PlaceholderContentTextModel.ReplacedValue" class="media-items-ajax-gallery-item-caption-field" value="@Model.Caption" />
        </div>
        <div class="media-items-ajax-gallery-item-buttons-container">
            <button class="media-items-ajax-gallery-item-delete-button" type="button"></button>
        </div>
    </div>
</div>
