﻿@using BusinessLogic_CS_v6.EnumsBL
@using BusinessLogic_CS_v6.Framework.MediaItems
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.MediaItems.Manage._MediaItemsAjaxGalleryModel

<div class="media-items-ajax-gallery-container">
    @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.H3, ContentTextIdentifierEnums.GenericContentTextIdentifier.MediaItemsAjaxGallery_Title)

    <div class="media-items-ajax-gallery-instructions">
        <ul>
            <li>Upload photos by drag and drop or clicking on the Upload Photos button</li>
            <li>You can update the caption by typing the caption in the field underneath the image</li>
            <li>
                If your website supports videos, with each thumbnail, you can add a video through YouTube by supplying
                the YouTube video URL.
            </li>
            <li><strong>Note:</strong> Saving of the caption &amp; video URL is done when you change the value of the text field.  Even if you do not press the 'Save' button.</li>
        </ul>
    </div>

    <div class="media-items-ajax-gallery-content">
        <div class="media-items-ajax-gallery-items-container clearfix">
            @if (Model.MediaItems != null)
            {
                int i = 0;
                foreach (IMediaItem mediaItem in Model.MediaItems)
                {


                    string cssClass = null;
                    if (Model.AmtMediaItemsPerRow > 0 && i % Model.AmtMediaItemsPerRow == 0)
                    {
                        cssClass = "media-items-ajax-gallery-item-first";
                    }
                    @Html.Partial(MVCGeneral._General.Views._Shared.PartialViews.MediaItems.Manage._MediaItemsAjaxGalleryItem, new BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.MediaItems.Manage._MediaItemsAjaxGalleryItemModel()
                                                                                                                                {
                                                                                                                                    MediaItem = mediaItem,
                                                                                                                                    CssClass = cssClass
                                                                                                                                })

                    i++;
                }
            }
        </div>
        @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Div, ContentTextIdentifierEnums.GenericContentTextIdentifier.MediaItemsAjaxGallery_NoPhotosUploaded, cssClass: "media-items-ajax-gallery-no-items")
        <div class="media-items-ajax-gallery-drag-and-drop-note">
            @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.P, ContentTextIdentifierEnums.GenericContentTextIdentifier.MediaItemsAjaxGallery_DragAndDropNote, cssClass: "note")
        </div>
        <div class="media-items-upload-container">
        </div>
        <div class="media-items-ajax-gallery-items-buttons-container">
            <div class="button media-items-ajax-gallery-items-upload-button">
                <span class="button-icon"></span>

                @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, ContentTextIdentifierEnums.GenericContentTextIdentifier.MediaItemsAjaxGallery_UploadPhotos)


            </div>
        </div>
    </div>

</div>
<script>
    var itemId = "@Model.ItemId";

    function showNoItems() {
        var jItems = $(".media-items-ajax-gallery-item");
        var jNoItemsText = $(".media-items-ajax-gallery-no-items");
        var show = jItems.length == 0;
        jNoItemsText.css("display", show ? "" : "none");
    }

    function mediaItemsAjaxGalleryInitTextboxes(jImageContainer, itemId, propertyName, fileName) {
        var jTxt = jImageContainer.find(".media-items-ajax-gallery-item-caption-field");



        function updateTextfieldValue(url, value, paramName, fileName) {
            var data = {};
            data["@CS.General_CS_v6.Constants.Variables.Id"] = itemId;
            data["@CS.General_CS_v6.Constants.Variables.PropertyName"] = propertyName;
            data["@CS.General_CS_v6.Constants.Variables.FileName"] = fileName;
            data[paramName] = value;

            $.post(url, data, function (response, textStatus, jqXHR) {
                var success = response && response.success;
                if (!success) {
                    alert('@ContentTextIdentifierEnums.GenericContentTextIdentifier.General_ErrorEncountered.GetContentTextContent()');
                }
            }, "json");
        }

        jTxt.on("change", function (e) {
            var updateCaptionUrl = "@Model.UpdateCaptionUrl";
            var newCaption = jTxt.val();

            updateTextfieldValue(updateCaptionUrl, newCaption, "@CS.General_CS_v6.Constants.Variables.Caption", fileName);

        });
        var jVideo = jImageContainer.find(".media-items-ajax-gallery-item-video-field");
        jVideo.on("change", function (e) {
            var updateCaptionUrl = "@Model.UpdateYouTubeUrl";
            var newVideo = jVideo.val();
            updateTextfieldValue(updateCaptionUrl, newVideo, "@CS.General_CS_v6.Constants.Variables.VideoUrl", fileName);

        });
    }

    function mediaItemsAjaxGalleryInitImage(jImageContainer) {
        var jDelete = jImageContainer.find(".media-items-ajax-gallery-item-delete-button");
        var propertyName = "@Model.GalleryPropertyName";
        var fileName = jImageContainer.find("[data-filename]").attr("data-filename");
        mediaItemsAjaxGalleryInitTextboxes(jImageContainer, itemId, propertyName, fileName);
        jDelete.on("click", function (e) {
            //submit ajax to delete
            jImageContainer.addClass('confirm-message-item');
            if (confirm("@ContentTextIdentifierEnums.GenericContentTextIdentifier.MediaItemsAjaxGallery_ConfirmDelete.GetContentTextContent()")) {

                var data = {};
                data["@CS.General_CS_v6.Constants.Variables.Id"] = itemId;
                data["@CS.General_CS_v6.Constants.Variables.PropertyName"] = propertyName;
                data["@CS.General_CS_v6.Constants.Variables.FileName"] = fileName;

                var deleteUrl = "@Model.DeleteUrl";

                $.post(deleteUrl, data, function (response, textStatus, jqXHR) {
                    var success = response && response.success;
                    if (!success) {
                        alert('@ContentTextIdentifierEnums.GenericContentTextIdentifier.General_ErrorEncountered.GetContentTextContent()');
                    }
                }, "json");

                jImageContainer.hide("slide", { direction: "left", distance: 0 }, 400, function () { jImageContainer.remove(); showNoItems(); });
            }
            else {
                jImageContainer.removeClass('confirm-message-item');
            }
        });

    }
    @{
        string endPointUrl = Model.EndPointUrl;
        endPointUrl += string.Format("?{0}={1}", CS.General_CS_v6.Constants.Variables.Id, Model.ItemId);
    }
    $(function () {
        $(".media-items-upload-container").fineUploader({
            button: $('.media-items-ajax-gallery-items-upload-button'),
            request: {
                endpoint: "@endPointUrl",
                params: {
                    @Html.Raw(CS.General_CS_v6.Constants.Variables.PropertyName + " : '" + Model.GalleryPropertyName + "'")
                }

            },
            validation: {
                allowedExtensions: ["jpg", "png", "jpeg"]
            }
        }).on('complete', function (event, id, filename, response) {
            var success = response.success;
            if (success) {
                var html = response.html;
                var jMediaItem = $(html);
                $(".media-items-ajax-gallery-items-container").append(jMediaItem);
                showNoItems();
                mediaItemsAjaxGalleryInitImage(jMediaItem);
                jMediaItem.slideUp(0);
                jMediaItem.slideDown(500);

                $("a[rel^='prettyPhoto']").prettyPhoto();
            }

        });

        function initThumbs() {
            var jInitialThumbs = $('.media-items-ajax-gallery-item-container');
            for (var i = 0; i < jInitialThumbs.length; i++) {
                mediaItemsAjaxGalleryInitImage(jInitialThumbs.eq(i));
            }
        }
        initThumbs(); // delay it to first attach conf messages

    });
    showNoItems();
</script>

@{



}

@*
    Must include
     "/_common_CS_v6/static/js/jQuery/plugins/fineuploader/3.2/jquery.fineuploader-3.2.min.js";
     "/_common_CS_v6/static/js/jQuery/plugins/fineuploader/3.2/fineuploader-3.2.css";

*@

<script>
    $(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>
