﻿@model  BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.MediaItems.Manage._MediaItemsAjaxGalleryItemModel

<div class="media-items-ajax-gallery-item-container">
    <div class="media-items-ajax-gallery-item @Html.Raw(Model.CssClass)" data-filename="@Model.MediaItem.Filename">
        <div class="media-items-ajax-gallery-item-thumb-container">
            <a href="@Model.GetLargeImageUrl()" rel="prettyPhoto[mediaItemsAjaxGallery]">
                <img src="@Model.GetThumbnailImageUrl()" @Html.AddAttribute("alt", Model.MediaItem.Caption) />
            </a>
        </div>
        <div class="media-items-ajax-gallery-item-caption-container">
            <input type="text" placeholder="enter caption" class="media-items-ajax-gallery-item-caption-field" value="@Model.MediaItem.Caption" />
        </div>
        <div class="media-items-ajax-gallery-item-video-container">
            <input type="text" placeholder="enter YouTube video URL (if applicable)" class="media-items-ajax-gallery-item-video-field" value="@Model.MediaItem.YouTubeUrl" />
        </div>
        <div class="media-items-ajax-gallery-item-buttons-container">
            <a href="javascript:" class="media-items-ajax-gallery-item-delete-button"></a>
        </div>
    </div>
</div>
