﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Icons._HomeIconModel
        
<div class="home-icon-main-container">
        
    <a href="@Model.HomeIconLinkUrl" class="home-icon"></a>

</div>