@using BusinessLogic_CS_v5.Presentation.Models._Shared.Data.Partners
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Partner._PartnerLogosModel


@helper outputLogo(PartnerPresentation partner)
{   
    <img src="@partner.GetNormalImagePath()" alt="@partner.DataObject.Title" title="@partner.DataObject.Title"/>
}

<div class="partner-logos-main-container">
    
    <div class="partner-logos-content">
        
        <ul>
            
            @foreach (var partner in Model.Partners)
            {
                if (partner.DataObject.Image != null && !partner.DataObject.Image.IsEmpty())
                {
                    <li>
                             
                        @if (!String.IsNullOrEmpty(partner.DataObject.Url))
                        {
                            <a href="@partner.DataObject.Url" target="_blank">@outputLogo(partner)</a>
                        }
                        else
                        {
                            @outputLogo(partner)
                        }

                    </li>
                }
            }

        </ul>

    </div>

</div>