﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Core.Master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="PayMammothDeploy.unit_testing.paypal.express_checkout._default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="coreHeadPlaceholder" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="coreContentPlaceHolder" runat="server">
    <h1>Express Checkout - Unit Testing</h1>
    <p>
        

    </p>
</asp:Content>
