﻿@using CS.General_CS_v5
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Members.Profile._ProfileFieldsModel

<div class="member-profile-fields-container">

    @Html.InlineEditingContentTextModel(Enums.HtmlTagName.P, Model.MandatoryFieldsContentTextModel, cssClass: "alert alert-info")

    <div class="profile-fields-container">

        @using (Html.BeginFormWithParsleyValidationRenderer())
        {
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.PersonalDetailsContentTextModel)

            using (Html.BeginFormFields())
            {
                @Html.FormFieldRowFromModel(Model.NameFieldModel)
                @Html.FormFieldRowFromModel(Model.SurnameFieldModel)
                @Html.FormFieldRowFromModel(Model.EmailFieldModel)
                @Html.FormFieldRowFromModel(Model.TelephoneFieldModel)
                @Html.FormFieldRowFromModel(Model.StreetFieldModel)
                @Html.FormFieldRowFromModel(Model.LocalityFieldModel)
                @Html.FormFieldRowFromModel(Model.PostCodeFieldModel)
                if (Model.ReceivePromotionalContentCheckboxFieldModel != null)
                {
                    @Html.FormFieldRowFromModel(Model.ReceivePromotionalContentCheckboxFieldModel)
                }
            }
            @Html.InlineEditingContentTextModel(Enums.HtmlTagName.H2, Model.AccountDetailsContentTextModel, cssClass: "member-profile-fields-container-account-details-header")


            using (Html.BeginFormFields())
            {
                if (Model.MemberRegistrationTypeRadioButtonListModel != null)
                {
                    @Html.FormFieldRowFromModel(Model.MemberRegistrationTypeRadioButtonListModel)
                }

                if (Model.DisplayType == BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.Members.Profile.ProfileFieldsDisplayType.UpdateProfile)
                {
                    @Html.FormFieldRowFromModel(Model.OldPasswordFieldModel)
                }

                @Html.FormFieldRowFromModel(Model.PasswordFieldModel)
            @Html.FormFieldRowFromModel(Model.ConfirmPasswordFieldModel)
            @Html.FormFieldSubmitButtonFromModel(Model.SubmitButtonModel)


            }
        }

    </div>

</div>