﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.MvcCmsGeneral_CS_v6.App_Start
@using BusinessLogic_CS_v6.EnumsBL
@{
    this.Layout = MvcCmsGeneral._CmsGeneral.Views._Shared.Layouts._LayoutCmsBase;
}
@section css {

    @RenderSection("css", required: false)
}
@section head {
    @RenderSection("head", required: false)
 
}
@section scripts_top {
    @RenderSection("scripts_top", required: false)
}

<header class="cms-header-container">
            <div class="cms-header-strip-top">
                <div class="cms-header-strip-top-left">
                    <div class="cms-logo">
                    </div>
                    <div class="cms-website-name">
                        @Html.InlineEditingContentText(CS.General_CS_v6.Enums.HtmlTagName.Span, ContentTextIdentifierEnums.GenericContentTextIdentifier.Website_Name) 
                    </div>
                </div>
                @Html.Action(MvcCmsGeneral.PartialViewsCmsMasterpage._HeaderTopRight())
                
            </div>

        </header>
@RenderBody()

@section scripts {

    @RenderSection("scripts", required: false)

    <script src="@CS.General_CS_v6.Constants.FileIncludes.CkEditor_ScriptIncludeUrl"></script>
}