﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@using CS.MvcCmsGeneral_CS_v6.App_Start

@using CmsGeneral_CS_v6.EnumsCms
@{
    var commonViewContextData = (CommonViewContextData)ViewData[BusinessLogic_CS_v6.Constants.ViewDataVariables.CommonViewContextData];
    this.Layout = MVCGeneral._General.Views._Shared.Layouts._LayoutCommonBase;
    commonViewContextData.StylesheetIncludes.LayoutBundleName =
       commonViewContextData.StylesheetIncludes.LayoutBundleName ?? BusinessLogic_CS_v6.Constants.Bundles.CSS_CMS_BASE;
    commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName =
       commonViewContextData.ScriptIncludes.LayoutBodyBottomBundleName ?? BusinessLogic_CS_v6.Constants.Bundles.JS_CMS_BASE;

}
@section css {
    

    @RenderSection("css", required: false)
}
@section head {
    <meta name="robots" content="noindex, nofollow"/>

    @RenderSection("head", required: false)

}
@section scripts_top {
    @RenderSection("scripts_top", required: false)
}

@RenderBody()

@section scripts { 

    @RenderSection("scripts", required: false)

    
    
    
    
    <script>
        function initDeleteButtonConfirmationMessage() {
            var jDeleteButton = $(".buttons-container .delete-button");
            jDeleteButton.on("click", function(e) {
                var msg = "@CmsEnums.CmsContentText.ConfirmDeleteItem.GetContentTextContent()";
                if (!confirm(msg)) {
                    e.preventDefault();
                }
            });
        }

        $(function() {
            initDeleteButtonConfirmationMessage();
        });


        function toggleSection(jContainer, jTableCellContainer, jTitle, jContent, jToggleIcon, open, speedMs) {
            jTableCellContainer.removeClass("object-field-child-fields-open");
            jTitle.removeClass("object-field-child-fields-title-open");
            jToggleIcon.removeClass("object-field-child-fields-toggle-icon-open");
            jToggleIcon.removeClass("object-field-child-fields-toggle-icon-close");

            if (open) {
                jTableCellContainer.addClass("object-field-child-fields-open");
                jToggleIcon.addClass("object-field-child-fields-toggle-icon-close");
                jTitle.addClass("object-field-child-fields-title-open");
                jContent.slideDown(speedMs);
            } else {
                jToggleIcon.addClass("object-field-child-fields-toggle-icon-open");
                jContent.slideUp(speedMs);
            }

        }

        function initSectionToggler(containerId) {
            var jContainer = $("#" + containerId);
            var jTableCellContainer = jContainer.parent();
            var jTitle = jContainer.find(".object-field-child-fields-title-container");
            var jContent = jContainer.find(".object-field-child-fields-content");
            var jToggleIcon = jContainer.find(".object-field-child-fields-toggle-icon");
            //In case there are more than one sub children
            jTitle = jTitle.eq(0);
            jContent = jContent.eq(0);
            jToggleIcon = jToggleIcon.eq(0);
            var isOpen = false;
            toggleSection(jContainer, jTableCellContainer, jTitle, jContent, jToggleIcon, false, 0);
            jTitle.on("click", function(e) {
                if (isOpen) {
                    toggleSection(jContainer, jTableCellContainer, jTitle, jContent, jToggleIcon, false, 200);
                } else {
                    toggleSection(jContainer, jTableCellContainer, jTitle, jContent, jToggleIcon, true, 200);
                }
                isOpen = !isOpen;
            });
        }

        function updateDataGridWidths() {
            var dataGrids = $(".add-or-edit-container .listing-data-grid-core-container");
            if (dataGrids.length > 0) {
                dataGrids.each(function (index) {
                    var dataGrid = $(this);
                    var width = dataGrid.parent().width();
                    dataGrid.width(width);
                });


            }

        }
        updateDataGridWidths();
    </script>
}