﻿@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.GoogleAnalytics._GoogleAnalyticsSnippetModel
@*
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@Model.UserAccountID']);
            @if (!string.IsNullOrWhiteSpace(Model.Domain) && (Model.TrackSubDomains || Model.TrackMultipleTopLevelDomains))
            {
                <text>
        _gaq.push(['_setDomainName', '@Model.Domain']);
        </text>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Domain) && Model.TrackMultipleTopLevelDomains)
            {
                <text>
        _gaq.push(['_setAllowLinker', true]);
                </text>
            }
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            @if (Model.SupportDisplayAdvertising)
            {
                <text>ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';</text>
            }
            else
            {
                <text>ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';</text>
            }
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
*@
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '@Model.UserAccountID', '@Model.Domain');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>