﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdvertSlot.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.Frontend.UserControls.Advert.AdvertSlot" %>
<iframe id="iFrame" runat="server" scrolling="no" frameborder="0" class="ad-iframe"></iframe>