﻿
@using CmsGeneral_CS_v6.EnumsCms
@model CmsGeneral_CS_v6.Presentation.Models.CmsOperation.CmsOperationFormModel

@{
    var submitButtonText = String.IsNullOrEmpty(Model.FormData.SubmitButtonText) == true ? Model.FormData.FormTitle : Model.FormData.SubmitButtonText;
}
<div class="cms-form-general-container">
    @if (!string.IsNullOrWhiteSpace(Model.FormData.FormTitle))
    {
        <h1>@Model.FormData.FormTitle</h1>
    }
    @if (!string.IsNullOrWhiteSpace(Model.FormData.FormDescriptionHtml))
    {
        <div class="cms-operation-form-description-container">
            @Html.Raw(Model.FormData.FormDescriptionHtml)
        </div>
    }
    <form method="POST" enctype="multipart/form-data" novalidate>
        @Html.Action(MvcCmsGeneral.PartialViewsCmsForms._ObjectFields(Model.ObjectFieldsModel))

        <div class="buttons-container add-or-edit-buttons">
            <button type="submit" class="button">@submitButtonText</button>
            @Html.CsAnchor(CmsEnums.AddOrEditButtonType.GoBack, Model.GoBackUrl, cssClass: "button button-grey")
        </div>

    </form> 

</div>
