﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucLanguageSelect.ascx.cs" Inherits="CS.WebComponentsGeneralV3._ComponentsGeneric.CMS.UserControls.ucLanguageSelect" %>

<CSControls:MyDropdownList ID="_cmbLanguage" runat="server"></CSControls:MyDropdownList>
<CSControls:MyButton ID="testButton" runat="server" ValidationGroup="languageSelect" style="display:none" />