﻿@using BusinessLogic_CS_v5.EnumsBL
@model BusinessLogic_CS_v5.Presentation.Models._Shared.PartialViews.FileUpload._FileUploadItemModelOld
@{
    string id = @JsUtil.GenerateUniqueJsElementId();
}
<div class="file-upload-item-container" id="@id">
    @if (Model.File != null && !string.IsNullOrWhiteSpace(Model.File.FileItemUrl))
    {
        <div class="file-upload-item-preview-container clearfix">
            <div class="file-upload-item-preview-image-container">

                <a href="@Model.File.FileItemUrl" target="_blank" title="@Model.File.Title">
                    <img src="@Model.GetImagePreviewUrl()" />
                </a>
            </div>
            <div class="file-upload-item-content-container">
                <div class="file-upload-item-content-title">
                    @Model.File.Title
                </div>
                <div class="file-upload-item-content-size">
                    @Model.GetSize()
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.DeleteAjaxUrlHandler))
                {
                    <div class="file-upload-item-delete-button-container">
                        @Html.InlineEditingContentText(CS.General_CS_v5.Enums.HtmlTagName.Button, ContentTextIdentifierEnums.GenericContentTextIdentifier.MediaItem_Delete, "file-upload-item-delete-button", otherParameters: new InlineEditingExtensions.InlineEditingContentTextOtherParameters()
                            {
                                HtmlAttributes = new { type = "button" }
                            })
                    </div>
                }
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.DeleteAjaxUrlHandler))
        {

            <script>
                $(function () {
                    new GeneralJS_CS_v5.DeleteFileItemController(@(Html.Raw(JsonUtil.Serialize(Model.GetDeleteOptions("#" + id + " .file-upload-item-delete-button", "#" + id + " .file-upload-item-preview-container")))));
                });
            </script>
        }

    }
    <div class="file-upload-item-upload-container">
        <input type="file" name="@Model.ForName" @Html.AddAttribute("required", "required", Model.Required) @Html.AddAttribute("data-parsley-value", Model.File != null ? Model.File.FileItemUrl : null) />
    </div>

</div>
