﻿@using BusinessLogic_CS_v6.Presentation.Code.ContextData
@model BusinessLogic_CS_v6.Presentation.Models._Shared.PartialViews.Currency._CurrencyDropdownAvailableCurrenciesModel


<div class="currency-dropdown-available-currencies-container">
    <ul class="currency-dropdown-available-currencies-content-container">

        @foreach (var currency in Model.AvailableCurrencies)
        {

            <li class="available-currency-item">
                <a data-currency-code="@currency.Identifier">
                    <span class="available-currency-item-code">@currency.Identifier</span>
                    <span class="available-currency-item-symbol">@currency.Symbol</span>
                </a>
            </li>
        }
    </ul>
</div>
